<template>
  <v-container class="fill-height justify-center" tag="section">
    <v-row justify="center">
      <v-slide-y-transition appear>
        <v-col cols="12" md="6" lg="5" class="hidden-sm-and-down">
          <kinesis-container>
            <kinesis-element
              axis="x"
              type="depth_inv"
              :strength="10"
              :style="`max-width:92%;height:auto;background-image: url(${require('@/assets/login_bg1.svg')});background-size: contain; opacity: 1;`"
            >
              <kinesis-element
                tag="img"
                axis="y"
                type="translate"
                :strength="30"
                style="max-width:50%;height:auto;left: 25%; margin-top:5%;position: relative;"
                :src="require('@/assets/login_bg2.svg')"
              />
            </kinesis-element>
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>
      <v-slide-x-transition appear>
        <v-col cols="10" md="6" lg="5" class="text-center">
          <span class="text-uppercase login-signin-form-head" v-text="$t('logIn.wellcomeMsg')" />
          <br />
          <span class="login-signin-form-subtitle" v-text="$t('logIn.wellcomeSubtitle')" />

          <v-container>
            <v-btn
              large
              height="75"
              class="my-2 text-capitalize"
              style="border-radius: 9px;background: #3B5998 0% 0% no-repeat padding-box;"
              :style="{maxWidth:$vuetify.breakpoint.xs ? '100%' : '390px'}"
              :block="$vuetify.breakpoint.xs"
              @click="facebookLogin()"
            >
              <v-icon size="48" left>mdi-facebook</v-icon>
              <div
                style="border:2px solid #1A3377;height: 36px;"
                :class="[$vuetify.breakpoint.xs ? 'mx-3' : 'mx-5']"
              />
              <template>
                <span class="hidden-xs-only mr-1" v-text="$t('logIn.withSocial')" />
              </template> Facebook
            </v-btn>
            <v-btn
              large
              height="75"
              class="my-2 text-capitalize"
              style="border-radius: 9px;background: #DB4A39 0% 0% no-repeat padding-box;opacity: 1;"
              :style="{maxWidth:$vuetify.breakpoint.xs ? '100%' : '390px'}"
              :block="$vuetify.breakpoint.xs"
              @click="googleLogin()"
            >
              <v-icon size="48" left>mdi-google-plus</v-icon>
              <div
                style="border:2px solid #850303;height: 36px;"
                :class="[$vuetify.breakpoint.xs ? 'mx-3' : 'mx-5']"
              />
              <template>
                <span class="hidden-xs-only mr-1" v-text="$t('logIn.withSocial')" />
              </template> Google
            </v-btn>
          </v-container>

          <v-row dense justify="center" align="center">
            <v-col cols="5">
              <div style="border: 1px solid #D84B0E;" />
            </v-col>
            <v-col cols="2" class="fs-20" style="color: #C8C8C8;">ó</v-col>
            <v-col cols="5">
              <div style="border: 1px solid #D84B0E;" />
            </v-col>
          </v-row>

          <validation-observer v-slot="{ handleSubmit }">
            <form ref="form" @submit.prevent="handleSubmit(login)">
              <validation-provider
                v-slot="{errors}"
                :rules="emailInput.rules"
                :name="emailInput.label"
              >
                <v-text-field
                  v-model="emailInput.value"
                  rounded
                  outlined
                  autofocus
                  color="inputColor"
                  :error-messages="errors"
                  :label="emailInput.label"
                />
              </validation-provider>
              <validation-provider
                v-slot="{errors}"
                :rules="passwordInput.rules"
                :name="passwordInput.label"
              >
                <v-text-field
                  v-model="passwordInput.value"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  :label="passwordInput.label"
                />
              </validation-provider>
              <div class="text-center">
                <pages-btn
                  type="submit"
                  class="my-5 text-capitalize"
                  :loading="submitBtnLoading"
                  :disabled="submitBtnLoading"
                  v-text="$t('login')"
                />
              </div>
            </form>
          </validation-observer>
          <div class="mt-5 text-left fs-18">
            <p>
              {{ $t('logIn.forgotYourPassword') }}
              <router-link
                :to="{name: 'SendPasswordResetLink'}"
                class="login-signin-links black--text"
                v-text="$t('logIn.hereWeHelp')"
              />
            </p>
            <p>
              {{ $t('logIn.dontYouHaveAnAccount') }}
              <router-link
                :to="{name: 'SignIn'}"
                class="login-signin-links black--text"
                v-text="$t('logIn.signInHere')"
              />
            </p>
          </div>
        </v-col>
      </v-slide-x-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
export default {
  name: "PagesLogin",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data() {
    return {
      submitBtnLoading: false,
      emailInput: {
        value: null,
        rules: "required|email",
        label: this.$t("generals.email"),
      },
      passwordInput: {
        value: null,
        rules: "required",
        label: this.$t("auth.password"),
      },
      notification: {
        show: false,
        content: "",
        type: "info",
      },
    };
  },
  mounted() {
    this.showRecaptcha();
  },
  beforeDestroy() {
    this.showRecaptcha(false);
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    async login() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("login");

      const params = {
        email: this.emailInput.value,
        password: this.passwordInput.value,
        recaptcha_token: reCaptchaToken,
      };

      this.submitBtnLoading = true;

      this.axios
        .post(this.urlConstants.AuthUrls.login, params)
        .then((res) => {
          if (res.data.change_password) {
            return this.$router.push({
              name: "PasswordChange",
              params: {
                userId: res.data.id,
                accessToken: res.data.auth_token,
              },
            });
          }

          return this.createSession(res.data);
        })
        .catch((error) => {
          if (!error.response) return this.notify("error", error);
          var errorMsg = "";

          switch (error.response.status) {
            case 400:
              errorMsg = this.getSignInErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un problema, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }

          return this.notify("error", errorMsg);
        })
        .then((res) => (this.submitBtnLoading = false));
    },
    async facebookLogin() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("login");

      FB.login(
        (response) => {
          if (response.status === "connected") {
            const params = {
              provider: "facebook",
              recaptcha_token: reCaptchaToken,
              user_id: response.authResponse.userID,
              access_token: response.authResponse.accessToken,
            };

            this.axios
              .post(this.urlConstants.AuthUrls.socialSignInAndLogin, params)
              .then((res) => {
                this.createSession(res.data);
              })
              .catch((error) => {
                if (!error.response) return this.notify("error", error);

                var errorMsg = "";
                switch (error.response.status) {
                  case 400:
                    errorMsg = this.getSignInErrors(error);
                    break;
                  case 500:
                    errorMsg =
                      "Ocurrió un error inesperado, por favor intenta en unos minutos";
                    break;
                  default:
                    errorMsg = error;
                    break;
                }
                return this.notify("error", errorMsg);
              });
          } else {
            return this.notify(
              "warning",
              "No pudimos conectar con Facebook, por favor intentalo nuevamente."
            );
          }
        },
        {
          scope: "email,public_profile",
        }
      );
    },
    async googleLogin() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("login");

      auth2
        .grantOfflineAccess()
        .then((authResponse) => {
          if (authResponse.code) {
            this.axios
              .post(this.urlConstants.AuthUrls.socialSignInAndLogin, {
                provider: "google",
                recaptcha_token: reCaptchaToken,
                access_token: authResponse.code,
                user_id: process.env.VUE_APP_GOOGLE_APP_ID,
              })
              .then((res) => {
                this.createSession(res.data);
              })
              .catch((error) => {
                if (!error.response) return this.notify("error", error);

                var errorMsg = "";
                switch (error.response.status) {
                  case 400:
                    errorMsg = this.getSignInErrors(error);
                    break;
                  case 500:
                    errorMsg =
                      "Ocurrió un error inesperado, por favor intenta en unos minutos";
                    break;
                  default:
                    errorMsg = error;
                    break;
                }
                return this.notify("error", errorMsg);
              });
          } else throw new Error();
        })
        .catch((error) => {
          return this.notify(
            "error",
            "No pudimos conectar con Google, por favor intentalo nuevamente."
          );
        });
    },
  },
};
</script>
