<template>
  <v-container
    class="fill-height justify-center"
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="7"
          class="hidden-sm-and-down"
        >
          <kinesis-container>
            <kinesis-element
              axis="x"
              type="depth_inv"
              :strength="10"
              :style="`max-width:100%;height:auto;background-image: url(${require('@/assets/sign_in_bg1.svg')});background-size: contain; opacity: 1;`"
            >
              <kinesis-element
                tag="img"
                axis="y"
                type="translate"
                :strength="30"
                style="max-width:70%;height:auto;left: 15%; margin-top:5%;position: relative;"
                :src="require('@/assets/pswd_reset_bg2.svg')"
              />
            </kinesis-element>
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>
      <v-slide-x-transition appear>
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="5"
          class="text-center align-self-center"
        >
          <p
            class="text--black login-signin-form-head display-2 my-5"
          >
            Cambiemos la contraseña para poder continuar.
          </p>

          <validation-observer v-slot="{ handleSubmit }">
            <form
              ref="form"
              @submit.prevent="handleSubmit(submit)"
            >
              <validation-provider
                v-slot="{errors}"
                :name="$t('auth.password')"
                rules="required|confirmed:pwsdConfirmation|min:8"
              >
                <v-text-field
                  v-model="password"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  :label="$t('auth.password')"
                />
              </validation-provider>
              <validation-provider
                v-slot="{errors}"
                vid="pwsdConfirmation"
                :name="$t('auth.passwordConfirm')"
              >
                <v-text-field
                  v-model="passwordConfirm"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  :label="$t('auth.passwordConfirm')"
                />
              </validation-provider>
              <div class="text-center">
                <pages-btn
                  type="submit"
                  :loading="loading"
                  :disabled="loading"
                  class="text-capitalize"
                  v-text="`Actualizar`"
                />
              </div>
            </form>
          </validation-observer>
        </v-col>
      </v-slide-x-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
  export default {
    name: 'PagesPasswordReset',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    props: {
      accessToken: {
        type: String,
        default: '',
      },
      userId: {
        default: 0,
        type: Number,
      },
    },
    data () {
      return {
        loading: false,
        password: null,
        passwordConfirm: null,
        notification: {
          show: false,
          content: '',
          type: 'info',
        },
      }
    },
    methods: {
      notify (type = 'info', content = '', show = true) {
        Object.assign(this.notification, { type, content, show })
      },
      submit () {
        const config = {
          method: 'patch',
          data: {
            change_password: false,
            password: this.password,
          },
          url: this.urlConstants.AdminUrls.users.concat('/', this.userId),
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Token ${this.accessToken}`,
          },
        }

        this.loading = true
        this.axios(config)
          .then((res) => {
            this.notify(
              'success',
              'Te contraseña ha sido actualizada exitosamente',
            )
            setTimeout(() => {
              this.$router.push({ name: 'Login' })
            }, 1500)
          })
          .catch((error) => {
            if (!error.response) return this.notify('error', error)

            var errorMsg = ''
            switch (error.response.status) {
              case 400:
                errorMsg = error.response.data.some(
                  (m) => m.indexOf('entirely numeric') >= 0,
                )
                  ? 'La contraseña no cumple con los requisitos, recuerda que no se debe parecer a tu nombre o correo y debe incluir al menos una letra y un número'
                  : 'Al parecer, el enlace ha expirado. Si aún deseas recuperar tu cuenta solicita nuevamente el reinicio de contraseña'
                break
              case 404:
                errorMsg = 'No pudimos encontrar tu cuenta'
                break
              case 500:
                errorMsg =
                  'Ocurrió un problema enviando el correo, por favor intenta en unos minutos'
                break
              default:
                errorMsg = error
                break
            }
            return this.notify('error', errorMsg)
          })
          .then(() => (this.loading = false))
      },
    },
  }
</script>
