<template>
  <v-container
    class="fill-height justify-center"
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="7"
          class="hidden-sm-and-down"
        >
          <kinesis-container>
            <kinesis-element
              axis="x"
              type="depth_inv"
              :strength="10"
              :style="`max-width:100%;height:auto;background-image: url(${require('@/assets/sign_in_bg1.svg')});background-size: contain; opacity: 1;`"
            >
              <kinesis-element
                tag="img"
                axis="y"
                type="translate"
                :strength="30"
                style="max-width:70%;height:auto;left: 15%; margin-top:5%;position: relative;"
                :src="require('@/assets/pswd_reset_bg2.svg')"
              />
            </kinesis-element>
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>
      <v-slide-x-transition appear>
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="5"
          class="text-center align-self-center"
        >
          <p
            class="text-uppercase login-signin-form-head my-5"
            v-text="$t('passwordReset.title')"
          />
          <p
            class="login-signin-form-subtitle my-5"
            v-text="$t('passwordReset.subtitle')"
          />

          <validation-observer v-slot="{ handleSubmit }">
            <form
              ref="form"
              @submit.prevent="handleSubmit(postSendEmail)"
            >
              <validation-provider
                v-slot="{errors}"
                :rules="emailInput.rules"
                :name="emailInput.label"
              >
                <v-text-field
                  v-model="emailInput.value"
                  rounded
                  outlined
                  color="inputColor"
                  :error-messages="errors"
                  :label="emailInput.label"
                />
              </validation-provider>
              <div class="text-center">
                <pages-btn
                  type="submit"
                  class="text-capitalize"
                  :loading="loading"
                  :disabled="loading"
                  v-text="$t('generals.send')"
                />
              </div>
            </form>
          </validation-observer>
        </v-col>
      </v-slide-x-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
  export default {
    name: 'PagesSendPasswordResetLink',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    data () {
      return {
        loading: false,
        emailInput: {
          value: null,
          rules: 'required|email',
          label: this.$t('generals.email'),
        },
        notification: {
          show: false,
          content: '',
          type: 'info',
        },
      }
    },
    mounted () {
      this.showRecaptcha()
    },
    beforeDestroy () {
      this.showRecaptcha(false)
    },
    methods: {
      notify (type = 'info', content = '', show = true) {
        Object.assign(this.notification, { type, content, show })
      },
      async postSendEmail () {
        await this.$recaptchaLoaded()
        const reCaptchaToken = await this.$recaptcha('register')

        this.loading = true
        this.axios
          .post(this.urlConstants.AuthUrls.sendResetPasswordLink, {
            login: this.emailInput.value,
            recaptcha_token: reCaptchaToken,
          })
          .then(res => {
            this.notify(
              'success',
              'Te enviamos un email con las instrucciones para recuperar tu cuenta',
            )
            this.emailInput.value = null
          })
          .catch(error => {
            if (!error.response) return this.notify('error', error)

            var errorMsg = ''
            switch (error.response.status) {
              case 400:
                errorMsg = 'No recibimos tu dirección de correo'
                break
              case 404:
                errorMsg = 'No pudimos encontrar tu cuenta'
                break
              case 500:
                errorMsg =
                  'Ocurrió un problema enviando el correo, por favor intenta en unos minutos'
                break
              default:
                errorMsg = error
                break
            }
            return this.notify('error', errorMsg)
          })
          .then(() => (this.loading = false))
      },
    },
  }
</script>
