<template>
  <v-container class="justify-center" tag="section">
    <v-row justify="center">
      <v-slide-y-transition appear>
        <v-col cols="12" sm="6" md="6" class="hidden-sm-and-down">
          <kinesis-container>
            <kinesis-element
              axis="x"
              type="depth_inv"
              :strength="10"
              :style="`width:90%;height:auto;background-image: url(${require('@/assets/sign_in_bg1.svg')});background-size: contain; opacity: 1;`"
            >
              <kinesis-element
                tag="img"
                axis="y"
                type="translate"
                :strength="30"
                style="
                  max-width: 80%;
                  height: auto;
                  margin-top: 5%;
                  position: relative;
                "
                :src="require('@/assets/sign_in_bg2.svg')"
              />
            </kinesis-element>
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>
      <v-slide-x-transition appear>
        <v-col cols="12" sm="6" md="6" class="text-center">
          <span
            class="text-uppercase login-signin-form-head"
            v-text="$t('signIn.wellcomeMsg')"
          />

          <v-container>
            <v-btn
              large
              block
              height="75"
              class="my-2 text-capitalize"
              style="
                border-radius: 9px;
                background: #3b5998 0% 0% no-repeat padding-box;
              "
              :style="{ maxWidth: $vuetify.breakpoint.xs ? '100%' : '390px' }"
              :block="$vuetify.breakpoint.xs"
              @click="facebookSignIn()"
            >
              <v-icon size="48" left>mdi-facebook</v-icon>

              <div
                style="border: 2px solid #1a3377; height: 36px"
                :class="[$vuetify.breakpoint.xs ? 'mx-3' : 'mx-5']"
              />
              <template>
                <span
                  class="hidden-xs-only mr-1"
                  v-text="$t('signIn.withSocial')"
                />
              </template>
              Facebook
            </v-btn>
            <v-btn
              large
              height="75"
              class="my-2 text-capitalize"
              style="
                border-radius: 9px;
                background: #db4a39 0% 0% no-repeat padding-box;
                opacity: 1;
              "
              :style="{ maxWidth: $vuetify.breakpoint.xs ? '100%' : '390px' }"
              :block="$vuetify.breakpoint.xs"
              @click="googleSignIn()"
            >
              <v-icon size="48" left>mdi-google-plus</v-icon>
              <div
                style="border: 2px solid #850303; height: 36px"
                :class="[$vuetify.breakpoint.xs ? 'mx-3' : 'mx-5']"
              />
              <template>
                <span
                  class="hidden-xs-only mr-1"
                  v-text="$t('signIn.withSocial')"
                />
              </template>
              Google
            </v-btn>
          </v-container>

          <v-row dense justify="center" align="center">
            <v-col cols="5">
              <div style="border: 1px solid #d84b0e" />
            </v-col>
            <v-col cols="2" class="fs-20" style="color: #c8c8c8">ó</v-col>
            <v-col cols="5">
              <div style="border: 1px solid #d84b0e" />
            </v-col>
          </v-row>

          <validation-observer v-slot="{ handleSubmit }">
            <form ref="form" @submit.prevent="handleSubmit(postSignIn)">
              <validation-provider
                v-slot="{ errors }"
                :rules="nameInput.rules"
                :name="$t('generals.name')"
              >
                <v-text-field
                  v-model="nameInput.value"
                  rounded
                  outlined
                  color="inputColor"
                  :error-messages="errors"
                  :label="$t('generals.name')"
                />
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                :rules="emailInput.rules"
                :name="$t('generals.email')"
              >
                <v-text-field
                  v-model="emailInput.value"
                  rounded
                  outlined
                  color="inputColor"
                  :error-messages="errors"
                  :label="$t('generals.email')"
                />
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                :rules="phoneInput.rules"
                name="Número de celular"
              >
                <v-text-field
                  v-model="phoneInput.value"
                  rounded
                  outlined
                  label="Número de celular"
                  color="inputColor"
                  :error-messages="errors"
                />
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                :rules="passwordInput.rules"
                :name="$t('auth.password')"
              >
                <v-text-field
                  v-model="passwordInput.value"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  :label="$t('auth.password')"
                />
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                vid="pwsdConfirmation"
                :name="$t('auth.passwordConfirm')"
              >
                <v-text-field
                  v-model="passwordConfirmInput.value"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  :label="$t('auth.passwordConfirm')"
                />
              </validation-provider>

              <validation-provider
                v-slot="{ errors }"
                name="Términos y condiciones"
                :rules="termsAndConditionsInput.rules"
              >
                <template>
                  <v-checkbox
                    v-model="termsAndConditionsInput.value"
                    color="buttonMainColor"
                    :error-messages="errors"
                    class="mt-0 pt-0"
                  >
                    <template v-slot:label>
                      Acepto haber leído los
                      <a
                        class="ff--gilroy-extra-bold black--text ml-2"
                        v-text="`términos y condiciones.`"
                        @click.stop="
                          showTermsAndConditions = !showTermsAndConditions
                        "
                      />
                    </template>
                  </v-checkbox>
                </template>
              </validation-provider>
              <div class="text-center">
                <pages-btn
                  type="submit"
                  :loading="loading"
                  :disabled="loading"
                  class="text-capitalize"
                  v-text="$t('signIn.signInBtn')"
                />
              </div>
            </form>
          </validation-observer>
          <div class="mt-5 text-left fs-18">
            <p>
              {{ $t("signIn.doYouHaveAnAccount") }}
              <router-link
                :to="{ name: 'Login' }"
                class="login-signin-links black--text"
                v-text="$t('auth.loginHereMsg')"
              />
            </p>
          </div>
        </v-col>
      </v-slide-x-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />

    <dialog-terms-and-conditions
      :visible="showTermsAndConditions"
      @close="showTermsAndConditions = false"
    />
  </v-container>
</template>

<script>
export default {
  name: "PagesSingIn",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
    DialogTermsAndConditions: () =>
      import("@/views/pages/DialogTermsAndConditions.vue"),
  },
  data() {
    return {
      loading: false,
      showTermsAndConditions: false,
      nameInput: {
        value: null,
        rules: "required|min:5",
      },
      emailInput: {
        value: null,
        rules: "required|email|min:6",
      },
      passwordInput: {
        value: null,
        rules: "required|confirmed:pwsdConfirmation|min:8",
      },
      passwordConfirmInput: {
        value: null,
      },
      phoneInput: {
        value: null,
        rules: "required|length:10|numeric",
      },
      termsAndConditionsInput: {
        value: null,
        rules: { required: { allowFalse: false } },
      },
      notification: {
        show: false,
        content: "",
        type: "info",
      },
    };
  },
  mounted() {
    this.showRecaptcha();
  },
  beforeDestroy() {
    this.showRecaptcha(false);
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    async postSignIn() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("register");

      const params = {
        email: this.emailInput.value,
        phone: this.phoneInput.value,
        username: this.emailInput.value,
        first_name: this.nameInput.value,
        password: this.passwordInput.value,
        password_confirm: this.passwordConfirmInput.value,
        terms_and_conditions: this.termsAndConditionsInput.value,
        recaptcha_token: reCaptchaToken,
      };
      this.loading = true;
      this.axios
        .post(this.urlConstants.AuthUrls.register, params)
        .then((res) => {
          if (res.status === 201) {
            setTimeout(() => {
              this.$router.push({ name: "SignInConfirm" });
            }, 1500);
            return this.notify("success", "Registro exitoso");
          }

          return this.notify(
            "info",
            "Tuvimos inconvenientes durante el registro, por favor intenta nuevamente"
          );
        })
        .catch((error) => {
          if (!error.response) return this.notify("error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = this.getSignInErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un problema durante el registro, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }

          return this.notify("error", errorMsg);
        })
        .then(() => (this.loading = false));
    },
    async facebookSignIn() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("register");

      FB.login(
        (response) => {
          if (response.status === "connected") {
            const params = {
              provider: "facebook",
              recaptcha_token: reCaptchaToken,
              user_id: response.authResponse.userID,
              access_token: response.authResponse.accessToken,
            };

            return this.axios
              .post(this.urlConstants.AuthUrls.socialSignInAndLogin, params)
              .then((res) => {
                this.createSession(res.data);
              })
              .catch((error) => {
                if (!error.response) return this.notify("error", error);

                var errorMsg = "";
                switch (error.response.status) {
                  case 400:
                    errorMsg = this.getSignInErrors(error);
                    break;
                  case 500:
                    errorMsg =
                      "Ocurrió un error inesperado, por favor intenta en unos minutos";
                    break;
                  default:
                    errorMsg = error;
                    break;
                }
                return this.notify("error", errorMsg);
              });
          }

          return this.notify(
            "warning",
            "No pudimos conectar con Facebook, por favor intentalo nuevamente."
          );
        },
        {
          scope: "email,public_profile",
        }
      );
    },
    async googleSignIn() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("register");

      auth2
        .grantOfflineAccess()
        .then((authResponse) => {
          if (authResponse.code) {
            this.axios
              .post(this.urlConstants.AuthUrls.socialSignInAndLogin, {
                provider: "google",
                recaptcha_token: reCaptchaToken,
                access_token: authResponse.code,
                user_id: process.env.VUE_APP_GOOGLE_APP_ID,
              })
              .then((res) => {
                this.createSession(res.data);
              })
              .catch((error) => {
                if (!error.response) return this.notify("error", error);

                var errorMsg = "";
                switch (error.response.status) {
                  case 400:
                    errorMsg = this.getSignInErrors(error);
                    break;
                  case 500:
                    errorMsg =
                      "Ocurrió un error inesperado, por favor intenta en unos minutos";
                    break;
                  default:
                    errorMsg = error;
                    break;
                }
                return this.notify("error", errorMsg);
              });
          } else throw new Error();
        })
        .catch((error) => {
          return this.notify(
            "error",
            "No pudimos conectar con Google, por favor intentalo nuevamente."
          );
        });
    },
  },
};
</script>
