<template>
  <v-container class="justify-center" tag="section" style="height:80vh;">
    <v-row justify="center" align="center" class="fill-height">
      <v-slide-y-transition appear>
        <section class="flex-column">
          <div class="elipse-rounded mx-auto" style="width: 366px; height: 366px;">
            <v-img :src="require('@/assets/email.svg')" />
          </div>

          <div class="mx-auto display-2 mt-6" v-text="$t('verifyUser.checkMail')" />
        </section>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "PagesSignInConfirm",
};
</script>
