<template>
  <v-container class="justify-center" tag="section" style="height: 80vh">
    <v-row justify="center" align="center" class="fill-height">
      <v-slide-y-transition appear>
        <section class="flex-column">
          <kinesis-container class="mx-auto">
            <kinesis-element
              axis="x"
              type="depth_inv"
              :strength="10"
              class="elipse-rounded mx-auto"
              style="width: 366px; height: 366px; opacity: 1"
            >
              <kinesis-element
                tag="img"
                axis="y"
                type="depth"
                :strength="30"
                class="mx-auto ml-n10 mt-12"
                style="width: 120%; height: auto; position: relative"
                :src="require('@/assets/account_confirm_bg2.svg')"
              />
            </kinesis-element>
          </kinesis-container>

          <div v-if="showMsgs" class="mx-auto mt-6 text-center">
            <p
              class="text-uppercase login-signin-form-head"
              v-text="$t('verifyUser.confirmTitle')"
            />
            <p class="body-2" v-text="$t('verifyUser.confirmSubtitle')" />

            <pages-btn
              class="text-none"
              v-text="`Iniciar sesión`"
              :to="{ name: 'Login' }"
            />
          </div>
        </section>
      </v-slide-y-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
export default {
  name: "PagesSignInConfirmed",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    showMsgs: false,
  }),
  mounted() {
    this.postVerifyAccount();
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    postVerifyAccount() {
      const queryParams = this.$route.query;
      this.axios
        .post(this.urlConstants.AuthUrls.verifyRegistration, {
          user_id: queryParams.user_id,
          signature: queryParams.signature,
          timestamp: queryParams.timestamp,
        })
        .then((res) => {
          this.notify("success", "Tu cuenta ha sido activada");
          this.showMsgs = true;
        })
        .catch((error) => {
          if (!error.response) return this.notify("error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg =
                "No pudimos encontrar una cuenta asociada con tu dirección de correo.";
              break;
            case 500:
              errorMsg =
                "Ocurrió un problema durante la verificación de tu cuenta, intentalo nuevamente por favor";
              break;
            default:
              errorMsg = error;
              break;
          }
          return this.notify("error", errorMsg);
        });
    },
  },
};
</script>
