<template>
  <v-row justify="center" align="center" class="text-center sections-wheat-patron-bg py-5 my-12">
    <v-col v-for="(counter, i) in counters" :key="i" v-bind="colContainer">
      <v-sheet v-bind="sheetProps">
        <span :class="counterDataCss">{{counter.value}}</span>
      </v-sheet>
      <span :class="counterTextCss">{{counter.description}}</span>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "PagesHomeCounter",
  data: () => ({
    counters: [],
    colContainer: {
      cols: 12,
      sm: 4,
      md: 4,
      lg: "auto",
      class: "d-flex justify-center flex-column align-center",
    },
    counterDataCss: "counter-data align-self-center fs-100",
    counterTextCss: "text-break counter-desc fs-30 ff--gilroy-extra-bold",
    sheetProps: {
      width: 250,
      height: 250,
      elevation: 4,
      class: "counter-bg d-flex justify-center ff--gilroy-extra-bold",
    },
  }),
  mounted() {
    this.fetchCountersInfo();
  },
  methods: {
    fetchCountersInfo() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=counters_info`)
        .then((response) => {
          var data = response.data[0];
          if (data) {
            this.counters = data.value;
          }
        })
        .catch((error) => console.error(error));
    },
  },
};
</script>
<style lang="sass" scoped>
.counter-bg
  background: #FFF 0% 0% no-repeat padding-box
  opacity: 0.6
  border-radius: 50%

.counter-data
  letter-spacing: -9.6px
  color: #D84B0E

.counter-desc
  opacity: 1
  color: #424242
  max-width: 350px
  min-height: 97px
  letter-spacing: 0px
</style>
