<template>
  <v-container fluid class="mx-0 pa-0 justify-center" style="margin-top:-15px;" tag="section">
    <pages-components-core-banner v-if="sliders.length" :items="sliders" :height="799" />

    <v-main class="sections-wheat-bg py-0">
      <martin-luther-king />

      <!-- Init Buquesos -->
      <section class="mx-auto my-12 text-center">
        <div
          class="login-signin-form-head fs-60"
          style="letter-spacing: -3.6px;"
          v-text="buquesoTitle"
        />
        <div class="login-signin-form-subtitle mt-5 fs-40" v-text="buquesoDesc" />
      </section>
      <v-row justify="center" align="center">
        <v-col
          v-for="(product, i) in buquesos"
          :key="i"
          cols="12"
          sm="12"
          md="4"
          lg="4"
          xl="auto"
          class="d-flex justify-center"
        >
          <v-scroll-x-transition leave-absolute>
            <pages-components-product-hover-card :product="product" show-caption />
          </v-scroll-x-transition>
        </v-col>
      </v-row>
      <!-- End Buquesos -->

      <pages-components-wheat-divider />

      <!-- Comentario Carlos David -->
      <v-row align="center" justify="center">
        <v-col cols="12" md="6" lg="4" align-self="center" class="flex-column text-center">
          <v-img
            :src="require('@/assets/double_quote.svg')"
            max-width="112"
            max-height="96"
            class="mx-auto"
          />
          <div class="my-5 mx-auto fs-40" style="letter-spacing: 0; max-width:530px;">
            Estoy muy feliz de ser la generación del
            <span class="ff--gilroy-extra-bold">Buqueso.</span>
          </div>

          <div
            class="mt-5 mx-auto fs-30 ff--gilroy-extra-bold"
            style="letter-spacing: 0; max-width:530px;color: #D84B0E;"
          >Carlos David</div>
        </v-col>

        <v-col
          cols="12"
          md="6"
          lg="4"
          :class="[$vuetify.breakpoint.lgAndUp ? 'text-right' : 'text-center']"
        >
          <kinesis-container>
            <kinesis-element
              tag="img"
              axis="y"
              type="depth"
              :strength="20"
              style="max-width:70%;"
              :src="require(`@/assets/home/garosito_bg.png`)"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="50"
              :src="require('@/assets/home/garosito.png')"
              style="max-width:60%;height:auto;margin-top:-10%;position: absolute;"
              :style="{'right': $vuetify.breakpoint.lgAndUp ? '10%' : '25%'}"
            />
          </kinesis-container>
        </v-col>
      </v-row>
      <!-- Fin Carlos David -->

      <pages-home-counter />

      <!-- Comentario Oscar Mólina -->
      <v-row align="center" justify="center">
        <v-col
          cols="12"
          md="6"
          lg="4"
          align-self="center"
          :class="[$vuetify.breakpoint.lgAndUp ? 'text-right' : 'text-center']"
        >
          <kinesis-container>
            <kinesis-element
              tag="img"
              axis="y"
              type="depth"
              :strength="20"
              style="max-width:90%;"
              :src="require(`@/assets/home/bg_oscar.png`)"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="50"
              :src="require('@/assets/home/oscar.png')"
              style="max-width:100%;height:auto;margin-top:5%;position: absolute;"
              :style="{'left': $vuetify.breakpoint.lgAndUp ? '10%' : '0%'}"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="50"
              :src="require('@/assets/home/oscar_buquesos.png')"
              style="max-width:60%;height:auto;margin-top:80%;position: absolute;"
              :style="{'left': $vuetify.breakpoint.lgAndUp ? '30%' : '20%'}"
            />
          </kinesis-container>
        </v-col>
        <v-col cols="12" md="6" lg="4" align-self="center" class="flex-column text-center">
          <v-img
            :src="require('@/assets/double_quote.svg')"
            max-width="112"
            max-height="96"
            class="mx-auto"
          />
          <div class="my-5 mx-auto fs-40" style="letter-spacing: 0; max-width:530px;">
            Jamás me cansaré de agradecerle a La Garosa por
            <span
              class="ff--gilroy-extra-bold"
            >inventar el Buqueso de arequipe.</span>
          </div>

          <div
            class="mt-5 mx-auto fs-30 ff--gilroy-extra-bold"
            style="letter-spacing: 0; max-width:530px;color: #D84B0E;"
          >Óscar Molina</div>
          <div class="mx-auto mt-n3 fs-30" style="letter-spacing: 0; max-width:530px;">@oscartronome</div>
        </v-col>
      </v-row>
      <!-- Fin Oscar Mólina -->

      <pages-components-wheat-divider />

      <section class="mx-auto my-12 text-center">
        <div
          class="login-signin-form-head"
          style="letter-spacing: 1.6px;"
          v-text="`La alegría de contar nuestra historia`"
        />
        <div
          class="login-signin-form-subtitle mt-5 mx-auto fs-30"
          style="max-width: 75%;"
          v-text="`Porque amamos lo que hacemos y lo que hacemos es inspirar`"
        />
      </section>

      <v-row justify="center" align="center" class="mb-12">
        <v-col v-for="(media, i) in socialMedia" :key="i" cols="12" md="4" lg="auto">
          <v-hover v-slot:default="{ hover }">
            <v-img
              width="400"
              height="400"
              :src="media.image1"
              :aspect-ratio="16/9"
              class="align-center br-20 d-flex justify-center text-center mx-auto"
              gradient="to top right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.41)"
            >
              <v-fab-transition>
                <v-btn
                  v-show="hover"
                  icon
                  target="_blank"
                  :href="media.value.link"
                  class="align-self-center"
                >
                  <v-icon size="92" color="accent darken-1">mdi-play</v-icon>
                </v-btn>
              </v-fab-transition>
            </v-img>
          </v-hover>
        </v-col>
      </v-row>
    </v-main>
  </v-container>
</template>
<script>
export default {
  name: "PagesHomeIndex",
  components: {
    PagesComponentsCoreBanner: () =>
      import("@/views/pages/components/core/Banner"),
    MartinLutherKing: () => import("./MartinLutherKing"),
    PagesComponentsProductHoverCard: () =>
      import("@/views/pages/components/ProductHoverCard"),
    PagesComponentsWheatDivider: () =>
      import("@/views/pages/components/WheatDivider"),
    PagesComponentsSocialComments: () =>
      import("@/views/pages/components/SocialComments"),
    PagesHomeCounter: () => import("./Counter"),
  },
  data() {
    return {
      buquesoTitle: "Su majestad, el Buqueso",
      buquesoDesc: "Inglaterra tiene su reina, nosotros el buqueso",
      sliders: [],
      socialMedia: [],
      buquesos: [
        { name: "Buqueso Ranchero", image: "buqueso_ranchero.jpeg" },
        { name: "Buqueso", image: "buqueso.jpeg" },
        { name: "Buqueso Nutella", image: "buqueso_nutella.jpeg" },
      ],
    };
  },
  mounted() {
    this.fetchSliders();
    this.fetchSocialMediaVideos();
  },
  methods: {
    fetchSliders() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=home_slider`)
        .then((response) => {
          this.sliders = response.data;
        })
        .catch((error) => {
          console.error(
            "error",
            "Ocurrió un error obteniendo la información de los sliders."
          );
        });
    },
    fetchSocialMediaVideos() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=social_media`)
        .then((response) => {
          this.socialMedia = response.data;
        })
        .catch((error) => {
          console.error(
            "error",
            "Ocurrió un error obteniendo la información de los videos."
          );
        });
    },
  },
};
</script>
