<template>
  <v-row align="center" justify="center">
    <v-col
      cols="12"
      md="6"
      lg="4"
      class="d-flex flex-row-reverse mb-12 justify-center"
    >
      <kinesis-container>
        <kinesis-element
          tag="img"
          axis="y"
          type="depth"
          :strength="20"
          style="max-width: 100%"
          :src="require('@/assets/home/LK-bg.png')"
        />
        <kinesis-element
          tag="img"
          axis="y"
          type="translate"
          :strength="50"
          :src="require('@/assets/home/LK.png')"
          style="
            max-width: 100%;
            height: auto;
            margin-top: 0%;
            position: absolute;
          "
          :style="{ right: $vuetify.breakpoint.lgAndUp ? '20%' : '0%' }"
        />
        <kinesis-element
          tag="img"
          axis="x"
          type="translate"
          :strength="-10"
          :src="require('@/assets/home/LKP.png')"
          :style="{ right: $vuetify.breakpoint.lgAndUp ? '10%' : '0%' }"
          style="
            max-width: 100%;
            height: auto;
            margin-top: -10%;
            position: absolute;
          "
        />
      </kinesis-container>
    </v-col>
    <v-col class="d-flex flex-column" cols="12" md="6" lg="4">
      <span class="login-signin-form-head" v-text="title" />

      <span class="login-signin-form-subtitle my-5" v-text="subtitle" />

      <pages-btn
        max-width="150"
        class="mx-auto mt-12 text-capitalize"
        :to="{ name: 'HomeIndex' }"
        v-text="btnText"
      />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "MartinLutherKing",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    title: "Si Luther King cumplió su sueño, tu puedes cumplir tu antojo.",
    subtitle:
      "¡No te quedes con las ganas! El pan está caliente y el domicilio listo para salir a donde estás.",
    btnText: "Ver menú",
  }),
};
</script>

<style>
</style>
