<template>
  <v-col
    cols="10"
    :class="{ 'px-6': $vuetify.breakpoint.mdAndUp }"
    style="min-height: 60vh"
  >
    <v-form style="max-width: 500px" class="mx-auto">
      <v-text-field
        v-model="product.name"
        v-bind="inputAttrs"
        label="Nombre del producto"
      />

      <v-select
        v-model="product.product_type"
        item-value="id"
        item-text="name"
        v-bind="inputAttrs"
        :items="productTypes"
        label="Tipo de producto"
      >
        <template v-slot:item="{ attrs, item, on }">
          <v-list-item
            elevation="0"
            v-bind="attrs"
            class="mx-3 mb-2 v-sheet"
            active-class="buttonMainColor lighten-2 elevation-1 white--text"
            v-on="on"
          >
            <v-list-item-content>
              <v-list-item-title
                class="fs-20"
                :class="{ 'font-weight-bold': attrs.inputValue }"
                v-text="item.name"
              />
            </v-list-item-content>

            <v-scale-transition>
              <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                <v-icon>mdi-check</v-icon>
              </v-list-item-icon>
            </v-scale-transition>
          </v-list-item>
        </template>
      </v-select>

      <v-textarea
        v-model="product.description"
        rows="3"
        no-resize
        :counter="500"
        v-bind="inputAttrs"
        label="Describe tu producto..."
      />

      <validation-provider
        v-slot="{ errors }"
        rules="max:300"
        name="Mensaje de restricción"
      >
        <v-textarea
          v-model="product.restriction_message"
          rows="3"
          no-resize
          :counter="300"
          v-bind="inputAttrs"
          :error-messages="errors"
          label="Mensaje de restricción..."
          hint="Información a tener en cuenta al comprar este producto."
        />
      </validation-provider>

      <v-switch
        v-model="product.individual_delivery"
        inset
        class="my-0 py-0"
        :false-value="false"
        color="buttonMainColor"
        label="Despacho individual"
      />
    </v-form>
  </v-col>
</template>

<script>
import { PRODUCT } from "@/store/dashboard";
export default {
  name: "ProductBasicInfo",
  data: () => ({
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    productTypes: [
      { id: "BS", name: "Básico" },
      { id: "CB", name: "Combo" },
      { id: "PE", name: "Personalizado" },
    ],
  }),
  computed: {
    product: {
      get() {
        return this.$store.getters[PRODUCT];
      },
      set(val) {
        this.$store.commit(PRODUCT, val);
      },
    },
  },
};
</script>
