<template>
  <v-col cols="10">
    <v-row no-gutters justify="center" style="height:75vh;">
      <v-col
        md="6"
        cols="12"
        class="pt-10"
        style="border-right:1px solid #B3D8DD"
        :class="{'px-12': $vuetify.breakpoint.mdAndUp }"
      >
        <v-form style="max-width:350px;" class="ml-auto">
          <div class="mb-3 fs-20 ff--gilroy-extra-bold" v-text="`¿Cuántas unidades incluye?`" />
          <v-text-field
            v-model.number="product.unit_limit"
            v-bind="inputAttrs"
            style="max-width:170px"
            :disabled="product.product_type === 'BS'"
          >
            <template v-slot:prepend-inner>
              <v-btn
                fab
                x-small
                elevation="0"
                class="mt-n1"
                color="buttonMainColor"
                :disabled="product.product_type === 'BS'"
                @click="setLimit(-1)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
            <template v-slot:append>
              <v-btn
                fab
                x-small
                elevation="0"
                class="mt-n1 mr-n1"
                color="buttonMainColor"
                :disabled="product.product_type === 'BS'"
                @click="setLimit(1)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
          </v-text-field>

          <div class="mb-3 mt-6 fs-20 ff--gilroy-extra-bold" v-text="`Asignale un precio`" />
          <v-text-field
            v-model.number="product.price"
            min="0"
            step="1"
            prefix="$"
            type="number"
            style="max-width:300px"
            v-bind="inputAttrs"
          >
            <template v-slot:prepend-inner>
              <v-btn
                fab
                x-small
                elevation="0"
                class="mt-n1"
                color="buttonMainColor"
                @click="setPrice(-1)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
            <template v-slot:append>
              <v-btn
                fab
                x-small
                elevation="0"
                class="mt-n1 mr-n1"
                color="buttonMainColor"
                @click="setPrice(1)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
          </v-text-field>
        </v-form>
      </v-col>

      <v-col
        md="6"
        cols="12"
        class="pt-10"
        :class="{'px-12': $vuetify.breakpoint.mdAndUp, 'text--disabled': product.product_type === 'BS' }"
      >
        <v-form style="max-width:400px;">
          <div class="fs-20 ff--gilroy-extra-bold" v-text="`¿Presenta opciones de sabor?`" />
          <v-radio-group
            v-model="has_options"
            row
            class="py-0"
            :disabled="product.product_type === 'BS'"
          >
            <v-radio color="buttonMainColor" label="Si" :value="true" />
            <v-radio class="ml-12" color="buttonMainColor" label="No" :value="false" />
          </v-radio-group>

          <v-sheet tile height="350" class="overflow-y-auto overflow-x-hidden py-2">
            <v-autocomplete
              v-for="(opt, i) in product.parent_products"
              :key="i"
              v-model=" product.parent_products[i]"
              item-value="id"
              item-text="name"
              :items="products"
              v-bind="inputAttrs"
              :label="`Opción ${i+1}`"
              append-outer-icon="mdi-close-circle"
              @click:append-outer="product.parent_products.splice(i, 1)"
            >
              <template v-slot:item="{ attrs, item, on }">
                <v-list-item
                  elevation="0"
                  v-bind="attrs"
                  class="mx-3 mb-2 v-sheet"
                  active-class="buttonMainColor lighten-2 elevation-1 white--text"
                  v-on="on"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      class="fs-20"
                      :class="{'font-weight-bold': attrs.inputValue}"
                      v-text="item.name"
                    />
                  </v-list-item-content>

                  <v-scale-transition>
                    <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                      <v-icon>mdi-check</v-icon>
                    </v-list-item-icon>
                  </v-scale-transition>
                </v-list-item>
              </template>
            </v-autocomplete>
          </v-sheet>

          <v-btn
            v-show="has_options"
            block
            rounded
            class="mt-2"
            elevation="0"
            color="inputColor lighten-1"
            @click="product.parent_products.push(0)"
          >
            <v-icon color="adminNotes" left size="20">mdi-plus-circle</v-icon>
            <span class="adminNotes--text" v-text="`Agregar otra opción.`" />
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import { PRODUCT, PRODUCT_HAS_OPTIONS } from "@/store/dashboard";
import { pick } from "lodash";
export default {
  name: "BasicProductAdvanceInfo",
  data: () => ({
    options: [],
    products: [],
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
  }),
  computed: {
    product: {
      get() {
        return this.$store.getters[PRODUCT];
      },
      set(val) {
        this.$store.commit(PRODUCT, val);
      },
    },
    has_options: {
      get() {
        return this.$store.getters[PRODUCT_HAS_OPTIONS];
      },
      set(val) {
        if (val) this.product.parent_products.push(0);
        else this.product.parent_products = [];
      },
    },
  },
  mounted() {
    this.fetchProducts();
  },
  methods: {
    setLimit(qty) {
      if (this.product.unit_limit <= 1 && qty === -1) {
        this.product.unit_limit = 1;
      } else this.product.unit_limit += qty;
    },
    setPrice(qty) {
      if (this.product.price <= 0 && qty === -1)
        return (this.product.price = 0);

      this.product.price += qty;
    },
    fetchProducts() {
      this.axios
        .get(this.urlConstants.AdminUrls.product)
        .then((response) => {
          this.products = response.data
            .filter((p) => p.is_active && p.product_type === "BS")
            .map((p) => pick(p, ["id", "name"]));
        })
        .catch((error) => {
          this.emit(
            "notify",
            "error",
            "Ocurrió un error obteniendo la información."
          );
        });
    },
  },
};
</script>
