<template>
  <v-col cols="10" style="height: 75vh !important;" class="d-flex overflow-x-auto">
    <v-form v-for="(step, i) in steps" :key="i" class="px-5 fill-height" :style="formStyle">
      <v-subheader class="mb-3 fs-20 ff--gilroy-extra-bold black--text" v-text="`Paso ${i}`" />

      <v-select
        v-model.number="step.choice"
        item-value="id"
        item-text="name"
        v-bind="inputAttrs"
        :items="selectionType"
        label="Tipo de selección"
      >
        <template v-slot:item="{ attrs, item, on }">
          <v-list-item
            elevation="0"
            v-bind="attrs"
            class="mx-3 mb-2 v-sheet"
            active-class="buttonMainColor lighten-2 elevation-1 white--text"
            v-on="on"
          >
            <v-list-item-content>
              <v-list-item-title
                class="fs-20"
                :class="{'font-weight-bold': attrs.inputValue}"
                v-text="item.name"
              />
            </v-list-item-content>

            <v-scale-transition>
              <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                <v-icon>mdi-check</v-icon>
              </v-list-item-icon>
            </v-scale-transition>
          </v-list-item>
        </template>
      </v-select>

      <v-row
        dense
        style="max-height:300px;"
        class="overflow-y-auto overflow-x-hidden py-2 align-content-start"
      >
        <template v-for="(ingredient, j) in step.ingredients">
          <v-col :key="j+500" cols="12" md="6" class="py-0">
            <v-text-field
              v-model="ingredient.name"
              v-bind="inputAttrs"
              :label="`Ingrediente ${j+1}`"
            />
          </v-col>
          <v-col :key="j+1000" cols="12" md="6" class="py-0">
            <v-text-field
              v-model.number="ingredient.price"
              prefix="$"
              label="Precio"
              v-bind="inputAttrs"
            >
              <template v-slot:prepend-inner>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  class="mt-n1"
                  color="buttonMainColor"
                  @click="setPrice(i, j, -1)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </template>
              <template v-slot:append>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  class="mt-n1 mr-n1"
                  color="buttonMainColor"
                  @click="setPrice(i, j, 1)"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
        </template>
      </v-row>

      <v-chip color="inputColor lighten-1" dark class="my-5" @click="addIngredient(i)">
        <v-icon color="adminNotes" left size="20">mdi-plus-circle</v-icon>
        <span class="adminNotes--text fs-20" v-text="`Agregar otra opción.`" />
      </v-chip>
    </v-form>

    <div class="d-flex mx-6">
      <v-btn fab class="ml-6" elevation="0" color="adminNotes" @click="addStep()">
        <v-icon large>mdi-plus</v-icon>
      </v-btn>
      <label
        id="label-add-step"
        class="adminNotes--text ff--gilroy-extra-bold fs-20 mt-3"
        v-text="nextStep"
      />
    </div>
  </v-col>
</template>

<script>
import {
  PRODUCT,
  CUSTOM_PRODUCT_STEPS,
  SET_INGREDIENT_PRICE,
  CUSTOM_PRODUCT_ADD_STEP,
  CUSTOM_PRODUCT_ADD_INGREDIENT,
} from "@/store/dashboard";

export default {
  name: "CustomProductAdvanceInfo",
  data: () => ({
    formStyle: {
      borderRight: "1px solid #B3D8DD",
      minWidth: "550px",
      maxWidth: "550px",
    },
    selectionType: [
      { id: 1, name: "Selección única" },
      { id: 2, name: "Selección múltiple" },
    ],
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
  }),
  computed: {
    product: {
      get() {
        return this.$store.getters[PRODUCT];
      },
      set(val) {
        this.$store.commit(PRODUCT, val);
      },
    },
    steps() {
      return this.$store.getters[CUSTOM_PRODUCT_STEPS];
    },
    nextStep() {
      return `Paso ${Object.keys(this.steps).length + 1}`;
    },
  },
  methods: {
    setPrice(step, ingredient, qty) {
      this.$store.commit(SET_INGREDIENT_PRICE, {
        step,
        price: qty,
        index: ingredient,
      });
    },
    addStep() {
      this.$store.commit(CUSTOM_PRODUCT_ADD_STEP);
    },
    addIngredient(step) {
      this.$store.commit(CUSTOM_PRODUCT_ADD_INGREDIENT, step);
    },
  },
};
</script>
<style lang="sass" scoped>
#label-add-step
  display: block
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  width: 100%
</style>
