<template>
  <v-col cols="10">
    <v-row no-gutters justify="center" style="min-height: 60vh">
      <v-col
        md="6"
        cols="12"
        class="pt-10"
        style="border-right: 1px solid #b3d8dd"
        :class="{ 'px-12': $vuetify.breakpoint.mdAndUp }"
      >
        <v-form style="max-width: 350px" class="ml-auto">
          <v-autocomplete
            v-model="product.category"
            multiple
            return-object
            item-value="id"
            item-text="name"
            :items="categories"
            v-bind="inputAttrs"
            label="Asignar Categorías"
          >
            <template v-slot:item="{ attrs, item, on }">
              <v-list-item
                elevation="0"
                v-bind="attrs"
                class="mx-3 mb-2 v-sheet"
                active-class="buttonMainColor lighten-2 elevation-1 white--text"
                v-on="on"
              >
                <v-list-item-content>
                  <v-list-item-title
                    class="fs-20"
                    :class="{ 'font-weight-bold': attrs.inputValue }"
                    v-text="item.name"
                  />
                </v-list-item-content>

                <v-scale-transition>
                  <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                    <v-icon>mdi-check</v-icon>
                  </v-list-item-icon>
                </v-scale-transition>
              </v-list-item>
            </template>
          </v-autocomplete>

          <v-chip-group column>
            <v-chip
              v-for="(cat, i) in product.category"
              :key="i"
              dark
              close
              label
              x-large
              class="br-10"
              :color="colors[i % 3]"
              @click:close="product.category.splice(i, 1)"
            >
              <span class="fs-20" v-text="cat.name" />
            </v-chip>
          </v-chip-group>
        </v-form>
      </v-col>

      <v-col
        md="6"
        cols="12"
        :class="{ 'px-12': $vuetify.breakpoint.mdAndUp }"
        class="pt-10"
      >
        <v-form style="max-width: 350px">
          <v-autocomplete
            v-model="product.flavor"
            return-object
            item-value="id"
            item-text="name"
            :items="flavors"
            v-bind="inputAttrs"
            label="Asignar Sabor"
          >
            <template v-slot:item="{ attrs, item, on }">
              <v-list-item
                elevation="0"
                v-bind="attrs"
                class="mx-3 mb-2 v-sheet"
                active-class="buttonMainColor lighten-2 elevation-1 white--text"
                v-on="on"
              >
                <v-list-item-content>
                  <v-list-item-title
                    class="fs-20"
                    :class="{ 'font-weight-bold': attrs.inputValue }"
                    v-text="item.name"
                  />
                </v-list-item-content>

                <v-scale-transition>
                  <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                    <v-icon>mdi-check</v-icon>
                  </v-list-item-icon>
                </v-scale-transition>
              </v-list-item>
            </template>
          </v-autocomplete>

          <v-chip-group>
            <v-chip
              v-show="!!product.flavor.name"
              pill
              dark
              close
              label
              x-large
              class="br-10"
              :color="colors[0]"
              @click:close="product.flavor = {}"
            >
              <span class="fs-20" v-text="product.flavor.name" />
            </v-chip>
          </v-chip-group>
        </v-form>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import { PRODUCT } from "@/store/dashboard";
import { pick } from "lodash";
export default {
  name: "FilteringProductInfo",
  data: () => ({
    flavors: [],
    categories: [],
    loadingFlavors: false,
    loadingCategories: false,
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    colors: ["adminNotes", "#D84B0F", "footerBgColor"],
  }),
  computed: {
    product: {
      get() {
        return this.$store.getters[PRODUCT];
      },
      set(val) {
        this.$store.commit(PRODUCT, val);
      },
    },
  },
  mounted() {
    this.fetchProductFlavors();
    this.fetchProductCategories();
  },
  methods: {
    fetchProductCategories() {
      this.loadingCategories = true;

      this.axios
        .get(this.urlConstants.StoreUrls.productCategory)
        .then((response) => {
          this.categories = response.data.map((i) => ({
            id: i.id,
            name: i.category,
          }));
        })
        .catch((error) => {
          return this.emit("notify", "error", error);
        })
        .then(() => (this.loadingCategories = false));
    },
    fetchProductFlavors() {
      this.loadingFlavors = true;

      this.axios
        .get(this.urlConstants.StoreUrls.productFlavor)
        .then((response) => {
          this.flavors = response.data.map((i) => ({
            id: i.id,
            name: i.flavor,
          }));
        })
        .catch((error) => {
          return this.emit("notify", "error", error);
        })
        .then(() => (this.loadingFlavors = false));
    },
  },
};
</script>
