<template>
  <v-col
    cols="10"
    style="min-height: 60vh"
    :class="{ 'px-6': $vuetify.breakpoint.mdAndUp }"
  >
    <v-row justify="center" align="center">
      <template v-if="product.product_type !== 'PE'">
        <v-col v-for="(v, i) in 4" :key="i" cols="12" md="3">
          <input
            :ref="`file${i}`"
            type="file"
            class="d-none"
            accept="image/*"
            @change="onChange($event, i)"
          />
          <v-card
            hover
            outlined
            height="300"
            class="br-20 d-flex align-center"
            :class="!product.images[i] ? 'dashed-border' : ''"
            @click="fileClick(i)"
          >
            <v-img
              v-if="product.images[i]"
              height="300"
              aspect-ratio="1"
              :src="product.images[i].path"
            >
              <v-btn
                icon
                absolute
                top
                right
                color="white"
                @click.stop="removePhoto(i)"
              >
                <v-icon large>mdi-close-circle</v-icon>
              </v-btn>
            </v-img>

            <v-btn
              v-else
              fab
              width="120"
              height="120"
              elevation="0"
              color="accent"
              class="mx-auto"
            >
              <v-icon x-large>mdi-plus</v-icon>
            </v-btn>
          </v-card>
        </v-col>
      </template>
      <v-col v-else cols="12" md="4">
        <input
          ref="custProdPhoto"
          type="file"
          class="d-none"
          accept="image/*"
          @change="onChange($event, 0)"
        />
        <v-card
          hover
          outlined
          height="350"
          class="br-20 d-flex align-center"
          :class="!product.images[0] ? 'dashed-border' : ''"
          @click="fileClick('custProdPhoto')"
        >
          <v-img
            v-if="product.images[0]"
            height="350"
            aspect-ratio="1"
            :src="product.images[0].path"
          >
            <v-btn
              icon
              absolute
              top
              right
              color="white"
              @click.stop="removePhoto(0)"
            >
              <v-icon large>mdi-close-circle</v-icon>
            </v-btn>
          </v-img>

          <v-card-text v-else class="text-center">
            <v-btn fab width="200" height="200" elevation="0" color="accent">
              <v-icon size="150">mdi-plus</v-icon>
            </v-btn>
            <div
              class="fs-25 mt-5"
              v-text="`Carga el archivo desde tu ordenador.`"
            />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" class="fs-20 text-center" v-text="imagesLegend" />
    </v-row>
    <!-- <div v-show="$refs.multipleUpload && $refs.multipleUpload.dropActive" class="drop-active">
      <h3>Suelta los archivos para cargar</h3>
    </div>-->
  </v-col>
</template>

<script>
import { PRODUCT } from "@/store/dashboard";
export default {
  name: "ProductImageUpload",
  data: () => ({ photos: [null, null, null, null], removedPhotos: [] }),
  computed: {
    product: {
      get() {
        return this.$store.getters[PRODUCT];
      },
      set(val) {
        this.$store.commit(PRODUCT, val);
      },
    },
    imagesLegend() {
      return this.product.product_type === "PE"
        ? "Recuerda: Sólo debes cargar 1 foto."
        : "Recuerda: Puedes cargar un máximo de 4 fotos.";
    },
  },
  methods: {
    fileClick(ref) {
      if (!isNaN(ref)) this.$refs[`file${ref}`][0].click();
      else this.$refs[ref].click();
    },
    onChange(val, index) {
      const value = val.target.files[0];

      if (!value) return this.$set(this.photos, index, null);

      if (!/\.(jpe?g|png|gif|bmp)$/i.test(value.name)) {
        return this.notify("warning", "Seleccione una imagen válida");
      }

      this.checkRemove(index);
      this.$set(this.photos, index, value);
      this.$set(this.product.images, index, {
        id: null,
        path: URL.createObjectURL(value),
      });
    },
    removePhoto(index) {
      this.checkRemove(index);
      this.$set(this.photos, index, null);
      this.$set(this.product.images, index, "");
    },
    checkRemove(index) {
      const photo = this.product.images[index];
      if (photo && photo.id) {
        this.removedPhotos.push(photo.id);
      }
    },
  },
};
</script>
<style lang="sass" scoped>
.dashed-border
  border: 1px dashed #6B9BA0

.drop-active
  top: 0
  bottom: 0
  right: 0
  left: 0
  position: fixed
  z-index: 9999
  opacity: .6
  text-align: center
  background: #000

  & h3
    margin: -.5em 0 0
    position: absolute
    top: 50%
    left: 0
    right: 0
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    font-size: 40px
    color: #fff
    padding: 0
</style>
