<template>
  <v-row justify="center" class="px-3">
    <v-col cols="12" md="8">
      <pages-cart-product-card
        v-for="(product, i) in cartItems"
        :key="i"
        :product="product"
      />
    </v-col>

    <v-col cols="12" md="4" style="min-width: 370px">
      <pages-checkout-resume :btn-text="`Continuar`" @next="$emit('next')" />
    </v-col>
  </v-row>
</template>

<script>
import { CART_ITEMS } from "@/store/cart-constants";
export default {
  name: "PagesCheckoutCart",
  components: {
    PagesCheckoutResume: () => import("./components/Resume"),
    PagesCartProductCard: () => import("./components/ProductCard"),
  },
  computed: {
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
  },
  mounted() {
    if (!this.cartItems || !this.cartItems.length) {
      this.$emit("notify", "info", "No tienes nada en el carrito aún.");
    }
  },
};
</script>
