<template>
  <v-container
    class="sections-wheat-bg container--fluid px-0 mx-0 py-5"
    tag="section"
  >
    <v-dialog v-model="loading" hide-overlay persistent width="300">
      <v-card color="buttonMainColor">
        <v-card-text class="text-center white--text">
          Cargando...
          <v-progress-linear
            indeterminate
            class="mb-0"
            color="inputColor"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-card elevation="5" max-width="950" class="br-20 pa-5 mx-auto my-16">
      <v-subheader class="fs-30 mb-12">
        Respuesta de la transacción
        <base-divider class="ml-4" role="presentation" />
      </v-subheader>

      <v-card-text class="text-center fs-18">
        <v-row align="center" justify="center">
          <v-col
            cols="12"
            md="4"
            class="ff--gilroy-extra-bold"
            style="border-top: 1px solid #b3d8dd"
            >Referencia</v-col
          >
          <v-divider
            vertical
            style="border: 1px solid #b3d8dd"
            class="hidden-xs-only"
          />
          <v-col
            cols="12"
            md="6"
            class="text-wrap"
            style="border-top: 1px solid #b3d8dd"
            >{{ order.order_uuid || "--" }}</v-col
          >

          <v-col
            cols="12"
            md="4"
            style="border-top: 1px solid #b3d8dd"
            class="ff--gilroy-extra-bold"
            >Fecha</v-col
          >
          <v-divider
            vertical
            style="border: 1px solid #b3d8dd"
            class="hidden-xs-only"
          />
          <v-col
            cols="12"
            md="6"
            class="text-wrap"
            style="border-top: 1px solid #b3d8dd"
            >{{ order.created_at | date }}</v-col
          >

          <v-col
            cols="12"
            md="4"
            class="ff--gilroy-extra-bold"
            style="border-top: 1px solid #b3d8dd"
            >Respuesta</v-col
          >
          <v-divider
            vertical
            style="border: 1px solid #b3d8dd"
            class="hidden-xs-only"
          />
          <v-col
            cols="12"
            md="6"
            class="text-wrap"
            style="border-top: 1px solid #b3d8dd"
            >{{ order.status ? order.status.status : "--" }}</v-col
          >

          <v-col
            cols="12"
            md="4"
            style="border-top: 1px solid #b3d8dd"
            class="ff--gilroy-extra-bold"
            >Banco</v-col
          >
          <v-divider
            vertical
            style="border: 1px solid #b3d8dd"
            class="hidden-xs-only"
          />
          <v-col
            cols="12"
            md="6"
            class="text-wrap"
            style="border-top: 1px solid #b3d8dd"
            >{{ order.bank || "--" }}</v-col
          >

          <v-col
            cols="12"
            md="4"
            style="border-top: 1px solid #b3d8dd"
            class="ff--gilroy-extra-bold"
            >Recibo</v-col
          >
          <v-divider
            vertical
            style="border: 1px solid #b3d8dd"
            class="hidden-xs-only"
          />
          <v-col
            cols="12"
            md="6"
            class="text-wrap"
            style="border-top: 1px solid #b3d8dd"
            >{{ order.wompi_transaction_id || "--" }}</v-col
          >

          <v-col
            cols="12"
            md="4"
            style="
              border-top: 1px solid #b3d8dd;
              border-bottom: 1px solid #b3d8dd;
            "
            class="ff--gilroy-extra-bold"
            >Total</v-col
          >
          <v-divider
            vertical
            style="border: 1px solid #b3d8dd"
            class="hidden-xs-only"
          />
          <v-col
            cols="12"
            md="6"
            class="text-wrap"
            style="
              border-top: 1px solid #b3d8dd;
              border-bottom: 1px solid #b3d8dd;
            "
            >{{ (order.total_price + order.delivery_price) | money }} COP</v-col
          >
        </v-row>
      </v-card-text>

      <v-card-actions
        class="mt-12"
        v-if="order.status && [1, 6].includes(order.status.id)"
      >
        <v-spacer />
        <pages-btn
          class="text-none"
          v-text="`¡Listo!`"
          :to="{ name: 'OrderTracing', params: { orderId: order.id } }"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import { IN_PROGRESS_ORDER } from "@/store/cart-constants";
export default {
  name: "PagesCheckoutConfirmation",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    order: {},
    loading: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchOrder(headers) {
      this.cleanUrl().then((url) => {
        let orderId = this.$route.query.id || this.getQueryParams(url, "id")[0];

        if (orderId) {
          var config = {
            method: "get",
            data: {
              transaction_id: orderId,
            },
            url: this.urlConstants.StoreUrls.order,
          };

          if (headers) {
            config = Object.assign(config, { ...headers });
          }

          this.loading = true;
          this.axios(config)
            .then((response) => {
              this.order = response.data[0] || {};
              this.$store.commit(IN_PROGRESS_ORDER, this.order);
            })
            .finally(() => {
              this.loading = false;
            });
        }
      });
    },
    cleanUrl() {
      return new Promise((resolve, reject) => {
        var newUrl = location
          .toString()
          .replace(location.search, "")
          .concat(location.search);
        history.replaceState({}, document.title, newUrl);

        resolve(newUrl);
      });
    },

    async fetchGestToken() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("login");

      const params = {
        recaptcha_token: reCaptchaToken,
        email: process.env.VUE_APP_GUEST_USERNAME,
        password: process.env.VUE_APP_GUEST_USER_PASSWORD,
      };

      this.loading = true;
      this.axios
        .post(this.urlConstants.AuthUrls.login, params)
        .then((res) => {
          this.fetchOrder({
            headers: { Authorization: `Token ${res.data.auth_token}` },
          });
        })
        .catch((error) => {
          return this.notify(
            "error",
            "Ocurrió un problema, por favor intenta en unos minutos"
          );
        })
        .then((res) => (this.loading = false));
    },
  },
  mounted() {
    if (this.$session.exists()) {
      this.fetchOrder();
    } else {
      this.fetchGestToken();
    }
  },
};
</script>