<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="500"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-text>
        <div
          style="line-height: initial"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase text-center"
          v-text="`Un momento`"
        />

        <div class="fs-20">
          Para poder realizar la entrega como te gusta, necesitamos tu número
          telefónico, cuentanos cuál para comunicarnos contigo.
        </div>
      </v-card-text>
      <v-card-text>
        <validation-observer v-slot="{ handleSubmit }">
          <form ref="form" @submit.prevent="handleSubmit(updateProfile)">
            <validation-provider
              v-slot="{ errors }"
              name="Número de contacto"
              rules="required|max:13"
            >
              <v-text-field
                v-model="phone"
                rounded
                outlined
                autofocus
                counter="13"
                color="inputColor"
                :error-messages="errors"
                label="Número de contacto"
              />
            </validation-provider>

            <div class="text-center">
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize mx-3 my-2"
                v-text="`Guardar`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogSetPhone",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    phone: null,
    submitting: false,
  }),
  methods: {
    updateProfile() {
      this.submitting = true;

      const email = this.getSessionInfo("email");
      const params = {
        email: email,
        username: email,
        phone: this.phone,
      };

      this.axios
        .put(this.urlConstants.AuthUrls.changeProfile, params)
        .then((res) => {
          this.editing = false;

          this.appendSessionInfo("phone", this.phone);
          this.$emit("commit", this.phone);

          this.$emit(
            "notify",
            "success",
            "Listo, tus datos han sido actualizados."
          );
          this.$emit("close");
        })
        .catch((error) => {
          if (!error.response) return this.$emit("notify", "error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = this.getSignInErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un error inesperado, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }
          return this.$emit("notify", "error", errorMsg);
        })
        .finally(() => (this.submitting = false));
    },
  },
};
</script>
