<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text>
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase text-center"
          v-text="`Lo sentimos`"
        />

        <div class="fs-20">
          En el momento solo tenemos las cantidades mostradas para los productos a continuación.
          <ul>
            <li v-for="(item, i) in products" :key="`prd-${i}`">
              <template v-if="typeof item === 'string'">{{ item }} unds.</template>
              <template v-else>
                {{Object.keys(item)[0]}} :
                <ul>
                  <li v-for="(det, j) in detail(item)" :key="`det-${j}`">{{ det }} unds.</li>
                </ul>
              </template>
            </li>
          </ul>
        </div>

        <pages-cart-product-card
          class="my-2"
          v-for="(product, i) in cartItems"
          :key="i"
          :product="product"
        />
      </v-card-text>

      <v-card-actions class="mb-4">
        <pages-btn class="text-none mx-auto" v-text="`Cerrar`" @click="closeModal()" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { CART_ITEMS } from "@/store/cart-constants";

export default {
  name: "PagesCheckoutEditCartQty",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
    PagesCartProductCard: () => import("./components/ProductCard"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    products: {
      type: Array,
      default: [],
      required: true,
    },
  },
  computed: {
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
    detail(item) {
      var data = Object.values(item)[0].split(",");
      data.pop();
      return data;
    },
  },
};
</script>
