<template>
  <v-container fluid class="sections-wheat-bg fill-height" tag="section">
    <v-scroll-x-transition>
      <v-btn
        v-show="currentStep > 1"
        top
        left
        rounded
        color="inputColor"
        class="text-capitalize garosa-primary-text"
        :large="isDesktop"
        :height="isDesktop ? 50 : 35"
        :class="{ 'fs-30': isDesktop }"
        @click="changeStep(-1)"
      >
        <v-icon :large="isDesktop" left color="buttonMainColor">
          mdi-chevron-left </v-icon
        >Volver
      </v-btn>
    </v-scroll-x-transition>

    <v-row justify="center">
      <v-stepper
        v-model="currentStep"
        style="max-width: 1300px"
        class="elevation-0 transparent"
      >
        <v-stepper-header>
          <v-stepper-step
            v-if="isDesktop"
            :complete="currentStep > 1"
            step="1"
            color="accent"
          >
            Carrito de Compra
          </v-stepper-step>

          <v-divider style="border: 1px solid #b3d8dd" v-if="isDesktop" />

          <v-stepper-step
            :complete="currentStep > 2"
            :step="isDesktop ? 2 : 1"
            color="accent"
          >
            Hacer el Pedido
          </v-stepper-step>

          <v-divider style="border: 1px solid #b3d8dd" />

          <v-stepper-step :step="isDesktop ? 3 : 2" color="accent">
            Pago
          </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1" v-if="isDesktop">
            <pages-checkout-cart @next="changeStep(1)" @notify="notify" />
          </v-stepper-content>

          <v-stepper-content :step="isDesktop ? 2 : 1">
            <pages-checkout-order
              ref="order"
              @next="changeStep(1, true)"
              @notify="notify"
            />
          </v-stepper-content>

          <v-stepper-content :step="isDesktop ? 3 : 2">
            <pages-checkout-payment ref="lastStep" @notify="notify" />
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />

    <dialog-set-phone
      :visible="showPhoneDialog"
      @notify="notify"
      @commit="setUserPhone"
      @close="showPhoneDialog = false"
    />
  </v-container>
</template>

<script>
export default {
  name: "PagesCheckout",
  components: {
    PagesCheckoutCart: () => import("./Cart"),
    PagesCheckoutOrder: () => import("./Order"),
    PagesCheckoutPayment: () => import("./Payment"),
    DialogSetPhone: () => import("./DialogSetPhone"),
  },
  data: () => ({
    currentStep: 1,
    showPhoneDialog: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  computed: {
    showBackButton() {
      if (this.isDesktop) {
        return this.currentStep > 1;
      } else {
        return this.currentStep > 2;
      }
    },
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    setUserPhone(phone) {
      this.$refs.order.$refs.addresses.$refs.mainAddress.user.phone = phone;
    },
    changeStep(dir, checkPm) {
      if (checkPm) {
        this.$refs.lastStep.setPaymentMethod();
      }

      this.currentStep += dir;
      if (
        this.currentStep === 2 &&
        this.$session.exists() &&
        !this.getSessionInfo("phone")
      ) {
        this.showPhoneDialog = true;
      }

      window.scrollTo(0, 0);
    },
  },
};
</script>
