<template>
  <v-row justify="center" class="px-3">
    <v-col cols="12" md="8">
      <v-card hover outlined class="br-20 pa-5">
        <v-subheader :class="[isDesktop ? 'fs-30' : 'fs-18']">
          Información de envío
          <base-divider class="ml-4" role="presentation" />
        </v-subheader>

        <pages-checkout-address ref="addresses" v-if="$session.exists()" />
        <guest-form v-else ref="guestInfo" />

        <v-subheader v-if="isDesktop" :class="[isDesktop ? 'fs-30' : 'fs-18']">
          Carrito de Compra ({{ totalCartItems }})
          <base-divider class="ml-4" role="presentation" />
        </v-subheader>

        <v-card-text v-if="isDesktop">
          <v-list-item-action
            v-for="(product, index) in cartItems"
            :key="index"
            class="mx-2"
          >
            <v-avatar size="120" class="br-10">
              <v-img :src="product.images[0].path" />
            </v-avatar>
            <span
              class="mt-1 mr-auto text-wrap"
              style="max-width: 120px; letter-spacing: 0px; line-height: normal"
              v-text="`${product.quantity} | ${product.name}`"
            />
          </v-list-item-action>
        </v-card-text>

        <v-subheader :class="[isDesktop ? 'fs-30' : 'fs-18']">
          Método de pago
          <base-divider class="ml-4" role="presentation" />
        </v-subheader>

        <v-card-text class="py-0">
          <v-radio-group v-model="paymentType" column class="my-0">
            <v-radio color="buttonMainColor" :value="paymentTypeOnline">
              <template v-slot:label>
                <v-list-item two-line class="px-0">
                  <v-list-item-avatar>
                    <v-avatar>
                      <v-icon large color="accent darken-1"
                        >mdi-credit-card</v-icon
                      >
                    </v-avatar>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-text="`Pago en línea`" />
                    <v-list-item-subtitle
                      class="accent--text text-wrap"
                      v-text="`Tarjeta de crédito o débito, PSE.`"
                    />
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-radio>

            <v-radio color="buttonMainColor" :value="paymentTypeCash">
              <template v-slot:label>
                <v-list-item two-line class="px-0">
                  <v-list-item-avatar>
                    <v-avatar>
                      <v-icon large color="accent darken-1"
                        >mdi-currency-usd</v-icon
                      >
                    </v-avatar>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-text="`Pago contraentrega`" />
                    <v-list-item-subtitle
                      class="accent--text"
                      v-text="`Efectivo.`"
                    />
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-radio>
          </v-radio-group>
        </v-card-text>
      </v-card>
    </v-col>

    <v-col
      cols="12"
      md="4"
      :style="{ minWidth: $vuetify.breakpoint.xs ? '100%' : '400px;' }"
    >
      <pages-checkout-resume
        :class="{ 'mt-0': !isDesktop }"
        :btn-text="`Finalizar pedido`"
        @next="validateOrderData()"
      />

      <v-card hover outlined class="br-20">
        <v-card-title class="text-center">
          <span
            class="garosa-primary-text fs-25 ff--gilroy-extra-bold"
            v-text="`¿Es un regalo?`"
          />

          <v-radio-group
            v-model="isGift"
            row
            :class="{ 'ml-auto': !$vuetify.breakpoint.xs }"
          >
            <v-radio color="buttonMainColor" label="Si" :value="true" />
            <v-radio color="buttonMainColor" label="No" :value="false" />
          </v-radio-group>
        </v-card-title>

        <v-slide-y-transition>
          <v-card-text v-show="isGift">
            <v-form lazy-validation>
              <v-text-field
                readonly
                v-bind="inputAttrs"
                label="¿Quién envía?"
                :value="(user && user.first_name) || ''"
              />
              <v-text-field
                v-model="giftReceiver"
                :readonly="!isGift"
                v-bind="inputAttrs"
                label="¿Quién recibe?"
              />
              <v-textarea
                v-model="giftMessage"
                no-resize
                :rows="3"
                :counter="255"
                v-bind="inputAttrs"
                :readonly="!isGift"
                label="Escribe tu mensaje..."
              />
            </v-form>
          </v-card-text>
        </v-slide-y-transition>
      </v-card>

      <v-card hover outlined class="br-20" v-if="confirmationContent">
        <v-card-title class="text-center">
          <span
            class="garosa-primary-text fs-25 ff--gilroy-extra-bold"
            v-text="`Fecha de entrega`"
          />
        </v-card-title>

        <v-card-text>
          <v-form lazy-validation>
            <v-menu
              v-model="showDeliveryDate"
              offset-y
              min-width="90px"
              :nudge-right="40"
              transition="scale-transition"
              :close-on-content-click="false"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="displayedDeliveryDate"
                  readonly
                  v-bind="inputAttrs"
                  label="Día"
                  v-on="on"
                />
              </template>
              <v-date-picker
                v-model="deliveryDate"
                scrollable
                show-current
                v-bind="inputAttrs"
                header-color="buttonMainColor"
                :locale="getDateInputLocale()"
                :allowed-dates="allowedDates"
                :min="$moment().format('YYYY-MM-DD')"
                @change="showDeliveryDate = false"
              />
            </v-menu>

            <v-menu
              ref="deliveryHour"
              v-model="showDeliveryHour"
              offset-y
              min-width="90px"
              :nudge-right="40"
              transition="scale-transition"
              :close-on-content-click="false"
              :return-value.sync="deliveryHour"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="displayedDeliveryHour"
                  readonly
                  clearable
                  hide-details
                  :disabled="!deliveryDate"
                  placeholder="00:00 AM/PM"
                  v-bind="{ ...attrs, ...inputAttrs }"
                  v-on="on"
                />
              </template>
              <v-time-picker
                v-model="deliveryHour"
                scrollable
                color="buttonMainColor"
                header-color="inputColor"
                :allowed-hours="allowedHours"
                :min="minHour"
              >
                <v-spacer />
                <pages-btn
                  outlined
                  width="35%"
                  color="buttonMainColor"
                  class="text-capitalize"
                  @click="showDeliveryHour = false"
                  v-text="`Cancelar`"
                />
                <pages-btn
                  width="35%"
                  @click="$refs.deliveryHour.save(deliveryHour)"
                  v-text="`OK`"
                />
              </v-time-picker>
            </v-menu>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>

    <base-confirm-dialog
      title="Ten en cuenta que..."
      cancelText="Revisar mi pedido"
      confirmText="Continuar"
      :data="{}"
      :visible="showConfirmation"
      :content="confirmationContent"
      @confirm="confirmOrder"
      @close="showConfirmation = false"
    />
  </v-row>
</template>

<script>
import {
  NUM_ITEMS,
  CART_ITEMS,
  PAYMENT_TYPE,
  DELIVERY_ORIGIN,
  GIFT_INFORMATION,
  DELIVERY_ADDRESS,
  DELIVERY_DATE,
  PAYMENT_TYPE_CASH,
  PAYMENT_TYPE_ONLINE,
} from "@/store/cart-constants";

import { pick } from "lodash";

export default {
  name: "PagesCheckoutOrder",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
    PagesCheckoutResume: () => import("./components/Resume"),
    PagesCheckoutAddress: () => import("./components/Address"),
    PagesAccountAddress: () => import("@/views/pages/account/Address"),
    GuestForm: () => import("./components/GuestForm"),
  },
  data() {
    return {
      user: this.getSessionInfo(),
      inputAttrs: {
        color: "inputColor",
        class: "my-0 py-0",
        rounded: true,
        outlined: true,
      },
      isGift: false,
      giftReceiver: null,
      giftMessage: null,
      deliveryDate: "",
      showDeliveryDate: false, // muestra u oculta el date-picker
      showDeliveryHour: false, // muestra u oculta el time-picker
      showConfirmation: false,
      deliveryHour: "",
      deliverySchedule: [],
      paymentTypeCash: PAYMENT_TYPE_CASH,
      paymentTypeOnline: PAYMENT_TYPE_ONLINE,
    };
  },
  computed: {
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
    totalCartItems() {
      return this.$store.getters[NUM_ITEMS];
    },
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    paymentType: {
      set(val) {
        this.$store.commit(PAYMENT_TYPE, val);
      },
      get() {
        return this.$store.getters[PAYMENT_TYPE];
      },
    },
    displayedDeliveryDate() {
      return (
        (this.deliveryDate &&
          this.$moment(this.deliveryDate).format("dddd DD [de] MMMM YYYY")) ||
        ""
      );
    },
    displayedDeliveryHour() {
      const now = `${new Date().getFullYear()}-${new Date().getMonth()}-${new Date().getDate()}`;
      return (
        (this.deliveryHour &&
          this.$moment(
            `${this.deliveryDate || now} ${this.deliveryHour}`
          ).format("hh:mm A")) ||
        ""
      );
    },
    minHour() {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );

      return day?.start_hour || "00:00";
    },
    maxHour() {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );

      return day?.end_hour || "00:00";
    },
    confirmationContent() {
      const specialProduct = this.cartItems.find(
        (prd) => prd.restriction_message
      );

      if (specialProduct) {
        return `En relación al ${specialProduct.name}, ${specialProduct.restriction_message}`;
      } else {
        return "";
      }
    },
  },
  watch: {
    isGift(val) {
      if (!val) {
        this.giftReceiver = null;
        this.giftMessage = null;
      }
    },
    isGift(val) {
      if (!val) {
        this.deliveryDate = "";
        this.deliveryHour = "";
      }
    },
  },
  methods: {
    validateOrderData(confirmed) {
      if (!this.$session.exists()) {
        if (!this.$refs.guestInfo.$refs.form.validate()) {
          return this.$emit(
            "notify",
            "warning",
            "Complete los datos del envío"
          );
        } else {
          this.$refs.guestInfo.saveGuestInfo();
        }
      }

      if (!this.$store.getters[DELIVERY_ADDRESS].latitude) {
        return this.$emit(
          "notify",
          "warning",
          "seleccione una dirección de envío"
        );
      }

      if (this.isGift && (!this.giftReceiver || !this.giftMessage)) {
        return this.$emit(
          "notify",
          "warning",
          "Ingrese todos los datos para su regalo"
        );
      }

      if (this.confirmationContent && !confirmed) {
        return (this.showConfirmation = true);
      }

      this.$store.commit(
        DELIVERY_DATE,
        (this.deliveryDate + " " + this.deliveryHour).trim()
      );

      this.$store.dispatch(GIFT_INFORMATION, {
        isGift: this.isGift,
        message: this.giftMessage,
        receiverName: this.giftReceiver,
      });

      this.$emit("next");
    },
    confirmOrder() {
      if (!this.deliveryDate || !this.deliveryHour) {
        this.$emit(
          "notify",
          "warning",
          "Escoja la fecha en que desea recibir su pedido"
        );
      } else {
        this.validateOrderData(true);
      }

      this.showConfirmation = false;
    },
    getSalePointSchedule() {
      this.axios
        .get(
          this.urlConstants.GralInfoUrls.salesPoint.concat(
            "/",
            this.salePoint.id
          )
        )
        .then((response) => {
          const schedules = response.data.schedules
            .filter((sch) => sch.is_active && sch.start_hour != sch.end_hour)
            .map((sch) => pick(sch, ["start_hour", "end_hour", "day"]));

          this.deliverySchedule = schedules;
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo el horario de atención del punto de venta."
          );
        });
    },
    allowedDates(val) {
      return this.deliverySchedule
        .map((sch) => sch.day)
        .includes(this.$moment(val).isoWeekday());
    },
    allowedHours(val) {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );
      const startTime = Number(day.start_hour.split(":")[0]);
      const endTime = Number(day.end_hour.split(":")[0]);

      return val <= endTime && val >= startTime;
    },
    allowedMinutes(val) {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );
      const startTime = Number(day.start_hour.split(":")[1]);
      const endTime = Number(day.end_hour.split(":")[1]);

      return val <= endTime && val >= startTime;
    },
  },
  mounted() {
    if (this.salePoint) {
      this.getSalePointSchedule();
    }
  },
};
</script>
