<template>
  <v-row justify="center" class="px-3">
    <v-dialog v-model="showNequiNotification" persistent max-width="600">
      <v-card>
        <v-card-text class="text-center">
          <div
            style="line-height: initial"
            class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
            v-text="`Revisa tu teléfono`"
          />

          <div
            class="fs-20 text-center mt-12"
            v-text="
              `Una notificación de Nequi te espera para confirmar el pago, después actualiza la página para consultar el estado del pedido.`
            "
          />
        </v-card-text>

        <v-card-actions>
          <pages-btn
            v-text="`Ya pagué`"
            class="text-none mx-auto"
            :to="{
              name: 'OrderConfirmation',
              query: { id: wompiTransactionId },
            }"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-col cols="12" sm="7" md="auto">
      <v-card
        hover
        class="br-20 pa-5"
        max-width="700"
        v-bind="paymentInfoCard"
        :style="{ 'min-width': $vuetify.breakpoint.mdAndUp ? '760px' : '100%' }"
      >
        <v-subheader :class="[isDesktop ? 'fs-30' : 'fs-18']">
          Forma de pago
          <base-divider class="ml-4" role="presentation" />
        </v-subheader>

        <v-card-text>
          <v-radio-group v-model="paymentMethod" column>
            <v-radio
              v-show="paymentType === paymentTypeCash"
              color="buttonMainColor"
              :value="paymentMethodQr"
            >
              <template v-slot:label>
                <span
                  class="ff--gilroy-extra-bold garosa-primary-text"
                  v-text="`QR Bancolombia`"
                  :class="{ 'fs-25': isDesktop }"
                />
              </template>
            </v-radio>

            <v-radio
              v-show="paymentType === paymentTypeCash"
              color="buttonMainColor"
              :value="paymentMethodDelivery"
            >
              <template v-slot:label>
                <span
                  class="ff--gilroy-extra-bold garosa-primary-text"
                  v-text="`Efectivo`"
                  :class="{ 'fs-25': isDesktop }"
                />
              </template>
            </v-radio>
            <!-- Cash Payment -->
            <v-scroll-x-transition>
              <v-text-field
                v-show="paymentMethod === paymentMethodDelivery"
                v-model.number="cash"
                prefix="$"
                type="number"
                v-bind="inputAttrs"
                label="¿De cuánto es tu billete?"
              />
            </v-scroll-x-transition>
            <!-- End Cash Payment -->

            <v-radio
              v-show="paymentType === paymentTypeOnline"
              color="buttonMainColor"
              :value="paymentMethodCC"
            >
              <template v-slot:label>
                <span
                  class="ff--gilroy-extra-bold garosa-primary-text"
                  v-text="`Pago con Tarjeta de Crédito`"
                  :class="{ 'fs-25': isDesktop }"
                />
              </template>
            </v-radio>
            <!-- CC Form -->
            <v-scroll-x-transition>
              <v-form
                v-show="paymentMethod === paymentMethodCC"
                ref="ccForm"
                lazy-validation
              >
                <v-row dense class="my-3">
                  <v-col cols="12" :class="{ 'py-0': isDesktop }">
                    <v-row>
                      <v-col cols="4" md="2">
                        <v-img
                          :src="require('@/assets/visa.png')"
                          height="50"
                          contain
                        />
                      </v-col>
                      <v-col cols="4" md="2">
                        <v-img
                          :src="require('@/assets/master_card.png')"
                          height="50"
                          contain
                        />
                      </v-col>
                      <v-col cols="4" md="2">
                        <v-img
                          :src="require('@/assets/american_express.png')"
                          height="50"
                          contain
                        />
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model.number="ccNumber"
                      v-bind="inputAttrs"
                      :rules="ccNumberRules"
                      label="Número de la tarjeta"
                    />
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-menu
                      v-model="ccDateInput.show"
                      offset-y
                      min-width="90px"
                      :nudge-right="40"
                      transition="scale-transition"
                      :close-on-content-click="false"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="ccDateInput.display"
                          readonly
                          v-bind="inputAttrs"
                          label="Vencimiento"
                          :rules="ccDateInput.rules"
                          v-on="on"
                        />
                      </template>
                      <v-date-picker
                        v-model="ccDateInput.value"
                        scrollable
                        show-current
                        type="month"
                        color="inputColor"
                        :min="ccDateInput.minValue"
                        header-color="buttonMainColor"
                        :locale="getDateInputLocale()"
                        @change="
                          formatDisplayedDate(), (ccDateInput.show = false)
                        "
                      />
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model.number="ccCode"
                      type="number"
                      label="Código"
                      v-bind="inputAttrs"
                      :rules="ccCodeRules"
                    />
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-select
                      v-model="ccDocType"
                      item-value="id"
                      item-text="name"
                      v-bind="inputAttrs"
                      item-color="inputColor"
                      :items="docTypeList"
                      label="Tipo de documento"
                      :loading="loadingDocTypeList"
                    >
                      <template v-slot:item="{ attrs, item, on }">
                        <v-list-item
                          elevation="0"
                          v-bind="attrs"
                          class="mx-3 mb-2 v-sheet"
                          active-class="buttonMainColor lighten-2 elevation-1 white--text"
                          v-on="on"
                        >
                          <v-list-item-content>
                            <v-list-item-title
                              :class="{ 'font-weight-bold': attrs.inputValue }"
                              v-text="item.name"
                            />
                          </v-list-item-content>

                          <v-scale-transition>
                            <v-list-item-icon
                              v-if="attrs.inputValue"
                              class="my-3"
                            >
                              <v-icon>mdi-check</v-icon>
                            </v-list-item-icon>
                          </v-scale-transition>
                        </v-list-item>
                      </template>
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model="ccDocumentNumber"
                      type="number"
                      label="Documento"
                      v-bind="inputAttrs"
                      :rules="documentRules"
                    />
                  </v-col>
                  <v-col cols="12" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model="ccOwner"
                      v-bind="inputAttrs"
                      :rules="ccOwnerRules"
                      label="Titular de la tarjeta"
                    />
                  </v-col>
                </v-row>
              </v-form>
            </v-scroll-x-transition>
            <!-- End CC Form -->

            <v-radio
              v-show="paymentType === paymentTypeOnline"
              color="buttonMainColor"
              :value="paymentMethodPse"
            >
              <template v-slot:label>
                <span
                  class="ff--gilroy-extra-bold garosa-primary-text"
                  v-text="`PSE`"
                  :class="{ 'fs-25': isDesktop }"
                />
              </template>
            </v-radio>
            <!-- PSE Form -->
            <v-scroll-x-transition>
              <v-form
                v-show="paymentMethod === paymentMethodPse"
                ref="pseForm"
                lazy-validation
              >
                <v-row dense class="mt-3">
                  <v-col cols="12" :class="{ 'py-0': isDesktop }">
                    <v-select
                      v-model="pseBank"
                      item-value="id"
                      item-text="name"
                      v-bind="inputAttrs"
                      :items="pseBankList"
                      label="Banco emisor"
                      :rules="pseBankRules"
                      item-color="inputColor"
                      :loading="pseLoadingBanks"
                    >
                      <template v-slot:item="{ attrs, item, on }">
                        <v-list-item
                          elevation="0"
                          v-bind="attrs"
                          class="mx-3 mb-2 v-sheet"
                          active-class="buttonMainColor lighten-2 elevation-1 white--text"
                          v-on="on"
                        >
                          <v-list-item-content>
                            <v-list-item-title
                              :class="{ 'font-weight-bold': attrs.inputValue }"
                              v-text="item.name"
                            />
                          </v-list-item-content>

                          <v-scale-transition>
                            <v-list-item-icon
                              v-if="attrs.inputValue"
                              class="my-3"
                            >
                              <v-icon>mdi-check</v-icon>
                            </v-list-item-icon>
                          </v-scale-transition>
                        </v-list-item>
                      </template>
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-select
                      v-model="pseDocType"
                      item-value="id"
                      item-text="name"
                      v-bind="inputAttrs"
                      :items="docTypeList"
                      item-color="inputColor"
                      label="Tipo de documento"
                      :loading="loadingDocTypeList"
                    >
                      <template v-slot:item="{ attrs, item, on }">
                        <v-list-item
                          elevation="0"
                          v-bind="attrs"
                          class="mx-3 mb-2 v-sheet"
                          active-class="buttonMainColor lighten-2 elevation-1 white--text"
                          v-on="on"
                        >
                          <v-list-item-content>
                            <v-list-item-title
                              :class="{ 'font-weight-bold': attrs.inputValue }"
                              v-text="item.name"
                            />
                          </v-list-item-content>

                          <v-scale-transition>
                            <v-list-item-icon
                              v-if="attrs.inputValue"
                              class="my-3"
                            >
                              <v-icon>mdi-check</v-icon>
                            </v-list-item-icon>
                          </v-scale-transition>
                        </v-list-item>
                      </template>
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model="pseDocumentNumber"
                      type="number"
                      label="Documento"
                      v-bind="inputAttrs"
                      :rules="documentRules"
                    />
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-select
                      v-model="pseCustomerType"
                      item-value="id"
                      item-text="name"
                      v-bind="inputAttrs"
                      item-color="inputColor"
                      label="Tipo de documento"
                      :items="pseCustomerTypeList"
                      :loading="pseLoadingCustType"
                    >
                      <template v-slot:item="{ attrs, item, on }">
                        <v-list-item
                          elevation="0"
                          v-bind="attrs"
                          class="mx-3 mb-2 v-sheet"
                          active-class="buttonMainColor lighten-2 elevation-1 white--text"
                          v-on="on"
                        >
                          <v-list-item-content>
                            <v-list-item-title
                              :class="{ 'font-weight-bold': attrs.inputValue }"
                              v-text="item.name"
                            />
                          </v-list-item-content>

                          <v-scale-transition>
                            <v-list-item-icon
                              v-if="attrs.inputValue"
                              class="my-3"
                            >
                              <v-icon>mdi-check</v-icon>
                            </v-list-item-icon>
                          </v-scale-transition>
                        </v-list-item>
                      </template>
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model="pseTitular"
                      v-bind="inputAttrs"
                      :rules="pseTitularRules"
                      label="Nombre del Titular"
                    />
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model="pseEmail"
                      v-bind="inputAttrs"
                      :rules="pseEmailRules"
                      label="Correo electrónico"
                    />
                  </v-col>
                  <v-col cols="12" md="6" :class="{ 'py-0': isDesktop }">
                    <v-text-field
                      v-model="psePhone"
                      v-bind="inputAttrs"
                      :rules="psePhoneRules"
                      label="Celular"
                    />
                  </v-col>
                </v-row>
              </v-form>
            </v-scroll-x-transition>
            <!-- End PSE Form -->

            <v-radio
              disabled
              v-show="paymentType === paymentTypeOnline"
              color="buttonMainColor"
              :value="paymentMethodNequi"
            >
              <template v-slot:label>
                <span
                  class="ff--gilroy-extra-bold text--disabled"
                  v-text="`NEQUI (Muy pronto)`"
                  :class="{ 'fs-25': isDesktop }"
                />
              </template>
            </v-radio>
            <!-- Nequi -->
            <v-scroll-x-transition>
              <v-form
                v-show="paymentMethod === paymentMethodNequi"
                ref="nequiForm"
                lazy-validation
                class="mt-2"
              >
                <v-text-field
                  v-model="nequiPhone"
                  type="number"
                  label="Número télefonico"
                  v-bind="inputAttrs"
                  :counter="10"
                  :rules="psePhoneRules"
                  :style="{
                    maxWidth: $vuetify.breakpoint.mdAndUp ? '50%' : '100%',
                  }"
                />
              </v-form>
            </v-scroll-x-transition>
            <!-- End Nequi -->

            <v-radio
              disabled
              v-show="paymentType === paymentTypeOnline"
              color="buttonMainColor"
              :value="paymentMethodTransfer"
            >
              <template v-slot:label>
                <span
                  class="ff--gilroy-extra-bold text--disabled"
                  v-text="`Transferencia Bancolombia (Muy pronto)`"
                  :class="{ 'fs-25': isDesktop }"
                />
              </template>
            </v-radio>
          </v-radio-group>
        </v-card-text>
      </v-card>
    </v-col>

    <v-col cols="12" sm="5" md="auto">
      <v-card
        hover
        class="br-20"
        :min-width="$vuetify.breakpoint.xs ? '100%' : 350"
        :max-width="$vuetify.breakpoint.xs ? '100%' : 400"
      >
        <v-card-title
          class="fs-40 justify-center mb-10 pt-5"
          v-text="`Factura`"
        />

        <v-card-text
          class="fs-25"
          :class="{ 'ml-10': !$vuetify.breakpoint.xs }"
        >
          <span class="ff--gilroy-extra-bold" v-text="`Total`" />
          <br />
          <span>{{ total | money }}</span>
        </v-card-text>
        <v-card-text
          class="fs-25"
          :class="{ 'ml-10': !$vuetify.breakpoint.xs }"
        >
          <span
            class="ff--gilroy-extra-bold mt-5"
            v-text="`Dirección de envío`"
          />
          <br />
          <span>{{ deliveryAddress.description }}</span>
          <div v-if="showPoliciesAcceptance" class="text--secondary body-2">
            <v-checkbox
              v-model="policiesAcceptance"
              color="buttonMainColor"
              dense
              hide-details
            >
              <template v-slot:label>
                <span class="body-2">Acepto haber leído los</span>
              </template>
            </v-checkbox>
            <a
              target="_blank"
              rel="noopener noreferrer"
              :href="policiesAcceptanceLink"
              class="ff--gilroy-extra-bold black--text"
              >términos y condiciones y la política de privacidad</a
            >
            para hacer esta compra.
          </div>
        </v-card-text>
        <v-card-actions>
          <pages-btn
            :loading="submmitting"
            class="text-capitalize mx-auto mb-5"
            :disabled="!enablePaymentBtn || submmitting"
            @click="validateData"
            v-text="`Realizar Pago`"
          />
        </v-card-actions>
      </v-card>
    </v-col>

    <pages-checkout-edit-cart-qty
      :visible="showDialogEditQty"
      :products="productsOutOfStock"
      @close="showDialogEditQty = false"
    />
  </v-row>
</template>

<script>
import {
  DELIVERY,
  GEST_USER,
  CART_TOTAL,
  CLEAR_CART,
  CART_ITEMS,
  PAYMENT_TYPE,
  DELIVERY_DATE,
  DELIVERY_ORIGIN,
  DELIVERY_ADDRESS,
  GIFT_INFORMATION,
  PAYMENT_TYPE_CASH,
  IN_PROGRESS_ORDER,
  PAYMENT_METHOD_PSE,
  PAYMENT_TYPE_ONLINE,
  PAYMENT_METHOD_NEQUI,
  PAYMENT_METHOD_PSE_ID,
  PAYMENT_METHOD_NEQUI_ID,
  PAYMENT_METHOD_CREDIT_CARD,
  PAYMENT_METHOD_UPON_DELIVERY,
  PAYMENT_METHOD_CREDIT_CARD_ID,
  PAYMENT_METHOD_BANCOLOMBIA_QR,
  PAYMENT_METHOD_UPON_DELIVERY_ID,
  PAYMENT_METHOD_BANCOLOMBIA_QR_ID,
  PAYMENT_METHOD_BANCOLOMBIA_TRANSFER,
  PAYMENT_METHOD_BANCOLOMBIA_TRANSFER_ID,
} from "@/store/cart-constants";

import { forOwn } from "lodash";

export default {
  name: "PagesCheckoutPayment",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
    PagesCheckoutEditCartQty: () => import("./DialogEditCartQty"),
  },
  data() {
    return {
      cash: null,
      submmitting: false,
      paymentMethod: null,
      wompiTransactionId: 0,
      productsOutOfStock: [],
      showDialogEditQty: false,
      policiesAcceptance: false,
      showNequiNotification: false,
      policiesAcceptanceLink: null,
      policiesAcceptanceToken: null,
      paymentTypeCash: PAYMENT_TYPE_CASH,
      paymentMethodPse: PAYMENT_METHOD_PSE,
      paymentTypeOnline: PAYMENT_TYPE_ONLINE,
      paymentMethodNequi: PAYMENT_METHOD_NEQUI,
      paymentMethodCC: PAYMENT_METHOD_CREDIT_CARD,
      paymentMethodQr: PAYMENT_METHOD_BANCOLOMBIA_QR,
      paymentMethodDelivery: PAYMENT_METHOD_UPON_DELIVERY,
      paymentMethodTransfer: PAYMENT_METHOD_BANCOLOMBIA_TRANSFER,
      inputAttrs: {
        color: "inputColor",
        class: "my-0 py-0",
        rounded: true,
        outlined: true,
      },
      ccDateInput: {
        show: false,
        value: null,
        display: null,
        minValue: this.$moment().format("YYYY-MM-DD"),
        rules: [
          (v) => !!v || "La fecha de vencimiento de la tarjeta es requerido",
        ],
      },
      ccNumber: "",
      ccNumberRules: [
        (v) =>
          /^\d{16}$/.test(v) ||
          "Ingrese los 16 digitos de la tarjeta sin espacios",
      ],
      ccCode: null,
      ccCodeRules: [
        (v) =>
          /^\d{3}$/.test(v) ||
          "Ingrese los 3 digitos de confirmación de la tarjeta sin espacios",
      ],
      ccDocType: "CC",
      ccDocumentNumber: null,
      ccOwner: null,
      ccOwnerRules: [(v) => !!v || "Titular de la tarjeta es requerido"],
      // PSE form fields
      pseLoadingBanks: false,
      pseBank: null,
      pseBankList: [],
      pseBankRules: [(v) => !!v || "Seleccione el banco"],
      pseDocType: "CC",
      docTypeList: [
        { id: "CC", name: "CC. Cédula de Ciudadanía" },
        { id: "NIT", name: "NIT. Número Identificación Tributaria" },
      ],
      loadingDocTypeList: false,
      pseDocumentNumber: null,
      documentRules: [(v) => !!v || "Ingrese su número de documento"],
      pseCustomerType: 0,
      pseCustomerTypeList: [
        { id: 0, name: "Persona natural" },
        { id: 1, name: "Persona jurídica" },
      ],
      pseLoadingCustType: false,
      pseTitular: this.$session.exists()
        ? `${this.getSessionInfo("first_name")} ${this.getSessionInfo(
            "last_name"
          )}`
        : "",
      pseTitularRules: [(v) => !!v || "Ingrese el nombre del titular"],
      pseEmail: this.getSessionInfo("email") || "",
      pseEmailRules: [
        (v) => !!v || "Correo electrónico es requerido",
        (v) =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "Ingrese un correo válido",
      ],
      psePhone: this.getSessionInfo("phone") || "",
      psePhoneRules: [
        (v) =>
          /^\d{10}$/.test(v) ||
          "Ingrese los 10 digitos de su número de celular sin espacios",
      ],
      nequiPhone: this.getSessionInfo("phone") || "",
    };
  },
  computed: {
    subTotal() {
      return this.$store.getters[CART_TOTAL];
    },
    delivery() {
      return this.$store.getters[DELIVERY];
    },
    total() {
      return this.subTotal + this.delivery;
    },
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
    paymentType() {
      return this.$store.getters[PAYMENT_TYPE];
    },
    deliveryAddress() {
      return this.$store.getters[DELIVERY_ADDRESS];
    },
    deliveryDate() {
      return this.$store.getters[DELIVERY_DATE];
    },
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    giftInfo() {
      return this.$store.getters[GIFT_INFORMATION];
    },
    paymentInfoCard() {
      return this.paymentType === PAYMENT_TYPE_CASH
        ? {
            "min-width": 450,
          }
        : null;
    },
    showPoliciesAcceptance() {
      return this.paymentType === this.paymentTypeOnline;
    },
    enablePaymentBtn() {
      if (this.cartItems.length <= 0) {
        return false;
      }

      return (
        (this.policiesAcceptance && this.showPoliciesAcceptance) ||
        this.paymentTypeCash === this.paymentType
      );
    },
    orderStatusPath() {
      return this.$router.resolve({ name: "OrderPseStatus" }).href;
    },
    guestInfo() {
      return this.$store.getters[GEST_USER] || {};
    },
  },
  watch: {
    isDesktop(newValue, oldValue) {
      this.changeInputStyle(!newValue);
    },
  },
  mounted() {
    this.fetchWompiBanks();
    this.setPaymentMethod();
    this.changeInputStyle(!this.isDesktop);
  },
  methods: {
    changeInputStyle(value) {
      this.$set(this.inputAttrs, "singleLine", value);
      this.$set(this.inputAttrs, "hideDetails", value);
    },
    validateData() {
      var extraParams;

      if (this.paymentType === PAYMENT_TYPE_CASH) {
        extraParams = {
          annotations: this.cash || null,
          payment_method:
            this.paymentMethod === PAYMENT_METHOD_BANCOLOMBIA_QR
              ? PAYMENT_METHOD_BANCOLOMBIA_QR_ID
              : PAYMENT_METHOD_UPON_DELIVERY_ID,
        };
      } else {
        if (
          this.paymentMethod === PAYMENT_METHOD_CREDIT_CARD &&
          !this.$refs.ccForm.validate()
        ) {
          return;
        }

        if (
          this.paymentMethod === PAYMENT_METHOD_PSE &&
          !this.$refs.pseForm.validate()
        ) {
          return;
        }
        if (
          this.paymentMethod === PAYMENT_METHOD_NEQUI &&
          !this.$refs.nequiForm.validate()
        ) {
          return;
        }

        if (this.paymentMethod === PAYMENT_METHOD_PSE) {
          extraParams = {
            doc_type: this.pseDocType,
            user_type: this.pseCustomerType,
            amount_in_cents: this.total * 100,
            doc_number: this.pseDocumentNumber,
            payment_method: PAYMENT_METHOD_PSE_ID,
            financial_institution_code: this.pseBank,
            acceptance_token: this.policiesAcceptanceToken,
            redirect_url: `${process.env.VUE_APP_BASE_URL}${this.orderStatusPath}`,
          };
        } else if (this.paymentMethod === PAYMENT_METHOD_CREDIT_CARD) {
          extraParams = {
            amount_in_cents: this.total * 100,
            payment_method: PAYMENT_METHOD_CREDIT_CARD_ID,
            acceptance_token: this.policiesAcceptanceToken,
            credit_card: {
              cvc: String(this.ccCode),
              number: String(this.ccNumber),
              card_holder: this.ccOwner,
              exp_month: this.ccDateInput.value.split("-")[1],
              exp_year: this.$moment(this.ccDateInput.value, "YYYY-MM").format(
                "YY"
              ),
            },
          };
        } else if (this.paymentMethod === PAYMENT_METHOD_NEQUI) {
          extraParams = {
            phone: this.nequiPhone,
            amount_in_cents: this.total * 100,
            payment_method: PAYMENT_METHOD_NEQUI_ID,
            acceptance_token: this.policiesAcceptanceToken,
          };
        } else if (this.paymentMethod === PAYMENT_METHOD_BANCOLOMBIA_TRANSFER) {
          extraParams = {
            amount_in_cents: this.total * 100,
            acceptance_token: this.policiesAcceptanceToken,
            redirect_url: `${process.env.VUE_APP_BASE_URL}${this.orderStatusPath}`,
            payment_method: PAYMENT_METHOD_BANCOLOMBIA_TRANSFER_ID,
          };

          if (process.env.VUE_APP_ENV == "DEV") {
            extraParams.sandbox_status = "APPROVED";
          }
        }
      }
      if (this.$session.exists()) {
        this.createOrder(extraParams);
      } else {
        this.fetchGestToken(extraParams);
      }
    },
    createOrder(extraParams, headers) {
      fbq("track", "Purchase", { value: this.total, currency: "COP" });
      gtag('event', 'purchase', {
        value: this.total
      });

      try {
        var params = {
          status: 1,
          order_type: 1,
          payment_data: extraParams,
          total_price: this.subTotal,
          sale_point: this.salePoint.id,
          delivery_price: this.delivery,
          annotations: this.cash || null,
          message: this.giftInfo.message,
          address: this.deliveryAddress.id,
          delivery_name: this.giftInfo.receiverName,
          payment_method: extraParams.payment_method,
          order_details: this.cartItems.map((p) => ({
            product: p.id,
            unit_price: p.price,
            quantity: p.quantity,
            product_configs: p.detail,
          })),
        };

        if (this.deliveryDate) {
          params = Object.assign(params, { delivery_date: this.deliveryDate });
        }
        if (!this.$session.exists()) {
          params = Object.assign(params, { guest_data: this.guestInfo });
        }

        var config = {
          data: params,
          method: "post",
          url: this.urlConstants.StoreUrls.order,
        };

        if (headers) {
          config = Object.assign(config, { ...headers });
        }

        this.submmitting = true;
        this.axios(config)
          .then((response) => {
            fbq("track", "Purchase", { value: this.total, currency: "COP" });
            gtag('event', 'purchase', {
              value: this.total
            });
            this.$store.dispatch(CLEAR_CART);

            switch (params.payment_method) {
              // PAGOS PSE Y TRANSFERENCIA DEBEN REDIRECCIONAR LA URL DEL SERVICIO BANCARIO
              case PAYMENT_METHOD_PSE_ID:
              case PAYMENT_METHOD_BANCOLOMBIA_TRANSFER_ID:
                location.href = response.data.pse_link;
                break;
              // PAGOS CONTRAENTREGA REDIRECCIONAN A LA PAGINA DE SEGUIMIENTO
              case PAYMENT_METHOD_BANCOLOMBIA_QR_ID:
              case PAYMENT_METHOD_UPON_DELIVERY_ID:
                this.$store.commit(IN_PROGRESS_ORDER, response.data);
                this.$nextTick(() =>
                  this.$router.push({
                    name: "OrderTracing",
                    params: { orderId: response.data.id },
                  })
                );
                break;
              // PAGOS CON NEQUI Y CON TC REDIRECCIONAR A LA URL DEL RESUMEN DE TRANSACCIÓN
              case PAYMENT_METHOD_NEQUI_ID:
              case PAYMENT_METHOD_CREDIT_CARD_ID:
                this.wompiTransactionId = response.data.wompi_transaction_id;
                if (params.payment_method == PAYMENT_METHOD_NEQUI_ID) {
                  this.showNequiNotification = true;
                } else {
                  this.$nextTick(() =>
                    this.$router.push({
                      name: "OrderConfirmation",
                      query: { id: this.wompiTransactionId },
                    })
                  );
                }
                break;
            }
          })
          .catch((error) => {
            var errorMsg =
              "No pudimos recibir tu pedido, por favor intenta nuevamente.";
            if (error.response && error.response.data) {
              if (error.response.data.error) {
                forOwn(error.response.data.error.messages, (value, key) => {
                  errorMsg += value[0];
                });
              }

              if (error.response.data.out_of_stock) {
                this.productsOutOfStock = error.response.data.out_of_stock;
                this.showDialogEditQty = true;
                return;
              }
            }

            this.$emit("notify", "error", errorMsg);
          })
          .finally(() => {
            this.submmitting = false;
            if (this.paymentType === PAYMENT_TYPE_ONLINE) {
              this.fetchWompiAcceptanceToken();
            }
          });
      } catch (error) {
        this.$emit(
          "notify",
          "error",
          "Ocurrió un problema, por favor intenta nuevamente."
        );
      }
    },
    formatDisplayedDate() {
      this.ccDateInput.display = this.ccDateInput.value
        ? this.$moment(this.ccDateInput.value).format("YY/MM")
        : "";
    },
    setPaymentMethod() {
      this.paymentMethod =
        this.paymentType === PAYMENT_TYPE_CASH
          ? PAYMENT_METHOD_UPON_DELIVERY
          : PAYMENT_METHOD_CREDIT_CARD;

      if (this.paymentType === PAYMENT_TYPE_ONLINE) {
        this.fetchWompiAcceptanceToken();
      }
    },
    fetchWompiAcceptanceToken() {
      this.axios
        .get(this.urlConstants.StoreUrls.wompiTokenAcceptance)
        .then((response) => {
          this.policiesAcceptanceLink =
            response.data.presigned_acceptance.permalink;
          this.policiesAcceptanceToken =
            response.data.presigned_acceptance.acceptance_token;
        })
        .catch((error) => {
          console.error(
            "Ocurrió un error conectando con la pasarela de pagos."
          );
        });
    },
    fetchWompiBanks() {
      this.axios
        .get(this.urlConstants.StoreUrls.wompiBankList)
        .then((response) => {
          this.pseBankList = response.data.data.map((b) => ({
            id: b.financial_institution_code,
            name: b.financial_institution_name,
          }));
        })
        .catch((error) => {
          console.error(
            "Ocurrió un error conectando con la pasarela de pagos."
          );
        });
    },
    async fetchGestToken(extraParams) {
      this.submmitting = true;
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("login");

      const params = {
        recaptcha_token: reCaptchaToken,
        email: process.env.VUE_APP_GUEST_USERNAME,
        password: process.env.VUE_APP_GUEST_USER_PASSWORD,
      };

      this.axios
        .post(this.urlConstants.AuthUrls.login, params)
        .then((res) => {
          this.createOrder(extraParams, {
            headers: { Authorization: `Token ${res.data.auth_token}` },
          });
        })
        .catch((error) => {
          var errorMsg =
            "Ocurrió un problema, por favor intenta en unos minutos";

          return this.$emit("notify", "error", errorMsg);
        })
        .then((res) => (this.submmitting = false));
    },
  },
};
</script>
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>