@font-face
    font-family: Wicked Grit
    src: url('../assets/fonts/WickedGrit.ttf') format('truetype')

@font-face
    font-family: Gilroy ExtraBold
    src: url('../assets/fonts/Gilroy-ExtraBold.otf') format('opentype')

@font-face
    font-family: Gilroy Light
    src: url('../assets/fonts/Gilroy-Light.otf') format('opentype')

.login-signin-form-head
    font-family: Wicked Grit, Regular
    text-align: center
    font-size: 40px
    letter-spacing: -1.6px
    color: #7A4763
    opacity: 1

.login-signin-form-subtitle
    font-family: Gilroy Light
    text-align: center
    font-size: 30px
    letter-spacing: 0px
    color: #424242
    opacity: 1

.login-signin-links
    font-family: Gilroy ExtraBold
    text-align: left
    font-size: 18px
    letter-spacing: 0px
    color: #424242
    opacity: 1

.elipse-rounded
    background: #DCEFE2 0% 0% no-repeat padding-box
    opacity: 1
    border-radius: 50%

.active-main-menu-item
    font-family: Gilroy ExtraBold
    color: #6B9BA0 !important
    border-bottom: 2px solid #6B9BA0 !important
    &::before
        opacity: 0 !important

.sections-wheat-bg
    background: transparent url('../assets/body_bg.svg') 0% 0% no-repeat padding-box
    opacity: 1

.sections-wheat-patron-bg
    background: transparent url('../assets/wheat_patron_bg.svg') 0% 0% padding-box
    opacity: 1
.small-sections-wheat-patron-bg
    background: transparent url('../assets/small_section_wheat_bg.svg') 0% 0% padding-box
    opacity: 1

.pac-input-container
    display: contents !important

.pac-target-input
    &::placeholder
        font-size: 20px !important

.principal-address
    border: 4px solid #D84B0E !important

.secondary-address
    border: 1px solid #F9C9A5 !important

$font-sizes: (18: 18px, 20: 20px, 25: 25px, 30: 30px, 35: 35px, 40: 40px, 50: 50px, 60: 60px, 100: 100px, 120: 120px)
@each $sizename, $size in $font-sizes
    .fs-#{$sizename}
        font-size: $size !important

$font-families: ('wicked-grit':' Wicked Grit','gilroy-extra-bold': 'Gilroy ExtraBold','gilroy-light': 'Gilroy Light')
@each $familyname, $family in $font-families
    .ff--#{$familyname}
        font-family: #{$family} !important

$garosa-colors: (primary: #D84B0E, secondary: #F9C9A5, title: #7A4763, grey: #707070, 'dark-grey': #424242)
@each $colorname, $color in $garosa-colors
    .garosa-#{$colorname}-text
        color: $color !important

$borders: (10: 10px, 20: 20px, 40: 40px)
@each $bordername, $border in $borders
    .br-#{$bordername}
        border-radius: $border !important

// Scrollbar style
/* width */
::-webkit-scrollbar
    width: 9px

/* Track */
::-webkit-scrollbar-track
    color: transparent

/* Handle */
::-webkit-scrollbar-thumb
    background: #B3D8DD
    border-radius: 30px

/* Mozilla*/
*
    scrollbar-color: #B3D8DD transparent
