$body-font-family: 'Gilroy Light';
$font-size-root: 20px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (small: 20);
$btn-font-sizes: (default: 1rem, large: 1rem);
$btn-sizes: (default: 41, large: 54);
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$card-text-font-size: 16px;

$headings: ('h1': ('size': 3.3125rem,
    'line-height': 1.15em),
  'h2': ('size': 2.25rem,
    'line-height': 1.5em),
  'h3': ('size': 1.5625rem,
    'line-height': 1.4em),
  'h4': ('size': 1.125rem,
    'line-height': 1.4em),
  'h5': ('size': 1.0625rem),
  'h6': ('size': .75rem),
  'subtitle-2': ('size': 1rem),
  'overline': ('letter-spacing': 0));