<template>
  <v-container fluid class="pa-5" tag="section">
    <v-row justify="center" align="start">
      <v-col cols="12" md="6" style="min-height: 85vh">
        <v-card flat color="transparent" max-width="550" class="mx-auto">
          <v-card-title
            style="word-break: break-word"
            class="mx-auto text-center fs-30 garosa-primary-text ff--gilroy-extra-bold"
            v-text="`¡Qué alegría! Estamos listos para crear un nuevo sueño`"
          />

          <v-card-text class="mt-12">
            <v-tabs
              v-model="currentTab"
              centered
              fixed-tabs
              show-arrows
              center-active
              color="buttonMainColor"
              active-class="fs-25 garosa-primary-text"
            >
              <v-tab
                href="#tab-info"
                class="text-uppercase account-tab fs-20 ff--gilroy-extra-bold"
                v-text="`info`"
              />
              <v-tab
                href="#tab-schedule"
                class="text-uppercase account-tab fs-20 ff--gilroy-extra-bold"
                v-text="`Horario`"
              />
            </v-tabs>

            <v-tabs-items v-model="currentTab" class="mt-12">
              <v-tab-item value="tab-info">
                <v-form ref="formInfo" lazy-validation>
                  <v-row dense>
                    <v-col cols="12">
                      <v-text-field
                        v-model="salePoint.name"
                        v-bind="inputAttrs"
                        label="¡Pongámosle nombre!"
                      />
                    </v-col>
                    <v-col cols="12">
                      <v-select
                        v-model.number="salePoint.city.id"
                        label="Ciudad"
                        :items="cities"
                        item-value="id"
                        item-text="name"
                        v-bind="inputAttrs"
                        :loading="loadingCities"
                      >
                        <template v-slot:item="{ attrs, item, on }">
                          <v-list-item
                            elevation="0"
                            v-bind="attrs"
                            class="mx-3 mb-2 v-sheet"
                            active-class="buttonMainColor lighten-2 elevation-1 white--text"
                            v-on="on"
                          >
                            <v-list-item-content>
                              <v-list-item-title
                                class="fs-20"
                                :class="{
                                  'font-weight-bold': attrs.inputValue,
                                }"
                                v-text="item.name"
                              />
                            </v-list-item-content>

                            <v-scale-transition>
                              <v-list-item-icon
                                v-if="attrs.inputValue"
                                class="my-3"
                              >
                                <v-icon>mdi-check</v-icon>
                              </v-list-item-icon>
                            </v-scale-transition>
                          </v-list-item>
                        </template>
                      </v-select>
                    </v-col>

                    <v-col cols="12">
                      <span>
                        <div
                          class="v-input v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--enclosed v-text-field--outlined v-text-field--rounded my-0 py-0"
                        >
                          <div class="v-input__control">
                            <div class="v-input__slot">
                              <fieldset aria-hidden="true">
                                <legend style="width: 70.5px">
                                  <span>​</span>
                                </legend>
                              </fieldset>
                              <div class="v-text-field__slot">
                                <label
                                  for="gmap-auto-complete-161"
                                  class="v-label v-label--active theme--light"
                                  style="
                                    left: 0px;
                                    right: auto;
                                    position: absolute;
                                  "
                                  >Dirección</label
                                >
                                <google-map-autocomplete
                                  id="gmap-auto-complete-161"
                                  ref="autocomplete"
                                  v-model="address"
                                  :controls="false"
                                  placeholder="Dirección"
                                  style="display: contents"
                                  @place-changed="setPlace"
                                />
                              </div>
                            </div>
                            <div class="v-text-field__details">
                              <div class="v-messages theme--light">
                                <div
                                  v-if="salePoint.address"
                                  class="v-messages__wrapper"
                                >
                                  Actual: {{ salePoint.address }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </span>
                    </v-col>

                    <v-col cols="12">
                      <v-text-field
                        v-model="salePoint.day_message"
                        v-bind="inputAttrs"
                        label="Mensaje del día"
                        counter="200"
                      />
                    </v-col>

                    <v-checkbox
                      v-model="salePoint.is_principal"
                      v-bind="inputAttrs"
                      label="Marcar como local principal."
                    />

                    <v-col cols="12" class="row justify-space-around">
                      <div class="fs-18 ff--gilroy-extra-bold mt-3">
                        ¿Cuántas mesas disponibles?
                      </div>

                      <v-text-field
                        id="input-seating"
                        v-model.number="salePoint.seatings"
                        v-bind="inputAttrs"
                        style="max-width: 170px"
                      >
                        <template v-slot:prepend-inner>
                          <v-btn
                            fab
                            x-small
                            elevation="0"
                            class="mt-n1"
                            color="buttonMainColor"
                            @click="setSeatingQty(-1)"
                          >
                            <v-icon>mdi-minus</v-icon>
                          </v-btn>
                        </template>
                        <template v-slot:append>
                          <v-btn
                            fab
                            x-small
                            elevation="0"
                            class="mt-n1 mr-n1"
                            color="buttonMainColor"
                            @click="setSeatingQty(1)"
                          >
                            <v-icon>mdi-plus</v-icon>
                          </v-btn>
                        </template>
                      </v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
              </v-tab-item>

              <v-tab-item value="tab-schedule">
                <v-form ref="formSchedule">
                  <v-row
                    v-for="(day, i) in days"
                    :key="day.index"
                    dense
                    class="mb-2"
                    justify="center"
                    align="baseline"
                  >
                    <v-col
                      cols="3"
                      class="fs-18 ff--gilroy-extra-bold text-capitalize"
                      >{{ day.name }}</v-col
                    >
                    <v-col cols="4">
                      <v-menu
                        :ref="day.name"
                        v-model="day.start_show"
                        :nudge-right="40"
                        transition="scale-transition"
                        :close-on-content-click="false"
                        :return-value.sync="day.start_hour"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="day.start_hour"
                            readonly
                            clearable
                            hide-details
                            single-line
                            placeholder="00-00"
                            v-bind="{ ...attrs, ...inputAttrs }"
                            v-on="on"
                          />
                        </template>
                        <v-time-picker
                          v-model="day.start_hour"
                          scrollable
                          width="320"
                          color="buttonMainColor"
                          header-color="inputColor"
                        >
                          <v-spacer />
                          <pages-btn
                            outlined
                            width="35%"
                            color="buttonMainColor"
                            class="text-capitalize"
                            @click="day.start_show = false"
                            v-text="`Cancelar`"
                          />
                          <pages-btn
                            width="35%"
                            @click="
                              $refs[`${day.name}`][0].save(day.start_hour)
                            "
                            v-text="`OK`"
                          />
                        </v-time-picker>
                      </v-menu> </v-col
                    >-
                    <v-col cols="4">
                      <v-menu
                        :ref="day.index"
                        v-model="day.end_show"
                        :nudge-right="40"
                        transition="scale-transition"
                        :close-on-content-click="false"
                        :return-value.sync="day.end_hour"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="day.end_hour"
                            readonly
                            clearable
                            hide-details
                            placeholder="00-00"
                            v-bind="{ ...attrs, ...inputAttrs }"
                            v-on="on"
                          />
                        </template>
                        <v-time-picker
                          v-model="day.end_hour"
                          scrollable
                          width="320"
                          color="buttonMainColor"
                          header-color="inputColor"
                        >
                          <v-spacer />
                          <pages-btn
                            outlined
                            width="35%"
                            color="buttonMainColor"
                            class="text-capitalize"
                            @click="day.end_show = false"
                            v-text="`Cancelar`"
                          />
                          <pages-btn
                            width="35%"
                            @click="$refs[`${day.index}`][0].save(day.end_hour)"
                            v-text="`OK`"
                          />
                        </v-time-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                </v-form>
              </v-tab-item>
            </v-tabs-items>
          </v-card-text>

          <v-card-actions class="pt-0">
            <v-spacer />
            <pages-btn
              outlined
              :disabled="submitting"
              class="text-capitalize mr-3"
              @click="goToList()"
              v-text="`Cancelar`"
            />
            <pages-btn
              type="submit"
              :loading="submitting"
              :disabled="submitting"
              class="text-capitalize"
              @click="checkParams"
              v-text="`Guardar`"
            />
            <v-spacer />
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col cols="12" md="6" style="height: 85vh">
        <google-map
          id="map"
          ref="map"
          :center="mapCenter"
          :zoom="defaultMapZoom"
          :options="mapOptions"
        >
          <google-map-marker
            ref="addressMarker"
            visible
            draggable
            :position="markerPosition"
            :icon="require('@/assets/pin.png')"
            @dragend="updateLatLong"
          />

          <v-btn
            ref="map-snackbar"
            tile
            bottom
            x-large
            absolute
            elevation="0"
            color="accent"
            style="margin-left: 25%"
            class="text-none black--text"
            v-text="`Ajusta el pin en el mapa.`"
          />
        </google-map>
      </v-col>
    </v-row>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import { SALE_POINT } from "@/store/dashboard";
export default {
  name: "CreateEditSalePoint",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    cities: [],
    address: null,
    currentTab: null,
    submitting: false,
    loadingCities: false,
    days: [
      {
        id: null,
        index: 1,
        name: "Lunes",
        end_hour: null,
        end_show: false,
        start_hour: null,
        start_show: false,
      },
      {
        id: null,
        index: 2,
        show: false,
        name: "Martes",
        end_hour: null,
        end_show: false,
        start_hour: null,
        start_show: false,
      },
      {
        id: null,
        index: 3,
        show: false,
        end_hour: null,
        end_show: false,
        start_hour: null,
        start_show: false,
        name: "Miércoles",
      },
      {
        id: null,
        index: 4,
        show: false,
        name: "Jueves",
        end_hour: null,
        end_show: false,
        start_hour: null,
        start_show: false,
      },
      {
        index: 5,
        id: null,
        show: false,
        end_hour: null,
        end_show: false,
        name: "Viernes",
        start_hour: null,
        start_show: false,
      },
      {
        id: null,
        index: 6,
        show: false,
        name: "sábado",
        end_hour: null,
        end_show: false,
        start_hour: null,
        start_show: false,
      },
      {
        id: null,
        index: 7,
        show: false,
        end_hour: null,
        end_show: false,
        name: "domingo",
        start_hour: null,
        start_show: false,
      },
    ],
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    mapOptions: {
      zoomControl: true,
      scaleControl: false,
      rotateControl: false,
      mapTypeControl: false,
      streetViewControl: false,
      fullscreenControl: false,
      disableDefautltUI: false,
    },
    mapCenter: {
      lat: 10.9906729,
      lng: -74.8658095,
    },
    markerPosition: {
      lat: 10.9906729,
      lng: -74.8658095,
    },
    defaultMapZoom: 14,
  }),
  computed: {
    salePoint: {
      get() {
        return this.$store.getters[SALE_POINT];
      },
      set(val) {
        this.$store.commit(SALE_POINT, val);
      },
    },
  },
  mounted() {
    this.fetchCities();
    if (!this.salePoint.id) {
      if (this.$route.path.includes("edit")) this.setSalePoint();
      else this.getCurrentLocation();
    } else {
      this.setMarkerPosition();
      this.assignSchedule();
    }

    this.$refs["map-snackbar"].$parent.$el.lastElementChild.removeAttribute(
      "class"
    );
  },
  beforeDestroy() {
    this.salePoint = {
      id: null,
      name: "",
      city: {},
      latitude: 0,
      seatings: 0,
      longitude: 0,
      schedules: [],
      thumbnail: "",
      description: "",
      day_message: "",
      is_principal: false,
    };
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    setTime(index, val) {
      this.$refs[`timeMenu${index}`][0].save(val);
    },
    assignSchedule() {
      this.days.forEach((day) => {
        const sch =
          this.salePoint.schedules.find((v) => v.day === day.index) || {};
        if (sch.id) {
          day = Object.assign(day, sch);
        }
      });
    },
    goToList() {
      this.$router.push({ name: "SalePoints" });
    },
    setPlace(place) {
      this.salePoint = Object.assign(this.salePoint, {
        address: place.formatted_address,
        latitude: Number(place.geometry.location.lat().toFixed(6)),
        longitude: Number(place.geometry.location.lng().toFixed(6)),
      });

      this.setMarkerPosition();
    },
    setMarkerPosition(reset) {
      if (reset) this.markerPosition = this.mapCenter;
      else {
        this.markerPosition = {
          lat: Number(this.salePoint.latitude),
          lng: Number(this.salePoint.longitude),
        };
      }

      this.mapCenter = this.markerPosition;
      this.defaultMapZoom = reset ? 14 : 15;
      this.$refs.map.panTo(this.markerPosition);
      this.$refs.map.setCenter(this.markerPosition);
    },
    getCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            this.mapCenter = {
              lat: latitude,
              lng: longitude,
            };
            this.setMarkerPosition(true);
          },
          (error) => {
            this.notify(
              "info",
              "No pudimos obtener tu ubicación, por favor ingresa tu dirección."
            );
          },
          {
            enableHighAccuracy: true,
            maximumAge: 5000,
          }
        );
      }
    },
    updateLatLong(event) {
      this.$set(this.salePoint, "latitude", event.latLng.lat().toFixed(6));
      this.$set(this.salePoint, "longitude", event.latLng.lng().toFixed(6));
    },
    setSeatingQty(qty) {
      const finalQty =
        this.salePoint.seatings <= 0 && qty < 1
          ? 0
          : this.salePoint.seatings + qty;

      this.$set(this.salePoint, "seatings", finalQty);
    },
    checkParams() {
      try {
        if (!this.salePoint.name) throw new Error("¿Cómo se llamará el local?");
        if (!this.salePoint.city.id) {
          throw new Error("¿En qué ciudad esá ubicado el local?");
        }
        if (!this.salePoint.seatings < 0) {
          throw new Error("Ingrese una cantidad válida de mesas.");
        }

        if (
          !this.salePoint.address ||
          !this.salePoint.latitude ||
          !this.salePoint.longitude
        ) {
          throw new Error("¿Cúal es la dirección del local?");
        }

        if (
          this.salePoint.day_message &&
          this.salePoint.day_message.length > 200
        ) {
          throw new Error(
            "El mensaje del día no debe superar los 200 caracteres"
          );
        }

        this.checkSchedule();
        const salePoint = this.salePoint;
        const photoParams = {
          zoom: 14,
          sensor: false,
          size: "500x500",
          key: process.env.VUE_APP_GOOGLE_API_KEY,
          center: `${salePoint.latitude},${salePoint.longitude}`,
        };
        this.submitting = true;
        this.getGoogleImage(salePoint).then((urlData) =>
          this.saveSalePoint(urlData)
        );
      } catch (error) {
        this.notify("warning", error.message);
      }
    },
    checkSchedule() {
      this.days.forEach((sch) => {
        if (sch.start_hour && !sch.end_hour) {
          throw new Error("Complete el horario para el día " + sch.name);
        }
        if (!sch.start_hour && sch.end_hour) {
          throw new Error("Complete el horario para el día " + sch.name);
        }
      });

      const unscheduleDays = this.days.filter(
        (sch) => !sch.start_hour && !sch.end_hour
      );
      if (unscheduleDays.length === this.days.length) {
        throw new Error(
          "Aún hace falta la información de los horarios de atención."
        );
      }
    },
    saveSalePoint(photo) {
      var params = new FormData();
      params.append("is_active", 1);
      params.append("thumbnail", photo);
      params.append("name", this.salePoint.name);
      params.append("city", this.salePoint.city.id);
      params.append("address", this.salePoint.address);
      params.append("latitude", this.salePoint.latitude);
      params.append("seatings", this.salePoint.seatings);
      params.append("longitude", this.salePoint.longitude);
      params.append("day_message", this.salePoint.day_message);
      params.append("is_principal", this.salePoint.is_principal);
      params.append(
        "schedules",
        JSON.stringify(
          this.days.map((d) => {
            var sch = {
              day: d.index,
              is_active: true,
              end_hour: d.end_hour || "00:00",
              start_hour: d.start_hour || "00:00",
            };
            if (d.id) sch = Object.assign(sch, { id: d.id });
            return sch;
          })
        )
      );

      const cfg = {
        data: params,
        method: this.salePoint.id ? "patch" : "post",
        url: this.urlConstants.GralInfoUrls.salesPoint.concat(
          this.salePoint.id ? `/${this.salePoint.id}` : ""
        ),
      };

      this.axios(cfg)
        .then((response) => {
          this.notify(
            "success",
            "¡Listo! La información del local fue registrada exitosamente."
          );
          setTimeout(() => {
            this.goToList();
          }, 1500);
        })
        .catch((error) => {
          return this.notify(
            "error",
            "Ocurrió un error guardando la información, por favor intenta nuevamente."
          );
        })
        .finally(() => (this.submitting = false));
    },
    fetchCities() {
      this.loadingCities = true;
      this.axios
        .get(this.urlConstants.GralInfoUrls.city)
        .then((response) => (this.cities = response.data))
        .finally((response) => (this.loadingCities = false));
    },
    getGoogleImage(salePoint) {
      const photoParams = {
        zoom: 16,
        sensor: false,
        size: "500x500",
        key: process.env.VUE_APP_GOOGLE_API_KEY,
        center: `${salePoint.latitude},${salePoint.longitude}`,
      };

      return fetch(
        `https://maps.googleapis.com/maps/api/staticmap?${this.serialize(
          photoParams
        )}`
      )
        .then((response) => response.blob())
        .then(
          (blob) =>
            new Promise((resolve, reject) => {
              const reader = new FileReader();
              reader.onloadend = () => resolve(reader.result);
              reader.onerror = reject;
              reader.readAsDataURL(blob);
            })
        );
    },
    setSalePoint() {
      this.axios
        .get(
          this.urlConstants.GralInfoUrls.salesPoint.concat(
            "/",
            this.$route.params.salePointId
          )
        )
        .then((response) => {
          this.$store.commit(SALE_POINT, response.data);
          this.setMarkerPosition();
          this.assignSchedule();
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información del local."
          );
        });
    },
  },
};
</script>
<style lang="sass" >
.account-tab
  background-color: transparent
  border-bottom: 2px solid #F9C9A5
#input-seating
  text-align: center !important
</style>
