<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon
          large
          color="accent"
          aria-label="close"
          @click="closeModal()"
        >
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;letter-spacing: 0px;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¡No te preocupes! Cuando se cierra una puerta, se abren otras más.`"
        />
      </v-card-text>

      <v-card-actions class="mb-12 mt-12">
        <v-spacer />
        <pages-btn
          outlined
          width="45%"
          class="text-none"
          :disabled="submitting"
          @click="closeModal()"
          v-text="`¡Ups! No vamos a cerrar`"
        />
        <v-spacer />
        <pages-btn
          width="45%"
          class="text-none"
          :loading="submitting"
          :disabled="submitting"
          @click="submit"
          v-text="status ? 'Cerrar local' : 'Reabrir local'"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'DialogLockSalePoint',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    props: {
      visible: {
        type: Boolean,
        default: false,
        required: true,
      },
      salePointId: {
        default: 0,
        type: Number,
        required: true,
      },
      status: {
        default: true,
        type: Boolean,
        required: true,
      },
    },
    data: () => ({
      submitting: false,
    }),
    methods: {
      closeModal () {
        this.$emit('close')
      },
      submit () {
        const data = new FormData()

        data.append('is_active', !this.status)
        var config = {
          data,
          method: 'patch',
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          url: this.urlConstants.GralInfoUrls.salesPoint.concat(
            '/',
            this.salePointId,
          ),
        }

        this.submitting = true
        this.axios(config)
          .then((response) => {
            this.$emit(
              'notify',
              'success',
              'Punto de venta actualizado exitosamente',
            )
            this.$emit('refresh')
            this.closeModal()
          })
          .catch((error) => {
            return this.$emit(
              'notify',
              'error',
              'Ocurrió un error, intenta nuevamente',
            )
          })
          .then(() => (this.submitting = false))
      },
    },
  }
</script>
