<template>
  <v-container fluid class="pa-5" tag="section">
    <v-row>
      <v-col cols="12" md="3">
        <v-card
          hover
          outlined
          height="400"
          class="dashed-border br-20 pa-3"
          @click="$router.push({ name: 'CreateSalePoint' })"
        >
          <v-card-text class="text-center">
            <v-btn fab width="200" height="200" elevation="0" color="accent">
              <v-icon size="150"> mdi-plus </v-icon>
            </v-btn>
            <div
              class="fs-25 mt-5"
              v-text="`Haz clic aquí para crear un nuevo local.`"
            />
          </v-card-text>
        </v-card>
      </v-col>
      <template v-if="loading">
        <v-col v-for="i in 10" :key="i" cols="12" md="3" align-self="center">
          <v-skeleton-loader
            loading
            type="card"
            elevation="1"
            height="325"
            transition="scale-transition"
          />
        </v-col>
      </template>
      <template v-else>
        <v-col
          v-for="salePoint in salePoints"
          :key="salePoint.id"
          cols="12"
          md="3"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card hover outlined class="br-20" height="400">
              <v-img
                height="290"
                :aspect-ratio="16 / 9"
                :src="salePoint.thumbnail"
                class="align-center d-flex justify-center text-center"
                gradient="to top right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.15)"
              >
                <v-icon
                  size="77"
                  color="buttonMainColor"
                  class="align-self-center"
                >
                  mdi-map-marker
                </v-icon>
              </v-img>
              <v-card-text
                class="fs-25 ff--gilroy-extra-bold text-uppercase text-truncate"
                :class="
                  salePoint.is_active ? 'garosa-primary-text' : 'text--disabled'
                "
                v-text="salePoint.name"
              />
              <v-card-actions class="pt-0">
                <span
                  class="fs-20 ml-2 text-truncate"
                  v-text="salePoint.city.name"
                />
                <v-spacer />
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-slide-x-transition>
                      <v-btn
                        v-show="hover"
                        icon
                        small
                        color="accent"
                        v-on="on"
                        @click="editSalePoint(salePoint)"
                      >
                        <v-icon v-text="`mdi-pencil`" />
                      </v-btn>
                    </v-slide-x-transition>
                  </template>
                  <span v-text="`Editar`" />
                </v-tooltip>

                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-slide-x-reverse-transition>
                      <v-btn
                        v-show="hover"
                        icon
                        small
                        color="accent"
                        v-on="on"
                        @click="lockProduct(salePoint)"
                      >
                        <v-icon
                          v-text="
                            salePoint.is_active
                              ? 'mdi-lock-outline'
                              : 'mdi-lock-open-variant-outline'
                          "
                        />
                      </v-btn>
                    </v-slide-x-reverse-transition>
                  </template>
                  <span v-text="salePoint.is_active ? 'Cerrar' : 'Reabrir'" />
                </v-tooltip>
              </v-card-actions>
            </v-card>
          </v-hover>
        </v-col>
      </template>
    </v-row>
    <dialog-lock-sale-point
      :visible="showLockDialog"
      :status="salePointStatus"
      :sale-point-id="salePointId"
      @notify="notify"
      @close="cancelLock"
      @refresh="fetchInfo"
    />
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import { SALE_POINT } from "@/store/dashboard";
export default {
  name: "DashboardSalesPoints",
  components: {
    DialogLockSalePoint: () => import("./DialogLock"),
  },
  data: () => ({
    loading: false,
    salePoints: [],
    salePointId: 0,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    showLockDialog: false,
    salePointStatus: false,
  }),
  mounted() {
    this.fetchInfo();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchInfo() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint)
        .then((response) => (this.salePoints = response.data))
        .catch((error) =>
          this.notify("error", "Ocurrió un error obteniendo la información.")
        )
        .finally(() =>
          setTimeout(() => {
            this.loading = false;
          }, 1500)
        );
    },
    lockProduct(record) {
      this.salePointId = record.id;
      this.salePointStatus = record.is_active;
      this.$nextTick(() => (this.showLockDialog = true));
    },
    cancelLock() {
      this.salePointId = 0;
      this.showLockDialog = false;
      this.salePointStatus = false;
    },
    editSalePoint(record) {
      this.$store.commit(SALE_POINT, record);
      this.$nextTick(() => {
        this.$router.push({
          name: "EditSalePoint",
          params: { salePointId: record.id },
        });
      });
    },
  },
};
</script>
<style lang="sass" scoped>
.dashed-border
  border: 1px dashed #6B9BA0
</style>
