<template>
  <v-container class="pa-5" tag="section">
    <v-row align="center" justify="center" style="height: 75vh" class="pb-5">
      <v-col cols="12" md="4" class="fill-height py-0">
        <product-list @notify="notify" />
      </v-col>
      <v-col cols="12" md="8" class="fill-height overflow-y-auto">
        <v-subheader class="fs-30 black--text mb-5">
          <span style="font-style: italic" class="italic"
            >Información del cliente</span
          >
          <base-divider
            inset
            role="presentation"
            style="border: 1px solid #d84b0e"
          />
        </v-subheader>

        <v-form ref="formCustomerInfo" lazy-validation class="px-4">
          <v-row dense>
            <v-col cols="12" :md="deliveryType === 1 ? 6 : 12" class="py-0">
              <v-text-field
                v-if="deliveryType === 1"
                v-model="customer"
                label="Cliente"
                v-bind="inputAttrs"
              />
              <v-autocomplete
                v-else
                v-model="customer"
                item-value="id"
                label="Cliente"
                :items="customers"
                v-bind="inputAttrs"
                item-text="full_name"
                :loading="loadingCustomers"
                @change="setCustomerInfo"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{ 'font-weight-bold': attrs.inputValue }"
                        v-text="item.full_name"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>

                <template v-if="deliveryType !== 1" v-slot:append-outer>
                  <v-btn
                    fab
                    elevation="0"
                    class="mt-n5"
                    color="buttonMainColor"
                    @click="showDialogCreateUser = true"
                  >
                    <v-icon large>mdi-plus</v-icon>
                  </v-btn>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col v-if="deliveryType === 1" cols="12" md="6" class="py-0">
              <v-select
                v-model="seating"
                label="Mesa"
                item-text="name"
                :items="seatings"
                item-value="number"
                v-bind="inputAttrs"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{ 'font-weight-bold': attrs.inputValue }"
                        v-text="item.name"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-select>
            </v-col>
            <v-col v-if="deliveryType === 2" cols="12" md="6" class="py-0">
              <v-select
                v-model="address"
                item-value="id"
                label="Dirección"
                :items="addresses"
                item-text="address"
                v-bind="inputAttrs"
                :loading="loadingAddresses"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{ 'font-weight-bold': attrs.inputValue }"
                        v-text="item.address"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-select>
            </v-col>
            <v-col v-if="deliveryType === 2" cols="12" md="6" class="py-0">
              <v-autocomplete
                v-model="phone"
                v-bind="inputAttrs"
                label="Teléfono"
                item-text="phone_number"
                item-value="phone_number"
                :items="phoneNumbers"
                :loading="loadingCustomers"
                @change="setCustomerByPhoneInfo"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{ 'font-weight-bold': attrs.inputValue }"
                        v-text="item.phone_number"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col v-if="deliveryType === 2" cols="12" md="6" class="py-0">
              <v-text-field
                v-model.number="delivery"
                prefix="$"
                v-bind="inputAttrs"
                label="Costo de domicilio"
              />
            </v-col>
            <v-col cols="12" md="6" class="py-0">
              <v-select
                v-model="paymentMethod"
                item-value="id"
                item-text="name"
                v-bind="inputAttrs"
                label="Método de pago"
                :items="paymentMethods"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{ 'font-weight-bold': attrs.inputValue }"
                        v-text="item.name"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-select>
            </v-col>
            <v-col
              v-show="paymentMethod === paymentMethodDelivery"
              cols="12"
              md="6"
              class="py-0"
            >
              <v-scroll-x-transition>
                <v-text-field
                  v-model.number="cash"
                  prefix="$"
                  type="number"
                  v-bind="inputAttrs"
                  label="¿De cuánto es tu billete?"
                />
              </v-scroll-x-transition>
            </v-col>
          </v-row>
          <v-checkbox
            v-if="deliveryType === 2"
            v-model="isGift"
            class="my-0 py-0"
            color="buttonMainColor"
            label="Marcar para regalo"
          />
        </v-form>

        <v-subheader class="fs-30 black--text">
          <span style="font-style: italic" class="italic">Pedido</span>
          <base-divider
            inset
            role="presentation"
            style="border: 1px solid #d84b0e"
          />
        </v-subheader>
        <pages-cart-product-card
          v-for="(product, i) in cartItems"
          :key="i"
          :product="product"
        />
      </v-col>
    </v-row>

    <v-footer absolute elevation="5" class="px-8" color="white">
      <v-spacer />
      <v-sheet
        outlined
        class="mr-12 br-10 px-3"
        style="border: 1px solid #f9c9a5"
        min-width="250"
      >
        <div
          class="fs-60 garosa-primary-text ff--gilroy-extra-bold text-center"
        >
          {{ total | money }}
        </div>
        <div
          class="fs-20 garosa-primary-text text-center mt-n4"
          v-text="`Valor total`"
        />
      </v-sheet>
      <pages-btn
        :loading="submitting"
        class="text-capitalize mr-10"
        :disabled="submitting || cartItems.length <= 0"
        @click="validateData"
        v-text="`Aprobar`"
      />
    </v-footer>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
    <dialog-set-gift-info
      :visible="showDialogGiftInfo"
      @notify="notify"
      @close="showDialogGiftInfo = false"
    />
    <dialog-new-customer
      :visible="showDialogCreateUser"
      @notify="notify"
      @confirm="fetchCustomers"
      @close="showDialogCreateUser = false"
    />

    <dialog-delivery-date
      :visible="showDialogDeliveryDate"
      @notify="notify"
      @confirm="createOrder"
      @close="showDialogDeliveryDate = false"
    />
  </v-container>
</template>

<script>
import {
  DELIVERY,
  CART_TOTAL,
  CLEAR_CART,
  CART_ITEMS,
  GIFT_INFORMATION,
  DELIVERY_ADDRESS,
  PAYMENT_METHOD_DATAPHONE_ID,
  PAYMENT_METHOD_UPON_DELIVERY_ID,
  PAYMENT_METHOD_BANCOLOMBIA_QR_ID,
} from "@/store/cart-constants";
import DialogDeliveryDate from "./components/DialogDeliveryDate.vue";

export default {
  name: "CreateOrder",
  components: {
    ProductList: () => import("./components/ProductList"),
    PagesBtn: () => import("@/views/pages/components/Btn"),
    PagesCartProductCard: () =>
      import("@/views/pages/checkout/components/ProductCard.vue"),
    DialogSetGiftInfo: () => import("./components/DialogSetGiftInfo"),
    DialogNewCustomer: () => import("./components/DialogNewCustomer"),
    DialogDeliveryDate: () => import("./components/DialogDeliveryDate"),
  },
  data: () => ({
    cash: 0,
    seating: 0,
    phone: null,
    seatings: [],
    customers: [],
    addresses: [],
    phoneNumbers: [],
    isGift: false,
    customer: null,
    submitting: false,
    paymentMethod: null,
    loadingSeatings: false,
    loadingCustomers: false,
    loadingAddresses: false,
    showDialogGiftInfo: false,
    showDialogCreateUser: false,
    showDialogDeliveryDate: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    paymentMethodDelivery: PAYMENT_METHOD_UPON_DELIVERY_ID,
    paymentMethods: [
      { id: PAYMENT_METHOD_DATAPHONE_ID, name: "Datáfono" },
      { id: PAYMENT_METHOD_UPON_DELIVERY_ID, name: "Efectivo" },
      {
        id: PAYMENT_METHOD_BANCOLOMBIA_QR_ID,
        name: "Transferencia Bancolombia",
      },
    ],
  }),
  computed: {
    subTotal() {
      return this.$store.getters[CART_TOTAL];
    },
    delivery: {
      get() {
        return this.$store.getters[DELIVERY];
      },
      set(val) {
        this.$store.commit(DELIVERY, val);
      },
    },
    address: {
      get() {
        return this.$store.getters[DELIVERY_ADDRESS];
      },
      set(val) {
        const address = this.addresses.find((ad) => ad.id === val);
        this.$store.commit(DELIVERY_ADDRESS, address);
        this.$store.dispatch(DELIVERY, address.address);
      },
    },
    total() {
      return this.subTotal + this.delivery;
    },
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
    giftInfo() {
      return this.$store.getters[GIFT_INFORMATION];
    },
    salePoint() {
      return this.getSessionInfo("sale_point");
    },
    deliveryType() {
      return parseInt(this.$route.params.deliveryType);
    },
  },
  watch: {
    isGift(val) {
      if (val) this.showDialogGiftInfo = true;
      else {
        this.$store.dispatch(GIFT_INFORMATION, {
          isGift: false,
          message: null,
          receiverName: null,
        });
      }
    },
  },
  beforeDestroy() {
    this.$store.commit(CLEAR_CART);
  },
  mounted() {
    this.fetchCustomers();
    this.fetchSeatings();
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    fetchCustomers(userId) {
      this.loadingCustomers = true;
      this.axios
        .get(this.urlConstants.AdminUrls.users, {
          params: { is_staff: 2 },
        })
        .then((response) => {
          this.customers = response.data.map((u) => ({
            ...u,
            full_name: `${u.first_name} ${u.last_name}`,
          }));

          this.phoneNumbers = response.data.map((u) => ({
            customer_id: u.id,
            phone_number: u.phone,
          }));

          if (userId) this.customer = userId;
        })
        .catch((error) =>
          this.notify("error", "Ocurrió un error cargando los clientes.")
        )
        .then(() => (this.loadingCustomers = false));
    },
    fetchSeatings() {
      this.loadingSeatings = true;
      this.axios
        .get(this.urlConstants.AdminUrls.seating, {
          params: { sale_point: this.salePoint },
        })
        .then((response) => {
          this.seatings = response.data.map((s) => ({
            ...s,
            name: `Mesa #${s.number}`,
          }));
        })
        .catch((error) =>
          this.notify("error", "Ocurrió un error cargando las mesas.")
        )
        .then(() => (this.loadingSeatings = false));
    },
    fetchCustomerAddresses() {
      this.loadingAddresses = true;
      this.axios
        .get(this.urlConstants.UserUrls.address, {
          params: { client: this.customer },
        })
        .then((response) => {
          this.addresses = response.data;
          this.address = this.addresses.length ? this.addresses[0].id : 0;
        })
        .catch((error) =>
          this.notify("error", "Ocurrió un error cargando las direcciones.")
        )
        .then(() => (this.loadingAddresses = false));
    },
    setCustomerByPhoneInfo() {
      if (this.phone) {
        this.customer = this.phoneNumbers.find(
          (ph) => ph.phone_number === this.phone
        ).customer_id;
        this.fetchCustomerAddresses();
      } else {
        this.customer = null;
        this.addresses = [];
      }
    },
    setCustomerInfo() {
      if (this.customer && this.deliveryType !== 1) {
        this.fetchCustomerAddresses();
        this.phone = this.customers.find((c) => c.id === this.customer).phone;
      } else this.addresses = [];
    },
    validateData() {
      try {
        if (!this.customer) throw new Error("Seleccione un cliente.");

        if (!this.paymentMethod) {
          throw new Error("Seleccione el método de pago.");
        }

        if (!this.cartItems.length) {
          throw new Error("Seleccione al menos un producto.");
        }

        if (this.deliveryType === 1 && !this.seating) {
          throw new Error("Seleccione una mesa.");
        }

        if (this.deliveryType === 2) {
          if (!this.address.id) {
            throw new Error("Seleccione la dirección de envío");
          }

          if (
            this.isGift &&
            (!this.giftInfo.message || !this.giftInfo.receiverName)
          ) {
            throw new Error("Hace falta la información del regalo");
          }

          if (this.paymentMethod === this.paymentMethodDelivery && !this.cash) {
            throw new Error("¿De cuánto es el billete?");
          }
        }

        const specialProduct = this.cartItems.find(
          (prd) => prd.restriction_message
        );
        if (specialProduct) {
          this.showDialogDeliveryDate = true;
          return;
        }

        this.createOrder();
      } catch (error) {
        this.notify("warning", error.message);
      }
    },
    createOrder(deliveryDate) {
      var data = {
        status: 1,
        total_price: this.subTotal,
        sale_point: this.salePoint,
        delivery_price: this.delivery,
        seating_number: this.seating,
        annotations: this.cash || null,
        message: this.giftInfo.message,
        address: this.address.id || null,
        order_type: this.deliveryType + 1,
        payment_method: this.paymentMethod,
        delivery_name: this.giftInfo.receiverName,
        order_details: this.cartItems.map((p) => ({
          product: p.id,
          unit_price: p.price,
          quantity: p.quantity,
          product_configs: p.detail,
        })),
        client: this.deliveryType !== 1 ? this.customer : null,
        direct_client: this.deliveryType === 1 ? this.customer : null,
      };

      if (deliveryDate) {
        data = Object.assign(data, { delivery_date: deliveryDate });
      }

      this.submitting = true;
      this.axios
        .post(this.urlConstants.StoreUrls.order, data)
        .then((response) => {
          this.notify("success", "Pedido registrado exitosamente");
          setTimeout(() => {
            this.$router.push({ name: "Orders" });
          }, 1500);
        })
        .catch((error) => {
          this.notify(
            "error",
            "No pudimos crear el pedido, por favor intenta nuevamente."
          );
        })
        .finally(() => (this.submitting = false));
    },
  },
};
</script>
