<template>
  <v-container
    fluid
    class="px-2 overflow-y-auto overflow-x-hidden"
    tag="section"
    style="height: 75vh"
  >
    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="accent darken-2"
      style="margin-right: 105px"
      @click="printOrder()"
    >
      <v-icon x-large>mdi-printer</v-icon>
    </v-btn>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      @click="showCreateorder = true"
    >
      <v-icon x-large>mdi-plus</v-icon>
    </v-btn>

    <v-row align="center" justify="center">
      <v-col cols="12" md="5">
        <customer-info />
      </v-col>
      <v-col cols="12" md="7">
        <gift-info />
      </v-col>
      <v-col cols="12">
        <grid-order-products @notify="notify" />
      </v-col>
    </v-row>

    <v-footer absolute elevation="5" class="px-8" color="white">
      <v-progress-linear
        v-if="order.status.id > 1"
        height="50"
        class="br-10 ml-12"
        style="width: 150px"
        :dark="order.status.id === 5"
        :value="25 * order.status.id"
        :color="order.status.id === 5 ? 'buttonMainColor' : '#FFDE09'"
      >
        <template v-slot="{ value }">
          <span
            class="ff--gilroy-extra-bold text-truncate text-right text-capitalize pa-1"
            v-text="order.status.status"
          />
        </template>
      </v-progress-linear>

      <v-spacer />
      <v-sheet
        outlined
        class="mr-12 br-10 px-3"
        style="border: 1px solid #f9c9a5"
        min-width="250"
      >
        <div
          class="fs-60 garosa-primary-text ff--gilroy-extra-bold text-center"
        >
          {{ (order.total_price + order.delivery_price) | money }}
        </div>
        <div
          class="fs-20 garosa-primary-text text-center mt-n4"
          v-text="`Valor total`"
        />
      </v-sheet>
      <pages-btn
        v-if="order.status.id < 4"
        :loading="submitting"
        :disabled="submitting"
        class="text-capitalize mr-10"
        @click="changeOrderStatus"
        v-text="orderbuttonText"
      />
    </v-footer>

    <dialog-new-order
      :visible="showCreateorder"
      @close="showCreateorder = false"
    />

    <dialog-approve-order
      :order-id="order.id"
      :visible="showApprovalDialog"
      @notify="notify"
      @confirm="getOrderInfo"
      @close="showApprovalDialog = false"
    />

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
    <order-printer-format v-show="false" />
  </v-container>
</template>

<script>
import { ORDER } from "@/store/dashboard";
export default {
  name: "OrderDetail",
  components: {
    GiftInfo: () => import("./components/GiftInfo"),
    DialogNewOrder: () => import("./components/DialogNew"),
    PagesBtn: () => import("@/views/pages/components/Btn"),
    CustomerInfo: () => import("./components/CustomerInfo"),
    OrderPrinterFormat: () => import("./template/OrderPrint"),
    DialogApproveOrder: () => import("./components/DialogApprove"),
    GridOrderProducts: () => import("./components/GridOrderProducts"),
  },
  data: () => ({
    orderId: 0,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    submitting: false,
    showCreateorder: false,
    showApprovalDialog: false,
  }),
  computed: {
    order: {
      get() {
        return this.$store.getters[ORDER];
      },
      set(val) {
        this.$store.commit(ORDER, val);
      },
    },
    orderbuttonText() {
      switch (this.order.status.id) {
        case 1:
          return "Aprobar";
        case 2:
          return "Despachar";
        case 3:
          return "Entregado";
      }
    },
  },
  mounted() {
    if (!this.order.id) this.getOrderInfo();
  },
  beforeDestroy() {
    this.order = {
      id: 0,
      user: {},
      status: {},
      address: {},
      order_details: [],
      total_price: 0,
      order_type: 0,
      delivery_price: 0,
      delivery_name: "",
      message: null,
      rating: 0,
      comment: "",
      annotations: "",
      payment_method: 0,
      payment_method_name: "",
    };
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    getOrderInfo() {
      this.axios
        .get(
          this.urlConstants.StoreUrls.order.concat(
            "/",
            this.$route.params.orderId
          )
        )
        .then((response) => (this.order = response.data))
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información del pedido."
          );
        });
    },
    changeOrderStatus() {
      if (this.order.status.id === 1) {
        this.showApprovalDialog = true;
        return;
      }

      var config = {
        method: "patch",
        data: { status: this.order.status.id + 1, change_status: "True" },
        url: this.urlConstants.StoreUrls.order.concat("/", this.order.id),
      };

      if (
        this.order.status.id === 2 &&
        this.order.order_type !== 2 &&
        this.order.sale_point
      ) {
        const origin = new google.maps.LatLng(
            this.order.sale_point.latitude,
            this.order.sale_point.longitude
          ),
          destination = new google.maps.LatLng(
            this.order.address.latitude,
            this.order.address.longitude
          ),
          distanceService = new google.maps.DistanceMatrixService();

        distanceService.getDistanceMatrix(
          {
            origins: [origin],
            destinations: [destination],
            travelMode: "DRIVING",
          },
          (response, status) => {
            if (status === "OK") {
              try {
                var deliveryTime =
                  response.rows[0].elements[0].duration.value / 60; // travel time in minutes

                config.data.delivery_minutes = Math.ceil(deliveryTime);
              } catch (error) {
                config.data.delivery_minutes = 25;
              }
            } else {
              config.data.delivery_minutes = 25;
            }

            this.performUpdate(config);
          }
        );
      } else {
        this.performUpdate(config);
      }
    },
    performUpdate(config) {
      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.notify("success", "Pedido actualizado exitosamente");
          this.getOrderInfo();
        })
        .catch((error) => {
          return this.notify("error", "Ocurrió un error, intenta nuevamente");
        })
        .then(() => (this.submitting = false));
    },
    printOrder() {
      const style = `
        * {
          font-size: 12px !important;
        }

        @media print {
          @page {
            margin: 0 !important;
            padding: 0 !important;
            size: 75mm 250mm portrait;
          }
        }`;

      const options = {
        styles: [style],
      };
      this.$htmlToPaper("print-order", options);
    },
  },
};
</script>
