<template>
  <v-container id="dashboard-orders" fluid class="px-2" tag="section">
    <v-text-field
      v-model="search"
      rounded
      outlined
      single-line
      hide-details
      color="inputColor"
      placeholder="Buscar"
      class="mt-n9 ml-auto"
      style="max-width: 350px; margin-right: 110px; z-index: 100"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      @click="showCreateorder = true"
    >
      <v-icon x-large>mdi-plus</v-icon>
    </v-btn>

    <v-tabs
      v-model="currentTab"
      centered
      show-arrows
      center-active
      color="buttonMainColor"
      class="mt-5"
    >
      <v-tab href="#tab-news" :class="tabClasses" v-text="`nuevos`" />
      <v-tab href="#tab-scheduled" :class="tabClasses" v-text="`Reservas`" />
      <v-tab href="#tab-in-progress" :class="tabClasses" v-text="`En curso`" />
      <v-tab href="#tab-canceled" :class="tabClasses" v-text="`cancelados`" />
      <v-tab href="#tab-completed" :class="tabClasses" v-text="`completados`" />
    </v-tabs>

    <v-tabs-items v-model="currentTab" class="mt-5">
      <v-tab-item value="tab-news">
        <grid-orders
          ref="news"
          :order-type="1"
          :filter="search"
          @refreshCanceled="refreshCanceledOrders"
        />
      </v-tab-item>
      <v-tab-item value="tab-scheduled">
        <grid-orders ref="scheduled" :order-type="3" :filter="search" />
      </v-tab-item>
      <v-tab-item value="tab-in-progress">
        <grid-orders
          ref="progress"
          :order-type="2"
          :filter="search"
          @refreshCanceled="refreshCanceledOrders"
        />
      </v-tab-item>
      <v-tab-item value="tab-canceled">
        <grid-orders ref="canceled" :order-type="5" :filter="search" />
      </v-tab-item>
      <v-tab-item value="tab-completed">
        <grid-orders ref="completed" :order-type="4" :filter="search" />
      </v-tab-item>
    </v-tabs-items>

    <dialog-new-order
      :visible="showCreateorder"
      @close="showCreateorder = false"
    />

    <notification-permission-request
      v-model="requestNotificationPermission"
      @notify="notify"
      @confirm="registerServiceWorker"
      @cancel="requestNotificationPermission = false"
    />

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import notifications from "@/mixins/notifications";

export default {
  name: "DashboardOrders",
  mixins: [notifications],
  components: {
    GridOrders: () => import("./components/GridOrders"),
    DialogNewOrder: () => import("./components/DialogNew"),
    NotificationPermissionRequest: () =>
      import("@/views/dashboard/component/NotificationRequest"),
  },
  data: () => ({
    search: null,
    currentTab: null,
    showCreateorder: false,
    tabClasses: "text-uppercase account-tab fs-20 ff--gilroy-extra-bold",
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  watch: {
    currentTab(val) {
      var ref = "";
      switch (val) {
        case "tab-news":
          ref = "news";
          break;
        case "tab-scheduled":
          ref = "scheduled";
          break;
        case "tab-in-progress":
          ref = "progress";
          break;
        case "tab-canceled":
          ref = "canceled";
          break;
        case "tab-completed":
          ref = "completed";
          break;
      }

      if (ref && this.$refs[ref]) {
        this.$refs[ref].fetchInfo();
      }
    },
  },
  mounted() {
    this.checkPushApi();
  },
  methods: {
    refreshCanceledOrders(ref) {
      this.$refs.canceled.fetchInfo();
    },
  },
};
</script>

<style lang="sass" >
#dashboard-orders
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px

    .account-tab
      background-color: transparent
      border-bottom: 2px solid #F9C9A5
</style>
