<template>
  <div id="print-order">
    <img :src="require('@/assets/logo.png')" alt="Logo" class="mx-auto" />

    <div class="centered text-uppercase">REMISIÓN DE PEDIDO</div>
    <p class="text-uppercase">
      <br />
      PEDIDO: {{ order.id }}
      <br />
      TIPO DE PAGO: {{ order.payment_method === 1 ? "Efectivo - " : ""
      }}{{ order.payment_method_name }}
      <br />
      FECHA: {{ order.created_at | date("YYYY-MM-DD HH:mm:ss") }}
      <br />
      NOMBRE: {{ customer }}
      <br />
      DIRECCIÓN: {{ address.address || "--" }}
      <br />
      NOTA: {{ address.notes || "--" }}
      <br />
      TELÉFONO: {{ phone }}
    </p>

    <table style="max-width: 100%">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(p, i) in order.order_details" :key="p.id">
          <td>
            {{ p.quantity }}x {{ p.product }}
            <div v-if="p.product_type === 'CB'">
              <ul style="list-style-position: inside; list-style-type: disc">
                <li v-for="d in p.product_configs" :key="d.id">
                  {{ d.quantity }}x {{ d.name }}
                </li>
              </ul>
            </div>
          </td>
          <td>{{ (p.unit_price * p.quantity) | money }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <hr />
          </td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td style="font-weight: 900">{{ order.total_price | money }}</td>
        </tr>
        <tr>
          <td>Domicilio</td>
          <td style="font-weight: 900">{{ order.delivery_price | money }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td style="font-weight: 900">
            {{ (order.total_price + order.delivery_price) | money }}
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-transform: uppercase; margin-top: 15px">
      CAJERO: {{ user.first_name }} {{ user.last_name }}
      <br />
      {{ new Date() | moment("h:mm:ss A") }}
    </p>

    <p
      style="text-align: center; text-transform: uppercase"
      v-if="order.sale_point"
      v-text="order.sale_point ? order.sale_point.day_message : ''"
    />
  </div>
</template>

<script>
import { ORDER } from "@/store/dashboard";
export default {
  name: "OrderPrinterFormat",
  computed: {
    order() {
      return this.$store.getters[ORDER];
    },
    user() {
      return this.getSessionInfo();
    },
    phone() {
      return this.order.direct_phone || this.order.user.phone || "--";
    },
    address() {
      return this.order.address || {};
    },
    customer() {
      return (
        this.order.delivery_name ||
        this.order.direct_client ||
        `${this.order.user.first_name} ${this.order.user.last_name}`
      );
    },
  },
};
</script>
