<template>
  <v-container fluid class="pa-5" tag="section">
    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      @click="faqs.push({title: '', description: ''})"
    >
      <v-icon x-large>mdi-plus</v-icon>
    </v-btn>

    <v-row align="center" class="mb-16 pb-5">
      <v-col v-for="(faq, i) in faqs" :key="i" md="4" cols="12" class="text-center">
        <v-card flat color="transparent">
          <v-card-title class="fs-25">
            Pregunta {{ i+1 }}
            <div class="row align-center">
              <v-divider class="ml-10 mr-5" role="presentation" style="border: 1px solid #D84B0E;" />

              <v-tooltip top>
                <template v-slot:activator="{ attrs, on }">
                  <v-icon
                    large
                    color="accent"
                    aria-label="close"
                    v-on="on"
                    @click="faqIdToDelete = faq.id, showDeleteDialog = true"
                  >mdi-close-circle</v-icon>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </div>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="faq.title" v-bind="inputAttrs" label="Pregunta" />
            <v-textarea
              v-model="faq.description"
              rows="6"
              no-resize
              label="Respuesta"
              :counter="500"
              v-bind="inputAttrs"
            />
            <v-divider style="border: 1px solid #B3D8DD;" class="mt-6" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-footer absolute elevation="5" class="px-8" color="white">
      <div
        class="adminNotes--text fs-20 ff--gilroy-extra-bold"
        v-text="`No olvides diligenciar toda la información.`"
      />
      <v-spacer />
      <pages-btn
        :loading="submitting"
        :disabled="submitting"
        @click="validateData()"
        v-text="`Actualizar`"
      />
    </v-footer>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />

    <base-confirm-dialog
      title="Confirmar"
      :data="faqIdToDelete"
      :visible="showDeleteDialog"
      content="¿Desea eliminar esta pregunta frecuente?"
      @confirm="deleteFaq"
      @close="closeDeleteDlg"
    />
  </v-container>
</template>

<script>
import { pick } from "lodash";

export default {
  name: "DashboardInfoFaqs",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    faqs: [],
    faqIdToDelete: 0,
    showDeleteDialog: false,
  }),
  mounted() {
    this.fetchFaqs();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    validateData() {
      var invalidFaqIndex = 0;
      var requests = [];

      try {
        this.faqs.forEach((faq, i) => {
          if (!faq.title && !faq.description && !faq.id) return; // faq vacío

          invalidFaqIndex = i;

          if (!faq.title || !faq.description) {
            throw new Error("Complete la información");
          }

          requests.push(this.saveFaq(faq, i));
        });
      } catch (error) {
        this.notify(
          "warning",
          `${error.message} para la pregunta ${invalidFaqIndex + 1}`
        );
      }

      if (requests.length) {
        this.submitting = true;
        Promise.all(requests)
          .then((responses) => {
            this.fetchFaqs();
            this.notify("success", "Preguntas actualizadas exitosamente.");
          })
          .catch((error) => {
            this.notify(
              "error",
              "Ocurrió un error guardando la información de las preguntas frecuentes."
            );
          })
          .then(() => (this.submitting = false));
      }
    },
    fetchFaqs() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.faqs)
        .then((response) => {
          this.faqs = response.data;
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información de las prguntas frecuentes."
          );
        });
    },
    saveFaq(faq, index) {
      const data = {
        ...pick(faq, ["id", "title", "description"]),
      };

      var config = {
        method: !faq.id ? "post" : "put",
        url: this.urlConstants.GralInfoUrls.faqs.concat(
          faq.id ? `/${faq.id}` : ""
        ),
        data: data,
      };
      return this.axios(config);
    },
    deleteFaq(id) {
      this.axios
        .delete(`${this.urlConstants.GralInfoUrls.faqs}/${id}`)
        .then((response) => {
          this.notify("success", "Pregunta eliminada exitosamente.");
          this.fetchFaqs();
          this.closeDeleteDlg();
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un eliminando la pregunta.");
        });
    },
    closeDeleteDlg() {
      this.showDeleteDialog = false;
      this.faqIdToDelete = 0;
    },
  },
};
</script>
