<template>
  <v-container
    fluid
    class="pa-5"
    style="height:75vh;"
    tag="section"
  >
    <v-row
      justify="center"
      align="center"
    >
      <v-col
        v-for="(option, i) in options"
        :key="i"
        cols="auto"
        class="mt-n2"
      >
        <v-card
          hover
          outlined
          class="br-20 pa-2"
          :to="option.to"
          width="341"
          height="341"
        >
          <v-card-title>
            <v-btn
              fab
              color="accent"
              elevation="0"
              height="187"
              width="187"
              class="mx-auto"
            >
              <v-icon
                size="75"
                v-text="option.icon"
              />
            </v-btn>
          </v-card-title>
          <v-card-subtitle
            style="line-height: initial;"
            class="text-center mt-5 fs-50"
            v-text="option.name"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'DasboardInfoIndex',
    data: () => ({
      options: [
        {
          icon: 'mdi-puzzle',
          name: 'Nuestra historia',
          to: { name: 'InfoOurHistory' },
        },
        {
          name: 'Prensa',
          icon: 'mdi-video',
          to: { name: 'InfoSocialMedia' },
        },
        {
          name: 'FAQ',
          to: { name: 'InfoFaqs' },
          icon: 'mdi-help-circle-outline',
        },
        {
          name: 'Sliders',
          icon: 'mdi-view-carousel',
          to: { name: 'InfoSliders' },
        },
        {
          name: 'Equipo',
          to: { name: 'InfoTeam' },
          icon: 'mdi-account-multiple',
        },
      ],
    }),
  }
</script>
