<template>
  <v-container fluid class="px-2 overflow-y-auto" tag="section">
    <v-row justify="center" align="center" style="heigth:75vh;" class="mb-16">
      <v-col
        v-for="(info, i) in stories"
        :key="i"
        md="5"
        cols="12"
        class="text-center px-12"
        :class="{'borders': i === 1}"
      >
        <v-subheader class="fs-25 mb-6">
          {{ i === 0 ? 'Así nació La Garosa' :'Así somos hoy' }}
          <v-divider class="ml-4" role="presentation" style="border: 1px solid #D84B0E;" />
        </v-subheader>

        <v-textarea
          v-model="info.value.primary_text"
          rows="3"
          no-resize
          :counter="500"
          v-bind="inputAttrs"
          label="Escribe tu texto aquí..."
        />
        <v-switch
          v-model="info.value.has_add_text"
          inset
          class="my-0 py-0"
          color="buttonMainColor"
          label="Texto complementario."
          @change="changeAddText($event, info)"
        />
        <v-textarea
          v-model="info.value.secondary_text"
          rows="3"
          no-resize
          :counter="500"
          v-bind="inputAttrs"
          label="Escribe tu texto aquí..."
          :disabled="!info.value.has_add_text"
          :readonly="!info.value.has_add_text"
        />
        <v-subheader class="fs-25">
          Fotos
          <v-divider class="ml-4" role="presentation" style="border: 1px solid #D84B0E;" />
        </v-subheader>

        <v-row dense justify="center" align="center">
          <v-col v-for="j in 3" :key="j" cols="12" md="4">
            <input
              :ref="`file${i}${j}`"
              type="file"
              class="d-none"
              accept="image/*"
              @change="onChange($event, info, j)"
            />
            <v-card
              hover
              outlined
              width="130"
              height="130"
              class="br-20 d-flex align-center"
              :class="!info[`image${j}`] ? 'dashed-border' : ''"
              @click="fileClick(`${i}${j}`)"
            >
              <v-img v-if="info[`image${j}`]" height="130" width="130" :src="info[`image${j}`]" />
              <v-btn v-else fab width="80" height="80" elevation="0" color="accent" class="mx-auto">
                <v-icon x-large>mdi-plus</v-icon>
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-footer absolute color="white" elevation="5" class="px-8">
      <div
        class="adminNotes--text fs-20 ff--gilroy-extra-bold"
        v-text="`No olvides diligenciar toda la información.`"
      />
      <v-spacer />
      <pages-btn
        :loading="submitting"
        :disabled="submitting"
        @click="validateData()"
        v-text="`Actualizar`"
      />
    </v-footer>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
import { sortBy } from "lodash";
export default {
  name: "DashboardInfoOurHistory",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    stories: [{ value: {}, image1: null, image2: null, image3: null }],
  }),
  mounted() {
    this.fetchOurInfo();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fileClick(ref) {
      this.$refs[`file${ref}`][0].click();
    },
    changeAddText(val, info) {
      if (!val) info.value.secondary_text = null;
    },
    onChange(val, info, imgIndex) {
      const value = val.target.files[0];
      const imageKey = `image${imgIndex}`;
      const photoKey = `photo${imgIndex}`;

      if (!value) return this.$set(info, imageKey, null);

      if (!/\.(jpe?g|png|gif|bmp)$/i.test(value.name)) {
        return this.notify("warning", "Seleccione una imagen válida");
      }

      this.$set(info, photoKey, value);
      this.$set(info, imageKey, URL.createObjectURL(value));
    },
    validateData() {
      var requests = [];
      var invalidInfoIndex = 0;

      try {
        this.stories.forEach((info, i) => {
          invalidInfoIndex = i;
          if (
            !info.image1 ||
            !info.image2 ||
            !info.image3 ||
            !info.value.primary_text
          ) {
            requests = [];
            throw new Error("Complete la información");
          }

          if (info.value.has_add_text && !info.value.secondary_text) {
            requests = [];
            throw new Error(
              "Escriba el texto complementario para ".concat(
                i === 0 ? "Así nació La Garosa" : "Así somos hoy"
              )
            );
          }

          requests.push(this.saveInfo(info, i));
        });
      } catch (error) {
        this.notify("warning", error.message);
      }

      if (requests.length) {
        this.submitting = true;

        Promise.all(requests)
          .then((response) => {
            this.fetchOurInfo();
            this.notify("success", "Información actualizada exitosamente.");
          })
          .catch((error) => {
            this.notify("error", "Ocurrió un error guardando la información.");
          })
          .then(() => (this.submitting = false));
      }
    },
    fetchOurInfo() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=about_us`)
        .then((response) => {
          var data = response.data;

          if (data.length < 2) {
            const diff = 2 - data.length;
            let i = 1;
            do {
              data.push({
                value: {
                  key: i,
                },
                image1: null,
                image2: null,
                image3: null,
              });
              i++;
            } while (i <= diff);
          }

          this.stories = sortBy(data, [(o) => o.value.key]);
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo la información.");
        });
    },
    saveInfo(info, index) {
      const data = new FormData();

      data.append("is_active", 1);
      data.append("key", "about_us");
      if (info.photo1) data.append("image1", info.photo1);
      if (info.photo2) data.append("image2", info.photo2);
      if (info.photo3) data.append("image3", info.photo3);
      data.append("value", JSON.stringify(info.value || {}));

      var config = {
        method: !info.id ? "post" : "put",
        url: this.urlConstants.GralInfoUrls.config.concat(
          info.id ? `/${info.id}` : ""
        ),
        headers: {
          "Content-Type": "multipart/form-data",
        },
        data: data,
      };

      return this.axios(config);
    },
  },
};
</script>
<style lang="sass" scoped>
.borders
  border-left: 1px solid #B3D8DD

.dashed-border
  border: 1px dashed #6B9BA0
</style>
