<template>
  <v-container fluid class="pa-5" tag="section">
    <v-row justify="center" align="center" class="mb-16 pb-5">
      <v-col
        v-for="(slider, i) in sliders"
        :key="i"
        md="4"
        cols="12"
        class="text-center"
        :class="{'borders': i === 1}"
      >
        <v-subheader class="fs-25 mb-6">
          Slider {{ i+1 }}
          <v-divider class="ml-4" role="presentation" style="border: 1px solid #D84B0E;" />
        </v-subheader>

        <input
          :ref="`file${i}`"
          type="file"
          class="d-none"
          accept="image/*"
          @change="onChange($event, slider)"
        />
        <v-card
          hover
          outlined
          class="br-20"
          :class="!slider.image1 ? 'dashed-border' : ''"
          @click="fileClick(i)"
        >
          <v-img v-if="slider.image1" :src="slider.image1" height="140" width="100%" />
          <v-row v-else class="ma-6" dense justify="center" align="center">
            <v-col cols="12" md="4">
              <v-btn fab color="accent" width="80" height="80" elevation="0">
                <v-icon x-large>mdi-plus</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="12" md="8" class="fs-20">Selecciona la imagen desde tu ordenador.</v-col>
          </v-row>
        </v-card>

        <v-textarea
          v-model="slider.value.text"
          rows="3"
          no-resize
          label="Texto"
          :counter="100"
          v-bind="inputAttrs"
        />
        <v-text-field
          v-model="slider.value.button_text"
          counter="25"
          v-bind="inputAttrs"
          label="Texto en botón"
        />
        <v-text-field v-model="slider.value.link" v-bind="inputAttrs" label="Enlace" />
      </v-col>
    </v-row>

    <v-footer absolute elevation="5" class="px-8" color="white">
      <div
        class="adminNotes--text fs-20 ff--gilroy-extra-bold"
        v-text="`Te sugerimos subir imágenes de 0 x 0 px`"
      />
      <v-spacer />
      <pages-btn
        :loading="submitting"
        :disabled="submitting"
        @click="validateData()"
        v-text="`Actualizar`"
      />
    </v-footer>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
import { isEmpty } from "lodash";

export default {
  name: "DashboardInfoSliders",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    sliders: [{ value: {}, image1: null }],
  }),
  mounted() {
    this.fetchSliders();
  },
  methods: {
    fileClick(ref) {
      this.$refs[`file${ref}`][0].click();
    },
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    onChange(val, slider) {
      const value = val.target.files[0];

      if (!value) return this.$set(slider, "image1", null);

      if (!/\.(jpe?g|png|gif|bmp)$/i.test(value.name)) {
        return this.notify("warning", "Seleccione una imagen válida");
      }

      this.$set(slider, "image", value);
      this.$set(slider, "image1", URL.createObjectURL(value));
    },
    validateData() {
      var invalidSliderIndex = 0;
      var requests = [];

      try {
        this.sliders.forEach((slider, i) => {
          if (!slider.image1) return; // slider vacío

          invalidSliderIndex = i;

          if (!slider.image1 && !slider.image) {
            throw new Error("Seleccione una imagen");
          }

          if (
            (slider.value.button_text && !slider.value.link) ||
            (!slider.value.button_text && slider.value.link)
          )
            throw new Error("Debe ingresar los datos del enlace y el botón");

          if (
            slider.value.link &&
            !/(http(s?)):\/\//i.test(slider.value.link)
          ) {
            throw new Error("Ingrese un enlace válido");
          }

          requests.push(this.saveSliders(slider, i));
        });
      } catch (error) {
        requests = [];
        this.notify(
          "warning",
          `${error.message} para el slider ${invalidSliderIndex + 1}`
        );
      }

      if (requests.length) {
        this.submitting = true;

        var axiosReqs = [];
        requests.forEach((cfg) => axiosReqs.push(this.axios(cfg)));

        Promise.all(axiosReqs)
          .then((response) => {
            this.fetchSliders();
            this.notify("success", "Sliders actualizados exitosamente.");
          })
          .catch((error) => {
            this.notify(
              "error",
              "Ocurrió un error obteniendo la información de los sliders."
            );
          })
          .then(() => (this.submitting = false));
      }
    },
    fetchSliders() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=home_slider`)
        .then((response) => {
          this.sliders = response.data;

          if (this.sliders.length < 3) {
            const diff = 3 - this.sliders.length;
            let i = 1;
            do {
              this.sliders.push({
                value: {},
                image1: null,
              });
              i++;
            } while (i <= diff);
          }
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información de los sliders."
          );
        });
    },
    saveSliders(slider, index) {
      const data = new FormData();

      data.append("is_active", 1);
      data.append("key", "home_slider");
      if (slider.image) data.append("image1", slider.image);
      data.append("value", JSON.stringify(slider.value || {}));

      var config = {
        data,
        method: !slider.id ? "post" : "put",
        url: this.urlConstants.GralInfoUrls.config.concat(
          slider.id ? `/${slider.id}` : ""
        ),
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };

      return config;
    },
  },
};
</script>
<style lang="sass" scoped>
.borders
  border-left: 1px solid #B3D8DD
  border-right: 1px solid #B3D8DD

.dashed-border
  border: 1px dashed #6B9BA0
</style>
