<template>
  <v-container fluid class="pa-5" style="height:100%;" tag="section">
    <v-row justify="center" align="center" class="fill-height">
      <v-col
        v-for="(link, i) in links"
        :key="i"
        md="4"
        cols="12"
        class="text-center"
        :class="{'borders': i === 1}"
      >
        <v-subheader class="fs-25 mb-6">
          Video {{ i+1 }}
          <v-divider class="ml-4" role="presentation" style="border: 1px solid #D84B0E;" />
        </v-subheader>

        <v-text-field v-model="link.value.link" v-bind="inputAttrs" label="Enlace" />
        <v-file-input
          v-model="link.image"
          solo
          flat
          show-size
          prepend-icon
          accept="image/*"
          class="my-0 py-0"
          color="inputColor"
          label="Carga una imagen de portada."
          :ref="`file-${i}`"
          @change="onChange($event, link)"
        >
          <template v-slot:prepend-inner>
            <v-btn
              fab
              width="45"
              height="45"
              elevation="0"
              class="mr-auto"
              color="accent"
              @click="$refs[`file-${i}`][0].$refs.input.click()"
            >
              <v-icon x-large>mdi-plus</v-icon>
            </v-btn>
          </template>
        </v-file-input>
      </v-col>
    </v-row>

    <v-footer absolute elevation="5" class="px-8" color="white">
      <div
        class="adminNotes--text fs-20 ff--gilroy-extra-bold"
        v-text="`No olvides diligenciar toda la información.`"
      />
      <v-spacer />
      <pages-btn
        :loading="submitting"
        :disabled="submitting"
        @click="validateData()"
        v-text="`Actualizar`"
      />
    </v-footer>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
import { isEmpty } from "lodash";

export default {
  name: "DashboardInfoSocialMedia",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    links: [{ value: {}, image: null }],
  }),
  mounted() {
    this.fetchVideoLinks();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    onChange(val, link) {
      if (!val) {
        this.$set(link, "image1", null);
        return this.$set(link, "image", null);
      }

      if (!/\.(jpe?g|png|gif|bmp)$/i.test(val.name)) {
        this.$set(link, "image1", null);
        this.$set(link, "image", null);
        return this.notify("warning", "Seleccione una imagen válida");
      }
      this.$set(link, "image", val);
    },
    validateData() {
      var invalidLinkIndex = 0;
      var requests = [];
      try {
        this.links.forEach((link, i) => {
          invalidLinkIndex = i;
          if (!link.image && !link.image1 && isEmpty(link.value)) return; // link vacío

          if ((!link.image && !link.image1) || !link.value.link) {
            throw new Error("Complete la información");
          }

          if (!/(http(s?)):\/\//i.test(link.value.link)) {
            throw new Error("Ingrese un enlace válido");
          }

          requests.push(this.saveVideoInfo(link, i));
        });
      } catch (error) {
        this.notify(
          "warning",
          `${error.message} para el video #${invalidLinkIndex + 1}`
        );
      }

      if (requests.length) {
        this.submitting = true;
        Promise.all(requests)
          .then((response) => {
            this.fetchVideoLinks();
            this.notify(
              "success",
              "Enlaces de prensa actualizados exitosamente."
            );
          })
          .catch((error) => {
            this.notify(
              "error",
              "Ocurrió un error guardando la información de los enlaces de prensa."
            );
          })
          .then(() => (this.submitting = false));
      }
    },
    fetchVideoLinks() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=social_media`)
        .then((response) => {
          this.links = response.data;

          if (this.links.length < 3) {
            const diff = 3 - this.links.length;
            let i = 1;
            do {
              this.links.push({
                value: {},
                image: null,
              });
              i++;
            } while (i <= diff);
          }
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información de los enlaces de prensa."
          );
        });
    },
    saveVideoInfo(video, index) {
      const data = new FormData();

      data.append("is_active", 1);
      data.append("key", "social_media");
      if (video.image) data.append("image1", video.image);
      data.append("value", JSON.stringify(video.value || {}));

      var config = {
        method: !video.id ? "post" : "put",
        url: this.urlConstants.GralInfoUrls.config.concat(
          video.id ? `/${video.id}` : ""
        ),
        headers: {
          "Content-Type": "multipart/form-data",
        },
        data: data,
      };

      return this.axios(config);
    },
  },
};
</script>
<style lang="sass" scoped>
.borders
  border-left: 1px solid #B3D8DD
  border-right: 1px solid #B3D8DD

.dashed-border
  border: 1px dashed #6B9BA0
</style>
