<template>
  <v-app-bar
    id="app-bar"
    app
    flat
    absolute
    height="75"
    color="transparent"
    class="pt-2"
  >
    <v-btn
      fab
      small
      class="mr-3"
      elevation="0"
      color="inputColor"
      @click="$vuetify.breakpoint.smAndDown ? setDrawer(!adminDrawer) : $emit('input', !value)"
    >
      <v-icon
        color="white"
        v-text="value ? 'mdi-arrow-right': 'mdi-arrow-left'"
      />
    </v-btn>

    <v-toolbar-title
      class="hidden-sm-and-down ff--wicked-grit fs-50 garosa-title-text"
      v-text="title"
    />
  </v-app-bar>
</template>

<script>
// Utilities
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'DashboardCoreAppBar',

    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      ...mapState(['adminDrawer']),
      title () {
        return this.$route.meta.title
      },
    },

    methods: {
      ...mapMutations({
        setDrawer: 'SET_ADMIN_DRAWER',
      }),
    },
  }
</script>
