<template>
  <v-navigation-drawer
    id="core-navigation-drawer"
    v-model="drawer"
    app
    width="270"
    v-bind="$attrs"
    :color="drawerColor"
    mini-variant-width="100"
    mobile-breakpoint="960"
    :expand-on-hover="expandOnHover"
    :dark="barColor !== 'rgba(228, 226, 226, 1), rgba(255, 255, 255, 0.7)'"
  >
    <template v-slot:prepend>
      <router-link :to="{ name: 'Dashboard' }">
        <v-img
          max-width="130"
          max-height="200"
          class="my-10 mx-auto"
          :src="require('@/assets/logo_admin_menu.svg')"
        />
      </router-link>
    </template>

    <v-list expand nav shaped>
      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />

      <template v-for="(item, i) in computedItems">
        <base-item-group v-if="item.children" :key="`group-${i}`" :item="item">
          <!--  -->
        </base-item-group>

        <base-item v-else :key="`item-${i}`" :item="item" />
      </template>

      <!-- Style cascading bug  -->
      <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
      <div />
    </v-list>

    <template v-slot:append>
      <div class="mb-6 text-center d-flex justify-space-around">
        <v-tooltip top color="black">
          <template v-slot:activator="{ on, attrs }">
            <v-badge
              overlap
              class="ml-6"
              transition="fab"
              color="inputColor"
              v-model="unreadNotification"
            >
              <v-btn icon v-on="on" :to="{ name: 'Notifications' }">
                <v-icon x-large v-bind="attrs" color="buttonMainColor darken-2"
                  >mdi-bell-ring</v-icon
                >
              </v-btn>
            </v-badge>
          </template>
          <span v-text="`Notificaciones`" />
        </v-tooltip>

        <v-tooltip top color="black">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon @click="destroySession()">
              <v-icon
                x-large
                v-bind="attrs"
                color="buttonMainColor darken-2"
                v-on="on"
                >mdi-power</v-icon
              >
            </v-btn>
          </template>
          <span v-text="`Cerrar sesión`" />
        </v-tooltip>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapState } from "vuex";
import { UNREAD_NOTIFICATION } from "@/store/dashboard";
import { reverse } from "lodash";

export default {
  name: "DashboardCoreDrawer",

  props: {
    expandOnHover: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    items: [],
    drawerColor: "#D84B0F",
  }),

  computed: {
    ...mapState(["barColor", "barImage"]),
    drawer: {
      get() {
        return this.$store.state.adminDrawer;
      },
      set(val) {
        this.$store.commit("SET_ADMIN_DRAWER", val);
      },
    },
    computedItems() {
      return this.items.map(this.mapItem);
    },
    unreadNotification: {
      get() {
        return this.$store.getters[UNREAD_NOTIFICATION];
      },
      set(val) {
        this.$store.commit(UNREAD_NOTIFICATION, val);
      },
    },
  },

  watch: {
    "$vuetify.breakpoint.smAndDown"(val) {
      this.$emit("update:expandOnHover", !val);
    },
  },

  mounted() {
    var groups = this.getSessionInfo("groups")[0];
    var modules = groups ? groups.modules : [];

    this.items = reverse(modules).map((m) => ({
      title: m.title,
      icon: m.icon,
      to: { name: m.path_name },
    }));

    if (this.$route.name != modules[0].path_name) {
      this.$router.push({ name: modules[0].path_name });
    }
  },

  methods: {
    mapItem(item) {
      return {
        ...item,
        children: item.children ? item.children.map(this.mapItem) : undefined,
        title: item.title,
      };
    },
  },
};
</script>

<style lang="sass">
#core-navigation-drawer
  &.v-navigation-drawer--mini-variant
    .v-list-item
      justify-content: flex-start !important

      .v-list-group--sub-group
        display: block !important

    .v-list-group__header.v-list-item--active:before
      opacity: .24

    .v-list-item
      &__icon--text,
      &__icon:first-child
        justify-content: center
        text-align: center
        width: 20px

        +ltr()
        margin-right: 24px
        margin-left: 12px !important

        +rtl()
        margin-left: 24px
        margin-right: 12px !important

    .v-list--dense
      .v-list-item
        &__icon--text,
        &__icon:first-child
          margin-top: 10px

    .v-list-group--sub-group
      .v-list-item
        +ltr()
        padding-left: 8px

        +rtl()
        padding-right: 8px

      .v-list-group__header
        +ltr()
        padding-right: 0

        +rtl()
        padding-right: 0

        .v-list-item__icon--text
          margin-top: 19px
          order: 0

        .v-list-group__header__prepend-icon
          order: 2

          +ltr()
          margin-right: 8px

          +rtl()
          margin-left: 8px
</style>
