<template>
  <v-main class="sections-wheat-bg">
    <router-view />

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="closeNotification"
    />
  </v-main>
</template>

<script>
import notifications from "@/mixins/notifications";
import { DELIVERY_SETUP } from "@/store/cart-constants";
import { UNREAD_NOTIFICATION } from "@/store/dashboard";

export default {
  name: "DashboardCoreView",
  mixins: [notifications],
  methods: {
    checkNotifications() {
      this.axios
        .get(this.urlConstants.AdminUrls.notification, {
          params: {
            limit: 20,
            offset: 0,
          },
        })
        .then((response) => {
          this.$store.commit(
            UNREAD_NOTIFICATION,
            response.data.results.some((n) => n.is_active)
          );
        });
    },
  },
  mounted() {
    this.checkPushApi();
    this.$store.dispatch(DELIVERY_SETUP);
    this.checkNotifications();
  },
};
</script>
