<template>
  <v-container
    fluid
    class="mx-0 pa-0 justify-center mb-12"
    style="margin-top: -15px"
    tag="section"
  >
    <pages-components-core-banner
      :items="bannerItems"
      :height="isDesktop ? 799 : 500"
    />
    <v-main class="sections-wheat-bg">
      <!-- Comentario Alejandro -->
      <v-row align="center" justify="center">
        <v-col
          cols="12"
          md="6"
          lg="4"
          align-self="center"
          class="flex-column text-center"
        >
          <v-img
            :src="require('@/assets/double_quote.svg')"
            max-width="112"
            max-height="96"
            class="mx-auto"
          />
          <div
            class="my-5 mx-auto"
            style="letter-spacing: 0; max-width: 530px"
            :class="isDesktop ? 'fs-40' : 'fs-30'"
          >
            No necesitas ser gigante para empezar, pero si empezar para ser
            gigante.
          </div>

          <div
            class="mt-5 mx-auto fs-30 ff--gilroy-extra-bold"
            style="letter-spacing: 0; max-width: 530px; color: #d84b0e"
          >
            Alejandro Rodriguez
          </div>
          <div
            class="mx-auto mt-n3 fs-30"
            style="letter-spacing: 0; max-width: 530px"
          >
            @el_garoso
          </div>
        </v-col>
        <v-col
          cols="12"
          md="6"
          lg="4"
          align-self="center"
          :class="{ 'text-center': $vuetify.breakpoint.lgAndUp }"
        >
          <kinesis-container>
            <kinesis-element
              tag="img"
              axis="y"
              type="depth"
              :strength="-10"
              style="max-width: 90%"
              :src="require(`@/assets/us/alejandro_bg.png`)"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="50"
              :src="require('@/assets/us/alejandro.png')"
              style="max-width: 100%; height: auto; position: absolute"
              :style="{
                left: $vuetify.breakpoint.lgAndUp ? '-13%' : '0%',
                marginTop: $vuetify.breakpoint.lgAndUp ? '15%' : '0%',
              }"
            />
          </kinesis-container>
        </v-col>
      </v-row>
      <!-- Fin Alejandro -->

      <pages-components-wheat-divider />

      <section v-if="pastInfo" class="mx-auto my-12 text-center">
        <div
          class="login-signin-form-head"
          style="letter-spacing: -3.6px"
          v-text="`así nació la garosa`"
          :class="isDesktop ? 'fs-60' : 'fs-40'"
        />
        <div
          style="max-width: 65%"
          class="login-signin-form-subtitle mt-5 mx-auto"
          v-text="pastInfo.value.primary_text"
          :class="isDesktop ? 'fs-40' : 'fs-30'"
        />
      </section>

      <v-row v-if="pastInfo" justify="center" align="center">
        <v-col
          v-for="i in 3"
          :key="i"
          cols="12"
          sm="auto"
          class="d-flex justify-center"
        >
          <v-img
            height="400"
            width="400"
            :aspect-ratio="16 / 9"
            :src="pastInfo[`image${i}`]"
          />
        </v-col>
      </v-row>

      <section
        v-if="pastInfo"
        class="text-center mx-auto my-12 pb-12 fs-30"
        style="text-align: center; letter-spacing: 0px; max-width: 1170px"
        v-text="pastInfo.value.secondary_text"
      />

      <pages-home-counter />
      <pages-components-wheat-divider class="pt-12" />

      <section v-if="nowInfo" class="mx-auto my-12 text-center">
        <div
          class="login-signin-form-head"
          style="letter-spacing: -3.6px"
          v-text="`Así somos hoy`"
          :class="isDesktop ? 'fs-60' : 'fs-40'"
        />
        <div
          style="max-width: 65%"
          class="login-signin-form-subtitle mt-5 mx-auto"
          v-text="nowInfo.value.primary_text"
          :class="isDesktop ? 'fs-40' : 'fs-30'"
        />
      </section>

      <v-row v-if="nowInfo" justify="center" align="center">
        <v-col
          md="8"
          cols="12"
          lg="auto"
          :class="[
            'd-flex',
            this.$vuetify.breakpoint.lgAndUp ? 'justify-end' : 'justify-center',
          ]"
        >
          <v-img
            max-width="850"
            max-height="850"
            class="elevation-3"
            :src="nowInfo.image1"
          />
        </v-col>

        <v-col
          md="4"
          cols="12"
          lg="auto"
          :class="{
            'flex-column d-flex justify-center': this.$vuetify.breakpoint
              .mdAndUp,
          }"
        >
          <v-img
            max-width="420"
            max-height="420"
            :src="nowInfo.image2"
            class="elevation-3 mx-auto mb-3"
          />
          <v-img
            max-width="420"
            max-height="420"
            :src="nowInfo.image3"
            class="elevation-3 mx-auto"
          />
        </v-col>
      </v-row>

      <section
        v-if="nowInfo"
        class="text-center mx-auto my-10 fs-30"
        style="text-align: center; letter-spacing: 0px; max-width: 1170px"
        v-text="nowInfo.value.secondary_text"
      />

      <pages-components-wheat-divider v-if="team" class="pt-12" />
      <div
        v-if="team"
        class="login-signin-form-head"
        style="letter-spacing: -3.6px"
        v-text="`Nuestro equipo`"
        :class="isDesktop ? 'fs-60' : 'fs-40'"
      />

      <v-row
        v-for="(group, i) in teamGroups"
        v-if="teamGroups.length"
        :key="i"
        justify="center"
        align="center"
      >
        <v-col
          v-for="teamMember in group"
          :key="teamMember.id"
          cols="12"
          sm="12"
          md="4"
          lg="4"
          xl="auto"
          class="d-flex child-flex"
        >
          <team-member-hover-card :user="teamMember" />
        </v-col>
      </v-row>
    </v-main>
  </v-container>
</template>

<script>
import { chunk } from "lodash";

export default {
  name: "PagesAboutUs",
  components: {
    PagesComponentsCoreBanner: () =>
      import("@/views/pages/components/core/Banner"),
    PagesComponentsSocialComments: () =>
      import("@/views/pages/components/SocialComments"),
    PagesComponentsWheatDivider: () =>
      import("@/views/pages/components/WheatDivider"),
    PagesHomeCounter: () => import("@/views/pages/home/Counter"),
    TeamMemberHoverCard: () =>
      import("@/views/pages/components/TeamMemberHoverCard"),
  },
  data() {
    return {
      team: [],
      pastInfo: null,
      nowInfo: null,
      bannerItems: [
        {
          image1: require("@/assets/us/nosotros.jpg"),
          value: {
            text:
              "Si tu negocio solo genera dinero, entonces es un negocio muy pobre",
          },
        },
      ],
    };
  },
  computed: {
    teamGroups() {
      return chunk(this.team, 3);
    },
  },
  mounted() {
    this.fetchOurInfo();
    this.fetchTeamInfo();
  },
  methods: {
    fetchOurInfo() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=about_us`)
        .then((response) => {
          var data = response.data;
          this.pastInfo = data.find((d) => d.value.key === 1);
          this.nowInfo = data.find((d) => d.value.key === 2);
        })
        .catch((error) => console.error(error));
    },
    fetchTeamInfo() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.team, {
          params: { is_active: "True" },
        })
        .then((response) => (this.team = response.data))
        .catch((error) => console.error(error));
    },
  },
};
</script>
