<template>
  <v-container
    class="justify-center sections-wheat-bg mb-12 pb-12"
    tag="section"
  >
    <v-row justify="center" align="center">
      <v-slide-y-transition appear>
        <v-col cols="12" sm="6" md="6" lg="6" class="hidden-sm-and-down">
          <kinesis-container>
            <kinesis-element
              tag="img"
              axis="x"
              type="depth"
              :strength="20"
              style="width: 100%; height: auto"
              :src="require('@/assets/sign_in_bg1.svg')"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="60"
              style="
                max-width: 80%;
                height: auto;
                margin-top: 0%;
                left: 15%;
                position: absolute;
              "
              :src="require('@/assets/complaints/the_garosa_building.svg')"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="90"
              style="
                max-width: 90%;
                height: auto;
                margin-top: 15%;
                right: 5%;
                position: absolute;
              "
              :src="require('@/assets/complaints/the_garosa_flavor.svg')"
            />
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>
      <v-slide-x-transition appear>
        <v-col cols="12" sm="6" md="6" lg="5">
          <pages-components-wheat-divider />

          <p
            class="text-uppercase ff--wicked-grit garosa-title-text"
            :class="isDesktop ? 'fs-40' : 'fs-30'"
            v-text="title"
          />
          <p class="login-signin-form-subtitle my-3 fs-25">
            Sabemos que nuestros sabores son fuera de este mundo... Pero tan
            sólo somos humanos y nos equivocamos.
            <br />
            <br />Déjanos una
            <strong class="ff--gilroy-extra-bold">crítica constructiva</strong>
            con la que podamos crecer para seguir satisfaciendo tus antojos.
          </p>

          <validation-observer v-slot="{ handleSubmit }" ref="formValidator">
            <v-form
              ref="form"
              v-model="form"
              @submit.prevent="handleSubmit(postSendEmail)"
            >
              <validation-provider
                v-slot="{ errors }"
                :rules="nameInput.rules"
                :name="nameInput.label"
              >
                <v-text-field
                  v-model="nameInput.value"
                  rounded
                  outlined
                  color="inputColor"
                  :error-messages="errors"
                  :label="nameInput.label"
                />
              </validation-provider>

              <validation-provider
                v-slot="{ errors }"
                :rules="emailInput.rules"
                :name="emailInput.label"
              >
                <v-text-field
                  v-model="emailInput.value"
                  rounded
                  outlined
                  color="inputColor"
                  :error-messages="errors"
                  :label="emailInput.label"
                />
              </validation-provider>

              <validation-provider
                v-slot="{ errors }"
                :rules="commentsInput.rules"
                :name="commentsInput.label"
              >
                <v-textarea
                  v-model="commentsInput.value"
                  rounded
                  :rows="5"
                  outlined
                  no-resize
                  :counter="500"
                  color="inputColor"
                  :error-messages="errors"
                  :label="commentsInput.label"
                />
              </validation-provider>
              <div class="text-center">
                <pages-btn
                  type="submit"
                  class="text-capitalize"
                  :loading="loading"
                  :disabled="loading"
                  v-text="`Enviar crítica constructiva`"
                />
              </div>
            </v-form>
          </validation-observer>
        </v-col>
      </v-slide-x-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
export default {
  name: "ComplaintsAndClaims",
  components: {
    PagesComponentsWheatDivider: () =>
      import("@/views/pages/components/WheatDivider"),
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data() {
    return {
      title: "ayúdanos a mejorar",
      loading: false,
      recaptchaToken: null,
      form: false,
      nameInput: {
        value: null,
        rules: "required|min:3|max:100",
        label: "Nombre",
      },
      emailInput: {
        value: null,
        rules: "required|min:3|max:100",
        label: "Teléfono o email",
      },
      commentsInput: {
        value: null,
        rules: "required|min:20|max:500",
        label: "Cuéntanos qué sucedió.",
      },
      notification: {
        show: false,
        content: "",
        type: "info",
      },
    };
  },
  mounted() {
    this.showRecaptcha();
  },
  beforeDestroy() {
    this.showRecaptcha(false);
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    resetForm() {
      this.nameInput.value = null;
      this.emailInput.value = null;
      this.commentsInput.value = null;
      this.$nextTick(() => this.$refs.formValidator.reset());
    },
    async postSendEmail() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("register");

      this.loading = true;
      this.axios
        .post(this.urlConstants.GralInfoUrls.sendComplaint, {
          name: this.nameInput.value,
          text: this.commentsInput.value,
          recaptcha_token: reCaptchaToken,
          email_phone: this.emailInput.value,
        })
        .then((res) => {
          this.notify(
            "success",
            "Hemos recibido tus comentarios, muchas gracias."
          );
          return this.resetForm();
        })
        .catch((error) => {
          if (!error.response) return this.notify("error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = this.getErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un problema y no pudimos recibir tus valiosos comentarios, por favor intenta nuevamente";
              break;
            default:
              errorMsg = error;
              break;
          }
          return this.notify("error", errorMsg);
        })
        .then(() => (this.loading = false));
    },
    getErrors(error) {
      var errorMsg = "";
      if (error.response.data) {
        const data = error.response.data;
        for (const key in data) {
          switch (key) {
            case "name":
              errorMsg = errorMsg.concat(
                "Por favor déjanos saber tu nombre",
                " "
              );
              break;
            case "email_phone":
              errorMsg = errorMsg.concat(
                "Ingresa tu dirección de correo o número telefónico para contactarte",
                " "
              );
              break;
            case "text":
              errorMsg = errorMsg.concat("Cuentanos tus inquietudes", " ");
              break;
            case "recaptcha_token":
              errorMsg = errorMsg.concat("Captcha inválido", " ");
              break;
          }
        }
      } else errorMsg = error;

      return errorMsg;
    },
  },
};
</script>
