<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text>
        <div
          style="line-height: initial; letter-spacing: 0px"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`TÉRMINOS Y CONDICIONES`"
        />
        <div
          class="fs-20 garosa-primary-text"
          v-text="`Aceptación de términos y condiciones`"
        />
        <div class="fs-18 my-5 text-justify">
          <ol>
            <li>
              Estos términos y condiciones (en adelante los “Términos y
              Condiciones”) regulan el uso y navegación en la página web de LA
              GAROSA S.A. (en adelante “LA GAROSA”). Para hacer uso de la Web,
              los Usuarios deberán ingresar a lagarosa.co y a cualquiera de sus
              páginas internas.
            </li>
            <li>
              La actividad de los usuarios (en adelante, los “Usuarios”) dentro
              de la página web de La Garosa (en adelante la “Web”) se regirá por
              estos Términos y Condiciones. Cualquier persona que no acepte
              estos Términos y Condiciones, los cuales tienen carácter
              vinculante, deberá abstenerse de utilizar la Web. Al utilizar los
              servicios en línea de la Web, los Usuarios declaran haber leído,
              entendido y aceptado todas las condiciones establecidas en los
              presentes Términos y Condiciones y las Políticas consagradas en la
              pestaña de “Políticas” del sitio web.
            </li>
            <li>
              Se entiende por Usuarios de la Web a las personas que visualizan,
              utilizan, administran, editan, colaboran y/o se suscriben a dicha
              página web.
            </li>
            <li>
              LA GAROSA se abstiene de manifestar que la Web es apropiada para
              otros ámbitos fuera de República de Colombia, como también que la
              página se encuentra disponible en estos. Aquellas personas que
              accedan a la Web o hagan uso de esta desde otras jurisdicciones lo
              hacen por su propia voluntad y es su responsabilidad el sujetarse
              a las leyes locales que sean aplicables.
            </li>
            <li>
              LA GAROSA se reserva el derecho de modificar o interrumpir el
              contenido de la Web, ya sea en forma permanente o transitoria, sin
              aviso previo y/o consentimiento de los Usuarios, en cualquier
              momento y a su exclusivo criterio.
            </li>
            <li>
              LA GAROSA se reserva el derecho de modificar los Términos y
              Condiciones de la Web, a fin de adaptarlos a nuevos requerimientos
              en materia de legislación, jurisprudencia, técnica o cualquier
              otro motivo que le permita mejorar el contenido de la Web. Por
              este motivo, aconsejamos revisar periódicamente estos Términos y
              Condiciones.
            </li>
            <li>
              Los presentes Términos y Condiciones se regirán e interpretarán de
              acuerdo con las leyes de la República de Colombia. Cualquier
              controversia que derive de este documento se someterá a los jueces
              competentes de acuerdo con la legislación colombiana, y tanto LA
              GAROSA como el cliente renuncian expresamente a cualquier otro
              fuero que pudiera corresponderles en razón de su domicilio
              presente o futuro.
            </li>
          </ol>
          <div
            class="fs-20 garosa-primary-text my-3"
            v-text="`Registro de los usuarios en el sitio`"
          />
          <ol>
            <li>
              La aceptación de las solicitudes de registro es una decisión
              exclusiva de LA GAROSA, quien en cualquier momento podrá
              determinar la cancelación del registro por situaciones como
              brindar información falsa en el registro, el cliente se encuentre
              vinculado en investigaciones penales y todo acto que vulnere y/o
              afecte las normas legales.
            </li>
            <li>
              Los usuarios que se registren en los formularios dispuestos en la
              página web de LA GAROSA manifiestan que la información que han
              entregado es de carácter público y corresponde a información
              estrictamente comercial que no está sujeta a reserva alguna.
            </li>
            <li>
              Toda la información que los Usuarios proporcionen al momento de su
              registro en un formulario de la Web deberá ser verdadera, exacta y
              completa. Los Usuarios son los únicos y exclusivos responsables de
              la información que brindan mediante el uso de la Web y de las
              consecuencias que genere cualquier inexactitud o falsedad de la
              información suministrada. Al proporcionar los Usuarios sus datos
              comerciales, estos pasan a formar parte de un archivo, que define
              el perfil de los Usuarios.
            </li>
          </ol>
          <div
            class="fs-20 garosa-primary-text my-3"
            v-text="`Responsabilidad de LA GAROSA`"
          />
          <ol>
            <li>
              Al ingresar a Sito, los Usuarios aceptan en forma expresa que el
              uso del presente sitio web se realiza bajo su exclusiva
              responsabilidad y riesgo. Ni LA GAROSA ni sus funcionarios,
              directores, empleados o representantes garantizan que el uso del
              sitio web no sufrirá interrupciones ni contendrá errores.
            </li>
            <li>
              Bajo ningún concepto los funcionarios, directores, empleados o
              representantes de LA GAROSA serán responsables por cualquier daño
              directo, indirecto, incidental, especial o punitivo que pudiera
              ser causado por:
              <ol type="a">
                <li>
                  Daños de cualquier naturaleza a la persona o a la propiedad
                  emergentes de su acceso a la Web o de la utilización de la
                  misma;
                </li>
                <li>
                  Cualquier acceso no autorizado a nuestros servidores seguros
                  y/o toda información almacenada en dicho servidor;
                </li>
                <li>
                  Cualquier interrupción o cese de la transmisión desde o hacia
                  la Web; y/o cualquier “bug”, virus, troyano o virus similares
                  que pudieran ser transmitidos por terceros desde o hacia la
                  Web.
                </li>
              </ol>
            </li>
            <li>
              LA GAROSA no es ni será responsable, por el contenido, políticas
              de privacidad o términos de uso de ninguna Web distinta a la de LA
              GAROSA. LA GAROSA no será responsable por la conducta en línea o
              fuera de línea de cualquier Usuario de la Web.
            </li>
            <li>
              LA GAROSA no asume la responsabilidad alguna por errores,
              omisiones, interrupciones, supresiones, defectos, demoras en la
              operación o transmisión, desperfectos en las líneas de
              comunicación, robo o destrucción, acceso no autorizado a cualquier
              comunicación de los Usuarios o su alteración, ni por errores
              humanos o acciones deliberadas de terceros que pudieran
              interrumpir o alterar el normal desarrollo de la Web o causar
              daños en los equipos o software de los Usuarios.
            </li>
            <li>
              LA GAROSA no se responsabiliza por problemas o desperfectos
              técnicos de las redes técnicos de las redes o líneas telefónicas,
              sistemas informáticos en línea, servidores o proveedores, equipos
              de computación, software, desperfectos de correos electrónicos o
              de reproductores, derivados de inconvenientes técnicos o
              congestión en el tráfico de internet o en cualquiera de los
              contenidos de la Web o cualquier combinación de los mismos. Los
              inconvenientes antedichos incluyen los daños o lesiones a Usuarios
              o a la computadora de cualquier persona que tengan relación o que
              resulten de la participación o la descarga de materiales en
              relación a los contenidos de la Web.
            </li>
            <li>
              LA GAROSA no puede garantizar y no promete resultados específicos
              como consecuencia del uso de los contenidos de la Web, ya que
              puede presentarse inconvenientes que no se encuentren bajo la
              esfera de control de LA GAROSA.
            </li>
            <li>
              Los Usuarios se comprometen a indemnizar y mantener indemne y
              libre de daños a LA GAROSA, sus subsidiarias, controlantes,
              empresas vinculadas de y contra toda y cualquier acción o juicio
              de responsabilidad, reclamo, denuncia, penalidad, intereses,
              costos, gastos, multas, honorarios iniciado por terceros debido a
              o con origen en cualquier uso indebido de la Web.
            </li>
          </ol>
          <div
            class="fs-20 garosa-primary-text my-3"
            v-text="`Contenidos y Copyright`"
          />
          <ol>
            <li>
              Los contenidos de la Web incluirán una descripción de los
              productos, medios de pago, beneficios del pasaporte, ubicación de
              tiendas, recetas, servicios ofrecidos por LA GAROSA y otros (en
              adelante los “Contenidos”).
            </li>
            <li>
              Los Contenidos incluidos entre otros textos, software, gráficos,
              fotos, sonidos, música, contenidos interactivos y similares, así
              como las marcas registradas, marcas de servicio y logos son de
              propiedad de LA GAROSA o han sido otorgados a este bajo licencia,
              y quedan sujetos a derechos de autor u otros derechos de propiedad
              intelectual de conformidad con legislación Colombiana, la
              legislación extranjera y convenciones internacionales. Los
              Contenidos son suministrados en el estado en que se encuentran con
              fines informativos y únicamente para uso personal y no podrán ser
              utilizados, copiados, modificados o reproducidos, distribuidos,
              transmitidos, exhibidos, comercializado, sujetos a licencias o
              explotados de cualquier otro modo ni con algún otro fin sin que
              mediare el consentimiento previo por escrito de LA GAROSA.
            </li>
            <li>
              Los Usuarios se comprometen a no hacer uso, copiar o distribuir
              los Contenidos salvo que se los autorice expresamente, incluido el
              uso, copia o distribución del material de terceros obtenido a
              través de la Web. Si los Usuarios descargan o imprimen una copia
              de los Contenidos para su uso personal, deberán guardar todas las
              notificaciones de derechos de autor y otros derechos de propiedad
              que allí se encuentran.
            </li>
            <li>
              La oferta de los productos publicada a través de la Web se
              encuentra sujeta a la disponibilidad de stock al momento de las
              compras en las tiendas, así como a la vigencia que establezca LA
              GAROSA para las mismas. Las fotos de los productos son
              referenciales. Los productos, sus características,
              especificaciones técnicas, precios, disponibilidad, y ofertas
              contenidas en esta Web pueden variar sin previo aviso.
            </li>
          </ol>
          <div class="fs-20 garosa-primary-text my-3" v-text="`Contacto`" />
          <p>
            Ante cualquier consulta, queja o comentario puede contactarse con
            nosotros ingresando a
            <a class="garosa-primary-text" @click.stop="redirect()">aquí</a>
          </p>
        </div>
      </v-card-text>

      <v-card-actions class="ma-3 pa-3">
        <pages-btn
          v-text="`Cerrar`"
          class="text-none mx-auto"
          @click="closeModal()"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogTermsAndConditions",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
    redirect() {
      this.closeModal();
      this.$router.push({ name: "Complaints&Claims" });
    },
  },
};
</script>
