<template>
  <v-container
    fluid
    tag="section"
    class="py-10"
  >
    <v-row
      class="text-center sections-wheat-bg"
      justify="center"
      align="center"
    >
      <v-slide-y-transition appear>
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="6"
          class="hidden-sm-and-down"
        >
          <kinesis-container>
            <kinesis-element
              tag="img"
              axis="x"
              type="depth"
              :strength="20"
              style="width:80%;height:auto;"
              :src="require('@/assets/errors/background.svg')"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="30"
              style="max-width:55%;height:auto;margin-top:-5%;left: 2%;position: absolute;"
              :src="require('@/assets/errors/baker.svg')"
            />
            <kinesis-element
              tag="img"
              axis="y"
              type="translate"
              :strength="30"
              style="max-width:45%;height:auto;margin-top:-2%;right: 5%;position: absolute;"
              :src="require('@/assets/errors/oven.svg')"
            />
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>
      <v-slide-x-transition appear>
        <v-col
          cols="12"
          sm="6"
          md="6"
          lg="5"
        >
          <p
            style="letter-spacing: -2.4px;"
            class="login-signin-form-head"
            v-text="`a veces las cosas no salen como lo esperas`"
          />

          <p
            class="login-signin-form-subtitle my-8"
            v-text="`Ha habido un error. Pero no te preocupes, no eres tú... Somos nosotros.`"
          />
          <pages-btn
            class="text-capitalize"
            :to="{name: 'HomeIndex'}"
            v-text="`Visitar el catálogo`"
          />
        </v-col>
      </v-slide-x-transition>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'PagesError',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
  }
</script>
