<template>
  <v-container fluid tag="section">
    <v-slide-y-transition appear>
      <v-main class="sections-wheat-bg">
        <pages-components-wheat-divider class="mt-n10" />

        <div
          class="mx-auto my-12 text-center ff--wicked-grit garosa-title-text"
          style="letter-spacing: -1.6px"
          :style="{ maxWidth: $vuetify.breakpoint.mdAndUp ? '70%;' : '100%;' }"
          :class="isDesktop ? 'fs-40' : 'fs-30'"
          v-text="title"
        />

        <v-row justify="center" align="center" class="text-center my-12">
          <v-col cols="12" md="6">
            <v-expansion-panels flat hover focusable accordion popout>
              <v-expansion-panel v-for="faq in faqs" :key="faq.id">
                <v-expansion-panel-header
                  hide-actions
                  class="garosa-primary-text text-uppercase text-left fs-30 ff--gilroy-extra-bold"
                >
                  <template v-slot="{ open }">
                    <v-icon
                      large
                      class="mr-2"
                      color="inputColor"
                      style="flex: none"
                      v-text="open ? 'mdi-minus' : 'mdi-plus'"
                    />
                    {{ faq.title }}
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content
                  class="text-justify"
                  v-text="faq.description"
                />
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12" sm="8" md="auto">
            <strong
              class="garosa-primary-text text-uppercase fs-30 ff--gilroy-extra-bold"
              >¿No aclaramos tu duda?</strong
            >

            <v-card
              outlined
              hover
              class="text-center mt-12 py-2 br-20"
              style="border: 3px solid #f9c9a5; opacity: 1"
            >
              <v-card-subtitle class="fs-25"
                >Tal vez nuestras redes si</v-card-subtitle
              >
              <v-card-text>
                <a
                  class="mx-5 mt-1 v-btn"
                  target="_blank"
                  rel="noopener noreferrer"
                  :href="instagram"
                >
                  <v-icon size="46" color="inputColor">mdi-instagram</v-icon>
                </a>
                <a
                  class="mx-5 mt-1 v-btn"
                  target="_blank"
                  rel="noopener noreferrer"
                  :href="facebook"
                >
                  <v-icon size="46" color="inputColor">mdi-facebook</v-icon>
                </a>
              </v-card-text>
            </v-card>

            <v-card
              outlined
              hover
              class="text-center mt-8 py-2 br-20"
              style="border: 3px solid #f9c9a5; opacity: 1"
            >
              <v-card-subtitle class="fs-25"
                >O háblanos directamente</v-card-subtitle
              >
              <v-card-text>
                <a
                  :href="`https://wa.me/${whatsappNumber}?text=${whatsappMsg}`"
                  class="mx-5 mt-1 v-btn"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <v-icon size="46" color="inputColor">mdi-whatsapp</v-icon>
                </a>
                <a
                  :href="`tel:${phoneNumber}`"
                  class="mx-5 mt-1 v-btn"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <v-icon size="46" color="inputColor"
                    >mdi-phone-in-talk</v-icon
                  >
                </a>
              </v-card-text>
            </v-card>

            <div class="mt-5 text-left fs-18">
              <p>
                ¿Algo no resultó como esperabas?
                <router-link
                  :to="{ name: 'Complaints&Claims' }"
                  class="login-signin-links black--text"
                  v-text="`Te escuchamos.`"
                />
              </p>
            </div>
          </v-col>
        </v-row>
      </v-main>
    </v-slide-y-transition>
  </v-container>
</template>
<script>
export default {
  name: "PagesAboutUs",
  components: {
    PagesComponentsWheatDivider: () =>
      import("@/views/pages/components/WheatDivider"),
  },
  data: () => ({
    faqs: [],
    facebook: "",
    instagram: "",
    phoneNumber: "",
    whatsappMsg: "",
    whatsappNumber: "",
    title:
      "La rueda ya está inventada y no somos Google, pero podemos ayudarte a encontrar lo que necesitas",
  }),
  mounted() {
    this.fetchFaqs();
    this.fetchContactInfo();
  },
  methods: {
    fetchFaqs() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.faqs, {
          params: { is_active: "True" },
        })
        .then((response) => (this.faqs = response.data))
        .catch((error) => console.error(error));
    },
    fetchContactInfo() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=contact_info`)
        .then((response) => {
          var data = response.data[0];
          if (data) {
            this.facebook = data.value.facebook_link;
            this.instagram = data.value.instagram_link;
            this.phoneNumber = data.value.phone_number;
            this.whatsappNumber = data.value.whatsapp_number;
            this.whatsappMsg = escape(data.value.whatsapp_msg);
          }
        })
        .catch((error) => console.error(error));
    },
  },
};
</script>
