<template>
  <v-app>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />

    <pages-core-app-bar @notify="notify" />

    <pages-core-view />

    <pages-core-footer v-if="!$route.path.includes('auth')" />
  </v-app>
</template>

<script>
import { DELIVERY_SETUP } from "@/store/cart-constants";

export default {
  name: "PagesIndex",

  components: {
    PagesCoreView: () => import("./components/core/View"),
    PagesCoreAppBar: () => import("./components/core/AppBar"),
    PagesCoreFooter: () => import("./components/core/Footer"),
  },
  data: () => ({
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  mounted() {
    this.showRecaptcha(false);
    this.$store.dispatch(DELIVERY_SETUP);
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
  },
};
</script>
