<template>
  <v-container fluid tag="section" id="order-tracking">
    <v-row dense>
      <v-col cols="12" sm="6" md="4" class="small-sections-wheat-patron-bg">
        <div class="fs-25" v-text="`Pedido #`" />
        <div
          class="text-uppercase fs-30 ff--gilroy-extra-bold mt-n3 mb-6"
          v-text="inProgressOrder.id"
        />

        <v-timeline dense>
          <v-timeline-item
            right
            :key="i"
            class="my-2"
            :large="orderStatus > i"
            v-for="(status, i) in orderStatuses"
            :color="orderStatus > i ? 'buttonMainColor' : 'footerBgColor'"
          >
            <v-avatar
              color="accent"
              size="80"
              :style="{ opacity: orderStatus <= i ? 0.36 : 1 }"
            >
              <v-icon color="accent darken-4" large v-text="status.icon" />
            </v-avatar>
            <div
              v-text="status.name"
              class="ff--gilroy-extra-bold fs-25"
              :class="{ 'text--disabled': orderStatus <= i }"
            />
          </v-timeline-item>
        </v-timeline>
      </v-col>

      <v-col
        cols="12"
        sm="6"
        md="8"
        style="width: 100%; height: 85vh"
        v-if="isDesktop"
      >
        <google-map
          id="map"
          ref="map"
          :options="mapOptions"
          :center="mapCenter"
        >
          <google-map-marker
            visible
            :key="i"
            :icon="marker.icon"
            :title="marker.title"
            :position="marker.position"
            v-for="(marker, i) in markers"
          />

          <v-btn
            top
            right
            rounded
            absolute
            color="white"
            v-text="arrivalTimeMsg"
            class="text-none black--text text-wrap"
            :class="{ 'py-5': $vuetify.breakpoint.xs }"
            :small="$vuetify.breakpoint.xs"
            :x-large="$vuetify.breakpoint.mdAndUp"
            :max-width="$vuetify.breakpoint.smAndDown ? 250 : '100%'"
            v-if="inProgressOrder && inProgressOrder.status.id >= 2"
          />

          <v-btn
            bottom
            rounded
            absolute
            x-large
            class="ml-10"
            v-if="orderStatus >= 3"
            :small="$vuetify.breakpoint.xs"
            :x-large="$vuetify.breakpoint.mdAndUp"
            :elevation="$vuetify.breakpoint.smAndDown ? 0 : 1"
            :color="$vuetify.breakpoint.smAndDown ? 'transparent' : 'white'"
          >
            <span
              v-text="`¿Ya llegó tu pedido?`"
              class="mr-12 text-none black--text hidden-sm-and-down"
            />
            <v-btn
              rounded
              elevation="0"
              v-text="`Confirmar`"
              color="buttonMainColor"
              class="text-capitalize my-10 mx-auto"
              :small="$vuetify.breakpoint.xs"
              :x-large="$vuetify.breakpoint.mdAndUp"
              :to="{
                name: 'RateOrder',
                params: { orderId: inProgressOrder.id },
              }"
            />
          </v-btn>
          <v-btn
            right
            bottom
            rounded
            absolute
            elevation="0"
            ref="btn-test"
            v-text="`Ayuda`"
            color="buttonMainColor"
            class="text-capitalize"
            :to="{ name: 'Faqs' }"
            :small="$vuetify.breakpoint.xs"
            :x-large="$vuetify.breakpoint.mdAndUp"
          />
        </google-map>
      </v-col>
    </v-row>

    <v-dialog v-model="loading" hide-overlay persistent width="300">
      <v-card color="buttonMainColor">
        <v-card-text class="text-center white--text">
          Cargando...
          <v-progress-linear indeterminate class="mb-0" color="inputColor" />
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { IN_PROGRESS_ORDER } from "@/store/cart-constants";
export default {
  name: "PagesOrderTracing",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    loading: false,
    orderStatuses: [
      { name: "Aprobado", icon: "mdi-check" },
      { name: "Preparando tu orden", icon: "mdi-room-service" },
      { name: "Pedido en camino", icon: "mdi-bike" },
      { name: "Pedido entregado", icon: "mdi-home" },
    ],
    salesPoints: [],
    showMarkerInfo: false,
    mapCenter: { lat: 10.9906729, lng: -74.8658095 },
    mapOptions: {
      zoom: 13,
      zoomControl: false,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false,
      disableDefaultUi: false,
    },
  }),
  computed: {
    inProgressOrder() {
      return this.$store.getters[IN_PROGRESS_ORDER];
    },
    orderStatus() {
      return this.inProgressOrder.status ? this.inProgressOrder.status.id : 0;
    },
    markers() {
      if (this.inProgressOrder.address) {
        const order = this.inProgressOrder,
          address = order.address,
          salePoint = order.sale_point;

        let markers = [];
        markers.push({
          position: {
            lat: Number(address.latitude),
            lng: Number(address.longitude),
          },
          title: `${address.address} - ${address.description}`,
          icon: require("@/assets/map_marker_home.png"),
        });
        markers.push({
          position: {
            lat: Number(salePoint.latitude),
            lng: Number(salePoint.longitude),
          },
          title: `${salePoint.name} - ${salePoint.address}`,
          icon: require("@/assets/map_marker_store.png"),
        });

        return markers;
      }
      return [];
    },
    arrivalTimeMsg() {
      if (this.inProgressOrder) {
        if (
          this.inProgressOrder.status &&
          this.inProgressOrder.status.id === 2
        ) {
          var time = this.$moment(
            this.inProgressOrder.preparation_time.substring(0, 8),
            "HH:mm:ss"
          ).format("HH:m A");

          return `Hora estimada de despacho ${time}`;
        }
        if (
          this.inProgressOrder.status &&
          this.inProgressOrder.status.id >= 3
        ) {
          var time = this.$moment(
            this.inProgressOrder.delivery_time.substring(0, 8),
            "HH:mm:ss"
          ).format("HH:m A");

          return `Hora estimada de entrega ${time}`;
        }
      }
      return "";
    },
  },
  methods: {
    fetchSalesPoints() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint, {
          params: { is_active: "True" },
        })
        .then((response) => {
          this.salesPoints = response.data.map((sp) => {
            return {
              ...sp,
              position: {
                lat: Number(sp.latitude),
                lng: Number(sp.longitude),
              },
            };
          });

          this.setCurrentMarker(this.salesPoints[0] || {});
        });
    },
    setCurrentMarker(salePoint) {
      this.currentSalePointMapMarker = salePoint;
      if (salePoint.position) {
        this.mapCenter = salePoint.position;
        this.defaultMapZoom = 15;
        this.$refs.map.panTo(salePoint.position);
      }
    },
    fetchOrder(headers) {
      var config = {
        method: "get",
        url: this.urlConstants.StoreUrls.order.concat(
          "/",
          this.$route.params.orderId
        ),
      };

      if (headers) {
        config = Object.assign(config, { ...headers });
      }

      this.loading = true;
      this.axios(config)
        .then((response) => {
          this.order = response.data || {};
          this.$store.commit(IN_PROGRESS_ORDER, this.order);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    async fetchGestToken() {
      await this.$recaptchaLoaded();
      const reCaptchaToken = await this.$recaptcha("login");

      const params = {
        recaptcha_token: reCaptchaToken,
        email: process.env.VUE_APP_GUEST_USERNAME,
        password: process.env.VUE_APP_GUEST_USER_PASSWORD,
      };

      this.loading = true;
      this.axios
        .post(this.urlConstants.AuthUrls.login, params)
        .then((res) => {
          this.fetchOrder({
            headers: { Authorization: `Token ${res.data.auth_token}` },
          });
        })
        .catch((error) => {
          return this.notify(
            "error",
            "Ocurrió un problema, por favor intenta en unos minutos"
          );
        })
        .then((res) => (this.loading = false));
    },
  },
  mounted() {
    if (this.isDesktop) {
      this.$refs["btn-test"].$parent.$el.lastElementChild.removeAttribute(
        "class"
      );

      setTimeout(() => {
        if (this.markers.length) {
          const center = this.markers[1].position;
          this.mapOptions.center = center;
          this.$refs.map.panTo(center);
        }
      }, 500);
    }

    if (!this.$store.getters[IN_PROGRESS_ORDER]?.id) {
      if (this.$session.exists()) {
        this.fetchOrder();
      } else {
        this.fetchGestToken();
      }
    }
  },
};
</script>
<style lang="sass" scoped>
#order-tracking
  .theme--light.v-timeline
    &::before
      background-color: #7A4763
</style>