<template>
  <v-container class="justify-center sections-wheat-bg" tag="section">
    <v-row justify="center" class="mx-12 my-12">
      <v-slide-y-transition appear>
        <v-col cols="12" sm="auto" class="hidden-md-and-down">
          <kinesis-container>
            <kinesis-element
              tag="img"
              axis="x"
              type="depth"
              :strength="20"
              style="width:80%;height:auto;"
              :src="require('@/assets/rateOrder/bg.svg')"
            />
            <kinesis-element
              axis="y"
              tag="img"
              :strength="30"
              type="translate"
              :src="require('@/assets/rateOrder/turbo.svg')"
              style="margin-top:10%;left: -15%;position: absolute;"
            />
            <kinesis-element
              axis="y"
              tag="img"
              :strength="30"
              type="translate"
              :src="require('@/assets/rateOrder/marimonda.svg')"
              style="margin-top:-1%;right: 8%;position: absolute;"
            />
          </kinesis-container>
        </v-col>
      </v-slide-y-transition>

      <v-slide-x-transition appear>
        <v-col cols="12" sm="auto" md="6" class="text-center">
          <div class="text-uppercase login-signin-form-head" v-text="`¡DISFRUTA TU COMIDA!`" />

          <div
            class="login-signin-form-subtitle mt-3 fs-25"
            v-text="`Nos encantaría saber tu opinión. Así podremos seguir satisfaciendo tus antojos.`"
          />

          <div class="fs-40 mt-5" v-text="`¿Cómo calificas tu experiencia?`" />

          <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
            <form ref="form" class="my-5" @submit.prevent="handleSubmit(submit)">
              <v-rating v-model="rate">
                <template v-slot:item="props">
                  <v-icon
                    :size="$vuetify.breakpoint.smAndDown ? 30 : 55"
                    :color="props.isFilled || props.isHalfFilled ? 'footerBgColor' : 'accent'"
                    @click="props.click"
                  >{{ props.isHalfFilled ? 'mdi-star-half-full' : 'mdi-star' }}</v-icon>
                </template>
              </v-rating>
              <validation-provider v-slot="{errors}" name="Comentarios" rules="required|max:255">
                <v-textarea
                  v-model="comments"
                  autofocus
                  no-resize
                  :rows="5"
                  :counter="255"
                  v-bind="inputAttrs"
                  label="Deja un comentario."
                  :error-messages="errors"
                />
              </validation-provider>

              <div class="login-signin-form-subtitle fs-25">
                ¡No olvides etiquetar
                <strong>@la_garosa</strong> al subir fotos a tus redes!
              </div>
              <div class="text-center mt-3">
                <pages-btn
                  outlined
                  :disabled="submitting"
                  :width="$vuetify.breakpoint.smAndDown ? '100%' : '45%'"
                  class="text-none mx-3 my-2"
                  background-color="white"
                  :to="{name: 'HomeIndex'}"
                  v-text="`Calificar después`"
                />
                <pages-btn
                  type="submit"
                  :width="$vuetify.breakpoint.smAndDown ? '100%' : '45%'"
                  :loading="submitting"
                  :disabled="submitting"
                  class="text-capitalize mx-3 my-2"
                  v-text="`Calificar`"
                />
              </div>

              <div class="text-center mt-5">
                ¿Algo no resultó como esperabas?
                <router-link
                  :to="{name: 'Complaints&Claims'}"
                  style="text-decoration: none !important;"
                  class="login-signin-links black--text"
                  v-text="`Te escuchamos.`"
                />
              </div>
            </form>
          </validation-observer>
        </v-col>
      </v-slide-x-transition>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
export default {
  name: "PagesSingIn",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    orderId: {
      default: 0,
      required: true,
      type: [Number, String],
    },
  },
  data: () => ({
    submitting: false,
    rate: 4,
    comments: "",
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  beforeMount() {
    if (!this.orderId) this.$router.push({ name: "Account" });
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    submit() {
      const params = {
        status: 4, // Entregado
        rating: this.rate,
        change_status: "True",
        comment: this.comments,
      };

      this.submitting = true;
      this.axios
        .patch(`${this.urlConstants.StoreUrls.order}/${this.orderId}`, params)
        .then((response) => {
          this.notify("success", "Gracias por tus comentarios.");
          setTimeout(() => {
            this.$router.push({ name: "HomeIndex" });
          }, 1500);
        })
        .catch((error) => {
          return this.notify(
            "error",
            "No pudimos recibir tus comentarios, por favor intenta nuevamente."
          );
        })
        .then(() => (this.submitting = false));
    },
  },
};
</script>
