<template>
  <v-container fluid tag="section">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="6" md="4" class="text-center sections-wheat-bg">
        <span
          class="text-uppercase login-signin-form-head"
          :class="isDesktop ? 'fs-35 my-12' : 'fs-30'"
          >Conoce nuestros puntos de venta</span
        >

        <v-list
          tile
          shaped
          three-line
          class="text-justify overflow-y-auto"
          :class="[isDesktop ? 'mx-2 mt-5' : '']"
          :height="!isDesktop ? '100%' : '90vh'"
        >
          <v-list-item-group
            v-model="selectedSalePointIndex"
            color="inputColor"
          >
            <v-list-item
              v-for="(salePoint, i) in salesPoints"
              :key="i"
              three-line
              @click="setCurrentMarker(salePoint)"
            >
              <v-list-item-content>
                <v-list-item-title
                  class="text-left garosa-primary-text mb-2 fs-25 ff--gilroy-extra-bold"
                >
                  <v-icon color="inputColor" left>mdi-circle</v-icon>
                  {{ salePoint.name }}
                </v-list-item-title>

                <v-list-item-subtitle
                  v-if="salePoint.description"
                  class="ml-8 black--text"
                  v-text="salePoint.description"
                  :class="{ 'fs-20': isDesktop }"
                />
                <v-list-item-subtitle
                  class="ml-8 black--text text-wrap"
                  v-text="salePoint.address"
                  :class="{ 'fs-20': isDesktop }"
                />
                <v-list-item-subtitle
                  class="ml-8 accent--text text-wrap"
                  v-text="salePoint.city.name"
                  :class="{ 'fs-20': isDesktop }"
                />
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-col>
      <v-col cols="12" sm="6" md="8" style="width: 100%; height: 90vh">
        <google-map
          id="map"
          ref="map"
          :center="mapCenter"
          :zoom="defaultMapZoom"
        >
          <google-map-marker
            :icon="require('@/assets/map_marker_store.png')"
            v-if="currentSalePointMapMarker.position"
            :title="currentSalePointMapMarker.name"
            :position="currentSalePointMapMarker.position"
            :visible="!!currentSalePointMapMarker.position"
            @click="showMarkerInfo = true"
          />
          <google-map-infowindow
            v-if="currentSalePointMapMarker.position"
            :options="{ maxWidth: 350 }"
            :show.sync="showMarkerInfo"
            :position="currentSalePointMapMarker.position"
          >
            <p>
              <strong v-text="currentSalePointMapMarker.name" />
              <br />
              {{ currentSalePointMapMarker.description }}
              <br />
              {{ currentSalePointMapMarker.address }}
            </p>
          </google-map-infowindow>
        </google-map>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "PagesSalesPoints",
  data: () => ({
    salesPoints: [],
    showMarkerInfo: false,
    selectedSalePointIndex: 0,
    currentSalePointMapMarker: {},
    mapCenter: {
      lat: 10.9906729,
      lng: -74.8658095,
    },
    defaultMapZoom: 13,
  }),
  mounted() {
    this.fetchSalesPoints();
  },
  methods: {
    fetchSalesPoints() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint, {
          params: { is_active: "True" },
        })
        .then((response) => {
          this.salesPoints = response.data.map((sp) => {
            return {
              ...sp,
              position: {
                lat: Number(sp.latitude),
                lng: Number(sp.longitude),
              },
            };
          });

          this.setCurrentMarker(this.salesPoints[0] || {}, false);
        });
    },
    setCurrentMarker(salePoint, scroll = true) {
      this.currentSalePointMapMarker = salePoint;
      if (salePoint.position) {
        this.mapCenter = salePoint.position;
        this.defaultMapZoom = 15;
        this.$refs.map.panTo(salePoint.position);

        if (scroll && !this.isDesktop) {
          window.scrollBy({
            top: this.$refs.map.$el.getBoundingClientRect().top,
            behavior: "smooth",
          });
        }
      }
    },
  },
};
</script>
