<template>
  <v-container fluid tag="section">
    <v-slide-y-transition appear>
      <v-main class="sections-wheat-bg">
        <pages-components-wheat-divider class="mt-n10" />

        <div
          class="mx-auto my-12 text-center ff--wicked-grit garosa-title-text"
          style="letter-spacing: -1.6px"
          :style="{ maxWidth: $vuetify.breakpoint.mdAndUp ? '70%;' : '100%;' }"
          :class="isDesktop ? 'fs-40' : 'fs-30'"
          v-text="title"
        />
        <v-row no-gutters>
          <v-col
            v-for="(salePoint, i) in salesPoints"
            :key="i"
            cols="12"
            sm="4"
            style="padding: 5px"
          >
            <v-card :min-height="isDesktop ? 280 : undefined">
              <v-card-text>
                <div
                  :class="[isDesktop ? 'fs-25' : 'fs-20']"
                  class="text-left garosa-primary-text ff--gilroy-extra-bold"
                  v-text="salePoint.name"
                />
                <div
                  :class="[isDesktop ? 'fs-20' : 'fs-18']"
                  class="black--text"
                  v-text="salePoint.address"
                />
                <div
                  :class="[isDesktop ? 'fs-20' : 'fs-18']"
                  class="black--text"
                  v-text="salePoint.city.name"
                />
                <v-list-item
                  class=""
                  v-for="(item, i) in salePoint.schedules_store"
                  :key="i"
                  two-line
                >
                  <v-list-item-icon>
                    <v-icon>mdi-calendar</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>{{ item.days }}</v-list-item-title>
                    <v-list-item-subtitle class="text--secondary"
                      >{{ item.time }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-main>
    </v-slide-y-transition>
  </v-container>
</template>
<script>
export default {
  name: "PagesSchedules",
  components: {
    PagesComponentsWheatDivider: () =>
      import("@/views/pages/components/WheatDivider"),
  },
  data: () => ({
    salesPoints: [],
    title: "Nuestros horarios",
  }),
  mounted() {
    this.fetchSalesPoints();
  },
  methods: {
    fetchSalesPoints() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint, {
          params: { is_active: "True" },
        })
        .then((response) => {
          this.salesPoints = response.data;
        });
    },
  },
};
</script>
