<template>
  <v-container
    fluid
    class="py-5"
    :class="[$vuetify.breakpoint.mdAndUp ? 'px-16' : 'px-5']"
  >
    <v-dialog v-model="loading" hide-overlay persistent width="300">
      <v-card color="buttonMainColor">
        <v-card-text class="text-center white--text">
          Cargando...
          <v-progress-linear indeterminate class="mb-0" color="inputColor" />
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-text-field
      v-model="search"
      rounded
      outlined
      single-line
      hide-details
      color="inputColor"
      placeholder="Buscar"
      background-color="white"
      class="ml-auto mt-n12 v-btn--absolute"
      style="max-width: 350px; z-index: 100"
      @keydown.enter="filterData(search)"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-container fluid class="overflow-y-auto">
      <v-list>
        <template v-for="(not, i) in data">
          <v-list-item class="my-2" :key="`not-${i}`" @click="goToOrder(not)">
            <template v-slot:default="{ active, toggle }">
              <v-list-item-icon class="mr-4">
                <v-icon size="20" color="adminNotes" v-show="not.is_active"
                  >mdi-circle</v-icon
                >
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="black--text fs-20 text-truncate">
                  {{ not.created_at | datetime("", "YY/MM/DD HH:mm") }}
                  <span class="ml-6" v-text="not.description" />
                </v-list-item-title>
              </v-list-item-content>
            </template>
          </v-list-item>

          <v-divider :key="i" class="mx-4" style="border: 1px solid #b3d8dd" />
        </template>
      </v-list>
    </v-container>
  </v-container>
</template>

<script>
import { UNREAD_NOTIFICATION } from "@/store/dashboard";

export default {
  name: "DashboardNotifications",
  data: () => ({
    total: 0,
    data: [],
    offset: 0,
    search: null,
    loading: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    originalData: [],
  }),
  watch: {
    search(val) {
      if (!val) this.filterData(val);
    },
  },
  mounted() {
    this.scroll();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchInfo(firstTime = false) {
      if (this.offset < this.total || firstTime) {
        this.loading = true;
        this.axios
          .get(this.urlConstants.AdminUrls.notification, {
            params: {
              limit: 20,
              offset: this.offset,
            },
          })
          .then((response) => {
            this.originalData = this.originalData.concat(response.data.results);
            this.data = this.originalData;
            this.total = response.data.count;
            this.offset =
              this.total >= this.offset + 20 ? this.offset + 20 : this.total;

            this.updateNotifications();
          })
          .catch((error) =>
            this.notify("error", "Ocurrió un error cargando la información.")
          )
          .then(() => (this.loading = false));
      }
    },
    filterData(v) {
      this.loading = true;
      setTimeout(() => {
        if (v) {
          this.data = this.originalData.filter((e) => {
            return (e.message || "")
              .toLowerCase()
              .includes((v || "").toLowerCase());
          });
        } else this.data = this.originalData;

        this.loading = false;
      }, 500);
    },
    scroll() {
      window.onscroll = () => {
        const bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight ===
          document.documentElement.offsetHeight;

        if (bottomOfWindow) this.fetchInfo();
      };

      this.fetchInfo(true);
    },
    goToOrder(not) {
      this.axios.patch(
        this.urlConstants.AdminUrls.notification.concat("/", not.id),
        {
          is_active: false,
        }
      );

      not.is_active = false;
      this.updateNotifications();

      this.$router.push({
        name: "OrderDetail",
        params: { orderId: not.order },
      });
    },
    updateNotifications() {
      this.$store.commit(
        UNREAD_NOTIFICATION,
        this.originalData.some((n) => n.is_active)
      );
    },
  },
};
</script>
