<template>
  <v-card class="br-20" height="300" v-bind="$attrs">
    <v-progress-linear slot="progress" color="inputColor" indeterminate />
    <v-card-title
      class="white--text footerBgColor text-uppercase fs-20 ff--gilroy-extra-bold justify-center"
      v-text="title"
    />
    <v-card-text v-if="chartData.length" style="height:85%;">
      <GChart type="BarChart" :data="chartData" class="fill-height" :options="chartOptions" />
    </v-card-text>
    <v-card-text v-else class="d-flex justify-center align-center" style="height:90%;">
      <div
        :style="{ color: chartColor }"
        style="line-height: normal;  letter-spacing: -4px;"
        class="fs-50 ff--wicked-grit text-uppercase text-center"
        v-text="$attrs['no-data-text']"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import { maxBy } from "lodash";
export default {
  name: "ChartCustomerTopSales",
  props: {
    data: {
      type: Array,
      required: true,
    },
    chartColor: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    maxValue: 5,
  }),
  computed: {
    chartOptions() {
      return {
        colors: [this.chartColor],
        hAxis: {
          minValue: 0,
          textPosition: "none",
          maxValue: this.maxValue,
          baselineColor: "#7A4763",
          gridlines: { color: "transparent" },
        },
        bar: { groupWidth: "90%" },
        legend: { position: "none" },
        chartArea: { top: 10, height: "85%" },
      };
    },
    chartData() {
      return this.mapData();
    },
    title() {
      return this.data.length
        ? this.data[0].order__user__first_name
        : "ventas cliente";
    },
  },
  methods: {
    mapData() {
      if (!this.data.length) return [];

      this.maxValue = maxBy(this.data, "total").total + 3;
      var chartData = [["Product", "qty"]];
      this.data.forEach((element) => {
        chartData.push([element.product__name, element.total]);
      });

      return chartData;
    },
  },
};
</script>
