<template>
  <v-card class="br-20" v-bind="$attrs">
    <v-progress-linear slot="progress" color="inputColor" indeterminate />

    <v-card-title
      class="white--text footerBgColor text-uppercase fs-20 ff--gilroy-extra-bold justify-center"
      v-text="title"
    />

    <v-card-text v-if="data.length">
      <v-list dense class="mx-auto my-2">
        <template v-for="(item, i) in data">
          <v-divider :key="`t-${i}`" class="mx-4 my-0" style="border: 1px solid #B3D8DD;" />
          <v-list-item :key="`itm-${i}`" dense>
            <v-list-item-content class="my-0">
              <v-list-item-title
                class="black--text fs-20 text-truncate"
              >{{ i+1 }}. {{ item[displayField] }}</v-list-item-title>
            </v-list-item-content>

            <v-divider vertical style="border: 1px solid #B3D8DD;" />

            <v-list-item-action style="width:45px;" class="my-0">{{ item[totalField] | kFormatter }}</v-list-item-action>
          </v-list-item>

          <v-divider
            v-if="i === data.length - 1"
            :key="`b-${i}`"
            class="mx-4 my-0"
            style="border: 1px solid #B3D8DD;"
          />
        </template>
      </v-list>
    </v-card-text>
    <v-card-text v-else class="d-flex justify-center align-center" style="height:90%;">
      <div
        style="line-height: normal;  letter-spacing: -4px;"
        class="fs-50 ff--wicked-grit text-uppercase adminNotes--text text-center"
        v-text="$attrs['no-data-text']"
      />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "DashboardTopSales",
  props: {
    title: {
      type: String,
      required: true,
    },
    data: {
      type: Array,
      required: true,
    },
    totalField: {
      type: String,
      required: true,
    },
    displayField: {
      type: String,
      required: true,
    },
  },
};
</script>
