<template>
  <v-card
    class="br-10"
    :style="{ height: $vuetify.breakpoint.mdAndUp ? '200px' : '100%' }"
  >
    <v-card-text :style="fontSize">
      <v-row no-gutters>
        <v-col cols="12" sm="3" :class="labelCss">cliente:</v-col>
        <v-col cols="12" sm="9" :class="valueCss" class="text-truncate">{{
          customer
        }}</v-col>
        <v-col cols="12" sm="3" :class="labelCss">teléfono:</v-col>
        <v-col cols="12" sm="9" :class="valueCss">{{ phone }}</v-col>
        <v-col cols="12" sm="3" :class="labelCss">dirección:</v-col>
        <v-col cols="12" sm="9" :class="valueCss" class="text-truncate">{{
          address.address || "--"
        }}</v-col>
        <v-col cols="12" sm="3" :class="labelCss">nota:</v-col>
        <v-col cols="12" sm="9" :class="valueCss" class="text-truncate">{{
          address.notes || "--"
        }}</v-col>
        <v-col cols="12" sm="3" :class="labelCss">pago:</v-col>
        <v-col sm="9" cols="12" :class="valueCss"
          >{{ order.payment_method === 1 ? "Efectivo - " : ""
          }}{{ order.payment_method_name }}</v-col
        >
        <v-col cols="12" sm="3" :class="labelCss">domicilio:</v-col>
        <v-col cols="12" sm="9" :class="valueCss">{{
          order.delivery_price | money
        }}</v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { ORDER } from "@/store/dashboard";
export default {
  name: "CustomerInfo",
  data: () => ({
    valueCss: ["text-capitalize"],
    fontSize: { fontSize: "1.2vw" },
    textWrapCss: ["d-flex justify-space-around py-1"],
    labelCss: ["text-uppercase ff--gilroy-extra-bold adminNotes--text"],
  }),
  computed: {
    order() {
      return this.$store.getters[ORDER];
    },
    customer() {
      return (
        this.order.direct_client ||
        `${this.order.user.first_name} ${this.order.user.last_name}`
      );
    },
    phone() {
      return this.order.direct_phone || this.order.user.phone || "--";
    },
    address() {
      return this.order.address || {};
    },
  },
};
</script>
