<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`Estamos listos para aprobar este pedido`"
        />
      </v-card-text>

      <v-card-text class="text-center">
        <v-row dense justify="center" align="baseline">
          <v-col cols="12" sm="4" class="fs-25">Preparación</v-col>
          <v-col cols="6" sm="4">
            <v-text-field
              v-model.number="hours"
              hint="Horas"
              persistent-hint
              v-bind="inputAttrs"
              style="max-width:160px"
            >
              <template v-slot:prepend-inner>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  class="mt-n1"
                  color="buttonMainColor"
                  @click="setTime('hours', -1)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </template>
              <template v-slot:append>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  class="mt-n1 mr-n1"
                  color="buttonMainColor"
                  @click="setTime('hours', 1)"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
          <v-col cols="6" sm="4">
            <v-text-field
              v-model.number="minutes"
              hint="Minutos"
              readonly
              persistent-hint
              v-bind="inputAttrs"
              style="max-width:160px"
            >
              <template v-slot:prepend-inner>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  class="mt-n1"
                  color="buttonMainColor"
                  @click="setTime('minutes', -5)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </template>
              <template v-slot:append>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  class="mt-n1 mr-n1"
                  color="buttonMainColor"
                  @click="setTime('minutes', 5)"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions class="mb-12">
        <v-spacer />
        <pages-btn
          outlined
          :disabled="submitting"
          class="text-capitalize"
          @click="closeModal()"
          v-text="`Cancelar`"
        />
        <v-spacer />
        <pages-btn
          :loading="submitting"
          :disabled="submitting || preparationTime<=0"
          class="text-capitalize"
          @click="submit"
          v-text="`Aprobar`"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogApproveOrder",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    orderId: {
      default: 0,
      type: Number,
      required: true,
    },
  },
  data: () => ({
    hours: 0,
    minutes: 0,
    submitting: false,
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
  }),
  computed: {
    preparationTime() {
      return this.hours * 60 + this.minutes;
    },
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
    setTime(key, val) {
      const finalQty = this[key] <= 0 && val < 1 ? 0 : this[key] + val;
      if (key === "minutes" && finalQty > 55) finalQty = 55;

      this[key] = finalQty;
    },
    submit() {
      var config = {
        method: "patch",
        data: { status: 2, preparation_minutes: this.preparationTime },
        url: this.urlConstants.StoreUrls.order.concat("/", this.orderId),
      };

      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.$emit("confirm");
          this.$emit("notify", "success", "Order aprobada exitosamente");
          this.closeModal();
        })
        .catch((error) => {
          return this.$emit(
            "notify",
            "error",
            "Ocurrió un error, intenta nuevamente"
          );
        })
        .then(() => (this.submitting = false));
    },
  },
};
</script>
