<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`Edición de info`"
        />
      </v-card-text>

      <v-card-text>
        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form ref="form" @submit.prevent="handleSubmit(save)">
            <v-text-field v-model="to" autofocus label="Para" v-bind="inputAttrs" />
            <validation-provider v-slot="{errors}" rules="max:200" name="Mensaje">
              <v-textarea
                v-model="message"
                counter="200"
                label="Mensaje"
                v-bind="inputAttrs"
                :error-messages="errors"
              />
            </validation-provider>

            <div class="text-center my-5">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mr-3"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize"
                v-text="`Guardar`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-dialog>
</template>

<script>
import { ORDER } from "@/store/dashboard";
import { pick } from "lodash";
export default {
  name: "DialogEditGiftInfo",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    to: null,
    message: null,
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  computed: {
    order() {
      return this.$store.getters[ORDER];
    },
  },
  watch: {
    visible(val) {
      if (val) {
        this.message = this.order.message;
        this.to = this.order.delivery_name;
      }
    },
  },
  methods: {
    closeModal() {
      this.to = null;
      this.message = null;
      this.$emit("close");
    },
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    save() {
      this.submitting = true;
      this.axios
        .patch(this.urlConstants.StoreUrls.order.concat("/", this.order.id), {
          message: this.message,
          delivery_name: this.to,
        })
        .then((response) => {
          this.notify(
            "success",
            "¡Listo! Los datos fueron actualizados exitosamente."
          );
          this.$set(this.order, "message", this.message);
          this.$set(this.order, "delivery_name", this.to);
          setTimeout(() => {
            this.closeModal();
          }, 1500);
        })
        .catch((error) =>
          this.notify(
            "error",
            "Ocurrió un problema actualizando la información del pedido."
          )
        )
        .then((this.submitting = false));
    },
  },
};
</script>
