<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon
          large
          color="accent"
          aria-label="close"
          @click="closeModal()"
        >
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¿Cómo se va a despachar este nuevo pedido?`"
        />
      </v-card-text>

      <v-card-text class="d-inline-flex justify-center mb-10">
        <v-btn
          fab
          width="185"
          height="185"
          color="accent"
          elevation="0"
          class="mr-7"
          :to="{name: 'CreateOrder', params: {deliveryType: 1}}"
        >
          <v-icon size="90">
            mdi-store
          </v-icon>
        </v-btn>
        <v-btn
          fab
          width="185"
          height="185"
          color="accent"
          elevation="0"
          class="ml-7"
          :to="{name: 'CreateOrder', params: {deliveryType: 2}}"
        >
          <v-icon size="90">
            mdi-bike
          </v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'DialogNewOrder',
    props: {
      visible: {
        type: Boolean,
        default: false,
        required: true,
      },
    },
    data: () => ({
      submitting: false,
    }),
    methods: {
      closeModal () {
        this.$emit('close')
      },
    },
  }
</script>
