<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon
          large
          color="accent"
          aria-label="close"
          @click="closeModal()"
        >
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`info para regalo`"
        />
      </v-card-text>

      <v-card-text>
        <validation-observer
          v-slot="{ handleSubmit }"
          ref="formValidation"
        >
          <form
            ref="form"
            @submit.prevent="handleSubmit(save)"
          >
            <validation-provider
              v-slot="{errors}"
              rules="required"
              name="¿Quién recibe?"
            >
              <v-text-field
                v-model="to"
                autofocus
                v-bind="inputAttrs"
                label="¿Quién recibe?"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{errors}"
              rules="required|max:200"
              name="Mensaje"
            >
              <v-textarea
                v-model="message"
                counter="200"
                label="Mensaje"
                v-bind="inputAttrs"
                :error-messages="errors"
              />
            </validation-provider>

            <div class="text-center my-5">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mr-3"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize"
                v-text="`Guardar`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  import { GIFT_INFORMATION } from '@/store/cart-constants'
  export default {
    name: 'DialogSetGiftInfo',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    props: {
      visible: {
        type: Boolean,
        default: false,
        required: true,
      },
    },
    data: () => ({
      to: null,
      message: null,
      submitting: false,
      inputAttrs: {
        color: 'inputColor',
        class: 'my-0 py-0',
        rounded: true,
        outlined: true,
      },
    }),
    methods: {
      closeModal () {
        this.to = null
        this.message = null
        this.$emit('close')
      },
      save () {
        this.$store.dispatch(GIFT_INFORMATION, {
          isGift: true,
          message: this.message,
          receiverName: this.to,
        })

        this.$emit('notify', 'success', '¡Listo! Información guardada.')
        setTimeout(() => {
          this.closeModal()
        }, 1000)
      },
    },
  }
</script>
