<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¿Cúando se entregará el pedido?`"
        />
      </v-card-text>

      <v-card-text>
        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form ref="form" @submit.prevent="handleSubmit(submit)">
            <v-menu
              v-model="showDeliveryDate"
              offset-y
              min-width="90px"
              :nudge-right="40"
              transition="scale-transition"
              :close-on-content-click="false"
            >
              <template v-slot:activator="{ on }">
                <validation-provider
                  v-slot="{ errors }"
                  rules="required"
                  name="día"
                >
                  <v-text-field
                    v-model="displayedDeliveryDate"
                    readonly
                    v-bind="inputAttrs"
                    label="Día"
                    v-on="on"
                    :error-messages="errors"
                  />
                </validation-provider>
              </template>
              <v-date-picker
                v-model="deliveryDate"
                scrollable
                show-current
                v-bind="inputAttrs"
                header-color="buttonMainColor"
                :locale="getDateInputLocale()"
                :allowed-dates="allowedDates"
                :min="$moment().format('YYYY-MM-DD')"
                @change="showDeliveryDate = false"
              />
            </v-menu>

            <v-menu
              ref="deliveryHour"
              v-model="showDeliveryHour"
              offset-y
              min-width="90px"
              :nudge-right="40"
              transition="scale-transition"
              :close-on-content-click="false"
              :return-value.sync="deliveryHour"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  rules="required"
                  name="hora"
                >
                  <v-text-field
                    v-model="displayedDeliveryHour"
                    readonly
                    clearable
                    hide-details
                    :disabled="!deliveryDate"
                    label="Hora"
                    placeholder="00:00 AM/PM"
                    v-bind="{ ...attrs, ...inputAttrs }"
                    v-on="on"
                    :error-messages="errors"
                  />
                </validation-provider>
              </template>
              <v-time-picker
                v-model="deliveryHour"
                scrollable
                color="buttonMainColor"
                header-color="inputColor"
                :allowed-hours="allowedHours"
                :min="minHour"
              >
                <v-spacer />
                <pages-btn
                  outlined
                  width="35%"
                  color="buttonMainColor"
                  class="text-capitalize"
                  @click="showDeliveryHour = false"
                  v-text="`Cancelar`"
                />
                <pages-btn
                  width="35%"
                  @click="$refs.deliveryHour.save(deliveryHour)"
                  v-text="`OK`"
                />
              </v-time-picker>
            </v-menu>
          </form>
        </validation-observer>
      </v-card-text>

      <v-card-actions class="mb-12">
        <v-spacer />
        <pages-btn
          outlined
          class="text-none"
          @click="closeModal()"
          v-text="`Volver al pedido`"
        />
        <v-spacer />
        <pages-btn
          class="text-none"
          @click="submit"
          v-text="`Aprobar pedido`"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { pick } from "lodash";
export default {
  name: "DialogDeliveryDate",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    deliveryDate: "",
    showDeliveryDate: false, // muestra u oculta el date-picker
    showDeliveryHour: false, // muestra u oculta el time-picker
    showConfirmation: false,
    deliveryHour: "",
    deliverySchedule: [],
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
  }),
  computed: {
    salePoint() {
      return this.getSessionInfo("sale_point");
    },
    displayedDeliveryDate() {
      return (
        (this.deliveryDate &&
          this.$moment(this.deliveryDate).format("dddd DD [de] MMMM YYYY")) ||
        ""
      );
    },
    displayedDeliveryHour() {
      const now = `${new Date().getFullYear()}-${new Date().getMonth()}-${new Date().getDate()}`;
      return (
        (this.deliveryHour &&
          this.$moment(
            `${this.deliveryDate || now} ${this.deliveryHour}`
          ).format("hh:mm A")) ||
        ""
      );
    },
    minHour() {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );

      return day?.start_hour || "00:00";
    },
    maxHour() {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );

      return day?.end_hour || "00:00";
    },
  },
  mounted() {
    this.getSalePointSchedule();
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
    getSalePointSchedule() {
      this.axios
        .get(
          this.urlConstants.GralInfoUrls.salesPoint.concat("/", this.salePoint)
        )
        .then((response) => {
          const schedules = response.data.schedules
            .filter(
              (sch) =>
                sch.is_active &&
                sch.start_hour != "00:00:00" &&
                sch.end_hour != "00:00:00"
            )
            .map((sch) => pick(sch, ["start_hour", "end_hour", "day"]));

          this.deliverySchedule = schedules;
        })
        .catch((error) => {
          this.$emit(
            "notify",
            "error",
            "Ocurrió un error obteniendo el horario de atención del punto de venta."
          );
        });
    },
    allowedDates(val) {
      return this.deliverySchedule
        .map((sch) => sch.day)
        .includes(this.$moment(val).isoWeekday());
    },
    allowedHours(val) {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );
      const startTime = Number(day.start_hour.split(":")[0]);
      const endTime = Number(day.end_hour.split(":")[0]);

      return val <= endTime && val >= startTime;
    },
    allowedMinutes(val) {
      const day = this.deliverySchedule.find(
        (d) => d.day === this.$moment(this.deliveryDate).isoWeekday()
      );
      const startTime = Number(day.start_hour.split(":")[1]);
      const endTime = Number(day.end_hour.split(":")[1]);

      return val <= endTime && val >= startTime;
    },
    submit() {
      if (!this.deliveryDate || !this.deliveryHour) {
        return this.$emit(
          "notify",
          "warning",
          "Escoja la fecha en que será entregado el pedido"
        );
      } else {
        this.$emit(
          "confirm",
          (this.deliveryDate + " " + this.deliveryHour).trim()
        );
        this.closeModal();
      }
    },
  },
};
</script>
