<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`nuevo cliente`"
        />
      </v-card-text>

      <v-card-text :class="{ 'px-16': $vuetify.breakpoint.mdAndUp }">
        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form ref="form" @submit.prevent="handleSubmit(saveCustomer)">
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              name="Nombre"
            >
              <v-text-field
                v-model="firstName"
                autofocus
                label="Nombre"
                v-bind="inputAttrs"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              rules="required|email"
              name="Correo eléctronico"
            >
              <v-text-field
                v-model="email"
                v-bind="inputAttrs"
                :error-messages="errors"
                label="Correo eléctronico"
              />
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              rules="required"
              name="Teléfono"
            >
              <v-text-field
                v-model="phone"
                label="Teléfono"
                v-bind="inputAttrs"
                :error-messages="errors"
              />
            </validation-provider>

            <span>
              <div
                class="v-input v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--enclosed v-text-field--outlined v-text-field--rounded my-0 py-0"
              >
                <div class="v-input__control">
                  <div class="v-input__slot">
                    <fieldset aria-hidden="true">
                      <legend style="width: 70.5px">
                        <span>​</span>
                      </legend>
                    </fieldset>
                    <div class="v-text-field__slot">
                      <label
                        for="gmap-auto-complete-161"
                        class="v-label v-label--active theme--light"
                        style="left: 0px; right: auto; position: absolute"
                        >Dirección</label
                      >
                      <google-map-autocomplete
                        id="gmap-auto-complete-161"
                        ref="autocomplete"
                        :controls="false"
                        placeholder="Dirección"
                        style="display: contents"
                        @place-changed="setPlace"
                      />
                    </div>
                  </div>
                  <div class="v-text-field__details">
                    <div class="v-messages theme--light">
                      <div class="v-messages__wrapper" />
                    </div>
                  </div>
                </div>
              </div>
            </span>

            <div class="text-center my-5">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mr-3"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize"
                v-text="`Guardar`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogNewCustomer",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    city: null,
    state: null,
    latitude: 0,
    phone: null,
    email: null,
    longitude: 0,
    address: null,
    firstName: null,
    customerId: null,
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
  }),
  computed: {
    userData() {
      return {
        is_active: true,
        email: this.email,
        phone: this.phone,
        change_password: true,
        first_name: this.firstName,
        password: "yoamolosbuquesos",
      };
    },
    addressData() {
      return {
        city: this.city,
        state: this.state,
        is_principal: true,
        address: this.address,
        latitude: this.latitude,
        client: this.customerId,
        longitude: this.longitude,
        description: "Principal",
      };
    },
  },
  methods: {
    closeModal() {
      this.email = null;
      this.phone = null;
      this.firstName = null;

      this.$nextTick(() => {
        this.$refs.formValidation.reset();
        this.$emit("close");
      });
    },
    saveCustomer() {
      if (!this.address || !this.latitude || !this.longitude) {
        this.$emit("notify", "warning", "Ingrese la dirección.");
      }

      this.submitting = true;
      this.axios
        .post(this.urlConstants.AdminUrls.users, this.userData)
        .then((response) => {
          this.customerId = response.data.id;
          this.saveAddress();
        })
        .catch((error) => {
          if (!error.response) return this.$emit("notify", "error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = this.getSignInErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un problema durante el registro, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }

          this.$emit("notify", "error", errorMsg);
        })
        .finally(() => (this.submitting = false));
    },
    saveAddress() {
      this.axios
        .post(this.urlConstants.UserUrls.address, this.addressData)
        .then((response) => {
          this.$emit("confirm", this.customerId);
          this.$emit("notify", "success", "Cliente registrado exitosamente.");
          setTimeout(() => {
            this.closeModal();
          }, 1000);
        })
        .catch((error) =>
          this.$emit(
            "notify",
            "error",
            "No pudimos crear el cliente, por favor intenta nuevamente."
          )
        )
        .finally(() => (this.submitting = false));
    },
    setPlace(place) {
      this.address = place.formatted_address;
      this.latitude = Number(place.geometry.location.lat().toFixed(6));
      this.longitude = Number(place.geometry.location.lng().toFixed(6));

      const city = place.address_components.find((adrs) =>
        adrs.types.includes("administrative_area_level_2")
      );

      const state = place.address_components.find((adrs) =>
        adrs.types.includes("administrative_area_level_1")
      );

      this.city = (city && city.long_name) || "--";
      this.state = (state && state.long_name) || "--";
    },
  },
};
</script>
