<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon
          large
          color="accent"
          aria-label="close"
          @click="closeModal()"
        >
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¿Seguro que quieres cancelar este pedido?`"
        />

        <div
          class="fs-20 text-center my-12"
          v-text="`Cuidado, amigo, tal vez te equivocaste de opción.`"
        />
      </v-card-text>

      <v-card-actions class="mb-12">
        <v-spacer />
        <pages-btn
          outlined
          class="text-none"
          :disabled="submitting"
          @click="closeModal()"
          v-text="`¡Ups! Cancelar operación`"
        />
        <v-spacer />
        <pages-btn
          class="text-none"
          :loading="submitting"
          :disabled="submitting"
          @click="submit"
          v-text="`Cancelar pedido`"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'DialogCancelOrder',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    props: {
      visible: {
        type: Boolean,
        default: false,
        required: true,
      },
      orderId: {
        default: 0,
        type: Number,
        required: true,
      },
    },
    data: () => ({
      submitting: false,
    }),
    methods: {
      closeModal () {
        this.$emit('close')
      },
      submit () {
        var config = {
          method: 'patch',
          data: { status: 5 },
          url: this.urlConstants.StoreUrls.order.concat('/', this.orderId),
        }

        this.submitting = true
        this.axios(config)
          .then((response) => {
            this.$emit('confirm')
            this.$emit('notify', 'success', 'Order cancelada exitosamente')
            this.closeModal()
          })
          .catch((error) => {
            return this.$emit(
              'notify',
              'error',
              'Ocurrió un error, intenta nuevamente',
            )
          })
          .then(() => (this.submitting = false))
      },
    },
  }
</script>
