<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    max-width="720px"
    origin="center center"
    transition="scale-transition"
  >
    <v-card class="br-20">
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeDialog()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase mb-5"
          v-text="`Edición de producto`"
        />
        <v-form lazy-validation>
          <v-row dense justify="center">
            <v-col cols="12" sm="8" md="5" align-self="center" class="mb-6">
              <v-autocomplete
                v-model="product"
                hide-details
                item-value="id"
                label="Producto"
                item-text="name"
                :items="products"
                v-bind="inputAttrs"
                :loading="loadingProducts"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{'font-weight-bold': attrs.inputValue}"
                        v-text="item.name"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="12" sm="4" md="5" class="mb-6">
              <v-text-field
                v-model.number="qty"
                label
                rounded
                outlined
                readonly
                hide-details
                height="50"
                color="inputColor"
                class="mx-auto"
                style="max-width:160px"
              >
                <template v-slot:prepend-inner>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    class="mt-n1"
                    color="buttonMainColor"
                    @click="changeQty(-1)"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
                <template v-slot:append>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    class="mt-n1 mr-n1"
                    color="buttonMainColor"
                    @click="changeQty(1)"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
              </v-text-field>
            </v-col>
            <v-col v-for="(option, i) in productOptions" :key="i" cols="12" sm="auto">
              <v-text-field
                v-model="selectedOptionsQty[i]"
                dense
                outlined
                single-line
                hide-details
                color="inputColor"
                style="max-width:250px;"
              >
                <template v-slot:append-outer>
                  <span style="width:200px;" class="text-truncate" v-text="option.name" />
                </template>
              </v-text-field>
            </v-col>
          </v-row>
          <div class="warning--text text--darken-2 mt-5" v-show="!validToAdd">
            <template
              v-if="totalOptions <= 0 || totalOptions > productInfo.unit_limit"
            >Recuerda elegir la cantidad exacta ofrecida en el combo ({{productInfo.unit_limit}})</template>
            <template
              v-else-if="totalOptions > 0 && totalOptions < productInfo.unit_limit"
            >Aún faltan {{productInfo.unit_limit - totalOptions}} unidades para completar tu combo</template>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <pages-btn
          outlined
          :disabled="submitting"
          class="text-capitalize mr-3"
          @click="closeDialog()"
          v-text="`Cancelar`"
        />
        <pages-btn
          type="submit"
          :loading="submitting"
          class="text-capitalize"
          :disabled="submitting || !validToAdd"
          @click="addToCart"
          v-text="`Actualizar`"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ORDER } from "@/store/dashboard";
export default {
  name: "DialogEditProduct",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    productId: {
      default: 0,
      type: Number,
      required: true,
    },
  },
  data: () => ({
    qty: 1,
    product: 0,
    products: [],
    unitLimit: 1,
    productInfo: {},
    submitting: false,
    productOptions: [],
    selectedOptionsQty: [],
    loadingProducts: false,
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
  }),
  computed: {
    order() {
      return this.$store.getters[ORDER];
    },
    totalOptions() {
      return this.selectedOptionsQty.reduce((total, value, index) => {
        if (!isNaN(value)) return (total += Number(value));
      }, 0);
    },
    validToAdd() {
      if (this.unitLimit > 1) return this.unitLimit === this.totalOptions;

      return true;
    },
  },
  watch: {
    visible(val) {
      if (val) {
        const product = this.order.order_details.find(
          (p) => p.product_id === this.productId
        );
        this.qty = product.quantity;
        this.product = this.productId;
      } else {
        this.qty = 1;
        this.product = 0;
      }
    },
    product(val) {
      const product = this.products.find((p) => p.id === val) || {};

      this.unitLimit = (product && product.unit_limit) || 1;
      this.productOptions = (product && product.parent_products) || [];
      this.productInfo = product;
    },
  },
  mounted() {
    this.fetchProducts();
  },
  methods: {
    changeQty(quantity) {
      if (quantity < 1 && this.qty === 1) return;
      this.qty += quantity;
    },
    closeDialog() {
      this.selectedOptionsQty = [];
      this.$emit("close");
    },
    fetchProducts() {
      this.loadingProducts = true;
      const salePointId = this.getSessionInfo("sale_point");

      this.axios
        .get(this.urlConstants.StoreUrls.productBySalePoint, {
          params: { sale_point: salePointId },
        })
        .then(
          (response) =>
            (this.products = response.data
              .map((inv) => inv.product)
              .filter((p) => p.product_type !== "PE"))
        )
        .catch((error) => this.$emit("notify", "error", error))
        .then(() => (this.loadingProducts = false));
    },
    addToCart() {
      var newOrderPrice = this.order.total_price;
      var newProduct = this.products.find((p) => p.id === this.product);

      // Verificar si la orden tiene cambio de precio (cambio de producto o de cantidad)
      const orderProduct = this.order.order_details.find(
        (p) => p.product_id === this.productId
      );
      if (
        this.product !== this.productId ||
        this.qty !== orderProduct.quantity
      ) {
        var newProductTotalPrice = newProduct.price * this.qty;
        var oldProductTotalPrice =
          orderProduct.unit_price * orderProduct.quantity;

        const difference = newProductTotalPrice - oldProductTotalPrice;
        newOrderPrice = this.order.total_price + difference;
      }

      var options = [];
      this.selectedOptionsQty.forEach((quantity, i) => {
        if (!isNaN(quantity) && quantity) {
          options.push({ quantity, ...this.productOptions[i] });
        }
      });

      var config = {
        method: "patch",
        data: {
          total_price: newOrderPrice,
          order_details: [
            {
              id: orderProduct.id,
              quantity: this.qty,
              product: this.product,
              unit_price: newProduct.price,
              product_configs: options,
            },
          ],
        },
        url: this.urlConstants.StoreUrls.order.concat("/", this.order.id),
      };

      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.$emit("notify", "success", "Pedido actualizada exitosamente");
          setTimeout(() => {
            this.closeDialog();
            this.$emit("confirm");
          }, 1500);
        })
        .catch((error) =>
          this.$emit(
            "notify",
            "error",
            "No pudimos actualizar el pedido, por favor intenta nuevamente"
          )
        )
        .finally(() => (this.submitting = false));
    },
  },
};
</script>
