<template>
  <v-card
    class="br-10"
    :style="{ height: $vuetify.breakpoint.mdAndUp ? '200px' : '100%' }"
  >
    <v-card-title v-if="order.status.id <= 2">
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-icon color="accent" v-on="on" @click="showEditDlg = true"
            >mdi-pencil</v-icon
          >
        </template>
        <span v-text="`Editar`" />
      </v-tooltip>
    </v-card-title>

    <v-card-text>
      <v-row no-gutters>
        <v-col cols="12" sm="2" :style="fontSize" :class="labelCss"
          >regalo:</v-col
        >
        <v-col cols="12" sm="10" :style="fontSize" :class="valueCss">{{
          order.message | booleanToString
        }}</v-col>
        <v-col cols="12" md="2" :style="fontSize" :class="labelCss">de:</v-col>
        <v-col cols="12" md="10" :style="fontSize" :class="valueCss">{{
          sender
        }}</v-col>
        <v-col cols="12" md="2" :style="fontSize" :class="labelCss"
          >para:</v-col
        >
        <v-col cols="12" md="10" :style="fontSize" :class="valueCss">{{
          order.message ? order.delivery_name : "--"
        }}</v-col>
        <v-col cols="12" md="2" :style="fontSize" :class="labelCss"
          >Mensaje:</v-col
        >
        <v-col
          cols="12"
          md="10"
          :style="fontSize"
          :class="valueCss"
          class="text-wrap text-justify"
          >{{ order.message || "--" }}</v-col
        >
      </v-row>
    </v-card-text>

    <dialog-edit-gift-info
      :visible="showEditDlg"
      @close="showEditDlg = false"
    />
  </v-card>
</template>

<script>
import { ORDER } from "@/store/dashboard";
export default {
  name: "GiftInfo",
  components: {
    DialogEditGiftInfo: () => import("./DialogEditGiftInfo"),
  },
  data: () => ({
    showEditDlg: false,
    valueCss: ["text-capitalize"],
    fontSize: { fontSize: "1.2vw" },
    textWrapCss: ["d-flex justify-space-around py-1"],
    labelCss: ["text-uppercase  ff--gilroy-extra-bold adminNotes--text"],
  }),
  computed: {
    order() {
      return this.$store.getters[ORDER];
    },
    sender() {
      if (this.order.delivery_name) {
        return (
          this.order.direct_client ||
          `${this.order.user.first_name} ${this.order.user.last_name}`
        );
      }
      return "--";
    },
    guestOrder() {
      return this.order.user.email == process.env.VUE_APP_GUEST_USERNAME;
    },
  },
};
</script>
