<!-- órdenes completadas y canceladas -->
<template>
  <v-container fluid class="ma-0 pa-0">
    <v-data-table
      item-key="id"
      height="70vh"
      :items="orders"
      :loading="loading"
      :headers="headers"
      hide-default-header
      hide-default-footer
      :search.sync="filter"
      class="elevation-3 br-20"
      :page.sync="currentPage"
      :items-per-page="itemsPerPage"
    >
      <template
        v-if="!$vuetify.breakpoint.xs"
        v-slot:header="{ props: { headers } }"
        class="br-20"
      >
        <thead style="background: #7a4763" class="br-20">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.time="{ item }">{{
        item.created_at | datetime("", "HH:mm a")
      }}</template>
      <template v-slot:item.date="{ item }">{{
        item.created_at | datetime("", "YY/MM/DD")
      }}</template>
      <template v-slot:item.payment_method="{ item }">{{
        getPaymentMethod(item)
      }}</template>
      <template v-slot:item.is_gift="{ item }">
        <v-icon
          :color="item.message ? 'accent' : 'red'"
          v-text="item.message ? 'mdi-check' : 'mdi-close'"
        />
      </template>
      <template v-slot:item.total_price="{ item }">{{
        (item.total_price + item.delivery_price) | money
      }}</template>

      <template v-slot:item.delivery_date="{ item }">{{
        item.delivery_date | datetime("", "YY/MM/DD h:m A")
      }}</template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon color="accent" v-on="on" @click="viewOrder(item)">
              <v-icon size="20">mdi-eye</v-icon>
            </v-btn>
          </template>
          <span v-text="`Ver pedido`" />
        </v-tooltip>

        <v-tooltip v-if="orderType <= 3 && item.status.id === 1" bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              color="accent"
              v-on="on"
              @click="(orderToCancelId = item.id), (showCancelDialog = true)"
            >
              <v-icon size="20">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span v-text="`Cancelar`" />
        </v-tooltip>
      </template>
    </v-data-table>

    <v-container>
      <v-text-field
        v-model="itemsPerPage"
        min="-1"
        max="20"
        step="1"
        outlined
        hide-details
        type="number"
        color="inputColor"
        class="br-10 centered-input"
        style="max-width: 320px"
      >
        <template v-slot:prepend>Mostrando</template>
        <template v-slot:append-outer>
          <div style="width: 150px">de {{ totalItems }} resultados</div>
        </template>
      </v-text-field>
      <v-pagination
        v-if="totalItems > 0"
        circle
        :total-visible="5"
        :value="currentPage"
        :length="totalPages"
        style="float: right"
        color="accent darken-1"
        class="mt-n13 text--black"
        @input="changeCurrentPage"
      />
    </v-container>
    <dialog-cancel-order
      :order-id="orderToCancelId"
      :visible="showCancelDialog"
      @notify="notify"
      @confirm="confirmCancel"
      @close="(orderToCancelId = 0), (showCancelDialog = false)"
    />
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import { ORDER } from "@/store/dashboard";
import { getPaymentMethod } from "@/utils";

export default {
  name: "GridOrders",
  components: {
    DialogCancelOrder: () => import("./DialogCancel"),
  },
  props: {
    orderType: {
      default: 4,
      type: Number,
    },
    filter: {
      default: "",
      type: String,
    },
  },
  data: () => ({
    totalItems: 0,
    currentPage: 1,
    itemsPerPage: 15,
    orders: [],
    loading: false,
    orderToCancelId: 0,
    showCancelDialog: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    headers: [
      { align: "center", text: "Hora", value: "time" },
      { align: "center", text: "Fecha", value: "date" },
      { align: "center", text: "Pedido", value: "id" },
      { align: "center", text: "Descripción", value: "description" },
      { align: "center", text: "Pago", value: "payment_method" },
      { align: "center", text: "Valor total", value: "total_price" },
      { align: "center", text: "Regalo", value: "is_gift" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  computed: {
    totalPages() {
      if (!this.itemsPerPage || !this.totalItems) return 0;
      return Math.ceil(this.totalItems / this.itemsPerPage);
    },
  },
  watch: {
    itemsPerPage(val) {
      this.itemsPerPage = val <= 0 ? 1 : parseInt(val, 10);
      this.fetchInfo();
    },
  },
  beforeMount() {
    if (this.orderType <= 3) this.headers.splice(5, 1);

    // en curso
    if (this.orderType === 2) {
      this.headers.splice(4, 0, {
        align: "center",
        text: "Estado",
        value: "status.status",
      });
    }

    // programados
    if (this.orderType === 3) {
      this.headers.splice(5, 0, {
        align: "center",
        text: "Fecha Entrega",
        value: "delivery_date",
      });
    }

    if (this.orderType > 3) {
      this.headers.splice(4, 1);
      this.headers.splice(5, 1);
    }
  },
  mounted() {
    this.fetchInfo();
  },
  methods: {
    getPaymentMethod,
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    changeCurrentPage(pageNumber) {
      this.currentPage = pageNumber;
      this.fetchInfo();
    },
    fetchInfo() {
      const params = {
        status: this.orderType,
        limit: this.itemsPerPage,
        offset: (this.currentPage - 1) * this.itemsPerPage,
      };

      if (this.orderType === 3) {
        // Ordenes programadas
        params.status = 1;
        params.instant_delivery = 1;
      }

      this.loading = true;
      this.axios
        .get(this.urlConstants.StoreUrls.order, { params })
        .then((response) => {
          this.orders = response.data.results.map((order) => ({
            ...order,
            description: order.order_details.map((p) => p.product).join(", "),
          }));
          this.totalItems = response.data.count;
        })
        .catch((error) => {
          console.error(error);
          this.notify("error", "Ocurrió un error obteniendo los pedidos.");
        })
        .then(() => (this.loading = false));
    },
    confirmCancel() {
      this.fetchInfo();
      this.$emit("refreshCanceled");
    },
    viewOrder(order) {
      this.$store.commit(ORDER, order);
      this.$nextTick(() =>
        this.$router.push({
          name: "OrderDetail",
          params: { orderId: order.id },
        })
      );
    },
  },
};
</script>
<style lang="sass" >
.centered-input input
  text-align: center
</style>
