<template>
  <v-container fluid class="pa-0">
    <v-data-table
      id="grid-order-detail"
      item-key="id"
      height="40vh"
      :headers="headers"
      hide-default-header
      hide-default-footer
      class="elevation-3 br-20"
      :items="order.order_details"
    >
      <template v-if="!$vuetify.breakpoint.xs" v-slot:header="{ props: { headers } }" class="br-20">
        <thead style="background: #7A4763;" class="br-20">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template
        v-slot:item.detail="{item}"
      >{{ item.product_configs.length ? item.product_configs.map(p => `${p.quantity} ${p.name}`).join(', '): '--' }}</template>
      <template v-slot:item.unit_price="{item}">{{ item.unit_price | money }}</template>
      <template v-slot:item.total_price="{item}">{{ (item.unit_price * item.quantity) | money }}</template>

      <template v-slot:item.actions="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              v-if="item.product_type !== 'PE'"
              icon
              color="accent"
              v-on="on"
              @click="showEditDialog = true, productId = item.product_id"
            >
              <v-icon size="20">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <span v-text="`Editar`" />
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              color="accent"
              v-on="on"
              @click="showDeleteDialog = true, detailIdToDelete = item.id"
            >
              <v-icon size="20">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span v-text="`Cancelar`" />
        </v-tooltip>
      </template>
    </v-data-table>
    <dialog-edit-product
      :product-id="productId"
      :visible="showEditDialog"
      @notify="notify"
      @confirm="$router.go()"
      @close="showEditDialog = false, productId = 0"
    />
    <base-confirm-dialog
      :data="detailIdToDelete"
      :visible="showDeleteDialog"
      content="Esta acción no podrá deshacerse."
      title="¿Desea eliminar este producto del pedido?"
      @confirm="deleteDetail"
      @close="showDeleteDialog = false, detailIdToDelete=0"
    />
  </v-container>
</template>

<script>
import { ORDER } from "@/store/dashboard";
export default {
  name: "GridOrderProducts",
  components: {
    DialogEditProduct: () => import("./DialogEditProduct"),
  },
  data: () => ({
    productId: 0,
    detailIdToDelete: 0,
    showEditDialog: false,
    showDeleteDialog: false,
    headers: [
      { align: "center", text: "Producto", value: "product" },
      { align: "center", text: "Sabores", value: "detail" },
      { align: "center", text: "Valor unitario", value: "unit_price" },
      { align: "center", text: "Cantidad", value: "quantity" },
      { align: "center", text: "Valor total", value: "total_price" },
    ],
  }),
  computed: {
    order() {
      return this.$store.getters[ORDER];
    },
  },
  mounted() {
    if (this.order.status.id === 1 && this.order.payment_method < 3) {
      this.headers.push({
        align: "center",
        text: "Acciones",
        value: "actions",
      });
    }
  },
  methods: {
    notify(type, message) {
      this.$emit("notify", type, message);
    },
    deleteDetail(id) {
      this.axios
        .delete(`${this.urlConstants.AdminUrls.orderDetail}/${id}`)
        .then((response) => {
          this.notify("success", "producto eliminado exitosamente.");
          setTimeout(() => {
            this.$router.go();
          }, 1500);
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un eliminando el producto.");
        })
        .then(() => (this.loading = false));
    },
  },
};
</script>
<style lang="sass" >
#grid-order-detail
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
