<template>
  <v-card hover outlined class="py-5 fill-height mt-3 br-20" height="70vh">
    <v-card-title>
      <v-text-field
        v-model="search"
        rounded
        outlined
        label="Buscar"
        class="my-0 py-0"
        color="inputColor"
      >
        <template v-slot:append>
          <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
        </template>
      </v-text-field>
    </v-card-title>

    <v-expansion-panels
      v-model="selection"
      flat
      hover
      popout
      accordion
      style="height:50vh;"
      class="mt-0 pt-0 overflow-y-auto mx-auto"
    >
      <v-expansion-panel v-for="(inv, index) in inventory" :key="inv.id">
        <v-expansion-panel-header hide-actions ripple class="text-left fs-20">
          <template v-slot="{ open }">
            <v-icon
              size="20"
              class="mr-2"
              style="flex:none;"
              :color="open ? 'buttonMainColor' : 'inputColor'"
              v-text="open ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
            />
            {{ inv.product.name }}
          </template>
        </v-expansion-panel-header>

        <v-expansion-panel-content class="text-justify">
          <template v-if="inv.product.product_type === 'PE'">
            <template v-for="(items, i) in groupBy(inv.product.ingredients, 'step')">
              <v-subheader
                :key="i"
                class="ff--gilroy-extra-bold black--text fs-20"
                v-text="`Paso ${i}`"
              />
              <v-list dense flat class="my-0 pt-0">
                <v-list-item-group
                  :key="i"
                  v-model="ingredients[index][i]"
                  mandatory
                  class="my-0 py-0"
                  :multiple="items[0].choice > 1"
                >
                  <v-list-item v-for="(item, k) in items" :key="item.id" ripple class="my-0 py-0">
                    <template v-slot:default="{ active, toggle }">
                      <v-list-item-avatar>
                        <v-icon
                          :color="active ? 'buttonMainColor' : 'inputColor'"
                          v-text="active ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
                        />
                      </v-list-item-avatar>
                      <v-list-item-content class="black--text">
                        <v-list-item-title
                          class="fs-20 d-flex justify-space-between"
                        >{{ item.name }}</v-list-item-title>
                      </v-list-item-content>
                    </template>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </template>
          </template>
          <template v-else-if="inv.product.product_type === 'CB'">
            <v-text-field
              v-for="(opt, i) in inv.product.parent_products"
              :key="`${inv.id}-${i}`"
              v-model.number="flavors[index][i]"
              dense
              outlined
              single-line
              hide-details
              class="mb-2"
              color="inputColor"
              style="max-width:250px;"
            >
              <template v-slot:append-outer>
                <span style="width:200px;" class="text-truncate" v-text="opt.name" />
              </template>
            </v-text-field>
          </template>
        </v-expansion-panel-content>
        <v-divider class="mx-4" style="border: 1px solid #B3D8DD;" />
      </v-expansion-panel>
    </v-expansion-panels>

    <v-card-actions>
      <pages-btn
        :disabled="selection === null"
        class="text-capitalize mx-auto"
        @click="addProduct(inventory[selection])"
        v-text="`Agregar`"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
import { groupBy, pick, forOwn, compact } from "lodash";
import { ADD_ITEM_TO_CART } from "@/store/cart-constants";
export default {
  name: "ProductList",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    search: null,
    inventory: [],
    selection: null,
    fullInventory: [],
  }),
  computed: {
    flavors() {
      var a = {};
      this.fullInventory.forEach((inv, i) => (a[i] = []));
      return a;
    },
    ingredients() {
      var a = {};
      this.fullInventory.forEach((inv, i) => (a[i] = []));
      return a;
    },
  },
  watch: {
    search(val) {
      this.filterProducts(val);
    },
  },
  mounted() {
    this.fetchInventory();
  },
  methods: {
    groupBy,
    fetchInventory() {
      const salePointId = this.getSessionInfo("sale_point");

      this.axios
        .get(this.urlConstants.StoreUrls.productBySalePoint, {
          params: { sale_point: salePointId },
        })
        .then((response) => {
          this.inventory = response.data;
          this.fullInventory = response.data;
        })
        .catch((error) => {
          return this.$emit("notify", "error", error);
        });
    },
    filterProducts(v) {
      setTimeout(() => {
        if (v) {
          this.inventory = this.fullInventory.filter((e) => {
            return (e.product.name || "")
              .toLowerCase()
              .includes((v || "").toLowerCase());
          });
        } else this.inventory = this.fullInventory;
      }, 500);
    },
    addProduct(inventory) {
      try {
        var item = Object.assign({}, inventory);
        var options = [];
        var optionFields = ["id", "name", "price"];

        if (item.product.product_type === "PE") {
          forOwn(this.ingredients, (val, key) => {
            if (!val.length) return;

            val.forEach((ing, i) => {
              const step = item.product.ingredients.filter((s) => s.step === i);

              if (Array.isArray(ing)) {
                ing.forEach((element) => {
                  options = options.concat({
                    quantity: 1,
                    ...pick(step[element], optionFields),
                  });
                });
              } else {
                options = options.concat({
                  quantity: 1,
                  ...pick(step[ing], optionFields),
                });
              }
            });
          });
          item.product.price = options.reduce(
            (total, current) => (total += current.price),
            0
          );
        } else if (item.product.product_type === "CB") {
          var total = 0;
          forOwn(this.flavors, (val, key) => {
            if (!val.length) return;

            val.forEach((qty, i) => {
              if (qty) {
                total += qty;

                if (total > item.product.unit_limit) {
                  throw new Error(
                    "La cantidad ingresada supera la permitida por el combo seleccionado"
                  );
                }

                const opt = item.product.parent_products[i];
                options = options.concat({
                  quantity: qty,
                  ...pick(opt, optionFields),
                });
              }
            });
          });
        }

        this.$store.dispatch(ADD_ITEM_TO_CART, {
          item,
          quantity: 1,
          detail: options,
        });
        this.selection = null;
      } catch (error) {
        return this.$emit("notify", "warning", error.message);
      }
    },
  },
};
</script>
