<template>
  <v-card flat :loading="loading" color="transparent">
    <v-card-text>
      <v-row align="center">
        <v-col cols="12" sm="6">
          <v-card
            flat
            hover
            outlined
            height="161"
            class="text-center pa-5"
            style="border: 1px dashed #f9c9a5"
          >
            <v-card-text>
              <v-btn
                fab
                small
                color="inputColor"
                elevation="0"
                @click="createAddress"
              >
                <v-icon large>mdi-plus</v-icon>
              </v-btn>
              <div class="mt-2 fs-20" v-text="`Agregar nueva dirección`" />
            </v-card-text>
          </v-card>
        </v-col>
        <v-col
          v-for="address in userAddresses"
          :key="address.id"
          sm="6"
          cols="12"
        >
          <pages-account-address-card
            :address="address"
            :class="[
              address.is_principal ? 'principal-address' : 'secondary-address',
            ]"
            @edit="(showDlgCreateEdit = true), editAddress(address)"
            @delete="(dlgDelete.show = true), (dlgDelete.address = address)"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <pages-account-address-create-edit
      ref="dlgEdit"
      :visible="showDlgCreateEdit"
      @notify="notify"
      @refreshAddresses="fetchUserAddresses"
      @close="(showDlgCreateEdit = false), editAddress({})"
    />
    <base-confirm-dialog
      :data="dlgDelete.address"
      :visible="dlgDelete.show"
      title="¿Desea eliminar esta dirección?"
      content="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
      @close="cancelDelete"
      @confirm="deleteAddress"
    />
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-card>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { CRUD_ADDRESS, USER_ADDRESSES } from "@/store/cart-constants";

export default {
  name: "PagesAccountAddress",
  components: {
    PagesAccountAddressCard: () => import("./AddressCard"),
    PagesAccountAddressCreateEdit: () => import("./DialogAddressCreateEdit"),
  },
  data() {
    return {
      showDlgCreateEdit: false,
      loading: false,
      dlgDelete: {
        show: false,
        address: {},
      },
      notification: {
        show: false,
        content: "",
        type: "info",
      },
    };
  },
  computed: mapGetters({ userAddresses: USER_ADDRESSES }),
  methods: {
    ...mapMutations({
      setAddress: CRUD_ADDRESS,
    }),
    async fetchUserAddresses(forced) {
      this.loading = true;
      if (!this.userAddresses.length || forced) {
        await this.$store.dispatch(USER_ADDRESSES);
      }

      this.loading = false;
    },
    createAddress() {
      this.showDlgCreateEdit = true;
      this.$refs.dlgEdit.getCurrentLocation();
    },
    editAddress(address) {
      this.setAddress(address);

      this.$nextTick(() => {
        if (address.latitude) this.$refs.dlgEdit.setMarkerPosition();
      });
    },
    notify(type, content) {
      this.$emit("notify", type, content);
    },
    cancelDelete() {
      this.dlgDelete.show = false;
      this.dlgDelete.address = {};
    },
    deleteAddress(address) {
      const url = `${this.urlConstants.UserUrls.address}/${address.id}`;

      this.axios
        .delete(url)
        .then((response) => {
          this.fetchUserAddresses(true);
          this.cancelDelete();
          return this.notify(
            "success",
            "¡Listo! Tu dirección fue eliminada exitosamente."
          );
        })
        .catch((error) => {
          return this.notify(
            "error",
            "No pudimos eliminar tu dirección, por favor intenta nuevamente."
          );
        });
    },
  },
  mounted() {
    this.fetchUserAddresses();
  },
};
</script>
