<template>
  <v-hover v-slot:default="{ hover }">
    <v-card flat hover outlined :min-height="180" v-bind="$attrs" v-on="$listeners">
      <v-card-title>
        <span class="ff--gilroy-extra-bold fs-30 mt-1" v-text="address.description" />
        <v-spacer />
        <v-slide-x-transition>
          <v-btn v-show="hover && displayOpts" icon small color="accent" @click="$emit('edit')">
            <v-icon v-text="`mdi-pencil`" />
          </v-btn>
        </v-slide-x-transition>
        <v-slide-x-reverse-transition>
          <v-btn v-show="hover && displayOpts" icon small color="accent" @click="$emit('delete')">
            <v-icon v-text="`mdi-delete`" />
          </v-btn>
        </v-slide-x-reverse-transition>
      </v-card-title>
      <v-card-subtitle class="fs-18 mt-1" v-text="address.address" />
      <v-card-text class="mt-0 text-wrap">
        <span class="text--disabled" v-if="address.notes">{{ address.notes }} -</span>
        {{ address.city }}, {{ address.state }}
      </v-card-text>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  name: "PagesAccountAddressCard",
  props: {
    address: {
      type: Object,
      default: () => ({}),
    },
    displayOpts: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
