<template>
  <v-card flat class="text-center container--fluid" color="transparent">
    <v-card-text>
      <div class="fs-30 mb-10" v-text="`¡Vamos a cambiar esta contraseña!`" />

      <v-row justify="center" align="center">
        <v-col cols="9">
          <validation-observer v-slot="{ handleSubmit }" ref="validatorObserver">
            <form ref="form" @submit.prevent="handleSubmit(updatePassword)">
              <validation-provider v-slot="{errors}" rules="required" name="Contraseña actual">
                <v-text-field
                  v-model="currentPassword"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  label="Contraseña actual"
                />
              </validation-provider>

              <validation-provider
                v-slot="{errors}"
                rules="required|confirmed:pwsdConfirmation|min:8"
                name="Nueva contraseña"
              >
                <v-text-field
                  v-model="newPassword"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  label="Nueva contraseña"
                />
              </validation-provider>
              <validation-provider
                v-slot="{errors}"
                vid="pwsdConfirmation"
                name="Confirmar nueva contraseña"
              >
                <v-text-field
                  v-model="passwordConfirm"
                  rounded
                  outlined
                  type="password"
                  color="inputColor"
                  :error-messages="errors"
                  label="Confirmar nueva contraseña"
                />
              </validation-provider>

              <div class="text-center my-5">
                <pages-btn
                  outlined
                  :disabled="submitting"
                  class="text-capitalize mx-3 my-2"
                  @click="resetForm()"
                  v-text="`Cancelar`"
                />
                <pages-btn
                  type="submit"
                  class="text-capitalize mx-3 my-2"
                  :loading="submitting"
                  :disabled="submitting"
                  v-text="`Guardar`"
                />
              </div>
            </form>
          </validation-observer>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "PagesAccountPswChange",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data() {
    return {
      newPassword: null,
      submitting: false,
      currentPassword: null,
      passwordConfirm: null,
    };
  },
  methods: {
    resetForm() {
      this.currentPassword = null;
      this.newPassword = null;
      this.passwordConfirm = null;
      this.$refs.validatorObserver.reset();
    },
    updatePassword() {
      this.submitting = true;
      this.axios
        .post(this.urlConstants.AuthUrls.changePassword, {
          password: this.newPassword,
          old_password: this.currentPassword,
          password_confirm: this.passwordConfirm,
        })
        .then((res) => {
          this.$emit(
            "notify",
            "success",
            "Listo, ya tienes una nueva contraseña."
          );
          return this.resetForm();
        })
        .catch((error) => {
          if (!error.response) return this.$emit("notify", "error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = this.getErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un error inesperado, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }
          return this.$emit("notify", "error", errorMsg);
        })
        .then(() => (this.submitting = false));
    },
    getErrors(error) {
      var errorMsg = "";
      if (error.response.data) {
        const data = error.response.data;
        for (const key in data) {
          switch (key) {
            case "old_password":
              errorMsg = errorMsg.concat("Credenciales inválidas", " ");
              break;
            case "old_password":
            case "password_confirm":
              errorMsg = errorMsg.concat(
                "La contraseña no cumple con los requisitos, ",
                "recuerda que no debe parecerse al correo y debe incluir al menos una letra y un número",
                " "
              );
              break;
          }
        }
      } else errorMsg = error;

      return errorMsg || "Credenciales inválidas";
    },
  },
};
</script>
