<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    max-width="1100px"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()"
          >mdi-close-circle</v-icon
        >
      </v-card-title>

      <v-card-text>
        <v-row no-gutters dense justify="center">
          <v-col cols="12" sm="5" align-self="center" class="text-center">
            <strong
              class="login-signin-form-head text-uppercase"
              style="line-height: 40px"
              v-text="`${address.id ? 'editar dirección' : 'nueva dirección'}`"
            />
            <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
              <form
                ref="form"
                class="my-12"
                @submit.prevent="handleSubmit(getGoogleAddress)"
              >
                <validation-provider
                  v-slot="{ errors }"
                  rules="required"
                  name="Nombre"
                >
                  <v-text-field
                    v-model="address.description"
                    autofocus
                    label="Nombre"
                    v-bind="inputAttrs"
                    :error-messages="errors"
                  />
                </validation-provider>

                <span>
                  <div
                    class="v-input v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--enclosed v-text-field--outlined v-text-field--rounded my-0 py-0"
                  >
                    <div class="v-input__control">
                      <div class="v-input__slot">
                        <fieldset aria-hidden="true">
                          <legend style="width: 70.5px">
                            <span>​</span>
                          </legend>
                        </fieldset>
                        <div class="v-text-field__slot">
                          <label
                            for="gmap-auto-complete-161"
                            class="v-label v-label--active theme--light"
                            style="left: 0px; right: auto; position: absolute"
                            >Dirección</label
                          >
                          <google-map-autocomplete
                            id="gmap-auto-complete-161"
                            ref="autocomplete"
                            v-model="d"
                            :controls="false"
                            placeholder="Dirección"
                            style="display: contents"
                            @place-changed="setPlace"
                          />
                        </div>
                      </div>
                      <div class="v-text-field__details">
                        <div class="v-messages theme--light">
                          <div class="v-messages__wrapper" />
                        </div>
                      </div>
                    </div>
                  </div>
                </span>

                <v-text-field
                  v-model="address.notes"
                  label="Notas"
                  placeholder="Casa, Apartamento, Diagonal..."
                  v-bind="inputAttrs"
                />

                <v-checkbox
                  v-model="address.is_principal"
                  v-bind="inputAttrs"
                  label="Marcar como dirección principal."
                />

                <div class="text-center">
                  <pages-btn
                    outlined
                    :disabled="submitting"
                    class="text-capitalize mx-3 my-2"
                    @click="closeModal()"
                    v-text="`Cancelar`"
                  />
                  <pages-btn
                    type="submit"
                    :loading="submitting"
                    :disabled="submitting"
                    class="text-capitalize mx-3 my-2"
                    v-text="`Guardar`"
                  />
                </div>
              </form>
            </validation-observer>
          </v-col>

          <base-divider vertical class="mx-5 hidden-xs-only" />

          <v-col
            cols="12"
            sm="5"
            :style="{ minWidth: $vuetify.breakpoint.xs ? '100%' : '400px' }"
            style="min-height: 400px"
          >
            <google-map
              id="map"
              ref="map"
              class="fill-height"
              :center="mapCenter"
              :zoom="defaultMapZoom"
              :options="mapOptions"
            >
              <google-map-marker
                ref="addressMarker"
                visible
                draggable
                :position="markerPosition"
                :icon="require('@/assets/map_marker_home.png')"
                @dragend="updateLatLong"
              />
            </google-map>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from "vuex";
import { CRUD_ADDRESS } from "@/store/cart-constants";
export default {
  name: "PagesAccountAddressCreateEdit",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data() {
    return {
      d: null,
      submitting: false,
      inputAttrs: {
        color: "inputColor",
        class: "my-0 py-0",
        rounded: true,
        outlined: true,
      },
      mapOptions: {
        zoomControl: true,
        scaleControl: false,
        rotateControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        disableDefautltUI: false,
      },
      mapCenter: {
        lat: 10.9906729,
        lng: -74.8658095,
      },
      markerPosition: {
        lat: 10.9906729,
        lng: -74.8658095,
      },
      defaultMapZoom: 14,
    };
  },
  computed: {
    ...mapGetters({
      address: CRUD_ADDRESS,
    }),
  },
  methods: {
    closeModal() {
      this.setMarkerPosition(true);
      this.$refs.formValidation.reset();
      this.$emit("close");
    },
    updateLatLong(event) {
      Object.assign(this.address, {
        latitude: event.latLng.lat().toFixed(6),
        longitude: event.latLng.lng().toFixed(6),
      });
    },
    getGoogleAddress() {
      if (
        !this.address.latitude ||
        !this.address.longitude ||
        !this.address.address
      ) {
        return this.$emit(
          "notify",
          "info",
          "Por favor ubica el marcador del mapa en la dirección que deseas registrar."
        );
      }

      var latlng = {
        lat: Number(this.address.latitude),
        lng: Number(this.address.longitude),
      };
      var geocoder = new google.maps.Geocoder();

      if (geocoder) {
        geocoder.geocode({ location: latlng }, (results, status) => {
          if (status === "OK") {
            try {
              const googleAddress =
                results.find((ga) => (ga.geometry.location_type = "ROOFTOP")) ||
                results[0];

              const city = googleAddress.address_components.find((adrs) =>
                adrs.types.includes("administrative_area_level_2")
              );

              const state = googleAddress.address_components.find((adrs) =>
                adrs.types.includes("administrative_area_level_1")
              );

              Object.assign(this.address, {
                city: city.long_name,
                state: state.long_name,
              });
              this.saveAddress();
            } catch (error) {
              this.$emit(
                "notify",
                "error",
                "Ocurrió un problema obteniendo la dirección, por favor intenta ubicar el marcador nuevamente."
              );
            }
          } else {
            this.$emit(
              "notify",
              "warning",
              "No pudimos determinar la dirección, por favor intenta ubicar el marcador nuevamente"
            );
          }
        });
      }
    },
    saveAddress() {
      if (this.address.city && this.address.state) {
        const addressId = this.address.id;
        const method = (addressId && "put") || "post";
        const url = this.urlConstants.UserUrls.address.concat(
          addressId ? "/" + addressId : ""
        );

        if (
          this.address.is_principal === undefined ||
          this.address.is_principal === null
        ) {
          this.address.is_principal = false;
        }

        this.axios[method](url, this.address)
          .then((response) => {
            this.closeModal();
            this.$emit("refreshAddresses", true);
            return this.$emit(
              "notify",
              "success",
              "¡Listo! Tu dirección fue registrada exitosamente."
            );
          })
          .catch((error) => {
            return this.$emit(
              "notify",
              "error",
              "No pudimos registrar tu dirección, por favor intenta nuevamente."
            );
          });
        return;
      }
      return this.$emit(
        "notify",
        "info",
        "Por favor ubica el marcador del mapa en la dirección que deseas registrar."
      );
    },
    setMarkerPosition(reset) {
      if (reset) this.markerPosition = this.mapCenter;
      else {
        this.markerPosition = {
          lat: Number(this.address.latitude),
          lng: Number(this.address.longitude),
        };
      }

      this.mapCenter = this.markerPosition;
      this.defaultMapZoom = reset ? 14 : 15;
      this.$refs.map.panTo(this.markerPosition);
      this.$refs.map.setCenter(this.markerPosition);
    },
    getCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            this.mapCenter = {
              lat: latitude,
              lng: longitude,
            };
            this.setMarkerPosition(true);
          },
          (error) => {
            this.$emit(
              "notify",
              "info",
              "No pudimos obtener tu ubicación, por favor ingresa tu dirección."
            );
          },
          {
            enableHighAccuracy: true,
            maximumAge: 5000,
          }
        );
      }
    },
    setPlace(place) {
      this.address.address = place.formatted_address;
      this.address.latitude = Number(place.geometry.location.lat().toFixed(6));
      this.address.longitude = Number(place.geometry.location.lng().toFixed(6));

      this.setMarkerPosition();
    },
  },
};
</script>
