<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    max-width="650"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <span
          class="text-uppercase ff--wicked-grit fs-40 garosa-title-text"
          v-text="`Califica tu pedido #${order.id}`"
        />

        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form ref="form" class="my-5" @submit.prevent="handleSubmit(submit)">
            <v-rating v-model="rate">
              <template v-slot:item="props">
                <v-icon
                  :size="$vuetify.breakpoint.smAndDown ? 30 : 55"
                  :color="props.isFilled || props.isHalfFilled ? 'footerBgColor' : 'accent'"
                  @click="props.click"
                >{{ props.isHalfFilled ? 'mdi-star-half-full' : 'mdi-star' }}</v-icon>
              </template>
            </v-rating>
            <validation-provider v-slot="{errors}" name="Comentarios" rules="required|max:255">
              <v-textarea
                v-model="comments"
                autofocus
                no-resize
                :rows="5"
                :counter="255"
                v-bind="inputAttrs"
                label="Deja un comentario."
                :error-messages="errors"
              />
            </validation-provider>

            <div class="text-center">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mx-3 my-2"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize mx-3 my-2"
                v-text="`Calificar`"
              />
            </div>

            <div class="text-center mt-5">
              ¿Algo no resultó como esperabas?
              <router-link
                :to="{name: 'Complaints&Claims'}"
                style="text-decoration: none !important;"
                class="login-signin-links black--text"
                v-text="`Te escuchamos.`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "PagesRateOrder",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    order: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },
  data: () => ({
    submitting: false,
    rate: 4,
    comments: "",
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
  }),
  methods: {
    closeModal() {
      this.rate = 4;
      this.comments = "";

      // Wait until the models are updated in the UI
      this.$nextTick(() => {
        this.$refs.formValidation.reset();
        this.$emit("close");
      });
    },
    submit() {
      const params = {
        rating: this.rate,
        change_status: "True",
        comment: this.comments,
      };

      this.submitting = true;
      this.axios
        .patch(`${this.urlConstants.StoreUrls.order}/${this.order.id}`, params)
        .then((response) => {
          this.$emit("notify", "success", "Gracias por tus comentarios.");
          this.$emit("updateOrder", params);
          this.closeModal();
        })
        .catch((error) => {
          return this.$emit(
            "notify",
            "error",
            "No pudimos recibir tus comentarios, por favor intenta nuevamente."
          );
        })
        .then(() => (this.submitting = false));
    },
  },
};
</script>
