<template>
  <v-card flat class="text-center" color="transparent">
    <v-card-text>
      <v-slide-x-reverse-transition leave-absolute>
        <v-container v-if="!editing">
          <div
            class="tab-title fs-25 ff--gilroy-extra-bold"
            style="color: #d84b0e"
            v-text="`${user.first_name} ${user.last_name}`"
          />

          <div class="fs-25 mt-5">
            <v-icon left large color="inputColor">mdi-email</v-icon>
            {{ user.email }}
          </div>

          <div class="fs-25 mt-5 mb-12">
            <v-icon left large color="inputColor">mdi-phone</v-icon>
            {{ user.phone || "--" }}
          </div>

          <pages-btn
            class="text-capitalize mt-12"
            @click="editing = true"
            v-text="`Editar`"
          />
        </v-container>
      </v-slide-x-reverse-transition>

      <v-slide-x-transition leave-absolute>
        <v-row v-if="editing" justify="center" align="center">
          <v-col cols="9">
            <validation-observer v-slot="{ handleSubmit }">
              <form ref="form" @submit.prevent="handleSubmit(updateProfile)">
                <validation-provider
                  v-slot="{ errors }"
                  rules="required"
                  name="Nombres"
                >
                  <v-text-field
                    v-model="user.first_name"
                    rounded
                    outlined
                    label="Nombres"
                    color="inputColor"
                    :error-messages="errors"
                  />
                </validation-provider>

                <validation-provider
                  v-slot="{ errors }"
                  rules="required"
                  name="Apellidos"
                >
                  <v-text-field
                    v-model="user.last_name"
                    rounded
                    outlined
                    label="Apellidos"
                    color="inputColor"
                    :error-messages="errors"
                  />
                </validation-provider>

                <validation-provider
                  v-slot="{ errors }"
                  rules="required|email"
                  name="Correo electrónico"
                >
                  <v-text-field
                    v-model="user.email"
                    rounded
                    outlined
                    readonly
                    disabled
                    color="inputColor"
                    :error-messages="errors"
                    label="Correo electrónico"
                  />
                </validation-provider>

                <validation-provider
                  v-slot="{ errors }"
                  name="Número de contacto"
                  rules="max:13"
                >
                  <v-text-field
                    v-model="user.phone"
                    rounded
                    outlined
                    counter="13"
                    color="inputColor"
                    :error-messages="errors"
                    label="Número de contacto"
                  />
                </validation-provider>

                <div class="text-center">
                  <pages-btn
                    outlined
                    class="text-capitalize mx-3 my-2"
                    @click="editing = false"
                    v-text="`Cancelar`"
                  />
                  <pages-btn
                    type="submit"
                    :loading="submitting"
                    :disabled="submitting"
                    class="text-capitalize mx-3 my-2"
                    v-text="`Guardar`"
                  />
                </div>
              </form>
            </validation-observer>
          </v-col>
        </v-row>
      </v-slide-x-transition>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "PagesAccountGralInfo",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data() {
    return { editing: false, user: this.getSessionInfo(), submitting: false };
  },
  mounted() {
    this.getSessionInfo();
  },
  methods: {
    updateProfile() {
      this.submitting = true;
      const params = {
        username: this.user.email,
        email: this.user.email,
        first_name: this.user.first_name,
        last_name: this.user.last_name,
        phone: this.user.phone,
      };

      this.axios
        .put(this.urlConstants.AuthUrls.changeProfile, params)
        .then((res) => {
          this.editing = false;

          this.$session.set(
            "session-info",
            this.encrypt(JSON.stringify(this.user))
          );

          this.$emit(
            "notify",
            "success",
            "Listo, tus datos han sido actualizados."
          );
        })
        .catch((error) => {
          if (!error.response) return this.$emit("notify", "error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = this.getSignInErrors(error);
              break;
            case 500:
              errorMsg =
                "Ocurrió un error inesperado, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }
          return this.$emit("notify", "error", errorMsg);
        })
        .finally(() => (this.submitting = false));
    },
  },
};
</script>
