<template>
  <v-container fluid tag="section">
    <v-slide-y-transition appear>
      <v-row class="sections-wheat-bg" justify="center" align="center">
        <v-card flat color="transparent" width="1050">
          <v-card-text>
            <v-tabs v-model="currentTab" color="buttonMainColor" center-active grow show-arrows>
              <v-tab
                v-for="(tab, i) in tabs"
                :key="i"
                :href="`#account-${i}`"
                class="text-capitalize account-tab"
                active-class="ff--gilroy-extra-bold fs-25"
                v-text="tab.title"
              />

              <v-tabs-items v-model="currentTab" class="mt-12">
                <v-tab-item value="account-0">
                  <pages-account-gral-info @notify="notify" />
                </v-tab-item>

                <v-tab-item value="account-1">
                  <pages-account-address @notify="notify" />
                </v-tab-item>

                <v-tab-item value="account-2">
                  <pages-account-psw-change @notify="notify" />
                </v-tab-item>

                <v-tab-item value="account-3">
                  <pages-account-historical @notify="notify" />
                </v-tab-item>
              </v-tabs-items>
            </v-tabs>
          </v-card-text>
        </v-card>
      </v-row>
    </v-slide-y-transition>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
export default {
  name: "PagesAccount",
  components: {
    PagesAccountAddress: () => import("./Address"),
    PagesAccountGralInfo: () => import("./GeneralInfo"),
    PagesAccountPswChange: () => import("./ChangePassword"),
    PagesAccountHistorical: () => import("./OrdersHistory"),
  },
  data() {
    return {
      notification: {
        show: false,
        content: "",
        type: "info",
      },
      currentTab: null,
      tabs: [
        { title: "Mis Datos" },
        { title: "Direcciones" },
        { title: "Contraseña" },
        { title: "Historial" },
      ],
    };
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
  },
};
</script>
<style lang="sass" scoped>
.account-tab
  background-color: transparent
  border-bottom: 2px solid #F9C9A5
</style>
