<template>
  <v-card flat class="text-center" color="transparent">
    <v-card-text>
      <v-data-table
        dense
        disable-sort
        :items="records"
        :headers="headers"
        :loading="loading"
        :items-per-page="5"
        hide-default-header
      >
        <template v-if="!$vuetify.breakpoint.xs" v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <th
                v-for="(header, i) in headers"
                :key="i"
                class="text-center fs-25"
                style="border-bottom: 3px solid #D84B0E;"
                v-text="header.text"
              />
            </tr>
          </thead>
        </template>

        <v-progress-linear slot="progress" color="inputColor" indeterminate />

        <template
          v-slot:item.created_at="{item}"
        >{{ item.created_at | datetime(null, 'YYYY/MM/DD') }}</template>

        <template
          v-slot:item.order_details="{item}"
        >{{ item.order_details.map(d => d.product).join() }}</template>

        <template v-slot:item.status="{item}">
          <span :class="{'ff--gilroy-extra-bold': item.status.id === 4}" v-text="item.status" />
        </template>

        <template v-slot:item.rating="{item}">
          <div v-if="item.status.id === 4">
            <v-btn
              v-if="[null, undefined].includes(item.rating)"
              small
              text
              tile
              color="buttonMainColor"
              class="ff--gilroy-extra-bold text-capitalize fs-18"
              @click="dlgRate.show = true, dlgRate.order = item"
              v-text="`Calificar`"
            />
            <v-rating v-else v-model="item.rating" readonly half-increments>
              <template v-slot:item="props">
                <v-icon
                  :size="20"
                  :color="props.isFilled || props.isHalfFilled ? 'footerBgColor' : 'accent'"
                >{{ props.isHalfFilled ? 'mdi-star-half-full' : 'mdi-star' }}</v-icon>
              </template>
            </v-rating>
          </div>
        </template>
      </v-data-table>
    </v-card-text>
    <pages-rate-order
      :order="dlgRate.order"
      :visible="dlgRate.show"
      @notify="notify"
      @updateOrder="updateOrder"
      @close="dlgRate.show = false, dlgRate.order = {}"
    />
  </v-card>
</template>

<script>
export default {
  name: "PagesAccountHistorical",
  components: {
    PagesRateOrder: () => import("./DialogRateOrder"),
  },
  data: () => ({
    dlgRate: {
      show: false,
      order: {},
    },
    loading: false,
    records: [],
    headers: [
      {
        text: "Fecha",
        value: "created_at",
        class: "fs-25",
        align: "center",
      },
      {
        text: "# Pedido",
        value: "id",
        class: "fs-25",
        align: "center",
      },
      {
        text: "Descripción",
        value: "order_details",
        class: "fs-25",
        align: "center",
      },
      {
        text: "Estado",
        value: "status.status",
        class: "fs-25",
        align: "center",
      },
      {
        text: "Calificación",
        value: "rating",
        class: "fs-25",
        align: "center",
      },
    ],
  }),
  mounted() {
    this.fetchOrders();
  },
  methods: {
    fetchOrders() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.StoreUrls.order)
        .then((response) => (this.records = response.data))
        .catch((error) =>
          this.notify(
            "warning",
            "No pudimos encontrar tu historial de pedidos."
          )
        )
        .then(() => (this.loading = false));
    },
    updateOrder(data) {
      Object.assign(this.dlgRate.order, data);
    },
    notify(type, content) {
      this.$emit("notify", type, content);
    },
  },
};
</script>
