<template>
  <v-dialog v-model="visible" max-width="600" persistent>
    <v-card class="overflow-hidden">
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="$emit('close')"
          >mdi-close-circle</v-icon
        >
      </v-card-title>

      <v-card-text class="text-center pb-0">
        <div
          style="line-height: initial"
          class="garosa-primary-text ff--gilroy-extra-bold text-uppercase"
          v-text="title"
          :class="[isDesktop ? 'fs-40' : 'fs-25']"
        />
        <div class="fs-20 text-center my-10" v-text="content" />
      </v-card-text>

      <v-card-actions class="pt-0 mb-5 row justify-center">
        <pages-btn
          outlined
          v-text="cancelText"
          class="text-capitalize mx-3 my-2"
          @click="$emit('close')"
        />
        <pages-btn
          v-text="confirmText"
          class="text-capitalize mx-3 my-2"
          @click="$emit('confirm', data)"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ConfirmDialog",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    data: [String, Number, Object],
    visible: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      required: true,
    },
    content: {
      type: String,
      required: true,
    },
    cancelText: {
      type: String,
      required: false,
      default: () => "Cancelar",
    },
    confirmText: {
      type: String,
      required: false,
      default: () => "Confirmar",
    },
  },
};
</script>
