<template>
  <v-snackbar
    v-bind="{ ...$attrs, ...position }"
    rounded="lg"
    @input="$emit('close')"
  >
    <div
      class="ff--gilroy-extra-bold black--text text-justify"
      :class="isDesktop ? 'fs-25' : 'fs-20'"
      v-text="content"
    />
    <template v-slot:action="{ attrs }">
      <v-icon large color="black" v-bind="attrs" @click="$emit('close')">
        mdi-close
      </v-icon>
    </template>
  </v-snackbar>
</template>
<script>
export default {
  name: "BaseSnackbar",
  props: {
    content: [String],
  },
  computed: {
    position() {
      return this.isDesktop ? { bottom: true } : { top: true };
    },
  },
};
</script>
