<template>
  <v-container fluid class="px-2 overflow-y-auto" tag="section">
    <v-row justify="center" style="height:75vh;" class="pb-2">
      <v-col cols="12" md="4" class="fill-height py-0">
        <v-card outlined hover class="pb-5 fill-height br-10" :loading="loadingProducts">
          <v-progress-linear slot="progress" color="inputColor" indeterminate />

          <v-card-subtitle
            class="py-0 mb-2 text-center text-uppercase fs-20 garosa-primary-text ff--gilroy-extra-bold"
            v-text="`Productos`"
          />
          <v-card-title>
            <v-text-field
              v-model="searchProducts"
              rounded
              outlined
              label="Buscar"
              class="my-0 py-0"
              color="inputColor"
            >
              <template v-slot:append>
                <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
              </template>
            </v-text-field>
          </v-card-title>

          <v-list dense style="height:50vh;" class="mt-0 py-0 overflow-y-auto mx-auto">
            <v-list-item-group v-model="selectedProducts" multiple>
              <template v-for="(product, i) in productList">
                <v-list-item :key="`prd-${product.id}`" active-class="inputColor--text">
                  <template v-slot:default="{ active, toggle }">
                    <v-list-item-avatar>
                      <v-icon
                        :color="active ? 'buttonMainColor' : 'inputColor'"
                        v-text="active ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title class="black--text fs-20">{{ product.name }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-list-item>

                <v-divider
                  v-if="i + 1 < productList.length"
                  :key="i"
                  class="mx-4"
                  style="border: 1px solid #B3D8DD;"
                />
              </template>
            </v-list-item-group>
          </v-list>

          <v-card-actions class="mt-2">
            <v-switch
              v-model="selectAllProducts"
              inset
              class="ml-6 mb-5"
              color="buttonMainColor"
              label="Seleccionar todo"
            />
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col cols="12" md="1" class="fill-height py-0 d-flex flex-column justify-center">
        <v-btn
          fab
          x-large
          elevation="0"
          color="adminNotes"
          class="mx-auto mb-2"
          :disabled="selectedProducts.length === 0"
          @click="addProduct()"
        >
          <v-icon x-large>mdi-chevron-right</v-icon>
        </v-btn>
        <v-btn
          fab
          x-large
          elevation="0"
          color="adminNotes"
          class="mx-auto mt-2"
          :disabled="inventorySelection.length === 0"
          @click="removeProducts()"
        >
          <v-icon x-large>mdi-chevron-left</v-icon>
        </v-btn>
      </v-col>

      <v-col cols="12" md="4" class="fill-height py-0">
        <v-card outlined hover class="pb-5 fill-height br-10" :loading="loadingInventory">
          <v-progress-linear slot="progress" color="inputColor" indeterminate />

          <v-card-subtitle
            class="py-0 mb-2 text-center text-uppercase fs-20 garosa-primary-text ff--gilroy-extra-bold"
            v-text="`Inventario del día`"
          />
          <v-card-title>
            <v-text-field
              v-model="searchInventory"
              rounded
              outlined
              label="Buscar"
              class="my-0 py-0"
              color="inputColor"
            >
              <template v-slot:append>
                <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
              </template>
            </v-text-field>
          </v-card-title>

          <v-list dense style="height:50vh;" class="mt-0 pt-0 overflow-y-auto mx-auto">
            <v-list-item-group v-model="inventorySelection" multiple>
              <draggable v-model="inventoryList">
                <div v-for="(inv, i) in inventoryList" :key="`inv-${i}`">
                  <v-list-item active-class="inputColor--text">
                    <template v-slot:default="{ active, toggle }">
                      <v-list-item-avatar>
                        <v-icon
                          :color="active ? 'buttonMainColor' : 'inputColor'"
                          v-text="active ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
                        />
                      </v-list-item-avatar>
                      <v-list-item-content class="black--text fs-20">
                        <v-list-item-title>{{ inv.product.name }}</v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-icon color="accent">mdi-menu</v-icon>
                      </v-list-item-action>
                    </template>
                  </v-list-item>

                  <v-divider
                    v-if="i + 1 < inventoryList.length"
                    class="mx-4"
                    style="border: 1px solid #B3D8DD;"
                  />
                </div>
              </draggable>
            </v-list-item-group>
          </v-list>

          <v-card-actions class="mt-2">
            <v-switch
              v-model="selectAllInventory"
              inset
              class="ml-6 mb-5"
              color="buttonMainColor"
              label="Seleccionar todo"
            />
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-footer absolute elevation="5" class="px-8" color="white">
      <div
        style="font-size:2vw;"
        class="garosa-title-text ff--gilroy-extra-bold text-uppercase"
        v-text="`¡Hoy va a ser un gran día!... y mañana también`"
      />
      <v-spacer />
      <pages-btn
        :loading="submitting"
        class="text-capitalize mr-10"
        :disabled="submitting || inventoryList.length === 0"
        @click="saveInventory()"
        v-text="`Actualizar`"
      />
    </v-footer>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
import { forEachRight } from "lodash";
import draggable from "vuedraggable";
export default {
  name: "EditInventory",
  components: {
    draggable,
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    submitting: false,
    // Productos
    productList: [],
    fullProducts: [],
    selectedProducts: [],
    searchProducts: null,
    loadingProducts: false,
    selectAllProducts: false,
    // Inventario
    inventoryList: [],
    fullInventoryList: [],
    searchInventory: null,
    loadingInventory: false,
    inventorySelection: [],
    selectAllInventory: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  computed: {
    salePointId() {
      return parseInt(this.$route.params.salePointId);
    },
  },
  watch: {
    searchProducts(val) {
      this.filterProducts(val);
    },
    searchInventory(val) {
      this.filterInventory(val);
    },
    selectAllProducts(val) {
      if (val) {
        this.productList.forEach((p, i) => this.selectedProducts.push(i));
      } else this.selectedProducts = [];
    },
    selectAllInventory(val) {
      if (val) {
        this.inventoryList.forEach((p, i) => this.inventorySelection.push(i));
      } else this.inventorySelection = [];
    },
  },
  mounted() {
    this.fetchProducts();
    this.fetchInventory();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchProducts() {
      this.loadingProducts = true;
      this.axios
        .get(this.urlConstants.AdminUrls.product)
        .then((response) => {
          this.productList = response.data;
          this.fullProducts = response.data;
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error cargando los productos.");
        })
        .then(() => (this.loadingProducts = false));
    },
    fetchInventory() {
      this.loadingInventory = true;
      this.axios
        .get(this.urlConstants.StoreUrls.productBySalePoint, {
          params: { sale_point: this.salePointId },
        })
        .then((response) => {
          this.inventoryList = response.data;
          this.fullInventoryList = response.data;
        })
        .catch((error) => {
          return this.notify(
            "error",
            "Ocurrió un error cargando el inventario"
          );
        })
        .finally(() => (this.loadingInventory = false));
    },
    filterProducts(v) {
      this.loadingProducts = true;
      setTimeout(() => {
        if (v) {
          this.productList = this.fullProducts.filter((e) => {
            return (e.name || "")
              .toLowerCase()
              .includes((v || "").toLowerCase());
          });
        } else this.productList = this.fullProducts;

        this.loadingProducts = false;
        this.selectedProducts = [];
      }, 500);
    },
    filterInventory(v) {
      this.loadingInventory = true;
      setTimeout(() => {
        if (v) {
          this.inventoryList = this.fullInventoryList.filter((e) => {
            return (e.product.name || "")
              .toLowerCase()
              .includes((v || "").toLowerCase());
          });
        } else this.inventoryList = this.fullInventoryList;

        this.loadingInventory = false;
        this.inventorySelection = [];
      }, 500);
    },
    addProduct() {
      this.selectedProducts.forEach((i) => {
        const product = this.productList[i];
        if (this.inventoryList.find((inv) => inv.product.id === product.id)) {
          return;
        }

        this.inventoryList.push({ product });
      });
    },
    removeProducts() {
      const invs = [];

      forEachRight(this.inventorySelection, (i) => {
        const inv = this.inventoryList[i];

        if (inv.id) {
          invs.push(
            this.axios.delete(
              this.urlConstants.StoreUrls.productBySalePoint.concat("/", inv.id)
            )
          );
        } else this.inventoryList.splice(i, 1);

        this.inventorySelection.pop();
      });

      if (invs.length) {
        Promise.all(invs)
          .then((response) => {})
          .catch((error) =>
            this.notify("error", "Ocurrió un error eliminando los productos.")
          )
          .finally(() => this.fetchInventory());
      }
    },
    saveInventory() {
      var requests = [];
      var postData = [];
      var rawData = this.inventoryList.map((inv, i) => ({
        sort: i + 1,
        ...inv,
      }));

      // saco todos los nuevos para armar solo una peticion post
      rawData
        .filter((inv) => !inv.id)
        .forEach((inv) => {
          postData.push({
            sort_number: inv.sort,
            product: inv.product.id,
          });
        });

      if (postData.length) {
        const cfg = {
          method: "post",
          url: this.urlConstants.StoreUrls.productBySalePoint,
          data: { sale_point: this.salePointId, products: postData },
        };
        const request = this.axios(cfg);
        requests.push(request);
      }

      rawData
        .filter((inv) => inv.id)
        .forEach((inv, i) => {
          const cfg = {
            data: {
              sort_number: inv.sort,
              sale_point: this.salePointId,
            },
            method: "patch",
            url: this.urlConstants.StoreUrls.productBySalePoint.concat(
              inv.id ? `/${inv.id}` : ""
            ),
          };
          const request = this.axios(cfg);
          requests.push(request);
        });

      if (requests.length) {
        this.submitting = true;
        Promise.all(requests)
          .then((response) => {
            this.fetchInventory();
            this.notify("success", "Inventario guardado exitosamente.");
            setTimeout(() => this.$router.push({ name: "Inventory" }), 1500);
          })
          .catch((error) => {
            return this.notify(
              "error",
              "Ocurrió un error guardando el inventario"
            );
          })
          .finally(() => (this.submitting = false));
      }
    },
  },
};
</script>
