<template>
  <v-container id="admin-inventory" fluid class="px-2" tag="section">
    <v-row
      dense
      style="position: absolute; top: -32px; right: 115px; min-width: 600px"
    >
      <v-col cols="12" md="7">
        <v-select
          rounded
          outlined
          hide-details=""
          single-line
          v-if="isSuperUser"
          v-model="salePoint"
          item-value="id"
          item-text="name"
          color="inputColor"
          placeholder="Local"
          v-bind="inputAttrs"
          :items="salesPoints"
          style="z-index: 100"
        >
          <template v-slot:item="{ attrs, item, on }">
            <v-list-item
              elevation="0"
              v-bind="attrs"
              class="mx-3 mb-2 v-sheet"
              active-class="buttonMainColor lighten-2 elevation-1 white--text"
              v-on="on"
            >
              <v-list-item-content>
                <v-list-item-title
                  :class="{ 'font-weight-bold': attrs.inputValue }"
                  v-text="item.name"
                />
              </v-list-item-content>

              <v-scale-transition>
                <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                  <v-icon>mdi-check</v-icon>
                </v-list-item-icon>
              </v-scale-transition>
            </v-list-item>
          </template>
        </v-select>
        <span
          v-else
          class="ff--gilroy-extra-bold fs-30 garosa-primary-text text-uppercase"
          v-text="salePointName"
        />
      </v-col>
      <v-col cols="12" md="5">
        <v-text-field
          outlined
          rounded
          hide-details
          single-line
          v-model="search"
          color="inputColor"
          v-bind="inputAttrs"
          placeholder="Buscar"
          style="z-index: 100"
        >
          <template v-slot:append>
            <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
          </template>
        </v-text-field>
      </v-col>
    </v-row>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      :disabled="!salePoint"
      :to="{ name: 'EditInventory', params: { salePointId: salePoint || 0 } }"
    >
      <v-icon x-large>mdi-pencil</v-icon>
    </v-btn>

    <v-data-table
      item-key="id"
      height="75vh"
      :loading="loading"
      :headers="headers"
      :items="inventory"
      hide-default-header
      :items-per-page="15"
      :search.sync="search"
      class="elevation-3 br-20 mt-10"
    >
      <template
        v-if="!$vuetify.breakpoint.xs"
        v-slot:header="{ props: { headers } }"
        class="br-20"
      >
        <thead style="background: #7a4763">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.price="{ item }">{{ item.price | money }}</template>

      <template v-slot:item.in_stock="{ item }">
        <template v-if="item.in_stock !== -1000">{{ item.in_stock }}</template>
        <template v-else>
          <v-icon>mdi-infinity</v-icon>
        </template>
      </template>

      <template v-slot:item.min_units="{ item }">
        <template v-if="item.min_units > 0">{{ item.min_units }}</template>
        <template v-else>--</template>
      </template>

      <template v-slot:item.product.individual="{ item }">
        <v-icon
          :color="item.product.individual ? 'accent' : 'red'"
          v-text="item.product.individual ? 'mdi-check' : 'mdi-close'"
        />
      </template>

      <template v-slot:item.product.name="{ item }">
        <v-tooltip bottom v-if="item.in_stock !== -1000">
          <template v-slot:activator="{ on }">
            <v-icon
              left
              v-on="on"
              v-show="item.min_units >= item.in_stock"
              :color="
                item.min_units > item.in_stock
                  ? 'red darken-1'
                  : 'warning darken-1'
              "
              >mdi-alert-decagram</v-icon
            >
          </template>
          <span>Últimas unidades</span>
        </v-tooltip>
        {{ item.product.name }}
      </template>

      <template v-slot:item.product.is_active="{ item }">{{
        item.is_active ? "Activo" : "Bloqueado"
      }}</template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              color="accent"
              v-on="on"
              @click="(showEdit = true), (selected = item)"
            >
              <v-icon size="20">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <span v-text="`Editar`" />
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              color="accent"
              v-on="on"
              @click="(showDelete = true), (selected = item)"
            >
              <v-icon size="20">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span v-text="`Eliminar`" />
        </v-tooltip>
      </template>
    </v-data-table>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
    <dialog-edit-qtys
      :visible="showEdit"
      :inventory="selected"
      @notify="notify"
      @refresh="fetchInventory"
      @close="(showEdit = false), (selected = {})"
    />
    <base-confirm-dialog
      title="Confirmar"
      :data="selected"
      :visible="showDelete"
      content="¿Desea eliminar el producto del inventario?"
      @confirm="confirmDelete"
      @close="(showDelete = false), (selected = {})"
    />
  </v-container>
</template>

<script>
export default {
  name: "DasboardInventoryIndex",
  components: {
    DialogEditQtys: () => import("./components/DialogEditQtys"),
  },
  data: () => ({
    selected: {},
    search: null,
    inventory: [],
    loading: false,
    salePoint: null,
    salePointName: "",
    showEdit: false,
    salesPoints: [],
    showDelete: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    headers: [
      { align: "center", text: "Producto", value: "product.name" },
      { align: "center", text: "Tipo", value: "product_type_name" },
      { align: "center", text: "Unidades", value: "in_stock" },
      { align: "center", text: "Un. Mínimas", value: "min_units" },
      {
        align: "center",
        text: "Despacho individual",
        value: "product.individual",
      },
      { align: "center", text: "Estado", value: "product.is_active" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  computed: {
    isSuperUser() {
      return this.getSessionInfo("is_superuser");
    },
  },
  watch: {
    salePoint(val) {
      if (val) {
        this.fetchInventory();
        this.salePointName = this.salesPoints.find((sp) => sp.id === val).name;
      } else {
        this.inventory = [];
        this.salePointName = "";
      }
    },
  },
  mounted() {
    this.fetchSalesPoints();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchInventory() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.StoreUrls.productBySalePoint, {
          params: { sale_point: this.salePoint },
        })
        .then((response) => {
          this.inventory = response.data.map((i) => {
            var product_type_name = "";
            switch (i.product.product_type) {
              case "BS":
                product_type_name = "Básico";
                break;
              case "CB":
                product_type_name = "Combo";
                break;
              default:
                product_type_name = "Personalizado";
                break;
            }
            return {
              ...i,
              product_type_name,
            };
          });
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo la información.");
        })
        .then(() => (this.loading = false));
    },
    fetchSalesPoints() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint)
        .then((response) => {
          this.salesPoints = response.data;
          if (this.salesPoints.length) {
            this.salePoint = this.isSuperUser
              ? this.salesPoints[0].id
              : this.getSessionInfo("sale_point");
          }
        });
    },
    confirmDelete() {
      this.axios
        .delete(
          this.urlConstants.StoreUrls.productBySalePoint.concat(
            "/",
            this.selected.id
          )
        )
        .then((response) => {
          this.fetchInventory();
          this.notify("success", "Inventario actualizado exitosamente.");
          this.showDelete = false;
        })
        .catch((error) =>
          this.notify("error", "Ocurrió un error actualizando el inventario.")
        );
    },
  },
};
</script>
<style lang="sass">
#admin-inventory
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
