<template>
  <v-container id="create-edit-product" fluid class="px-2" tag="section">
    <v-card tile elevation="0" color="transparent">
      <v-card-title class="mb-n4">
        <span
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase mb-8 mx-auto"
          v-text="titles[currentStep]"
        />
      </v-card-title>
      <v-card-text>
        <v-row justify="center" style="max-height: 85vh">
          <v-col cols="12" md="1" class="d-flex justify-center">
            <v-btn
              v-show="currentStep > 0"
              fab
              large
              elevation="0"
              color="adminNotes"
              class="ma-0 pa-0 align-self-center"
              @click="currentStep--"
            >
              <v-icon large>mdi-chevron-left</v-icon>
            </v-btn>
          </v-col>

          <product-basic-info v-show="currentStep === 0" />
          <basic-product-advance-info
            v-show="currentStep === 1 && product.product_type !== 'PE'"
            @notify="notify"
          />
          <custom-product-advance-info
            v-if="currentStep === 1 && product.product_type === 'PE'"
            @notify="notify"
          />

          <filtering-product-info v-show="currentStep === 2" @notify="notify" />
          <product-image-upload
            v-if="currentStep === 3"
            ref="lastStep"
            @notify="notify"
          />

          <v-col cols="12" md="1" class="d-flex justify-center">
            <v-btn
              v-show="currentStep < steps.length - 1"
              fab
              large
              elevation="0"
              color="adminNotes"
              class="ma-0 pa-0 align-self-center"
              @click="checkStep()"
            >
              <v-icon large>mdi-chevron-right</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <div style="width: 850px">
          <step-progress
            :steps="steps"
            :line-thickness="25"
            active-color="#D84B0E"
            :active-thickness="48"
            :passive-thickness="34"
            passive-color="#F9C9A5"
            :current-step="currentStep"
          />
        </div>
        <v-spacer />
        <pages-btn
          v-show="currentStep === 3"
          color="buttonMainColor"
          class="mb-10 text-capitalize"
          @click="saveProduct"
          v-text="`Guardar`"
        />
      </v-card-actions>
    </v-card>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import { compact, forOwn } from "lodash";
import "vue-step-progress/dist/main.css";
import {
  PRODUCT,
  PRODUCT_HAS_OPTIONS,
  CUSTOM_PRODUCT_STEPS,
} from "@/store/dashboard";

export default {
  name: "DashboardCreateEditProdct",
  components: {
    StepProgress: () => import("vue-step-progress"),
    PagesBtn: () => import("@/views/pages/components/Btn"),
    ProductBasicInfo: () => import("./components/BasicInfo"),
    BasicProductAdvanceInfo: () =>
      import("./components/BasicProductAdvanceInfo"),
    CustomProductAdvanceInfo: () =>
      import("./components/CustomProductAdvanceInfo"),
    ProductImageUpload: () => import("./components/ImageUpload"),
    FilteringProductInfo: () => import("./components/FilteringInfo"),
  },
  data: () => ({
    currentStep: 0,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    submitting: false,
    titles: [
      "información básica",
      "información avanzada",
      "información de filtrado",
      "Carga de imágenes",
    ],
    steps: ["Básico", "Avanzado", "Filtrado", "Fotos"],
  }),
  computed: {
    customProductSteps() {
      return this.$store.getters[CUSTOM_PRODUCT_STEPS];
    },
    product: {
      get() {
        return this.$store.getters[PRODUCT];
      },
      set(val) {
        this.$store.commit(PRODUCT, val);
      },
    },
  },
  beforeDestroy() {
    this.product = {
      id: null,
      images: [],
      parent_products: [],
      ingredients: [],
      category: [],
      name: null,
      description: null,
      product_type: null,
      unit_limit: 1,
      price: 1,
      flavor: {},
      has_options: false,
    };
  },
  mounted() {
    if (this.$route.path.includes("edit") && !this.product.id) {
      this.axios
        .get(
          this.urlConstants.AdminUrls.product.concat(
            "/",
            this.$route.params.productId
          )
        )
        .then((response) => {
          this.$store.commit(PRODUCT, response.data);
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información del producto."
          );
        });
    }
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    checkStep() {
      const product = Object.assign({}, this.product);

      try {
        if (this.currentStep === 0) {
          if (!product.name || !product.product_type || !product.description) {
            throw new Error("Complete la información.");
          }
          if (product.description.length > 500) {
            throw new Error(
              "La descripción no debe superar los 500 caractéres."
            );
          }
          if (product.restriction_message?.length > 300) {
            throw new Error(
              "El mensaje de restricción no debe superar los 300 caractéres."
            );
          }
        }

        if (this.currentStep === 1) {
          if (product.product_type !== "PE") {
            this.validateBasicProductInfo(product);
          } else this.validateCustomProductSteps();
        }

        if (this.currentStep === 2) {
          if (!product.category.length || !product.flavor.id) {
            throw new Error("Complete la información.");
          }
        }

        if (product.unit_limit > 1 && product.product_type !== "CB") {
          this.$set(this.product, "unit_limit", 1);
        }

        if (product.product_type === "PE") this.$set(this.product, "price", 0);

        this.currentStep++;
      } catch (error) {
        this.notify("warning", error.message);
      }
    },
    saveProduct() {
      const product = this.product;
      const lastStep = this.$refs.lastStep;
      const method = this.product.id ? "put" : "post";
      const uploadedPhotos = compact(lastStep.photos);

      if (!this.product.id && !uploadedPhotos.length) {
        return this.notify(
          "warning",
          "Seleccione al menos una foto para el producto"
        );
      }

      const params = new FormData();
      params.append("is_active", 1);
      params.append("name", product.name);
      params.append("description", product.description);
      params.append("restriction_message", product.restriction_message || "");
      params.append("product_type", product.product_type);
      params.append("unit_limit", product.unit_limit);
      params.append("price", product.price);
      params.append("flavor", product.flavor.id);
      params.append(
        "category",
        JSON.stringify(product.category.map((cat) => cat.id))
      );
      if (product.product_type === "CB") {
        params.append(
          "product_details",
          JSON.stringify(
            product.parent_products.map((op) => ({ child_product: op }))
          )
        );
      }

      if (product.product_type === "PE") {
        params.append("ingredients", JSON.stringify(this.mapIngredients()));
      }
      uploadedPhotos.forEach((photo) => {
        params.append("images", photo);
      });

      if (lastStep.removedPhotos.length && method === "put") {
        params.append("deleted_images", JSON.stringify(lastStep.removedPhotos));
      }

      const config = {
        method,
        data: params,
        url: this.urlConstants.AdminUrls.product.concat(
          product.id ? `/${product.id}` : ""
        ),
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };

      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.notify("success", "Producto guardado exitosamente.");

          setTimeout(() => {
            this.$router.push({ name: "Products" });
          }, 1500);
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error guardando la información del producto, por favor intenta nuevamente."
          );
        })
        .then(() => (this.submitting = false));
    },
    validateBasicProductInfo(product) {
      if (!product.unit_limit || product.unit_limit < 0) {
        throw new Error("Ingrese una cantidad válida");
      }

      if (!product.price || product.price < 0) {
        throw new Error("Ingrese un precio válido");
      }

      if (
        this.$store.getters[PRODUCT_HAS_OPTIONS] &&
        product.parent_products.some((o) => o === 0)
      ) {
        throw new Error("Seleccione las opciones de sabor");
      }
    },
    validateCustomProductSteps() {
      forOwn(this.customProductSteps, (value, step) => {
        if (!value.choice) {
          throw new Error(`Escoja el tipo de selección para el paso ${step}`);
        }

        value.ingredients.forEach((i) => {
          if (!i.price && !i.name) {
            throw new Error(
              `Complete la información de los ingredienes para el paso ${step}`
            );
          }

          if (i.price && !i.name) {
            throw new Error(
              `Complete la información de los ingredienes para el paso ${step}`
            );
          }

          if (!i.price && i.name) {
            throw new Error(
              `Complete la información de los ingredienes para el paso ${step}`
            );
          }
        });
      });
    },
    mapIngredients() {
      var ingredients = [];
      var steps = Object.assign({}, this.customProductSteps);
      forOwn(steps, (value, step) => {
        value.ingredients.forEach((ingredient) => {
          ingredients.push({
            step,
            ...ingredient,
            choice: value.choice,
          });
        });
      });
      return ingredients;
    },
  },
};
</script>
<style lang="sass">
#create-edit-product
  .step-progress__step--active
    .step-progress__step-label
      opacity: 1
      color: #393939
      font-size: 25px
      display: inherit
      letter-spacing: 0px
      font-weight: normal

  .step-progress__step-label
    display: none

  .step-progress__step
    &:after
      background-color: #F9C9A5 !important
</style>
