<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon
          large
          color="accent"
          aria-label="close"
          @click="closeModal()"
        >
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¿Seguro que quieres bloquear este producto?`"
        />

        <div
          class="fs-20 text-center my-12"
          v-text="`Cuidado, amigo, tal vez te equivocaste de opción.`"
        />
      </v-card-text>

      <v-card-actions class="mb-12">
        <v-spacer />
        <pages-btn
          outlined
          class="text-none"
          :disabled="submitting"
          @click="closeModal()"
          v-text="`¡Ups! Cancelar operación`"
        />
        <v-spacer />
        <pages-btn
          class="text-none"
          :loading="submitting"
          :disabled="submitting"
          @click="submit"
          v-text="productStatus ? 'Bloquear producto' : 'Desbloquear producto'"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'DialogLockProduct',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    props: {
      visible: {
        type: Boolean,
        default: false,
        required: true,
      },
      productId: {
        default: 0,
        type: Number,
        required: true,
      },
      productStatus: {
        default: true,
        type: Boolean,
        required: true,
      },
    },
    data: () => ({
      submitting: false,
    }),
    methods: {
      closeModal () {
        this.$emit('close')
      },
      submit () {
        const data = new FormData()

        data.append('is_active', !this.productStatus)
        var config = {
          data,
          method: 'patch',
          url: this.urlConstants.AdminUrls.product.concat('/', this.productId),
        }

        this.submitting = true
        this.axios(config)
          .then((response) => {
            this.$emit('notify', 'success', 'Producto actualizado exitosamente')
            this.$emit('refresh')
            this.closeModal()
          })
          .catch((error) => {
            return this.$emit(
              'notify',
              'error',
              'Ocurrió un error, intenta nuevamente',
            )
          })
          .then(() => (this.submitting = false))
      },
    },
  }
</script>
