<template>
  <v-container id="admin-products" fluid class="pa-5" tag="section">
    <v-text-field
      v-model="search"
      rounded
      outlined
      single-line
      hide-details
      color="inputColor"
      placeholder="Buscar"
      class="mt-n12 ml-auto"
      style="max-width: 350px; margin-right: 110px; z-index: 100"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      :to="{ name: 'CreateProduct' }"
    >
      <v-icon x-large>mdi-plus</v-icon>
    </v-btn>

    <v-data-table
      item-key="id"
      height="75vh"
      :loading="loading"
      :headers="headers"
      :items="productList"
      hide-default-header
      :items-per-page="15"
      :search.sync="search"
      class="elevation-3 br-20 mt-10"
    >
      <template
        v-if="!$vuetify.breakpoint.xs"
        v-slot:header="{ props: { headers } }"
        class="br-20"
      >
        <thead style="background: #7a4763">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.price="{ item }">{{ item.price | money }}</template>

      <template v-slot:item.individual="{ item }">
        <v-icon
          :color="item.individual ? 'accent' : 'red'"
          v-text="item.individual ? 'mdi-check' : 'mdi-close'"
        />
      </template>

      <template v-slot:item.is_active="{ item }">{{
        item.is_active ? "Activo" : "Bloqueado"
      }}</template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon color="accent" v-on="on" @click="edit(item)">
              <v-icon size="20">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <span v-text="`Editar`" />
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              :color="item.is_active ? 'accent' : 'red'"
              @click="lockProduct(item)"
            >
              <v-icon
                size="20"
                v-text="
                  item.is_active
                    ? 'mdi-lock-outline'
                    : 'mdi-lock-open-variant-outline'
                "
              />
            </v-btn>
          </template>
          <span v-text="item.is_active ? 'Bloquear' : 'Desbloquear'" />
        </v-tooltip>
      </template>
    </v-data-table>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
    <dialog-lock-product
      :product-id="productId"
      :visible="showLockDialog"
      :product-status="productStatus"
      @notify="notify"
      @close="cancelLock"
      @refresh="fetchInfo"
    />
  </v-container>
</template>

<script>
import { PRODUCT } from "@/store/dashboard";
export default {
  name: "DasboardProductIndex",
  components: {
    DialogLockProduct: () => import("./DialogLock"),
  },
  data: () => ({
    productList: [],
    search: null,
    loading: false,
    productId: 0,
    productStatus: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    showLockDialog: false,
    showCreateEditDialog: false,
    headers: [
      { align: "center", text: "Producto", value: "name" },
      { align: "center", text: "Tipo", value: "product_type_name" },
      { align: "center", text: "Precio", value: "price" },
      { align: "center", text: "Despacho individual", value: "individual" },
      { align: "center", text: "Estado", value: "is_active" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  mounted() {
    this.fetchInfo();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchInfo() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.AdminUrls.product)
        .then((response) => {
          this.productList = response.data.map((p) => {
            var product_type_name = "";
            switch (p.product_type) {
              case "BS":
                product_type_name = "Básico";
                break;
              case "CB":
                product_type_name = "Combo";
                break;
              default:
                product_type_name = "Personalizado";
                break;
            }
            return {
              ...p,
              product_type_name,
            };
          });
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo la información.");
        })
        .then(() => (this.loading = false));
    },
    edit(record) {
      this.$store.commit(PRODUCT, record);
      this.$nextTick(() =>
        this.$router.push({
          name: "EditProduct",
          params: { productId: record.id },
        })
      );
    },
    lockProduct(product) {
      this.productId = product.id;
      this.productStatus = product.is_active;
      this.$nextTick(() => (this.showLockDialog = true));
    },
    cancelLock() {
      this.productId = 0;
      this.productStatus = false;
      this.showLockDialog = false;
    },
  },
};
</script>
<style lang="sass">
#admin-products
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
