<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card class="br-20">
      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¿Cómo será el inventario del día?`"
        />

        <div
          class="fs-20 text-center my-12"
          v-text="`¡Buquesos días, garoso! Llegó el momento de tu primera decisión de hoy. Dejemos todo listo para un día super productivo y ganador.`"
        />
      </v-card-text>

      <v-card-actions class="mb-12">
        <v-spacer />
        <pages-btn
          outlined
          class="text-none"
          @click="goToInventory"
          v-text="`Crear inventario del día`"
        />
        <v-spacer />
        <pages-btn
          class="text-none"
          @click="closeModal()"
          v-text="`¡Hoy abrimos con todo!`"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'DialogEditInventory',
    components: {
      PagesBtn: () => import('@/views/pages/components/Btn'),
    },
    props: {
      visible: {
        type: Boolean,
        default: false,
        required: true,
      },
    },
    methods: {
      closeModal () {
        this.$emit('close')
      },
      goToInventory () {
        this.$router.push({
          name: 'EditInventory',
          params: { salePointId: this.getSessionInfo('sale_point') },
        })
      },
    },
  }
</script>
