<template>
  <v-container id="dashboard" fluid tag="section" class="px-2">
    <v-row justify="center" align="center">
      <v-col class="py-0" cols="12" sm="6" md="3">
        <dashboard-top-sales
          height="510"
          :data="topSales"
          total-field="total"
          :loading="loading"
          title="top ventas"
          :no-data-text="emptyCardText"
          display-field="product__name"
        />
      </v-col>

      <v-col class="py-0" cols="12" md="6">
        <v-card class="br-20" height="510" :loading="loading">
          <v-progress-linear slot="progress" color="inputColor" indeterminate />
          <v-card-title :class="cardTitles">historial de pedidos</v-card-title>
          <v-card-text v-if="ordersData.length" style="height:90%;">
            <GChart
              type="LineChart"
              :data="ordersData"
              class="fill-height"
              :options="ordersChart.options"
            />
          </v-card-text>
          <v-card-text v-else class="d-flex justify-center align-center" style="height:90%;">
            <div
              style="line-height: normal;  letter-spacing: -4px;"
              class="fs-50 ff--wicked-grit text-uppercase adminNotes--text text-center"
              v-text="emptyCardText"
            />
          </v-card-text>
        </v-card>
      </v-col>

      <v-col class="py-0" cols="12" sm="6" md="3">
        <v-card class="br-20" height="240">
          <v-card-title :class="cardTitles">producto top</v-card-title>
          <v-card-text class="d-flex justify-center align-center" style="height:75%;">
            <div
              class="fs-50 ff--wicked-grit text-uppercase text-center"
              style="color:#6B9BA0; line-height: normal;  letter-spacing: -4px;"
            >{{ topProduct }}</div>
          </v-card-text>
        </v-card>

        <v-card class="br-20" height="240">
          <v-card-title :class="cardTitles">medio de pago top</v-card-title>
          <v-card-text class="d-flex justify-center align-center" style="height:75%;">
            <div
              style="line-height: normal;  letter-spacing: -4px;"
              class="fs-50 ff--wicked-grit text-uppercase adminNotes--text text-center"
            >{{ topPaymentMethodName }}</div>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col class="py-0" cols="12" sm="6" md="3">
        <dashboard-top-sales
          height="300"
          :data="topCustomers"
          total-field="total"
          :loading="loading"
          title="top clientes"
          :no-data-text="emptyCardText"
          display-field="user__first_name"
        />
      </v-col>

      <v-col class="py-0" cols="12" sm="6" md="3">
        <chart-customer-top-sales
          :loading="loading"
          chart-color="#D84B0F"
          :data="customer1ChartData"
          :no-data-text="emptyCardText"
        />
      </v-col>

      <v-col class="py-0" cols="12" sm="6" md="3">
        <chart-customer-top-sales
          :loading="loading"
          chart-color="#F3882B"
          :data="customer2ChartData"
          :no-data-text="emptyCardText"
        />
      </v-col>

      <v-col class="py-0" cols="12" sm="6" md="3">
        <chart-customer-top-sales
          :loading="loading"
          chart-color="#6B9BA0"
          :data="customer3ChartData"
          :no-data-text="emptyCardText"
        />
      </v-col>
    </v-row>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
    <dialog-edit-inventory :visible="showInventory" @close="showInventory = false" />
  </v-container>
</template>

<script>
import { capitalizeFirstLetter } from "@/utils";
import { take, maxBy, forOwn, groupBy, orderBy } from "lodash";
import {
  PAYMENT_METHOD_PSE_ID,
  PAYMENT_METHOD_DATAPHONE_ID,
  PAYMENT_METHOD_CREDIT_CARD_ID,
  PAYMENT_METHOD_UPON_DELIVERY_ID,
} from "@/store/cart-constants";

export default {
  name: "DashboardStatistics",
  components: {
    DashboardTopSales: () => import("./components/TopSales"),
    DialogEditInventory: () => import("./DialogNewInventory"),
    ChartCustomerTopSales: () => import("./components/TopCustomerSales"),
  },
  data() {
    return {
      showInventory: false,
      cardTitles:
        "white--text footerBgColor text-uppercase fs-20 ff--gilroy-extra-bold justify-center",
      topSales: [],
      ordersData: [],
      loading: false,
      topCustomers: [],
      topPaymentMethodId: null,
      emptyCardText: "no hay ventas",
      customer1ChartData: [],
      customer2ChartData: [],
      customer3ChartData: [],
      notification: {
        show: false,
        content: "",
        type: "info",
      },
      ordersChart: {
        options: {
          lineWidth: 5,
          pointSize: 8,
          pointsVisible: true,
          curveType: "function",
          colors: ["#F3882B", "#D84B0F", "#6B9BA0"],
          vAxis: {
            minValue: 0,
            maxValue: 90,
            baselineColor: "#7A4763",
            gridlines: { color: "#DCEFE2" },
          },
          legend: { position: "rigth", alignment: "center" },
          chartArea: { top: 30, left: 35, width: "80%", height: "85%" },
        },
      },
    };
  },
  computed: {
    salePoint() {
      return this.getSessionInfo("sale_point");
    },
    topProduct() {
      return this.topSales.length
        ? this.topSales[0].product__name
        : this.emptyCardText;
    },
    topPaymentMethodName() {
      switch (this.topPaymentMethodId) {
        case PAYMENT_METHOD_PSE_ID:
          return "pse";
        case PAYMENT_METHOD_DATAPHONE_ID:
          return "datáfono";
        case PAYMENT_METHOD_CREDIT_CARD_ID:
          return "crédito";
        case PAYMENT_METHOD_UPON_DELIVERY_ID:
          return "Efectivo";
        default:
          return this.emptyCardText;
      }
    },
  },
  mounted() {
    this.fetchStatistics();

    if (this.getSessionInfo("showDialogInventory")) {
      setTimeout(() => {
        this.showInventory = true;
        this.appendSessionInfo("showDialogInventory", false);
      }, 2500);
    }
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchStatistics() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.AdminUrls.statistic, {
          params: { sale_point: this.salePoint },
        })
        .then((response) => {
          this.topSales = response.data.top_sales;
          this.topCustomers = response.data.top_clients;
          this.topPaymentMethodId = response.data.top_payment_method[0]
            ? response.data.top_payment_method[0].payment_method
            : null;

          if (response.data.order_history.length) {
            this.mapOrdersData(response.data.order_history);
          }

          if (response.data.best_clients.length) {
            this.mapBestCustomersData(response.data.best_clients);
          }
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo las estadisticas.");
        })
        .finally(() =>
          setTimeout(() => {
            this.loading = false;
          }, 1500)
        );
    },
    mapOrdersData(info) {
      var fullData = [["Día", "Online", "Local", "Domicilio"]];
      var gropuedByDate = groupBy(info, "created_at__date");

      forOwn(gropuedByDate, (value, key) => {
        var day = this.$moment(key, "YYYY-MM-DD").format("dddd");
        var data = Array(capitalizeFirstLetter(day), 0, 0, 0);
        value.forEach((element) => {
          let i;
          switch (element.order_type) {
            case 1:
              i = 1;
              break;
            case 2:
              i = 2;
              break;
            default:
              i = 3;
              break;
          }
          data[i] = element.total;
        });
        fullData.push(data);
      });
      this.ordersChart.options.vAxis.maxValue = maxBy(info, "total").total + 3;
      this.ordersData = fullData;
    },
    mapBestCustomersData(info) {
      var groupedByCustomer = groupBy(
        orderBy(info, "total", "desc"),
        "order__user__first_name"
      );
      var i = 0;
      var data = [];

      // organizar los clientes por mayor numero de compras
      forOwn(groupedByCustomer, (value, key) => {
        data[i] = {
          usr: key,
          total: take(orderBy(value, "total", "desc"), 3).reduce(
            (t, v) => (t += v.total),
            0
          ),
        };
        i++;
      });

      data.forEach((element, i) => {
        this[`customer${i + 1}ChartData`] = take(
          groupedByCustomer[element.usr],
          3
        );
      });
    },
  },
};
</script>
