<template>
  <v-container id="admin-customers" fluid class="pa-5" tag="section">
    <v-text-field
      rounded
      outlined
      single-line
      hide-details
      v-model="search"
      v-bind="inputAttrs"
      placeholder="Buscar"
      class="ml-auto mt-n12 v-btn--absolute"
      style="max-width: 350px; z-index: 100"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-data-table
      item-key="id"
      height="75vh"
      :loading="loading"
      :headers="headers"
      :items="customers"
      hide-default-header
      hide-default-footer
      :search.sync="search"
      :page.sync="currentPage"
      :items-per-page="itemsPerPage"
      class="elevation-3 br-20 mt-10"
    >
      <template
        v-if="!$vuetify.breakpoint.xs"
        v-slot:header="{ props: { headers } }"
        class="br-20"
      >
        <thead style="background: #7a4763">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.first_name="{ item }"
        >{{ item.first_name }} {{ item.last_name }}</template
      >

      <template v-slot:item.date_joined="{ item }">{{
        item.date_joined | datetime("", "YY/MM/DD")
      }}</template>

      <template v-slot:item.is_active="{ item }">{{
        item.is_active ? "Activo" : "Bloqueado"
      }}</template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon color="accent" v-on="on" @click="viewCustomer(item)">
              <v-icon size="20">mdi-eye</v-icon>
            </v-btn>
          </template>
          <span v-text="`Ver`" />
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              :color="item.is_active ? 'accent' : 'red'"
              @click="(showLock = true), (selected = item)"
            >
              <v-icon
                size="20"
                v-text="
                  item.is_active
                    ? 'mdi-lock-outline'
                    : 'mdi-lock-open-variant-outline'
                "
              />
            </v-btn>
          </template>
          <span v-text="item.is_active ? 'Bloquear' : 'Desbloquear'" />
        </v-tooltip>
      </template>
    </v-data-table>

    <v-container>
      <v-text-field
        v-model="itemsPerPage"
        min="-1"
        max="20"
        step="1"
        outlined
        hide-details
        type="number"
        color="inputColor"
        class="br-10 centered-input"
        style="max-width: 320px"
      >
        <template v-slot:prepend>Mostrando</template>
        <template v-slot:append-outer>
          <div style="width: 150px">de {{ totalItems }} resultados</div>
        </template>
      </v-text-field>
      <v-pagination
        v-if="totalItems > 0"
        circle
        :total-visible="5"
        :value="currentPage"
        :length="totalPages"
        style="float: right"
        color="accent darken-1"
        class="mt-n13 text--black"
        @input="changeCurrentPage"
      />
    </v-container>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
    <dialog-lock-user
      :visible="showLock"
      :user-id="selected.id"
      :user-status="selected.is_active"
      @notify="notify"
      @refresh="fetchCustomers"
      @close="(showLock = false), (selected = {})"
    />
  </v-container>
</template>

<script>
import { CUSTOMER } from "@/store/dashboard";
export default {
  name: "CustomersIndex",
  components: {
    DialogLockUser: () => import("./DialogLock"),
  },
  data: () => ({
    totalItems: 0,
    currentPage: 1,
    itemsPerPage: 15,
    selected: {},
    search: null,
    customers: [],
    loading: false,
    showLock: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    headers: [
      { align: "center", text: "Nombre", value: "first_name" },
      { align: "center", text: "Pedidos", value: "total_orders" },
      { align: "center", text: "Teléfono", value: "phone" },
      { align: "center", text: "Correo eletrónico", value: "email" },
      { align: "center", text: "Activo desde", value: "date_joined" },
      { align: "center", text: "Estado", value: "is_active" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  computed: {
    totalPages() {
      if (!this.itemsPerPage || !this.totalItems) return 0;
      return Math.ceil(this.totalItems / this.itemsPerPage);
    },
  },
  watch: {
    itemsPerPage(val) {
      this.itemsPerPage = val <= 0 ? 1 : parseInt(val, 10);
      this.fetchCustomers();
    },
  },
  mounted() {
    this.fetchCustomers();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    changeCurrentPage(pageNumber) {
      this.currentPage = pageNumber;
      this.fetchCustomers();
    },
    fetchCustomers() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.AdminUrls.users, {
          params: {
            is_staff: 2,
            limit: this.itemsPerPage,
            offset: (this.currentPage - 1) * this.itemsPerPage,
          },
        })
        .then((response) => {
          this.customers = response.data.results;
          this.totalItems = response.data.count;
        })
        .catch((error) =>
          this.notify("error", "Ocurrió un error cargando los clientes.")
        )
        .then(() => (this.loading = false));
    },
    viewCustomer(item) {
      this.$store.commit(CUSTOMER, item);
      this.$nextTick(() =>
        this.$router.push({
          name: "CustomerDetail",
          params: { userId: item.id },
        })
      );
    },
  },
};
</script>
<style lang="sass">
#admin-customers
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px

  .centered-input input
    text-align: center
</style>
