<template>
  <v-container fluid id="customer-detail" class="px-2" tag="section">
    <v-text-field
      v-model="filter"
      color="inputColor"
      v-bind="inputAttrs"
      placeholder="Buscar"
      style="position: absolute;top: -32px;right: 115px; max-width: 350px;"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-row align="center" justify="center">
      <v-col cols="12" md="4" :style="fontSize">
        <v-card
          class="br-10"
          :loading="loadingUserinfo"
          :style="{'height': $vuetify.breakpoint.mdAndUp ? '150px': '100%'}"
        >
          <v-progress-linear slot="progress" color="inputColor" indeterminate />
          <v-card-text>
            <v-row dense>
              <v-col cols="12" sm="3" :class="labelCss">teléfono:</v-col>
              <v-col cols="12" sm="9">{{ user.phone || '--' }}</v-col>
              <v-col cols="12" sm="3" :class="labelCss">dirección:</v-col>
              <v-col cols="12" sm="9" class="text-truncate">{{ address }}</v-col>
              <v-col cols="12" sm="3" :class="labelCss">correo:</v-col>
              <v-col cols="12" sm="9" class="text-truncate">{{ user.email }}</v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="2">
        <v-card
          class="br-10"
          :loading="loadingOrders"
          :style="{'height': $vuetify.breakpoint.mdAndUp ? '150px': '100%'}"
        >
          <v-progress-linear slot="progress" color="inputColor" indeterminate />
          <v-card-text class="text-center">
            <div class="fs-50 garosa-primary-text ff--wicked-grit mt-3">{{ orders.length }}</div>
          </v-card-text>
          <v-card-text class="text-center">
            <div class="fs-25" v-text="`Total pedidos`" />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card
          class="br-10"
          :loading="loadingOrders"
          :style="{'height': $vuetify.breakpoint.mdAndUp ? '150px': '100%'}"
        >
          <v-progress-linear slot="progress" color="inputColor" indeterminate />
          <v-card-text class="text-center">
            <div
              style="color:#6B9BA0;"
              class="fs-30 ff--wicked-grit mt-3 text-uppercase"
            >{{ topProduct }}</div>
            <div class="fs-25 mt-2" v-text="`Producto más pedido`" />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card
          class="br-10"
          :loading="loadingUserinfo"
          :style="{'height': $vuetify.breakpoint.mdAndUp ? '150px': '100%'}"
        >
          <v-progress-linear slot="progress" color="inputColor" indeterminate />
          <v-card-text class="text-center">
            <div
              class="fs-50 ff--wicked-grit mt-3 text-uppercase adminNotes--text"
            >{{ user.date_joined | datetime('', 'YY/MM/DD') }}</div>
          </v-card-text>
          <v-card-text class="text-center">
            <div class="fs-25" v-text="`Cliente desde`" />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-data-table
          item-key="id"
          height="55vh"
          :items="orders"
          hide-default-header
          :items-per-page="15"
          :search.sync="filter"
          :headers="tableHeaders"
          :loading="loadingOrders"
          class="elevation-3 br-20"
        >
          <template
            v-if="!$vuetify.breakpoint.xs"
            v-slot:header="{ props: { headers } }"
            class="br-20"
          >
            <thead style="background: #7A4763;" class="br-20">
              <tr>
                <th
                  v-for="(header, i) in headers"
                  :key="i"
                  class="text-center white--text fs-20"
                  v-text="header.text"
                />
              </tr>
            </thead>
          </template>

          <v-progress-linear slot="progress" color="inputColor" indeterminate />

          <template v-slot:item.time="{item}">{{item.created_at | datetime('', 'HH:mm a')}}</template>
          <template v-slot:item.date="{item}">{{item.created_at | datetime('', 'YY/MM/DD')}}</template>
          <template
            v-slot:item.total_price="{item}"
          >{{item.total_price + item.delivery_price | money}}</template>

          <template v-slot:item.actions="{item}">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon color="accent" v-on="on" @click="viewOrder(item)">
                  <v-icon size="20">mdi-eye</v-icon>
                </v-btn>
              </template>
              <span v-text="`Ver pedido`" />
            </v-tooltip>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
  </v-container>
</template>

<script>
import { CUSTOMER, ORDER } from "@/store/dashboard";
export default {
  name: "CustomerDetail",
  data: () => ({
    orders: [],
    filter: null,
    address: "--",
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    loadingOrders: false,
    loadingUserinfo: false,
    fontSize: { fontSize: "1.2vw" },
    textWrapCss: ["d-flex justify-space-around py-1"],
    labelCss: ["text-uppercase ff--gilroy-extra-bold adminNotes--text"],
    tableHeaders: [
      { align: "center", text: "Hora", value: "time" },
      { align: "center", text: "Fecha", value: "date" },
      { align: "center", text: "Pedido", value: "id" },
      { align: "center", text: "Descripción", value: "description" },
      { align: "center", text: "Valor total", value: "total_price" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  computed: {
    userId() {
      return parseInt(this.$route.params.userId);
    },
    user: {
      get() {
        return this.$store.getters[CUSTOMER];
      },
      set(val) {
        return this.$store.commit(CUSTOMER, val);
      },
    },
    topProduct() {
      var products = [];
      var maxFrequent = 0;
      var counter = 0;
      var topProduct = "--";

      this.orders.forEach((o) => {
        products = products.concat(o.order_details.map((od) => od.product));
      });
      products.forEach((prod, i) => {
        products.forEach((pr, j) => {
          if (prod === pr) counter++;
          if (maxFrequent < counter) {
            maxFrequent = counter;
            topProduct = prod;
          }
        });
        counter = 0;
      });

      return topProduct;
    },
  },
  mounted() {
    if (!this.user.id) this.getUserInfo();

    this.fetchOrders();
    this.fetchCustomerAddresses();
  },
  beforeDestroy() {
    this.user = {
      id: 0,
      phone: "",
      email: "",
      last_name: "",
      first_name: "",
      date_joined: "",
    };
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    viewOrder(order) {
      this.$store.commit(ORDER, order);
      this.$nextTick(() =>
        this.$router.push({
          name: "OrderDetail",
          params: { orderId: order.id },
        })
      );
    },
    getUserInfo() {
      this.loadingUserinfo = true;
      this.axios
        .get(this.urlConstants.AdminUrls.users.concat("/", this.userId))
        .then((response) => {
          this.user = response.data;
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información del usuario."
          );
        })
        .finally(() => (this.loadingUserinfo = false));
    },
    fetchCustomerAddresses() {
      this.axios
        .get(this.urlConstants.UserUrls.address, {
          params: { client: this.userId },
        })
        .then((response) => {
          const principal =
            response.data.find((add) => add.is_principal) || response.data[0];
          this.address = (principal && principal.address) || "--";
        })
        .catch((error) =>
          this.notify(
            "error",
            "Ocurrió un error cargando la dirección del usuario."
          )
        );
    },
    fetchOrders() {
      this.loadingOrders = true;
      this.axios
        .get(this.urlConstants.StoreUrls.order, {
          params: { user_id: this.userId },
        })
        .then((response) => {
          this.orders = response.data.map((order) => ({
            ...order,
            description: order.order_details.map((p) => p.product).join(", "),
          }));
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo los pedidos.");
        })
        .then(() => (this.loadingOrders = false));
    },
  },
};
</script>
<style lang="sass">
#customer-detail
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
