<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`¿Seguro que quieres bloquearlo?`"
        />

        <div
          class="fs-20 text-center my-12"
          v-text="`Cuidado, amigo, tal vez te equivocaste de opción.`"
        />
      </v-card-text>

      <v-card-actions class="mb-12">
        <v-spacer />
        <pages-btn
          outlined
          class="text-none"
          :disabled="submitting"
          @click="closeModal()"
          v-text="`¡Ups! Cancelar`"
        />
        <v-spacer />
        <pages-btn
          class="text-none"
          :loading="submitting"
          :disabled="submitting"
          @click="submit"
          v-text="userStatus ? 'Bloquear usuario' : 'Desbloquear usuario'"
        />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogLockUser",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    userId: {
      default: 0,
      type: Number,
      required: true,
    },
    userStatus: {
      default: true,
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    submitting: false,
  }),
  methods: {
    closeModal() {
      this.$emit("close");
    },
    submit() {
      const data = new FormData();

      data.append("is_active", !this.userStatus);
      var config = {
        data,
        method: "patch",
        url: this.urlConstants.AdminUrls.users.concat("/", this.userId),
      };

      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.$emit("notify", "success", "Usuario actualizado exitosamente");
          this.$emit("refresh");
          this.closeModal();
        })
        .catch((error) => {
          return this.$emit(
            "notify",
            "error",
            "Ocurrió un error, intenta nuevamente"
          );
        })
        .then(() => (this.submitting = false));
    },
  },
};
</script>
