<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="title"
        />
      </v-card-text>

      <v-card-text :class="{'px-16': $vuetify.breakpoint.mdAndUp }">
        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form
            ref="form"
            class="mx-auto"
            style="max-width: 400px;"
            @submit.prevent="handleSubmit(saveCustomer)"
          >
            <validation-provider v-slot="{errors}" rules="required" name="Nombres">
              <v-text-field
                v-model="firstName"
                autofocus
                label="Nombres"
                v-bind="inputAttrs"
                :error-messages="errors"
              />
            </validation-provider>

            <validation-provider v-slot="{errors}" rules="required" name="Apellidos">
              <v-text-field
                v-model="lastName"
                label="Apellidos"
                v-bind="inputAttrs"
                :error-messages="errors"
              />
            </validation-provider>
            <validation-provider v-slot="{errors}" rules="required|email" name="Correo eléctronico">
              <v-text-field
                v-model="email"
                v-bind="inputAttrs"
                :error-messages="errors"
                label="Correo eléctronico"
              />
            </validation-provider>

            <validation-provider v-slot="{errors}" rules="required" name="Rol">
              <v-select
                v-model="userRole"
                label="Rol"
                :items="roles"
                item-value="id"
                item-text="name"
                v-bind="inputAttrs"
                :loading="loadingRoles"
                :error-messages="errors"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{'font-weight-bold': attrs.inputValue}"
                        v-text="item.name"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-select>
            </validation-provider>

            <validation-provider v-slot="{errors}" rules="required" name="Local">
              <v-select
                v-model="salePoint"
                label="Local"
                item-value="id"
                item-text="name"
                v-bind="inputAttrs"
                :items="salePoints"
                :error-messages="errors"
                :loading="loadingSalePoints"
              >
                <template v-slot:item="{ attrs, item, on }">
                  <v-list-item
                    elevation="0"
                    v-bind="attrs"
                    class="mx-3 mb-2 v-sheet"
                    active-class="buttonMainColor lighten-2 elevation-1 white--text"
                    v-on="on"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        :class="{'font-weight-bold': attrs.inputValue}"
                        v-text="item.name"
                      />
                    </v-list-item-content>

                    <v-scale-transition>
                      <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                        <v-icon>mdi-check</v-icon>
                      </v-list-item-icon>
                    </v-scale-transition>
                  </v-list-item>
                </template>
              </v-select>
            </validation-provider>

            <div class="text-center my-5">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mr-3"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize"
                v-text="`Guardar`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogNewStaff",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    user: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },
  data: () => ({
    roles: [],
    email: null,
    userId: null,
    salePoints: [],
    userRole: null,
    lastName: null,
    salePoint: null,
    firstName: null,
    submitting: false,
    loadingRoles: false,
    loadingSalePoints: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
  }),
  computed: {
    title() {
      return this.userId ? "edición de info" : "nuevo cliente";
    },
    userData() {
      return {
        is_staff: true,
        is_active: true,
        email: this.email,
        role: this.userRole,
        change_password: true,
        last_name: this.lastName,
        sale_point: this.salePoint,
        first_name: this.firstName,
        password: "yoamolosbuquesos",
      };
    },
  },
  watch: {
    visible(val) {
      if (val && this.user.id) {
        const hasRole = this.user.groups.length;

        this.userId = this.user.id;
        this.email = this.user.email;
        this.lastName = this.user.last_name;
        this.firstName = this.user.first_name;
        this.userRole = hasRole ? this.user.groups[0].id : 0;
        this.salePoint = this.user.sale_point ? this.user.sale_point.id : 0;
      }
    },
  },
  mounted() {
    this.fetchRoles();
    this.fetchSalesPoints();
  },
  methods: {
    closeModal() {
      this.userId = null;
      this.email = null;
      this.lastName = null;
      this.userRole = null;
      this.salePoint = null;
      this.firstName = null;

      this.$nextTick(() => {
        this.$refs.formValidation.reset();
        this.$emit("close");
      });
    },
    fetchSalesPoints() {
      this.loadingSalePoints = true;
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint)
        .then((response) => {
          this.salePoints = response.data;
        })
        .catch((error) => {
          this.$emit(
            "notify",
            "error",
            "Ocurrió un error cargando la información de los locales."
          );
        })
        .finally(() => (this.loadingSalePoints = false));
    },
    fetchRoles() {
      this.loadingRoles = true;
      this.axios
        .get(this.urlConstants.AdminUrls.roles)
        .then((response) => {
          this.roles = response.data;
        })
        .catch((error) => {
          this.$emit(
            "notify",
            "error",
            "Ocurrió un error cargando la información de los roles."
          );
        })
        .finally(() => (this.loadingRoles = false));
    },
    saveCustomer() {
      var params = this.userData;
      const method = this.userId ? "patch" : "post";
      const url = this.urlConstants.AdminUrls.users.concat(
        this.userId ? `/${this.userId}` : ""
      );

      if (method === "patch") {
        delete params.password;
        delete params.change_password;
      }

      this.submitting = true;
      this.axios[method](url, params).then((response) => {
        this.$emit(
          "notify",
          "success",
          `Usuario ${this.userId ? "actualizado" : "registrado"} exitosamente.`
        );
        this.$emit("refresh");
        this.closeModal();
      });
    },
    fetchSalesPoints() {
      this.loadingSalePoints = true;
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint)
        .then((response) => {
          this.salePoints = response.data;
        })
        .catch((error) => {
          this.$emit(
            "notify",
            "error",
            "Ocurrió un error cargando la información de los locales."
          );
        })
        .finally(() => (this.loadingSalePoints = false));
    },
    fetchRoles() {
      this.loadingRoles = true;
      this.axios
        .get(this.urlConstants.AdminUrls.roles)
        .then((response) => {
          this.roles = response.data;
        })
        .catch((error) => {
          this.$emit(
            "notify",
            "error",
            "Ocurrió un error cargando la información de los roles."
          );
        })
        .finally(() => (this.loadingRoles = false));
    },
  },
};
</script>
