<template>
  <v-container fluid class="pa-5" style="height: 75vh" tag="section">
    <v-row justify="center" align="center" class="fill-height">
      <v-col v-for="(option, i) in options" :key="i" cols="auto" class="mt-n2">
        <v-card
          hover
          outlined
          class="br-20 pa-2"
          :to="option.to"
          width="341"
          height="341"
        >
          <v-card-title>
            <v-btn
              fab
              color="accent"
              elevation="0"
              height="187"
              width="187"
              class="mx-auto"
            >
              <v-icon size="75" v-text="option.icon" />
            </v-btn>
          </v-card-title>
          <v-card-subtitle
            style="line-height: initial"
            class="text-center mt-5 fs-50"
            v-text="option.name"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "DasboardInfoIndex",
  data: () => ({
    options: [
      {
        name: "Clientes",
        icon: "mdi-basket",
        to: { name: "Customers" },
      },
      {
        name: "Equipo",
        to: { name: "Staff" },
        icon: "mdi-account-multiple",
      },
      {
        name: "Suscriptores",
        to: { name: "Subscribers" },
        icon: "mdi-comment-text-multiple",
      },
    ],
  }),
};
</script>
