<template>
  <v-container fluid class="pa-5" id="admin-staff" tag="section">
    <v-text-field
      rounded
      outlined
      single-line
      hide-details
      v-model="search"
      color="inputColor"
      v-bind="inputAttrs"
      placeholder="Buscar"
      class="ml-auto mt-n12"
      style="max-width: 350px; margin-right: 110px; z-index: 100"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      @click="(showCreateEdit = true), (selected = {})"
    >
      <v-icon x-large>mdi-plus</v-icon>
    </v-btn>

    <v-data-table
      item-key="id"
      height="75vh"
      :loading="loading"
      :headers="headers"
      :items="staffList"
      hide-default-header
      :items-per-page="15"
      :search.sync="search"
      class="elevation-3 br-20 mt-10"
    >
      <template
        v-if="!$vuetify.breakpoint.xs"
        v-slot:header="{ props: { headers } }"
        class="br-20"
      >
        <thead style="background: #7a4763">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.first_name="{ item }"
        >{{ item.first_name }} {{ item.last_name }}</template
      >
      <template v-slot:item.groups="{ item }">{{
        item.groups.length ? item.groups[0].name : "--"
      }}</template>
      <template v-slot:item.sale_point="{ item }">{{
        item.sale_point ? item.sale_point.name : "--"
      }}</template>

      <template v-slot:item.date_joined="{ item }">{{
        item.date_joined | datetime("", "YY/MM/DD")
      }}</template>

      <template v-slot:item.is_active="{ item }">{{
        item.is_active ? "Activo" : "Bloqueado"
      }}</template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              color="accent"
              v-on="on"
              @click="(showCreateEdit = true), (selected = item)"
            >
              <v-icon size="20">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <span v-text="`Editar`" />
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              v-on="on"
              :color="item.is_active ? 'accent' : 'red'"
              @click="(showLock = true), (selected = item)"
            >
              <v-icon
                size="20"
                v-text="
                  item.is_active
                    ? 'mdi-lock-outline'
                    : 'mdi-lock-open-variant-outline'
                "
              />
            </v-btn>
          </template>
          <span v-text="item.is_active ? 'Bloquear' : 'Desbloquear'" />
        </v-tooltip>
      </template>
    </v-data-table>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
    <dialog-lock-user
      :visible="showLock"
      :user-id="selected.id"
      :user-status="selected.is_active"
      @notify="notify"
      @refresh="fetchStaff"
      @close="(showLock = false), (selected = {})"
    />
    <dialog-new-staff
      :user="selected"
      :visible="showCreateEdit"
      @notify="notify"
      @refresh="fetchStaff"
      @close="(showCreateEdit = false), (selected = {})"
    />
  </v-container>
</template>

<script>
export default {
  name: "StaffIndex",
  components: {
    DialogLockUser: () => import("./DialogLock"),
    DialogNewStaff: () => import("./DialogNewStaff"),
  },
  data: () => ({
    selected: {},
    search: null,
    staffList: [],
    loading: false,
    showLock: false,
    showCreateEdit: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    headers: [
      { align: "center", text: "Nombre", value: "first_name" },
      { align: "center", text: "Rol", value: "groups" },
      { align: "center", text: "Local", value: "sale_point" },
      { align: "center", text: "Correo eletrónico", value: "email" },
      { align: "center", text: "Activo desde", value: "date_joined" },
      { align: "center", text: "Estado", value: "is_active" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  mounted() {
    this.fetchStaff();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchStaff() {
      const sale_point = this.getSessionInfo("is_superuser")
        ? null
        : this.getSessionInfo("sale_point");

      this.loading = true;
      this.axios
        .get(this.urlConstants.AdminUrls.users, {
          params: { is_staff: 1, sale_point },
        })
        .then((response) => (this.staffList = response.data))
        .catch((error) =>
          this.notify(
            "error",
            "Ocurrió un error cargando los miembros del equipo."
          )
        )
        .then(() => (this.loading = false));
    },
  },
};
</script>
<style lang="sass">
#admin-staff
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
