<template>
  <v-container id="admin-subscribers" fluid class="pa-5" tag="section">
    <v-text-field
      v-model="search"
      rounded
      outlined
      single-line
      hide-details
      color="inputColor"
      placeholder="Buscar"
      class="mt-n12 ml-auto"
      style="max-width: 350px; margin-right: 110px; z-index: 100"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      @click="downloadExcel"
    >
      <v-icon x-large>mdi-microsoft-excel</v-icon>
    </v-btn>

    <v-data-table
      item-key="id"
      height="75vh"
      :loading="loading"
      :headers="headers"
      :items="records"
      hide-default-header
      :search.sync="search"
      :items-per-page="15"
      class="elevation-3 br-20 mt-10"
    >
      <template
        v-if="!$vuetify.breakpoint.xs"
        v-slot:header="{ props: { headers } }"
        class="br-20"
      >
        <thead style="background: #7a4763">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.created_at="{ item }">{{
        item.created_at | datetime("", "YY/MM/DD hh:mm a")
      }}</template>
    </v-data-table>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import XLSX from "xlsx";

export default {
  name: "SubscribersIndex",
  data: () => ({
    records: [],
    search: null,
    loading: false,
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0",
      "background-color": "white",
    },
    headers: [
      { align: "center", text: "#", value: "id" },
      { align: "center", text: "Correo", value: "email" },
      { align: "center", text: "Suscrito Desde", value: "created_at" },
    ],
  }),
  mounted() {
    this.fetchSuscribers();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    changeCurrentPage(pageNumber) {
      this.currentPage = pageNumber;
      this.fetchCustomers();
    },
    fetchSuscribers() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.UserUrls.subscriptors)
        .then((response) => {
          this.records = response.data;
        })
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo la información.");
        })
        .then(() => (this.loading = false));
    },
    downloadExcel() {
      const excelData = XLSX.utils.json_to_sheet(
        this.records.map((record) => {
          return {
            Cod: record.id,
            Email: record.email,
            "Suscrito Desde": this.$moment(record.created_at).format(
              "YY/MM/DD hh:mm a"
            ),
          };
        })
      );

      const workbook = XLSX.utils.book_new(),
        filename = `Reporte Suscriptores`,
        sheetName = `Suscriptores`;

      XLSX.utils.book_append_sheet(workbook, excelData, sheetName);
      XLSX.writeFile(workbook, `${filename}.xlsx`);
    },
  },
};
</script>
<style lang="sass">
#admin-subscribers
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
