<template>
  <v-container fluid class="mx-0 pa-0 justify-center" tag="section">
    <!-- Inicio seleccion de tienda -->
    <v-row
      v-if="displaySalePointSelect"
      align="center"
      justify="center"
      class="white--text font-weight-bold text-center py-1 px-2"
      style="background: #d84b0e 0% 0% no-repeat padding-box; opacity: 1"
    >
      <v-col
        cols="12"
        sm="5"
        md="auto"
        :class="[{ 'mt-2': isDesktop }, 'py-0 my-0']"
      >
        <span class="text-uppercase ff--gilroy-extra-bold fs-30"
          >estás comprando en</span
        >
      </v-col>
      <v-col cols="12" sm="5" md="auto" style="max-width: 450px" class="pt-0">
        <v-select
          v-model="salesPointsInput.value"
          rounded
          outlined
          full-width
          hide-details
          class="mt-3"
          color="inputColor"
          background-color="white"
          :items="salesPointsInput.records"
          :loading="salesPointsInput.loading"
          :item-value="salesPointsInput.valueField"
          :item-text="salesPointsInput.displayField"
        >
          <template v-slot:selection="{ item }">
            <v-scroll-x-reverse-transition>
              <v-list-item elevation="0" v-bind="item">
                <v-list-item-content>
                  <v-list-item-title v-text="item.name" />
                </v-list-item-content>
              </v-list-item>
            </v-scroll-x-reverse-transition>
          </template>
          <template v-slot:item="{ attrs, item, on }">
            <v-list-item
              elevation="0"
              v-bind="attrs"
              class="mx-1 mb-1 v-sheet"
              active-class="buttonMainColor lighten-2 elevation-1 white--text"
              v-on="on"
            >
              <v-list-item-content>
                <v-list-item-title v-text="item.name" />
                <v-list-item-subtitle
                  :class="[attrs.inputValue ? 'white--text' : 'black--text']"
                  v-text="`${item.address} - ${item.city.name}`"
                />
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-select>
      </v-col>
    </v-row>
    <!-- Fin seleccion de tienda -->

    <v-main class="sections-wheat-bg pb-12 pt-5">
      <filter-and-sort
        :sort-options="sortOptions"
        :flavors-list="productFlavors"
        :categories-list="productCategories"
        @sort-products="sortProducts"
        @filter-products="filterProducts"
      />

      <v-subheader
        v-if="isDesktop"
        class="mx-auto mt-6"
        :style="{ maxWidth: isDesktop ? '85%' : '95%' }"
      >
        <strong
          class="text-uppercase ff--wicked-grit garosa-title-text"
          :class="[isDesktop ? 'fs-40' : 'fs-25']"
          v-text="`Los más pedidos`"
        />
        <base-divider class="ml-4" role="presentation" />
      </v-subheader>

      <v-row
        v-if="isDesktop"
        justify="center"
        align="center"
        class="container mx-auto"
      >
        <v-col
          v-for="inventory in topRated"
          :key="inventory.id"
          cols="6"
          md="auto"
        >
          <v-scale-transition hide-on-leave>
            <pages-store-product-card :inventory="inventory" />
          </v-scale-transition>
        </v-col>
      </v-row>

      <v-subheader
        v-if="isDesktop"
        class="mx-auto my-5"
        :style="{ maxWidth: isDesktop ? '85%' : '95%' }"
      >
        <strong
          class="text-uppercase ff--wicked-grit garosa-title-text"
          :class="[isDesktop ? 'fs-40' : 'fs-25']"
          v-text="`otros antojos`"
        />
        <base-divider class="ml-4" role="presentation" />
      </v-subheader>

      <v-row justify="center" align="center" class="container mx-auto">
        <v-col
          v-for="inventory in products"
          :key="inventory.id"
          cols="6"
          md="auto"
        >
          <v-scale-transition hide-on-leave>
            <pages-store-product-card :inventory="inventory" />
          </v-scale-transition>
        </v-col>
      </v-row>
    </v-main>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />

    <dialog-select-preferred-sale-point
      :visible="showDialogSelectSalePoint"
      @close="setSalePointFromDialog"
    />

    <dialog-subscribe
      :visible="showDialogSubscribe"
      @close="showDialogSubscribe = false"
      @notify="notify"
    />

    <dialog-closed-sale-point
      :visible="showClosedSalePoint"
      :salePoint="selectedSalePoint || {}"
      @close="showClosedSalePoint = false"
    />
  </v-container>
</template>

<script>
import { pick, take, intersectionWith } from "lodash";
import {
  DELIVERY_ORIGIN,
  SUGGESTED_PRODUCTS,
  PREFERRED_SALE_POINT,
  ALLOWED_TO_BUY_BY_TIME,
} from "@/store/cart-constants";

export default {
  name: "PagesStoreCatalogue",
  components: {
    FilterAndSort: () => import("./components/FilterAndSort"),
    PagesStoreProductCard: () => import("./components/ProductCard"),
    DialogSelectPreferredSalePoint: () => import("./DialogSelectSalePoint"),
    DialogClosedSalePoint: () => import("./components/DialogClosedSalePoint"),
    DialogSubscribe: () => import("./DialogSubscribe"),
  },
  data: () => ({
    isDesktop: false,
    products: [],
    productFlavors: [],
    originalProducts: [],
    productCategories: [],
    sortOptions: [
      { name: "A-Z", id: 1, sortKey: "name", sortDir: "ASC" },
      { name: "Z-A", id: 2, sortKey: "name", sortDir: "DESC" },
      {
        name: "Precio menor a mayor",
        id: 3,
        sortKey: "price",
        sortDir: "ASC",
      },
      {
        name: "Precio mayor a menor",
        id: 4,
        sortKey: "price",
        sortDir: "DESC",
      },
    ],
    salesPointsInput: {
      value: null,
      records: [],
      loading: false,
      valueField: "id",
      displayField: "name",
    },
    productCategoryInput: {
      value: [],
      records: [],
      loading: false,
      valueField: "id",
      displayField: "name",
    },
    productFlavorsInput: {
      value: [],
      records: [],
      loading: false,
      valueField: "id",
      displayField: "name",
    },
    sortInput: {
      value: null,
      loading: false,
      valueField: "id",
      displayField: "name",
      records: [
        { name: "A-Z", id: 1, sortKey: "name", sortDir: "ASC" },
        { name: "Z-A", id: 2, sortKey: "name", sortDir: "DESC" },
        {
          name: "Precio menor a mayor",
          id: 3,
          sortKey: "price",
          sortDir: "ASC",
        },
        {
          name: "Precio mayor a menor",
          id: 4,
          sortKey: "price",
          sortDir: "DESC",
        },
      ],
    },
    notification: {
      type: "",
      show: false,
      content: "",
    },
    showClosedSalePoint: false,
    showDialogSelectSalePoint: false,
    showDialogSubscribe: true,
  }),
  computed: {
    topRated() {
      return take(this.originalProducts, 3);
    },
    displaySalePointSelect() {
      return this.salesPointsInput.records.length > 1;
    },
    selectedSalePoint() {
      return this.salesPointsInput.records.find(
        (sp) => sp.id === this.salesPointsInput.value
      );
    },
    deliverySalePointOrigin() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    preferredSalePoint: {
      get() {
        return this.$store.getters[PREFERRED_SALE_POINT];
      },
      set(val) {
        this.$store.commit(PREFERRED_SALE_POINT, val);
      },
    },
  },
  watch: {
    salesPointsInput: {
      deep: true,
      handler(newVal) {
        if (newVal.value) {
          this.checkAllowedToBuy();
          return this.fetchProducts(newVal.value);
        }
      },
    },
  },
  mounted() {
    this.$store.dispatch(PREFERRED_SALE_POINT);

    if (this.preferredSalePoint) {
      this.salesPointsInput.value = this.preferredSalePoint;
    } else {
      this.showDialogSelectSalePoint = true;
    }

    this.fetchSalesPoints();
    this.fetchProductCategories();
    this.fetchProductFlavors();
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    fetchSalesPoints() {
      this.salesPointsInput.loading = true;

      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint, {
          params: { is_active: "True" },
        })
        .then((response) => {
          this.salesPointsInput.records = response.data;
          if (response.data.length) {
            if (this.preferredSalePoint) {
              const sp = response.data.find(
                (s) => s.id === this.preferredSalePoint
              );
              if (sp) {
                this.salesPointsInput.value = sp.id;
              } else {
                this.showDialogSelectSalePoint = true;
              }
            }
          }
        })
        .catch((error) => {
          return this.notify("error", error);
        })
        .then(() => (this.salesPointsInput.loading = false));
    },
    fetchProductCategories() {
      this.axios
        .get(this.urlConstants.StoreUrls.productCategory)
        .then((response) => {
          this.productCategories = response.data.map((i) => ({
            id: i.id,
            name: i.category,
          }));
        })
        .catch((error) => {
          return this.notify("error", error);
        });
    },
    fetchProductFlavors() {
      this.axios
        .get(this.urlConstants.StoreUrls.productFlavor)
        .then((response) => {
          this.productFlavors = response.data.map((i) => ({
            id: i.id,
            name: i.flavor,
          }));
        })
        .catch((error) => {
          return this.notify("error", error);
        });
    },
    fetchProducts(salePointId) {
      this.axios
        .get(this.urlConstants.StoreUrls.productBySalePoint, {
          params: { sale_point: salePointId },
        })
        .then((response) => {
          this.products = response.data;
          this.originalProducts = response.data;

          this.filterProducts();
          this.sortProducts();

          this.$store.commit(
            SUGGESTED_PRODUCTS,
            response.data.filter((p) => p.product.product_type == "BS")
          );
        })
        .catch((error) => {
          return this.notify("error", error);
        })
        .then(() => {
          fbq("track", "ViewContent");
          gtag("event", "view_item_list", {
            items: this.products,
            item_list_name: "Related products",
            item_list_id: "related_products",
          });
        });
    },
    filterProducts(categories, flavors) {
      if (categories?.length) {
        this.products = this.originalProducts.filter((inv) => {
          return intersectionWith(
            inv.product.category,
            categories,
            (prodCat, selCat) => prodCat.id === selCat
          ).length;
        });
      }

      if (flavors?.length) {
        this.products = this.products.filter((inv) =>
          flavors.includes(inv.product.flavor.id)
        );
      }

      if (!categories?.length && !flavors?.length) {
        this.products = this.originalProducts;
      }
    },
    sortProducts(value) {
      if (value) {
        return this.products.sort(function (a, b) {
          if (a.product[value.sortKey] < b.product[value.sortKey]) {
            return value.sortDir === "ASC" ? -1 : 1;
          }
          if (a.product[value.sortKey] > b.product[value.sortKey]) {
            return value.sortDir === "ASC" ? 1 : -1;
          }
          // a debe ser igual b
          return 0;
        });
      }

      this.products = this.originalProducts;
    },
    setSalePointFromDialog(salePointId) {
      this.showDialogSelectSalePoint = false;
      this.salesPointsInput.value = salePointId;
    },
    checkAllowedToBuy() {
      if (this.salesPointsInput.value && this.salesPointsInput.records.length) {
        const now = this.$moment(),
          currentDay = now.isoWeekday(),
          salePoint = this.salesPointsInput.records.find(
            (sp) => sp.id === this.salesPointsInput.value
          );

        const todaySchedule = salePoint?.schedules.find(
          (sch) =>
            sch.is_active &&
            sch.day === currentDay &&
            sch.start_hour != sch.end_hour
        );

        if (todaySchedule) {
          let openingTime = this.$moment(todaySchedule.start_hour, "HH:mm:ss"),
            closingTime = this.$moment(todaySchedule.end_hour, "HH:mm:ss");

          const isAllowed = now.isBetween(openingTime, closingTime);

          this.$store.commit(ALLOWED_TO_BUY_BY_TIME, isAllowed);
          this.showClosedSalePoint = !isAllowed;
          return;
        }

        this.showClosedSalePoint = true;
        this.$store.commit(ALLOWED_TO_BUY_BY_TIME, false);
      }
    },
  },
};
</script>
