<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    max-width="700"
    origin="center center"
    transition="scale-transition"
  >
    <v-card class="br-20">
      <v-card-title
        style="line-height: initial"
        class="text-center garosa-primary-text ff--gilroy-extra-bold text-uppercase"
        :class="[isDesktop ? 'fs-40' : 'fs-25']"
        >Selecciona tu punto de venta preferido</v-card-title
      >

      <v-card-text>
        <v-list
          tile
          shaped
          three-line
          :class="[isDesktop ? 'mx-4' : 'mx-0']"
          class="mt-5 text-justify overflow-y-auto"
        >
          <v-list-item
            v-for="(salePoint, i) in salesPoints"
            :key="i"
            three-line
            @click="setPreferredSalePoint(salePoint)"
          >
            <v-list-item-content>
              <v-list-item-title
                :class="[isDesktop ? 'fs-25' : 'fs-20']"
                class="text-left garosa-primary-text mb-2 ff--gilroy-extra-bold"
              >
                <v-icon color="inputColor" left>mdi-circle</v-icon>
                {{ salePoint.name }}
              </v-list-item-title>

              <v-list-item-subtitle
                v-if="salePoint.description"
                :class="[isDesktop ? 'fs-25' : 'fs-18']"
                class="ml-8 black--text"
                v-text="salePoint.description"
              />
              <template v-if="$vuetify.breakpoint.mdAndUp">
                <v-list-item-subtitle
                  :class="[isDesktop ? 'fs-25' : 'fs-18']"
                  class="ml-8 black--text"
                  v-text="salePoint.address"
                />
                <v-list-item-subtitle
                  :class="[isDesktop ? 'fs-25' : 'fs-18']"
                  class="ml-8 accent--text"
                  v-text="salePoint.city.name"
                />
              </template>
              <template v-else>
                <div class="ml-8 black--text" v-text="salePoint.address" />
                <div class="ml-8 accent--text" v-text="salePoint.city.name" />
              </template>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { PREFERRED_SALE_POINT } from "@/store/cart-constants";
export default {
  name: "DialogSelectPreferredSalePoint",
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    salesPoints: [],
  }),
  mounted() {
    this.fetchSalesPoints();
  },
  methods: {
    setPreferredSalePoint(salePoint) {
      this.$store.commit(PREFERRED_SALE_POINT, salePoint.id);
      this.$emit("close", salePoint.id);
    },
    fetchSalesPoints() {
      this.axios
        .get(this.urlConstants.GralInfoUrls.salesPoint, {
          params: { is_active: "True" },
        })
        .then((response) => {
          this.salesPoints = response.data;
        });
    },
  },
};
</script>
