<template>
  <v-dialog v-model="visible" max-width="1200" persistent :scrollable="false">
    <v-card class="overflow-hidden pa-0">
      <v-row no-gutters class="overflow-hidden">
        <v-col cols="12" md="6">
          <v-img
            :max-height="isDesktop ? '100%' : 180"
            :src="require('@/assets/subscribe_modal.png')"
          />
          <v-card-title>
            <v-spacer />
            <v-icon
              large
              color="accent"
              aria-label="close"
              @click="closeModal()"
            >
              mdi-close-circle
            </v-icon>
          </v-card-title>
        </v-col>
        <v-col cols="12" md="6" :class="[isDesktop ? 'pl-16' : '', 'pb-5']">
          <div :class="isDesktop ? 'pt-16 mr-16 mt-16' : 'pt-5 px-3'">
            <div
              :class="[
                isDesktop ? 'fs-40' : 'fs-10',
                ' garosa-primary-text ff--gilroy-extra-bold text-uppercase',
              ]"
            >
              Entérate de lo nuevo en la garosa
            </div>
            <br />
            <div :class="isDesktop ? 'fs-25' : 'fs-18'">
              <span class="ff--gilroy-extra-bold">Suscríbete</span> y sé el
              primero en disfrutar nuestras promociones.
            </div>

            <validation-observer v-slot="{ handleSubmit }">
              <form
                ref="form"
                :class="isDesktop ? 'mt-16' : 'mt-5'"
                @submit.prevent="handleSubmit(submit)"
              >
                <v-row dense>
                  <v-col cols="12" md="8">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Correo"
                      rules="required|email|min:6"
                    >
                      <v-text-field
                        v-model="email"
                        rounded
                        outlined
                        autofocus
                        height="50"
                        color="inputColor"
                        label="Correo electrónico"
                        :error-messages="errors"
                      />
                    </validation-provider>
                  </v-col>
                  <v-col cols="12" md="4">
                    <pages-btn
                      type="submit"
                      v-text="`Suscribirme`"
                      class="text-none"
                      :loading="submitting"
                      :disabled="submitting"
                    />
                  </v-col>
                </v-row>
              </form>
            </validation-observer>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogSubscribe",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    subscriptions: [],
    email: "",
    submitting: false,
  }),
  mounted() {},
  methods: {
    closeModal() {
      this.$emit("close");
    },
    submit() {
      this.submitting = true;
      this.axios
        .post(this.urlConstants.UserUrls.subscriptors, {
          email: this.email,
        })
        .then((response) => {
          this.$emit("notify", "success", "Gracias por suscribirte!");
          this.$emit("refresh");
          this.closeModal();
        })
        .catch((error) => {
          if (!error.response) return this.$emit("notify", "error", error);

          var errorMsg = "";
          switch (error.response.status) {
            case 400:
              errorMsg = Object.values(error.response.data).join();
              break;
            case 500:
              errorMsg =
                "No pudimos crear la suscripción, por favor intenta en unos minutos";
              break;
            default:
              errorMsg = error;
              break;
          }

          return this.$emit("notify", "error", errorMsg);
        })
        .then(() => (this.submitting = false));
    },
  },
};
</script>
