<template>
  <v-container
    class="sections-wheat-bg container--fluid px-0 mx-0 make-your-bread"
    tag="section"
  >
    <v-btn
      top
      left
      large
      rounded
      absolute
      :height="isDesktop ? 50 : 40"
      color="inputColor"
      class="text-capitalize garosa-primary-text"
      :class="isDesktop ? 'fs-30' : 'fs-20'"
      :to="{ name: 'HomeIndex' }"
    >
      <v-icon large left color="buttonMainColor">mdi-chevron-left</v-icon>Volver
    </v-btn>

    <v-row
      no-gutters
      justify="center"
      align="center"
      class="px-md-5 px-lg-12 py-12 mt-12"
    >
      <v-col cols="12" md="5" class="px-12">
        <v-img
          class="mx-auto"
          max-width="470"
          max-height="230"
          :src="require('@/assets/make_your_bread.svg')"
        />

        <pages-components-wheat-divider />

        <div
          class="text-uppercase garosa-title-text ff--wicked-grit mt-n10 mb-6"
          v-text="`Arma tu ${productName}`"
          :class="isDesktop ? 'fs-40' : 'fs-30'"
        />
        <p class="fs-25" style="letter-spacing: 0px">
          Todos somos diferentes y para los gustos colores... O bueno, sabores.
          Elige los ingredientes, y ¡arma tu {{ productName }}!
        </p>

        <template v-if="isDesktop">
          <div class="fs-25 mt-10 mb-6" v-text="`Tu ${productName} vale:`" />
          <div class="garosa-primary-text fs-60 mb-6">{{ cost | money }}</div>

          <step-progress
            :steps="stepsTitles"
            :line-thickness="$vuetify.breakpoint.mdAndUp ? 25 : 13"
            active-color="#D84B0E"
            :active-thickness="$vuetify.breakpoint.mdAndUp ? 48 : 24"
            :passive-thickness="$vuetify.breakpoint.mdAndUp ? 34 : 17"
            passive-color="#F9C9A5"
            :current-step="currentStep"
          />
        </template>
        <v-divider v-else class="mb-6" />
      </v-col>

      <v-btn
        v-if="isDesktop"
        v-show="currentStep > 0"
        fab
        large
        elevation="0"
        color="adminNotes"
        class="ma-0 pa-0"
        @click="currentStep--"
      >
        <v-icon large>mdi-chevron-left</v-icon>
      </v-btn>

      <!-- Opciones -->
      <v-col
        v-show="currentStep < steps.length"
        md="5"
        cols="12"
        class="overflow-y-auto"
        :class="[$vuetify.breakpoint.mdAndUp ? 'px-12' : 'px-5']"
        :style="{ maxHeight: $vuetify.breakpoint.mdAndUp ? '85vh;' : '100%;' }"
      >
        <div
          class="ff--gilroy-extra-bold fs-35"
          v-text="stepsTitles[currentStep]"
        />
        <div
          class="fs-25"
          v-text="
            `Selecciona ${
              (steps[currentStep] &&
                steps[currentStep].multiple &&
                'una o varias') ||
              'solo una'
            } de las opciones.`
          "
        />

        <v-container
          v-for="(step, i) in steps"
          v-show="currentStep === i"
          :key="`stp.${i}`"
          :style="{
            maxHeight: $vuetify.breakpoint.mdAndUp ? '85vh;' : '100%;',
          }"
          class="pb-12 overflow-y-auto"
        >
          <v-card
            v-for="(option, n) in step.options"
            :key="`op-${n}`"
            hover
            outlined
            class="br-20 ml-1"
            :class="{ 'mx-5 my-3': $vuetify.breakpoint.mdAndUp }"
          >
            <v-card-text
              class="text-center row align-center fs-20"
              :class="{ 'px-6': $vuetify.breakpoint.mdAndUp }"
            >
              <v-checkbox
                v-model="selectedOptions[i][n]"
                :value="option"
                color="buttonMainColor"
                @change="productValue()"
              >
                <template v-slot:label>
                  <span class="garosa-primary-text" v-text="option.name" />
                </template>
              </v-checkbox>

              <v-divider
                style="border: 1px solid #b3d8dd"
                class="my-2"
                vertical
                :class="[$vuetify.breakpoint.mdAndUp ? 'mx-5' : 'mx-1']"
              />
              {{ option.price | money }}
            </v-card-text>
          </v-card>
        </v-container>
      </v-col>

      <!-- Paso Final -->
      <v-col
        v-show="currentStep === steps.length"
        md="5"
        cols="12"
        :style="{ maxHeight: $vuetify.breakpoint.mdAndUp ? '85vh;' : '100%;' }"
        class="overflow-hidden px-12 text-center"
      >
        <div
          v-text="`Este es tu ${productName}`"
          class="ff--gilroy-extra-bold fs-35 mb-6"
        />
        <div class="fs-25 mb-12" v-text="description.join(', ')" />

        <div class="fs-25" v-text="`¿Cuántos quieres?`" />
        <v-text-field
          v-model="productQuantity"
          rounded
          outlined
          readonly
          height="50"
          class="mx-auto"
          color="inputColor"
          style="max-width: 160px"
          background-color="white"
        >
          <template v-slot:prepend-inner>
            <v-btn
              fab
              x-small
              elevation="0"
              color="inputColor"
              class="mt-n1"
              @click="changeQty(-1)"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </template>
          <template v-slot:append>
            <v-btn
              fab
              x-small
              elevation="0"
              color="inputColor"
              class="mt-n1 mr-n1"
              @click="changeQty(1)"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </v-text-field>

        <pages-btn
          class="mt-9 mx-auto text-none"
          @click="addToCart"
          v-text="`Agregar al carrito`"
        />
      </v-col>

      <v-btn
        v-if="!isDesktop"
        v-show="currentStep > 0"
        fab
        large
        elevation="0"
        color="adminNotes"
        class="my-0 pa-0 mx-auto"
        @click="currentStep--"
      >
        <v-icon large>mdi-chevron-left</v-icon>
      </v-btn>
      <v-btn
        v-show="currentStep <= steps.length - 1"
        fab
        large
        elevation="0"
        color="adminNotes"
        class="my-0 pa-0 mx-auto"
        @click="checkStep()"
      >
        <v-icon large>mdi-chevron-right</v-icon>
      </v-btn>
    </v-row>
    <template v-if="!isDesktop">
      <div class="fs-25 my-5 mx-3" v-text="`Tu ${productName} vale:`" />
      <div class="garosa-primary-text fs-40 mx-3 mb-b">{{ cost | money }}</div>

      <step-progress
        :steps="stepsTitles"
        :line-thickness="$vuetify.breakpoint.mdAndUp ? 25 : 13"
        active-color="#D84B0E"
        :active-thickness="$vuetify.breakpoint.mdAndUp ? 48 : 24"
        :passive-thickness="$vuetify.breakpoint.mdAndUp ? 34 : 17"
        passive-color="#F9C9A5"
        :current-step="currentStep"
      />
    </template>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import "vue-step-progress/dist/main.css";
import scrollBar from "vue-scroll-bar";
import { ADD_ITEM_TO_CART, DELIVERY_ORIGIN } from "@/store/cart-constants";
import { forOwn, compact, uniqBy, pick, orderBy } from "lodash";

export default {
  name: "PagesStoreMakeYourBread",
  components: {
    scrollBar: () => import("vue-scroll-bar"),
    StepProgress: () => import("vue-step-progress"),
    PagesComponentsWheatDivider: () =>
      import("@/views/pages/components/WheatDivider"),
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    inventoryId: {
      default: 0,
      type: [Number, String],
      required: true,
    },
  },
  data: () => ({
    cost: 0,
    inventory: {},
    description: [],
    currentStep: 0,
    productQuantity: 1,
    scrollTrackStyle: {
      width: "14px",
      backgroundColor: "transparent",
    },
    scrollBarStyle: {
      borderRadius: "13px",
      backgroundColor: "#B3D8DD",
    },
    notification: {
      show: false,
      content: "",
      type: "info",
    },
  }),
  mounted() {
    this.axios
      .get(
        this.urlConstants.StoreUrls.productBySalePoint.concat(
          "/",
          this.inventoryId
        )
      )
      .then((response) => {
        this.inventory = response.data;
      })
      .catch((error) => {
        return this.notify("error", error);
      });
  },
  computed: {
    product() {
      return this.inventory.product;
    },
    productName() {
      return this.product ? this.product.name : "";
    },
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    steps() {
      if (!this.product) {
        return [];
      }

      var data = uniqBy(
        this.product.ingredients.map((v) => ({
          step: v.step,
          multiple: v.choice > 1,
          title: `Paso ${v.step}`,
          options: this.product.ingredients.filter((op) => op.step === v.step),
        })),
        "step"
      );

      return orderBy(data, "step", "asc");
    },
    stepsTitles() {
      var titles = this.steps.map((v) => v.title);
      return titles.concat(`Paso ${titles.length + 1}`);
    },
    selectedOptions() {
      var a = {};
      this.steps.forEach((e, i) => {
        a[i] = [];
      });
      return a;
    },
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    changeQty(quantity) {
      if (quantity < 1 && this.productQuantity === 1) return;
      this.productQuantity += quantity;
    },
    addToCart() {
      var options = [];
      forOwn(this.selectedOptions, (val, key) => {
        options = options.concat(
          compact(val).map((v) => ({
            quantity: 1,
            ...pick(v, ["id", "name", "price"]),
          }))
        );
      });
      // si está el carro vacío o el producto es de la misma tienda agrega normalmente
      if (
        !this.salePoint ||
        this.salePoint.id === this.inventory.sale_point.id
      ) {
        var item = Object.assign({}, this.inventory);
        item.product.price = this.cost;

        this.$store.dispatch(ADD_ITEM_TO_CART, {
          item,
          detail: options,
          quantity: this.productQuantity,
        });
        setTimeout(() => {
          this.$router.go(-1);
        }, 1500);
        return this.notify("success", "Producto agregado exitosamente.");
      } else {
        return this.notify(
          "warning",
          "No puede seleccionar productos de varios puntos de venta."
        );
      }
    },
    productValue() {
      var cost = 0;
      var description = [];

      forOwn(this.selectedOptions, (val, key) => {
        cost += compact(val).reduce((t, v) => (t += v.price), 0);
        compact(val).forEach((ing) => {
          description.push(ing.name);
        });
      });

      this.description = description;
      return (this.cost = cost || 0);
    },
    checkStep() {
      var opts = compact(this.selectedOptions[this.currentStep]);

      if (!opts.length) {
        return this.notify(
          "warning",
          "Por favor seleccione al menos una opción."
        );
      }

      if (!this.steps[this.currentStep].multiple && opts.length > 1) {
        return this.notify("warning", "Por favor seleccione solo una opción.");
      }

      this.currentStep++;
    },
  },
};
</script>

<style lang="sass">
.make-your-bread
  .step-progress__step-label
    opacity: 1
    color: #B3D8DD
    font-size: 25px
    letter-spacing: 0px
    font-weight: normal

  .step-progress__step
    &::after
      background-color: #F9C9A5
</style>
