<template>
  <v-container
    class="sections-wheat-bg container--fluid px-0 mx-0 make-your-bread"
    tag="section"
  >
    <div class="text-center login-signin-form-head" style="line-height: 1">
      {{ product.name }}
    </div>

    <v-row no-gutters dense justify="center" class="px-4 mt-3">
      <v-col v-if="product.images" cols="12" md="5" align-self="center">
        <v-img
          class="mx-auto"
          max-width="450"
          max-height="300"
          :aspect-ratio="16 / 9"
          :src="product.images[currentImageIndex].path"
        />
        <v-row justify="center" align="center" v-if="product.images.length > 1">
          <v-col
            v-for="(image, i) in product.images"
            :key="i"
            cols="3"
            sm="auto"
            md="3"
          >
            <v-img
              :width="isDesktop ? 50 : 80"
              :height="isDesktop ? 50 : 80"
              :src="image.path"
              :aspect-ratio="16 / 9"
              class="v-list-item--link"
              :class="{ 'active-product-img': i === currentImageIndex }"
              @click="currentImageIndex = i"
            />
          </v-col>
        </v-row>
      </v-col>

      <base-divider vertical class="mx-5 hidden-sm-and-down" />

      <v-col
        md="6"
        cols="12"
        align-self="center"
        class="d-flex flex-column align-baseline"
      >
        <span
          class="text-uppercase my-5 ff--gilroy-extra-bold"
          :class="[isDesktop ? 'fs-40' : 'fs-30']"
          >{{ product.price | money }}</span
        >

        <p class="fs-25" v-text="product.description" />

        <p class="mt-0">
          <span class="ff--gilroy-extra-bold">Categorías: </span
          ><v-chip
            outlined
            color="buttonMainColor"
            v-for="cat in product.category"
            v-text="cat.category"
            :key="cat.id"
          />
        </p>

        <v-row v-if="product.parent_products" align="baseline" dense>
          <v-col
            v-for="(option, i) in product.parent_products"
            :key="i"
            cols="12"
            sm="6"
          >
            <v-text-field
              v-model.number="selectedOptionsQty[i]"
              dense
              outlined
              single-line
              hide-details
              color="inputColor"
              style="max-width: 250px"
              @keypress="isNumber($event)"
            >
              <template v-slot:append-outer>
                <span
                  style="width: 200px"
                  class="text-truncate"
                  v-text="option.name"
                />
              </template>
            </v-text-field>
          </v-col>
        </v-row>

        <div class="warning--text text--darken-2 mt-5" v-show="!validToAdd">
          <template
            v-if="totalOptions <= 0 || totalOptions > product.unit_limit"
            >Recuerda elegir la cantidad exacta ofrecida en el combo ({{
              product.unit_limit
            }})</template
          >
          <template
            v-else-if="totalOptions > 0 && totalOptions < product.unit_limit"
            >Aún faltan {{ product.unit_limit - totalOptions }} unidades para
            completar tu combo</template
          >
        </div>

        <v-row class="align-self-center mt-5 justify-center">
          <v-text-field
            v-model.number="productQty"
            label
            rounded
            outlined
            readonly
            color="inputColor"
            class="mr-6"
            style="max-width: 160px"
          >
            <template v-slot:prepend-inner>
              <v-btn
                fab
                x-small
                elevation="0"
                color="inputColor"
                class="mt-n1"
                @click="changeQty(-1)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
            <template v-slot:append>
              <v-btn
                fab
                x-small
                elevation="0"
                color="inputColor"
                class="mt-n1 mr-n1"
                @click="changeQty(1)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
          </v-text-field>

          <pages-btn
            class="text-none mt-1"
            :disabled="!allowedToBy"
            v-text="`Agregar al carrito`"
            @click="addToCart"
          />
        </v-row>
      </v-col>
    </v-row>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </v-container>
</template>

<script>
import {
  ADD_ITEM_TO_CART,
  DELIVERY_ORIGIN,
  ALLOWED_TO_BUY_BY_TIME,
} from "@/store/cart-constants";

export default {
  name: "ProductDetail",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data: () => ({
    inventory: {},
    productQty: 1,
    selectedOptionsQty: [],
    currentImageIndex: 0,
    notification: {
      type: "",
      show: false,
      content: "",
    },
  }),
  computed: {
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    product() {
      return this.inventory?.product || {};
    },
    totalOptions() {
      return this.selectedOptionsQty.reduce((total, value, index) => {
        if (!isNaN(value)) return (total += Number(value));
      }, 0);
    },
    validToAdd() {
      if (this.product.unit_limit >= 1 && this.product.parent_products.length) {
        return this.product.unit_limit === this.totalOptions;
      }

      return true;
    },
    allowedToBy() {
      return this.$store.getters[ALLOWED_TO_BUY_BY_TIME];
    },
  },
  mounted() {
    this.getProduct();
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    changeQty(quantity) {
      if (quantity < 1 && this.productQty === 1) return;
      this.productQty += quantity;
    },
    getProduct() {
      this.axios
        .get(
          this.urlConstants.StoreUrls.productBySalePoint.concat(
            "/",
            this.$route.params.inventoryId
          )
        )
        .then((response) => {
          this.inventory = response.data;
          this.checkAllowedToBuy();
        })
        .catch((error) => {
          this.notify(
            "error",
            "Ocurrió un error obteniendo la información del producto."
          );
        });
    },
    addToCart() {
      if (!this.validToAdd) {
        return this.notify(
          "info",
          "Por favor indica las cantidades necesarias para completar tu combo."
        );
      }

      var options = [];
      this.selectedOptionsQty.forEach((quantity, i) => {
        if (!isNaN(quantity) && quantity) {
          options.push({ quantity, ...this.product.parent_products[i] });
        }
      });

      // si está el carro vacío o el producto es de la misma tienda agrega normalmente
      if (
        !this.salePoint ||
        this.salePoint.id === this.inventory.sale_point.id
      ) {
        this.$store.dispatch(ADD_ITEM_TO_CART, {
          detail: options,
          item: this.inventory,
          quantity: this.productQty,
        });
        this.notify("success", "Producto agregado exitosamente.");
      } else {
        return this.notify(
          "warning",
          "No puede seleccionar productos de varios puntos de venta."
        );
      }
    },

    checkAllowedToBuy() {
      this.axios
        .get(
          this.urlConstants.GralInfoUrls.salesPoint.concat(
            "/",
            this.inventory.sale_point.id
          )
        )
        .then((response) => {
          const now = this.$moment(),
            currentDay = now.isoWeekday(),
            salePoint = response.data;

          const todaySchedule = salePoint?.schedules.find(
            (sch) =>
              sch.is_active &&
              sch.day === currentDay &&
              sch.start_hour != sch.end_hour
          );

          if (todaySchedule) {
            let openingTime = this.$moment(
                todaySchedule.start_hour,
                "HH:mm:ss"
              ),
              closingTime = this.$moment(todaySchedule.end_hour, "HH:mm:ss");

            const isAllowed = now.isBetween(openingTime, closingTime);

            this.$store.commit(ALLOWED_TO_BUY_BY_TIME, isAllowed);
            return;
          }

          this.$store.commit(ALLOWED_TO_BUY_BY_TIME, false);
        })
        .catch((error) => {
          this.notify(
            "warning",
            "No pudimos verificar el horario de atención, por favor recarga la página."
          );
        });
    },
  },
};
</script>
<style lang="sass" scoped>
.active-product-img
  border: 3px solid #D84B0E
</style>