<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="700"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <div
          style="line-height: initial;"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`edición de unidades`"
        />
      </v-card-text>

      <v-card-text :class="{'px-16': $vuetify.breakpoint.mdAndUp }" class="d-flex justify-center">
        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form ref="form" style="max-width:420px;" @submit.prevent="handleSubmit(updateInventory)">
            <v-switch v-model="limited" inset label="Venta sin stock" color="buttonMainColor" />

            <validation-provider v-slot="{errors}" rules="required|min_value:0" name="Unidades">
              <v-text-field
                id="input-units"
                v-model.number="units"
                v-bind="inputAttrs"
                style="max-width:275px"
                :error-messages="errors"
                :disabled="limited"
              >
                <template v-slot:prepend-inner>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    class="mt-n1"
                    color="buttonMainColor"
                    :disabled="limited"
                    @click="changeQty(-1, 'units')"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
                <template v-slot:append>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    class="mt-n1 mr-n1"
                    color="buttonMainColor"
                    :disabled="limited"
                    @click="changeQty(1, 'units')"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span slot="append-outer" class="accent--text fs-20" v-text="`Unidades`" />
              </v-text-field>
            </validation-provider>
            <div
              class="fs-20 ff--gilroy-extra-bold adminNotes--text"
              v-text="`Activar alerta en:`"
            />
            <validation-provider v-slot="{errors}" rules="required|min_value:0" name="Unidades">
              <v-text-field
                id="input-min-units"
                v-model.number="minUnits"
                v-bind="inputAttrs"
                style="max-width:275px"
                :error-messages="errors"
                :disabled="limited"
              >
                <template v-slot:prepend-inner>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    class="mt-n1"
                    color="buttonMainColor"
                    :disabled="limited"
                    @click="changeQty(-1, 'minUnits')"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
                <template v-slot:append>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    class="mt-n1 mr-n1"
                    color="buttonMainColor"
                    :disabled="limited"
                    @click="changeQty(1, 'minUnits')"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>

                <span slot="append-outer" class="accent--text fs-20" v-text="`Unidades`" />
              </v-text-field>
            </validation-provider>

            <div class="text-center my-5">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mr-3"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                class="text-capitalize"
                :disabled="submitting || units < 0 || minUnits < 0"
                v-text="`Actualizar`"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogEditQtys",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    inventory: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },
  data: () => ({
    units: 1,
    minUnits: 1,
    limited: false,
    submitting: false,
    inputAttrs: {
      rounded: true,
      outlined: true,
      color: "inputColor",
      class: "my-0 py-0 mx-auto",
    },
  }),
  watch: {
    visible(val) {
      if (val) {
        this.units = this.inventory.in_stock;
        this.minUnits = this.inventory.min_units;
        this.limited = this.inventory.in_stock === -1000;
      }
    },
    limited(val) {
      if (val) {
        this.units = 0;
        this.minUnits = 0;
      } else {
        this.units =
          (this.inventory.in_stock > 0 && this.inventory.in_stock) || 0;
        this.minUnits =
          (this.inventory.min_units > 0 && this.inventory.min_units) || 0;
      }
    },
  },
  methods: {
    closeModal() {
      this.units = 1;
      this.minUnits = 1;
      this.limited = false;

      this.$nextTick(() => {
        this.$refs.formValidation.reset();
        this.$emit("close");
      });
    },
    changeQty(qty, ref) {
      const finalQty = this[ref] <= 0 && qty < 1 ? 0 : this[ref] + qty;

      this[ref] = finalQty;
    },
    updateInventory() {
      const config = {
        method: "patch",
        data: {
          in_stock: this.limited ? -1000 : this.units,
          min_units: this.limited ? -1 : this.minUnits,
        },
        url: `${this.urlConstants.StoreUrls.productBySalePoint}/${this.inventory.id}`,
      };

      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.$emit(
            "notify",
            "success",
            "Inventario actualizado exitosamente."
          );
          setTimeout(() => {
            this.closeModal();
            this.$emit("refresh");
          }, 1500);
        })
        .catch((error) => {
          this.$emit(
            "notify",
            "error",
            "Ocurrió un error actualizando el inventario, por favor intenta nuevamente."
          );
        })
        .finally(() => (this.submitting = false));
    },
  },
};
</script>
<style lang="sass">
#input-units
  text-align: left !important
#input-min-units
  text-align: left !important
</style>
