<!-- Bottom sheet para solicitar permiso al usuario de habilitar las notificaciones -->
<template>
  <v-bottom-sheet inset persistent v-bind="$attrs">
    <v-sheet class="text-center br-10" height="120">
      <div class="py-3 fs-25">Activa las notificaciones para saber cuando un pedido es recibido.</div>
      <pages-btn
        outlined
        class="text-capitalize mr-3"
        @click="$emit('cancel')"
        v-text="`Cancelar`"
      />

      <pages-btn class="text-capitalize" @click="showPermissionPrompt()" v-text="`Aprobar`" />
    </v-sheet>
  </v-bottom-sheet>
</template>

<script>
export default {
  name: "NotificationPermissionRequest",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  methods: {
    showPermissionPrompt() {
      this.askPermission()
        .then((result) => {
          this.$emit("confirm");
        })
        .catch((err) => {
          this.$emit("cancel");
          this.$nextTick(() => this.$emit("notify", "warning", err.message));
        });
    },
    askPermission() {
      return new Promise((resolve, reject) => {
        const result = Notification.requestPermission((result) =>
          resolve(result)
        );

        if (result) result.then(resolve, reject);
      }).then((result) => {
        if (result !== "granted") {
          throw new Error(
            "No fue aprobado el permiso para recibir notificaciones."
          );
        }
      });
    },
  },
};
</script>
