<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    max-width="720"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">mdi-close-circle</v-icon>
      </v-card-title>

      <v-card-text class="text-center">
        <span
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase"
          v-text="`${teamMember.id ? 'edición de info' : 'nuevo miembro'}`"
        />

        <validation-observer v-slot="{ handleSubmit }" ref="formValidation">
          <form ref="form" class="my-5" @submit.prevent="handleSubmit(submit)">
            <v-row dense class="mx-auto" justify="space-around">
              <v-col cols="12" md="5" class="text-center">
                <input ref="file" type="file" accept="image/*" class="d-none" @change="onChange" />

                <v-card
                  hover
                  outlined
                  width="200"
                  height="200"
                  :class="!image ? 'dashed-border' : ''"
                  class="mx-auto br-20 d-flex align-center"
                  @click="$refs.file.click()"
                >
                  <v-img v-if="image" :src="image" height="100%" width="100%" />
                  <v-btn
                    v-else
                    fab
                    width="80"
                    height="80"
                    elevation="0"
                    color="accent"
                    class="mx-auto"
                  >
                    <v-icon x-large>mdi-plus</v-icon>
                  </v-btn>
                </v-card>
              </v-col>

              <v-col cols="12" md="7">
                <validation-provider v-slot="{errors}" name="Nombres" rules="required|max:50">
                  <v-text-field
                    v-model="teamMember.first_name"
                    autofocus
                    label="Nombres"
                    v-bind="inputAttrs"
                    :error-messages="errors"
                  />
                </validation-provider>

                <validation-provider v-slot="{errors}" name="Apellidos" rules="required|max:50">
                  <v-text-field
                    v-model="teamMember.last_name"
                    label="Apellidos"
                    v-bind="inputAttrs"
                    :error-messages="errors"
                  />
                </validation-provider>

                <validation-provider v-slot="{errors}" name="Profesión" rules="required|max:50">
                  <v-text-field
                    v-model="teamMember.occupation"
                    label="Profesión"
                    v-bind="inputAttrs"
                    :error-messages="errors"
                  />
                </validation-provider>

                <validation-provider v-slot="{errors}" name="Bio" rules="required|max:255">
                  <v-text-field
                    v-model="teamMember.biography"
                    label="Bio"
                    v-bind="inputAttrs"
                    :error-messages="errors"
                  />
                </validation-provider>
              </v-col>
            </v-row>
            <div class="text-center mt-3">
              <pages-btn
                outlined
                :disabled="submitting"
                class="text-capitalize mr-5"
                @click="closeModal()"
                v-text="`Cancelar`"
              />
              <pages-btn
                type="submit"
                :loading="submitting"
                :disabled="submitting"
                class="text-capitalize"
                v-text="teamMember ? 'Actualizar' : 'Regististrar'"
              />
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { TEAM_MEMBER } from "@/store/dashboard";

export default {
  name: "DialogCreateEditTeam",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data: () => ({
    image: null,
    submitting: false,
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
  }),
  computed: {
    teamMember: {
      get() {
        return this.$store.getters[TEAM_MEMBER] || {};
      },
      set(val) {
        this.$store.commit(TEAM_MEMBER, val);
      },
    },
  },
  methods: {
    onChange(val) {
      const value = val.target.files[0];

      if (!value) return (this.image = null);

      if (!/\.(jpe?g|png|gif|bmp)$/i.test(value.name)) {
        return this.$emit("notify", "warning", "Seleccione una imagen válida");
      }

      this.teamMember.photo = value;
      this.image = URL.createObjectURL(value);
    },
    closeModal() {
      this.image = null;
      this.teamMember = {};

      this.$nextTick(() => {
        this.$refs.formValidation.reset();
        this.$emit("close");
      });
    },
    submit() {
      if (!this.teamMember.id && !this.image) {
        return this.$emit("notify", "info", "Seleccione una foto");
      }

      const data = new FormData();

      data.append("is_active", 1);
      data.append("first_name", this.teamMember.first_name);
      data.append("last_name", this.teamMember.last_name);
      data.append("occupation", this.teamMember.occupation);
      data.append("biography", this.teamMember.biography);
      if (typeof this.teamMember.photo === "object") {
        data.append("photo", this.teamMember.photo);
      }

      var config = {
        method: !this.teamMember.id ? "post" : "patch",
        url: this.urlConstants.GralInfoUrls.team.concat(
          this.teamMember.id ? `/${this.teamMember.id}` : ""
        ),
        headers: {
          "Content-Type": "multipart/form-data",
        },
        data: data,
      };

      this.submitting = true;
      this.axios(config)
        .then((response) => {
          this.$emit("notify", "success", "Miembro registrado exitosamente.");
          this.$emit("refresh");
          this.closeModal();
        })
        .catch((error) => {
          return this.$emit(
            "notify",
            "error",
            error.response.status === 400
              ? "Complete los datos del formulario"
              : "Ocurrió un error, intenta nuevamente"
          );
        })
        .then(() => (this.submitting = false));
    },
    setImage() {
      this.image = this.teamMember.photo;
    },
  },
};
</script>
<style lang="sass" scoped>
.dashed-border
  border: 1px dashed #6B9BA0
</style>
