<template>
  <v-container id="admin-team" fluid class="pa-5" tag="section">
    <v-text-field
      v-model="search"
      rounded
      outlined
      single-line
      hide-details
      color="inputColor"
      placeholder="Buscar"
      class="mt-n12 ml-auto"
      style="max-width:350px;margin-right: 110px;"
    >
      <template v-slot:append>
        <v-icon size="31" class="mt-n1" color="#D84B0F">mdi-magnify</v-icon>
      </template>
    </v-text-field>

    <v-btn
      fab
      top
      right
      x-large
      absolute
      elevation="0"
      color="adminNotes"
      @click="showCreateEditDialog=true"
    >
      <v-icon x-large>mdi-plus</v-icon>
    </v-btn>

    <v-data-table
      item-key="id"
      :items="team"
      height="75vh"
      :loading="loading"
      :headers="headers"
      hide-default-header
      :search.sync="search"
      class="elevation-3 br-20 mt-10"
    >
      <template v-if="!$vuetify.breakpoint.xs" v-slot:header="{ props: { headers } }" class="br-20">
        <thead style="background: #7A4763;">
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              class="text-center white--text fs-20"
              v-text="header.text"
            />
          </tr>
        </thead>
      </template>

      <v-progress-linear slot="progress" color="inputColor" indeterminate />

      <template v-slot:item.first_name="{item}">{{ item.first_name }} {{ item.last_name }}</template>

      <template v-slot:item.actions="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon color="accent" v-on="on" @click="edit(item)">
              <v-icon size="20">mdi-pencil</v-icon>
            </v-btn>
          </template>
          <span v-text="`Editar`" />
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn icon color="accent" v-on="on" @click="deleteTeamMember(item)">
              <v-icon size="20">mdi-delete</v-icon>
            </v-btn>
          </template>
          <span v-text="`Eliminar`" />
        </v-tooltip>
      </template>
    </v-data-table>

    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show=false"
    />
    <dialog-create-edit-team
      ref="dlgCreateEdit"
      :visible="showCreateEditDialog"
      @notify="notify"
      @refresh="fetchInfo"
      @close="showCreateEditDialog=false"
    />
    <base-confirm-dialog
      title="Confirmar"
      :data="teamMember"
      :visible="showDeleteDialog"
      content="¿Desea eliminar este miembro del equipo?"
      @close="cancelDelete"
      @confirm="confirmDeleteTeamMember"
    />
  </v-container>
</template>

<script>
import { TEAM_MEMBER } from "@/store/dashboard";
export default {
  name: "DasboardInfoIndex",
  components: {
    DialogCreateEditTeam: () => import("./DialogCreateUpdate"),
  },
  data: () => ({
    team: [],
    search: null,
    loading: false,
    teamMember: {},
    notification: {
      show: false,
      content: "",
      type: "info",
    },
    showDeleteDialog: false,
    showCreateEditDialog: false,
    headers: [
      { align: "center", text: "Nombre", value: "first_name" },
      { align: "center", text: "Cargo", value: "occupation" },
      { align: "center", text: "Descripción", value: "biography" },
      { align: "center", text: "Acciones", value: "actions" },
    ],
  }),
  mounted() {
    this.fetchInfo();
  },
  methods: {
    notify(type, content) {
      Object.assign(this.notification, { type, content, show: true });
    },
    fetchInfo() {
      this.loading = true;
      this.axios
        .get(this.urlConstants.GralInfoUrls.team)
        .then((response) => (this.team = response.data))
        .catch((error) => {
          this.notify("error", "Ocurrió un error obteniendo la información.");
        })
        .then(() => (this.loading = false));
    },
    edit(record) {
      this.$store.commit(TEAM_MEMBER, record);
      this.$refs.dlgCreateEdit.setImage(record.photo);

      this.$nextTick(() => (this.showCreateEditDialog = true));
    },
    deleteTeamMember(teamMember) {
      this.showDeleteDialog = true;
      this.teamMember = teamMember;
    },
    cancelDelete() {
      this.showDeleteDialog = false;
      this.teamMember = {};
    },
    confirmDeleteTeamMember(teamMember) {
      const url = `${this.urlConstants.GralInfoUrls.team}/${teamMember.id}`;

      this.axios
        .delete(url)
        .then((response) => {
          this.fetchInfo();
          this.cancelDelete();
          return this.notify(
            "success",
            "¡Listo! el miembro del equipo fue eliminado exitosamente."
          );
        })
        .catch((error) => {
          return this.notify(
            "error",
            "No pudimos eliminar el miembro del equipo, por favor intenta nuevamente."
          );
        });
    },
  },
};
</script>
<style lang="sass">
#admin-team
  .v-data-table__wrapper
    border-top-left-radius: 20px
    border-top-right-radius: 20px
</style>
