<template>
  <figure class="snip1104" :class="{ red: showCaption }">
    <v-hover v-slot:default="{ hover }">
      <img
        v-if="product.image.startsWith('http')"
        :alt="product.name"
        :src="product.image"
        v-bind="$attrs"
      />
      <img
        v-else
        :alt="product.name"
        :src="require(`@/assets/${product.image}`)"
        v-bind="$attrs"
      />
    </v-hover>
    <figcaption v-if="showCaption">
      <h2 class="text-truncate" v-text="product.name">
        <span />
      </h2>
    </figcaption>
  </figure>
</template>

<script>
export default {
  name: "PagesComponentsProductHoverCard",
  props: {
    product: {
      type: Object,
      required: true,
      default: () => ({}),
    },
    showCaption: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    imgOpacity() {
      return this.showCaption ? 0.4 : 1;
    },
  },
};
</script>
<style lang="sass" scoped>
figure.snip1104
  position: relative
  overflow: hidden
  margin: 10px
  min-width: 220px
  max-width: 420px
  max-height: 260px
  width: 100%
  background: #000000
  color: #ffffff
  text-align: center
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
  border-radius: 20px

figure.snip1104 *
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out

figure.snip1104 img
  max-width: 100%
  max-height: 100%
  width: auto
  height: auto
  position: relative

figure.snip1104 figcaption
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

figure.snip1104 h2
  position: absolute
  left: 40px
  right: 40px
  display: inline-block
  background: #000000
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%)
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%)
  padding: 12px 5px
  margin: 0
  top: 50%
  text-transform: uppercase
  font-weight: 400

figure.snip1104 h2 span
  font-weight: 800

figure.snip1104:before
  height: 100%
  width: 100%
  top: 0
  left: 0
  content: ''
  background: #ffffff
  position: absolute
  -webkit-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out
  -webkit-transform: rotate(110deg) translateY(-50%)
  transform: rotate(110deg) translateY(-50%)

figure.snip1104 a
  left: 0
  right: 0
  top: 0
  bottom: 0
  position: absolute
  z-index: 1

figure.snip1104.red
  background: #581a14

figure.snip1104.red h2
  background: #36100c

figure.snip1104:hover img,
figure.snip1104.hover img
  opacity: 1
  -webkit-transform: scale(1.1)
  transform: scale(1.1)

figure.snip1104:hover h2,
figure.snip1104.hover h2
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%)
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%)

figure.snip1104:hover:before,
figure.snip1104.hover:before
  -webkit-transform: rotate(110deg) translateY(-150%)
  transform: rotate(110deg) translateY(-150%)
</style>
