<template>
  <v-row align="center" justify="center">
    <v-col
      cols="12"
      sm="6"
      md="6"
      lg="5"
      align-self="center"
      class="flex-column text-center"
      :order="inverted ? 1 : 0"
    >
      <v-img
        :src="require('@/assets/double_quote.svg')"
        max-width="112"
        max-height="96"
        class="mx-auto"
      />
      <div class="my-5 mx-auto fs-40" style="letter-spacing: 0; max-width:530px;" v-html="text" />

      <div
        class="mt-5 mx-auto fs-30 ff--gilroy-extra-bold"
        style="letter-spacing: 0; max-width:530px;color: #D84B0E;"
        v-text="userFullName"
      />
      <div
        class="mx-auto mt-n3 fs-30"
        style="letter-spacing: 0; max-width:530px;"
        v-text="username"
      />
      <v-btn
        v-if="btnText"
        rounded
        elevation="0"
        color="buttonMainColor"
        class="text-capitalize mt-5 mx-auto"
        :to="btnTo"
        v-text="btnText"
      />
    </v-col>
    <v-col cols="12" sm="6" md="6" lg="5" align-self="center" :class="[{'text-right':inverted}]">
      <kinesis-container>
        <kinesis-element
          tag="img"
          axis="y"
          type="depth"
          :strength="-10"
          style="max-width:60%;"
          :class="[inverted ? 'mr-12' : 'ml-12']"
          :src="require(`@/assets/home/history_comment_${inverted ? 'r' : 'l'}bg.png`)"
        />
      </kinesis-container>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "PagesComponentsSocialComments",
  props: {
    text: String,
    userFullName: String,
    username: String,
    btnText: String,
    btnTo: Object,
    inverted: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style>
</style>
