<template>
  <figure class="team-member-card mx-auto">
    <v-img :src="user.photo" :aspect-ratio="1" :alt="`${user.first_name} ${user.last_name}`">
      <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular indeterminate color="grey lighten-5" />
        </v-row>
      </template>
    </v-img>
    <figcaption>
      <h4 class="fs-40 ff--gilroy-extra-bold" v-text="`${user.first_name} ${user.last_name}`" />
      <h2 class="mb-12 fs-25" v-text="user.occupation" />
      <span class="text-wrap fs-25 mx-1" v-text="user.biography" />
    </figcaption>
  </figure>
</template>

<script>
export default {
  name: "TeamMemberHoverCard",
  props: {
    user: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },
};
</script>
<style lang="sass" scoped>
figure.team-member-card
  position: relative
  overflow: hidden
  margin: 10px
  min-width: 230px
  max-width: 420px
  width: 420px
  max-height: 420px
  color: #000000
  text-align: center
  -webkit-perspective: 50em
  perspective: 50em

figure.team-member-card *
  -webkit-box-sizing: padding-box
  box-sizing: padding-box
  -webkit-transition: all 0.2s ease-out
  transition: all 0.2s ease-out

figure.team-member-card img
  max-width: 100%
  height: auto
  vertical-align: top

figure.team-member-card figcaption
  top: 50%
  left: 20px
  right: 20px
  opacity: 0
  z-index: 1
  letter-spacing: 0px
  position: absolute

figure.team-member-card h2,
figure.team-member-card h4
  margin: 0
  text-transform: capitalize

figure.team-member-card h2
  color: #D84B0E

figure.team-member-card h4
  line-height: 1

figure.team-member-card span
  color: #424242
  line-height: 0
  margin-top: 38px

figure.team-member-card:after
  background-color: #ffffff
  position: absolute
  content: ""
  display: block
  top: 20px
  left: 20px
  right: 20px
  bottom: 20px
  -webkit-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out
  -webkit-transform: rotateX(-90deg)
  transform: rotateX(-90deg)
  -webkit-transform-origin: 50% 50%
  -ms-transform-origin: 50% 50%
  transform-origin: 50% 50%
  opacity: 0

figure.team-member-card a
  left: 0
  right: 0
  top: 0
  bottom: 0
  position: absolute
  z-index: 1

figure.team-member-card:hover figcaption,
figure.team-member-card.hover figcaption
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
  opacity: 1
  -webkit-transition-delay: 0.2s
  transition-delay: 0.2s

figure.team-member-card:hover:after,
figure.team-member-card.hover:after
  -webkit-transform: rotateX(0)
  transform: rotateX(0)
  opacity: 0.9
</style>
