<template>
  <v-row
    justify="center"
    align="center"
    class="my-12"
    dense
    no-gutters
    v-bind="$attrs"
  >
    <v-col cols="5">
      <div
        style="border: 1px solid #F9C9A5;width: 143px;"
        class="ml-auto"
      />
    </v-col>
    <v-col
      cols="2"
      md="1"
    >
      <v-img
        src="@/assets/wheat.svg"
        width="52"
        height="32"
        class="mx-auto"
      />
    </v-col>
    <v-col cols="5">
      <div
        style="border: 1px solid #F9C9A5;width: 143px;"
        class="mr-auto"
      />
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'PagesComponentsWheatDivider',
  }
</script>
