<template>
  <v-select
    rounded
    outlined
    height="50"
    color="inputColor"
    v-bind="$attrs"
    item-color="inputColor"
  >
    <template v-slot:item="{ attrs, item, on }">
      <v-list-item
        elevation="0"
        v-bind="attrs"
        class="mx-3 mb-2 v-sheet"
        active-class="buttonMainColor lighten-2 elevation-1 white--text"
        v-on="on"
      >
        <v-list-item-content>
          <v-list-item-title
            :class="{'font-weight-bold': attrs.inputValue}"
            v-text="item.name"
          />
        </v-list-item-content>

        <v-scale-transition>
          <v-list-item-icon
            v-if="attrs.inputValue"
            class="my-3"
          >
            <v-icon>mdi-check</v-icon>
          </v-list-item-icon>
        </v-scale-transition>
      </v-list-item>
    </template>
  </v-select>
</template>

<script>
  export default {
    name: 'CatalogueFilter',
  }
</script>
