<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    width="750"
    origin="center center"
    transition="scale-transition"
  >
    <v-card>
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeModal()">
          mdi-close-circle
        </v-icon>
      </v-card-title>

      <v-card-text>
        <div
          style="line-height: initial; letter-spacing: 0px"
          class="garosa-primary-text fs-40 ff--gilroy-extra-bold text-uppercase text-center"
          v-text="`LO SENTIMOS`"
        />

        <div class="fs-18 my-5 text-justify">
          <p>
            <span class="fs-20 garosa-primary-text">Garos@, </span>en este
            momento no podemos recibir tu pedido. A continuación encuentra
            nuestro horario de atención.
          </p>
          <v-list dense shaped>
            <v-list-item v-for="(item, i) in schedule" :key="i" two-line>
              <v-list-item-icon>
                <v-icon>mdi-calendar</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.day_name }}</v-list-item-title>
                <v-list-item-subtitle class="text--secondary"
                  >{{ item.start_hour }} -
                  {{ item.end_hour }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <p>
            Recuerda que estamos para complacerte en todas nuestras diferentes
            tiendas.
          </p>
        </div>
      </v-card-text>

      <v-card-actions class="ma-3 pa-3">
        <pages-btn
          v-text="`Ver Productos`"
          class="text-none mx-auto"
          @click="closeModal()"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DialogClosedSalePoint",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    salePoint: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    days: [
      {
        index: 1,
        name: "Lunes",
      },
      {
        index: 2,
        name: "Martes",
      },
      {
        index: 3,
        name: "Miércoles",
      },
      {
        index: 4,
        name: "Jueves",
      },
      {
        index: 5,
        name: "Viernes",
      },
      {
        index: 6,
        name: "sábado",
      },
      {
        index: 7,
        name: "domingo",
      },
    ],
  }),
  computed: {
    schedule() {
      if (this.salePoint.id) {
        return this.salePoint.schedules
          .filter((sch) => sch.is_active && sch.start_hour != sch.end_hour)
          .map((sch) => ({
            ...sch,
            day_name: this.days.find((d) => d.index === sch.day).name,
          }));
      }
      return [];
    },
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
  },
};
</script>
