<template>
  <v-dialog
    v-model="visible"
    persistent
    scrollable
    max-width="1100px"
    origin="center center"
    transition="scale-transition"
  >
    <v-card class="br-20">
      <v-card-title>
        <v-spacer />
        <v-icon large color="accent" aria-label="close" @click="closeDialog"
          >mdi-close-circle</v-icon
        >
      </v-card-title>

      <v-card-text>
        <v-row no-gutters dense justify="center">
          <v-col v-if="product.images" cols="12" md="5" align-self="center">
            <v-img
              class="mx-auto"
              max-width="450"
              max-height="300"
              :aspect-ratio="16 / 9"
              :src="product.images[currentImageIndex].path"
            />
            <v-row justify="center" align="center">
              <v-col
                v-for="(image, i) in product.images"
                :key="i"
                cols="3"
                sm="auto"
                md="3"
              >
                <v-img
                  :width="$vuetify.breakpoint.smAndDown ? 50 : 100"
                  :height="$vuetify.breakpoint.smAndDown ? 50 : 100"
                  :src="image.path"
                  :aspect-ratio="16 / 9"
                  class="v-list-item--link"
                  :class="{ 'active-product-img': i === currentImageIndex }"
                  @click="currentImageIndex = i"
                />
              </v-col>
            </v-row>
          </v-col>

          <base-divider vertical class="mx-5 hidden-sm-and-down" />

          <v-col
            md="6"
            cols="12"
            align-self="center"
            class="d-flex flex-column align-baseline"
            :class="{
              'mt-12': $vuetify.breakpoint.xs || $vuetify.breakpoint.sm,
            }"
          >
            <strong
              style="line-height: 1"
              class="login-signin-form-head text-uppercase"
              v-text="product.name"
            />

            <span class="text-uppercase my-5 fs-40">{{
              product.price | money
            }}</span>

            <p class="fs-25" v-text="product.description" />

            <v-row v-if="product.parent_products" align="baseline" dense>
              <v-col
                v-for="(option, i) in product.parent_products"
                :key="i"
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model.number="selectedOptionsQty[i]"
                  dense
                  outlined
                  single-line
                  hide-details
                  color="inputColor"
                  style="max-width: 250px"
                  @keypress="isNumber($event)"
                >
                  <template v-slot:append-outer>
                    <span
                      style="width: 200px"
                      class="text-truncate"
                      v-text="option.name"
                    />
                  </template>
                </v-text-field>
              </v-col>
            </v-row>

            <div class="warning--text text--darken-2 mt-5" v-show="!validToAdd">
              <template
                v-if="totalOptions <= 0 || totalOptions > product.unit_limit"
                >Recuerda elegir la cantidad exacta ofrecida en el combo ({{
                  product.unit_limit
                }})</template
              >
              <template
                v-else-if="
                  totalOptions > 0 && totalOptions < product.unit_limit
                "
                >Aún faltan {{ product.unit_limit - totalOptions }} unidades
                para completar tu combo</template
              >
            </div>

            <v-row class="align-self-center mt-5 justify-center">
              <v-text-field
                v-model.number="productQty"
                label
                rounded
                outlined
                readonly
                color="inputColor"
                class="ml-3 mr-12"
                style="max-width: 160px"
              >
                <template v-slot:prepend-inner>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    color="inputColor"
                    class="mt-n1"
                    @click="changeQty(-1)"
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
                <template v-slot:append>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    color="inputColor"
                    class="mt-n1 mr-n1"
                    @click="changeQty(1)"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
              </v-text-field>

              <pages-btn
                class="mb-9 text-none"
                :disabled="!allowedToBy"
                v-text="`Agregar al carrito`"
                @click="addToCart"
              />
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {
  ADD_ITEM_TO_CART,
  DELIVERY_ORIGIN,
  ALLOWED_TO_BUY_BY_TIME,
} from "@/store/cart-constants";
export default {
  name: "DialogProductDetail",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    inventory: {
      type: Object,
      required: true,
      default: () => new Object({ images: [] }),
    },
  },
  data: () => ({
    productQty: 1,
    selectedOptionsQty: [],
    currentImageIndex: 0,
  }),
  computed: {
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    product() {
      return this.inventory.product;
    },
    totalOptions() {
      return this.selectedOptionsQty.reduce((total, value, index) => {
        if (!isNaN(value)) return (total += Number(value));
      }, 0);
    },
    validToAdd() {
      if (this.product.unit_limit >= 1 && this.product.parent_products.length) {
        return this.product.unit_limit === this.totalOptions;
      }

      return true;
    },
    allowedToBy() {
      return this.$store.getters[ALLOWED_TO_BUY_BY_TIME];
    },
  },
  methods: {
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    changeQty(quantity) {
      if (quantity < 1 && this.productQty === 1) return;
      this.productQty += quantity;
    },
    closeDialog() {
      this.selectedOptionsQty = [];
      this.$emit("close");
    },
    addToCart() {
      if (!this.validToAdd) {
        return this.$emit(
          "notify",
          "info",
          "Por favor indica las cantidades necesarias para completar tu combo."
        );
      }

      var options = [];
      this.selectedOptionsQty.forEach((quantity, i) => {
        if (!isNaN(quantity) && quantity) {
          options.push({ quantity, ...this.product.parent_products[i] });
        }
      });

      // si está el carro vacío o el producto es de la misma tienda agrega normalmente
      if (
        !this.salePoint ||
        this.salePoint.id === this.inventory.sale_point.id
      ) {
        this.$store.dispatch(ADD_ITEM_TO_CART, {
          detail: options,
          item: this.inventory,
          quantity: this.productQty,
        });
        this.$emit("notify", "success", "Producto agregado exitosamente.");

        return this.closeDialog();
      } else {
        return this.$emit(
          "notify",
          "warning",
          "No puede seleccionar productos de varios puntos de venta."
        );
      }
    },
  },
};
</script>
<style lang="sass" scoped>
.active-product-img
  border: 3px solid #D84B0E
</style>
