<template>
  <v-row
    v-if="isDesktop"
    dense
    align="center"
    justify="space-around"
    class="mx-auto"
    style="max-width: 85%"
  >
    <v-col align-self="start" cols="12" sm="6" md="4">
      <v-select
        v-model="categories"
        multiple
        rounded
        outlined
        clearable
        hide-details
        color="inputColor"
        item-color="inputColor"
        label="Elige categorías"
        background-color="white"
        item-value="id"
        item-text="name"
        :items="categoriesList"
      >
        <template v-slot:selection="{ item, index }">
          <span
            v-if="index <= 1"
            class="black--text"
            v-text="`${index === 1 ? ', ' : ''} ${item.name}`"
          />

          <span
            v-if="index === 2"
            class="grey--text caption ml-1"
            v-text="`(+${categories.length - index} otros)`"
          />
        </template>

        <template v-slot:item="{ attrs, item, on }">
          <v-list-item
            elevation="0"
            v-bind="attrs"
            class="mx-3 mb-2 v-sheet"
            active-class="buttonMainColor lighten-2 elevation-1 white--text"
            v-on="on"
          >
            <v-list-item-content>
              <v-list-item-title
                :class="{ 'font-weight-bold': attrs.inputValue }"
                v-text="item.name"
              />
            </v-list-item-content>

            <v-scale-transition>
              <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                <v-icon>mdi-check</v-icon>
              </v-list-item-icon>
            </v-scale-transition>
          </v-list-item>
        </template>
      </v-select>
    </v-col>

    <v-col align-self="start" cols="12" sm="6" md="4">
      <v-select
        v-model="flavors"
        multiple
        rounded
        outlined
        clearable
        hide-details
        item-value="id"
        item-text="name"
        color="inputColor"
        label="Elige sabores"
        item-color="inputColor"
        background-color="white"
        :items="flavorsList"
      >
        <template v-slot:selection="{ item, index }">
          <span
            v-if="index <= 1"
            class="black--text"
            v-text="`${index === 1 ? ', ' : ''} ${item.name}`"
          />

          <span
            v-if="index === 2"
            class="grey--text caption ml-1"
            v-text="`(+${flavors.length - index} otros)`"
          />
        </template>
        <template v-slot:item="{ attrs, item, on }">
          <v-list-item
            elevation="0"
            v-bind="attrs"
            class="mx-3 mb-2 v-sheet"
            active-class="buttonMainColor lighten-2 elevation-1 white--text"
            v-on="on"
          >
            <v-list-item-content>
              <v-list-item-title
                :class="{ 'font-weight-bold': attrs.inputValue }"
                v-text="item.name"
              />
            </v-list-item-content>

            <v-scale-transition>
              <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                <v-icon>mdi-check</v-icon>
              </v-list-item-icon>
            </v-scale-transition>
          </v-list-item>
        </template>
      </v-select>
    </v-col>

    <v-spacer />

    <v-col align-self="end" cols="12" md="auto">
      <v-select
        rounded
        outlined
        clearable
        hide-details
        v-model="sort"
        return-object
        item-value="id"
        item-text="name"
        color="inputColor"
        item-color="inputColor"
        background-color="white"
        style="max-width: 320px"
        label="Ordenar resultados"
        :items="sortOptions"
        @input="$emit('sort-products', sort)"
      >
        <template v-slot:item="{ attrs, item, on }">
          <v-list-item
            elevation="0"
            v-bind="attrs"
            class="mx-3 mb-2 v-sheet"
            active-class="buttonMainColor lighten-2 elevation-1 white--text"
            v-on="on"
          >
            <v-list-item-content>
              <v-list-item-title
                :class="{ 'font-weight-bold': attrs.inputValue }"
                v-text="item.name"
              />
            </v-list-item-content>

            <v-scale-transition>
              <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                <v-icon>mdi-check</v-icon>
              </v-list-item-icon>
            </v-scale-transition>
          </v-list-item>
        </template>
      </v-select>
    </v-col>
  </v-row>

  <v-row v-else dense align="center" justify="space-around" class="mx-auto">
    <v-col cols="12" class="py-0">
      <v-subheader
        class="text-uppercase ff--wicked-grit garosa-title-text fs-20"
      >
        Elige categorías
        <base-divider class="ml-4" role="presentation" />
      </v-subheader>

      <v-chip-group v-model="categories" column class="mx-2">
        <v-chip
          filter
          v-for="(cat, i) in categoriesList"
          :value="cat.id"
          :key="i"
          class="ff--wicked-grit text-uppercase white--text"
          color="inputColor"
          active-class="buttonMainColor "
        >
          {{ cat.name }}
        </v-chip>
      </v-chip-group>
    </v-col>
    <v-col cols="12" class="py-0">
      <v-subheader
        class="text-uppercase ff--wicked-grit garosa-title-text fs-20"
      >
        Elige sabores
        <base-divider class="ml-4" role="presentation" />
      </v-subheader>

      <v-chip-group v-model="flavors" column class="mx-2">
        <v-chip
          filter
          v-for="(flv, i) in flavorsList"
          :value="flv.id"
          :key="i"
          class="ff--wicked-grit text-uppercase white--text"
          color="inputColor"
          active-class="buttonMainColor "
        >
          {{ flv.name }}
        </v-chip>
      </v-chip-group>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "CatalogueFilterAndSort",
  props: {
    categoriesList: {
      type: Array,
      default: [],
      required: true,
    },
    flavorsList: {
      type: Array,
      default: [],
      required: true,
    },
    sortOptions: {
      type: Array,
      default: [],
      required: true,
    },
  },
  data: () => ({
    sort: null,
    flavors: [],
    categories: [],
  }),
  watch: {
    categories(newValue, oldValue) {
      this.emitFilters();
    },
    flavors(newValue, oldValue) {
      this.emitFilters();
    },
  },
  methods: {
    emitFilters() {
      var selectedCategories = [];
      var selectedFlavors = [];

      if (typeof this.categories == "number") {
        selectedCategories.push(this.categories);
      } else {
        selectedCategories = this.categories;
      }

      if (typeof this.flavors == "number") {
        selectedFlavors.push(this.flavors);
      } else {
        selectedFlavors = this.flavors;
      }

      this.$emit("filter-products", selectedCategories, selectedFlavors);
    },
  },
};
</script>