<template>
  <div>
    <v-card
      max-width="420"
      class="br-20"
      :elevation="isDesktop ? 3 : 1"
      :height="isDesktop ? 460 : 250"
      @click="showDetail"
    >
      <v-scale-transition hide-on-leave v-if="isDesktop">
        <pages-components-product-hover-card
          class="ml-0"
          :product="{ image: product.images[0].path, name: product.name }"
        />
      </v-scale-transition>
      <v-img
        v-else
        :src="product.images[0].path"
        :aspect-ratio="16 / 9"
        :height="isDesktop ? 150 : 120"
      />

      <v-card-title
        class="product-title ff--gilroy-exta-bold text-break text-center"
        :class="[isDesktop ? 'fs-25 mb-2' : 'fs-18 mt-1']"
        :style="{
          lineHeight: isDesktop ? '1.2rem' : '1rem',
          height: isDesktop ? 'auto' : '55px',
        }"
        v-text="product.name"
      />
      <v-card-subtitle
        v-if="isDesktop"
        class="product-desc text-truncate fs-18"
        style="line-height: 2rem"
        v-text="product.description || ''"
      />

      <v-card-actions>
        <strong
          :class="[
            isDesktop
              ? 'ml-2 login-signin-form-head'
              : 'ff--wicked-grit fs-18 garosa-title-text mr-auto',
          ]"
        >
          <template v-if="product.price > 0">{{
            product.price | money
          }}</template>
          <template v-else>$ --</template>
        </strong>

        <v-spacer />

        <v-btn
          fab
          elevation="0"
          color="inputColor"
          class="mr-0"
          :small="!isDesktop"
          :disabled="!allowedToBy"
          @click.stop="addToCart"
        >
          <v-icon :large="isDesktop" color="buttonMainColor">mdi-basket</v-icon>
        </v-btn>
      </v-card-actions>

      <dialog-product-detail
        :inventory="inventory"
        :visible="showDlgProductDetail"
        @notify="notify"
        @close="showDlgProductDetail = false"
      />
    </v-card>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </div>
</template>

<script>
import {
  ADD_ITEM_TO_CART,
  DELIVERY_ORIGIN,
  ALLOWED_TO_BUY_BY_TIME,
} from "@/store/cart-constants";
export default {
  name: "PagesStoreProductCard",
  components: {
    PagesComponentsProductHoverCard: () =>
      import("@/views/pages/components/ProductHoverCard"),
    DialogProductDetail: () => import("./DialogProductDetail"),
  },
  props: {
    inventory: {
      type: Object,
      required: true,
      default: () => ({}),
    },
  },
  data: () => ({
    showDlgProductDetail: false,
    notification: {
      type: "",
      show: false,
      content: "",
    },
  }),
  computed: {
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    product() {
      return this.inventory.product;
    },
    allowedToBy() {
      return this.$store.getters[ALLOWED_TO_BUY_BY_TIME];
    },
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    addToCart() {
      switch (this.product.product_type) {
        case "CB":
          this.showDetail();
          break;

        case "PE":
          this.registerGoogleProductView();
          this.goToProduct("MakeYourBread");
          break;
        case "BS":
          // si está el carro vacío o el producto es de la misma tienda agrega normalmente
          if (
            !this.salePoint ||
            this.salePoint.id === this.inventory.sale_point.id
          ) {
            this.$store.dispatch(ADD_ITEM_TO_CART, {
              item: this.inventory,
            });
            return this.notify("success", "Producto agregado exitosamente.");
          } else {
            return this.notify(
              "warning",
              "No puede seleccionar productos de varios puntos de venta."
            );
          }
          break;
      }
    },
    showDetail() {
      this.registerGoogleProductView();
      if (this.isDesktop) {
        if (this.product.product_type !== "PE")
          this.showDlgProductDetail = true;
        else this.goToProduct("MakeYourBread");
      } else {
        if (this.product.product_type !== "PE")
          this.goToProduct("ProductDetail", this.product.name);
        else this.goToProduct("MakeYourBread");
      }
    },
    goToProduct(routeName, productName) {
      var params = {
        inventoryId: this.inventory.id,
      };

      if (productName) {
        params.product = productName.trim().replace(/\s+/g, "-");
      }

      this.$router.push({
        params,
        name: routeName,
      });
    },
    registerGoogleProductView() {
      gtag("event", "view_item", {
        currency: "COP",
        items: [
          {
            item_id: this.product.id,
            item_name: this.product.name,
            item_category: this.product.category
              .map((cat) => cat.category)
              .join(),
            price: this.product.price,
            currency: "COP",
            quantity: 1,
          },
        ],
        value: this.product.price,
      });
    },
  },
};
</script>
<style lang="sass" scoped>
.product-title
  opacity: 1
  color: #D84B0E
  text-align: left
  letter-spacing: 0px

.product-desc
  text-align: left
  letter-spacing: 0px
  color: #424242
  opacity: 1
</style>
