<template>
  <v-app-bar
    id="app-bar"
    elevate-on-scroll
    app
    flat
    :height="97"
    :elevation="5"
    color="white"
  >
    <v-app-bar-nav-icon class="hidden-md-and-up" @click="toggleDrawer" />

    <v-container fluid class="mx-auto py-0">
      <v-row align="center">
        <!-- Inicio Logo -->
        <router-link :to="{ name: 'HomeIndex' }">
          <v-img
            :src="require('@/assets/logo.png')"
            class="mr-5"
            contain
            height="82"
            width="145"
            max-width="145"
          />
        </router-link>
        <!-- Fin Logo -->

        <!-- Inicio Menú -->
        <div class="ml-3 hidden-sm-and-down">
          <v-btn
            v-for="(link, i) in mainMenuLinks"
            :key="i"
            text
            large
            color="#707070"
            :to="{ name: link.path }"
            class="mx-2 font-weight-medium text-capitalize"
            active-class="active-main-menu-item"
            v-text="$t(link.text)"
          />
        </div>
        <!-- Fin Menú -->

        <!-- Inicio estado de orden en progreso -->
        <v-spacer />

        <router-link
          v-if="inProgressOrder.id"
          :to="{
            name: 'OrderTracing',
            params: { orderId: inProgressOrder.id },
          }"
        >
          <v-progress-linear
            v-if="$vuetify.breakpoint.mdAndUp"
            height="50"
            class="br-20"
            style="width: 140px"
            :color="progressOrderColor"
            :dark="inProgressOrder.status.id > 2"
            :value="25 * inProgressOrder.status.id"
          >
            <template v-slot="{ value }">
              <span
                class="ff--gilroy-extra-bold text-truncate text-right text-capitalize pa-1"
                v-text="inProgressOrder.status.status"
              />
            </template>
          </v-progress-linear>

          <v-tooltip v-else bottom color="black">
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                large
                v-bind="attrs"
                :color="progressOrderColor"
                v-on="on"
                v-text="progressOrderIcon"
              />
            </template>
            <span v-text="`Tu pedido está ${inProgressOrder.status.status}`" />
          </v-tooltip>
        </router-link>

        <v-spacer />
        <!-- Fin estado de orden en progreso -->

        <!-- Inicio Buscador -->
        <v-text-field
          rounded
          outlined
          hide-details
          color="inputColor"
          class="hidden-md-and-down"
          height="50"
          style="max-width: 400px"
          :placeholder="$t('mainMenu.searchPlaceHolder')"
        >
          <template v-slot:append>
            <v-fade-transition leave-absolute>
              <v-icon size="31" class="mt-n1" color="inputColor"
                >mdi-magnify</v-icon
              >
            </v-fade-transition>
          </template>
        </v-text-field>
        <!-- Fin Buscador -->

        <!-- Inicio de sesión -->
        <template v-if="!$session.exists()">
          <pages-btn
            v-if="isDesktop"
            class="mt-2 text-capitalize"
            :class="[isDesktop ? 'ml-4' : 'mx-0']"
            :to="{ name: 'Login' }"
            v-text="$t('mainMenu.loginBtn')"
          />
          <v-btn v-else icon right :to="{ name: 'Login' }">
            <v-icon large class="v-icon--link" color="footerBgColor"
              >mdi-login</v-icon
            >
          </v-btn>
        </template>
        <!-- Fin Inicio de sesión -->

        <!-- Inicio Carrito -->
        <template>
          <cart-menu v-if="isDesktop" />
          <cart-drawer v-else />
        </template>
        <!-- Fin Carrito -->

        <!-- Inicio Opciones del usuario -->
        <v-menu open-on-hover bottom offset-x offset-y v-if="$session.exists()">
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              large
              :class="[isDesktop ? 'mx-6' : 'ml-1']"
              color="footerBgColor"
              v-on="on"
              >mdi-account-circle</v-icon
            >
          </template>
          <v-list>
            <v-list-item
              :to="{ name: 'Account' }"
              active-class="buttonMainColor elevation-1 white--text"
            >
              <v-list-item-icon>
                <v-icon left>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Mi Cuenta</v-list-item-title>
            </v-list-item>

            <v-list-item
              :to="{ name: 'Dashboard' }"
              active-class="buttonMainColor elevation-1 white--text"
              v-if="
                getSessionInfo('is_staff') || getSessionInfo('is_superuser')
              "
            >
              <v-list-item-icon>
                <v-icon left>mdi-monitor-dashboard</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item>

            <v-list-item
              active-class="buttonMainColor elevation-1 white--text"
              @click="destroySession()"
            >
              <v-list-item-icon>
                <v-icon left>mdi-exit-to-app</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Salir</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <!-- Fin Opciones del usuario -->
      </v-row>
    </v-container>
    <pages-core-drawer />
  </v-app-bar>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { NUM_ITEMS, IN_PROGRESS_ORDER } from "@/store/cart-constants";

export default {
  name: "PagesCoreAppBar",
  components: {
    PagesBtn: () => import("../Btn"),
    CartMenu: () => import("./CartMenu"),
    CartDrawer: () => import("./CartDrawer"),
    PagesCoreDrawer: () => import("./Drawer"),
  },
  computed: {
    ...mapGetters(["mainMenuLinks"]),
    cartItems: {
      get() {
        return this.$store.getters[NUM_ITEMS];
      },
      set() {},
    },
    inProgressOrder() {
      return this.$store.getters[IN_PROGRESS_ORDER];
    },
    orderStatus() {
      return this.inProgressOrder.status;
    },
    progressOrderColor() {
      if (this.orderStatus) {
        return this.orderStatus.id <= 2 ? "#FFDE09" : "buttonMainColor";
      }
      return "";
    },
    progressOrderIcon() {
      switch (this.orderStatus.id) {
        case 1:
          return "mdi-check";
        case 2:
          return "mdi-room-service";
        case 3:
          return "mdi-bike";
        case 4:
          return "mdi-home";
        default:
          return "mdi-circle";
      }
    },
  },
  methods: {
    ...mapMutations({
      toggleDrawer: "TOGGLE_MAIN_DRAWER",
    }),
    checkEmptyCart() {
      if (this.cartItems <= 0) {
        return this.$emit(
          "notify",
          "info",
          "No tienes nada en el carrito aún."
        );
      }

      this.$router.push({ name: "Checkout" });
    },
  },
  mounted() {
    this.prepareFacebookApi();
    this.prepareGoogleApi();
  },
};
</script>
<style lang="sass" scoped>
#app-bar
  a
    text-decoration: none !important
</style>
