<template>
  <v-carousel
    cycle
    v-bind="$attrs"
    :show-arrows="false"
    hide-delimiter-background
    :hide-delimiters="$attrs.items && $attrs.items.length === 1"
    delimiter-icon="mdi-circle"
  >
    <v-carousel-item
      v-for="(item, i) in $attrs.items"
      :key="i"
      :src="item.image1"
      transition="slide-x-transition"
      reverse-transition="slide-x-transition"
    >
      <v-row
        v-if="item.value.text || item.value.button_text"
        dense
        no-gutters
        align="center"
        justify="center"
        class="fill-height flex-column"
      >
        <div :class="['banner-item-text-bg', item.value.text ? 'pa-12' : '']">
          <span
            class="ff--wicked-grit text-capitalize white--text"
            v-text="item.value.text || ''"
            :class="isDesktop ? 'fs-60' : 'fs-30'"
          />
        </div>
        <pages-btn
          v-if="item.value.button_text"
          target="_blank"
          :href="item.value.link"
          class="mt-12 text-capitalize"
          v-text="item.value.button_text"
        />
      </v-row>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  name: "PagesComponentsCoreBanner",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
};
</script>

<style lang="sass" scoped>
.banner-item-text-bg
  background: #D84B0E 0% 0% no-repeat padding-box
  border-radius: 20px
  opacity: 0.6
  max-width: 1120px
  & span
    letter-spacing: -2.4px
    opacity: 1
</style>
