<template>
  <div>
    <v-badge
      overlap
      class="mr-2"
      transition="fab"
      color="buttonMainColor"
      v-model="totalItems"
      :content="totalItems"
    >
      <v-icon
        large
        class="v-icon--link"
        color="footerBgColor"
        @click.stop="visible = !visible"
        >mdi-basket</v-icon
      >
    </v-badge>

    <v-navigation-drawer
      v-model="visible"
      app
      temporary
      right
      clipped
      width="90%"
      height="90vh"
      style="z-index: 5"
    >
      <template v-slot:prepend>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="ff--wicked-grit garosa-title-text fs-20"
              >Carrito de Compras</v-list-item-title
            >
          </v-list-item-content>
          <v-list-item-action>
            <v-icon right large @click.stop="visible = !visible"
              >mdi-close</v-icon
            >
          </v-list-item-action>
        </v-list-item>
        <v-divider></v-divider>
      </template>

      <v-list v-if="emptyCart" expand nav class="my-auto">
        <v-list-item
          :to="{ name: 'HomeIndex' }"
          active-class="buttonMainColor white--text"
        >
          <v-list-item-icon>
            <v-icon left x-large>mdi-basket-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>No hay nada en el carrito</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-list v-else expand nav elevation="0" class="mx-0">
        <v-list-item
          three-line
          v-for="(product, i) in cartItems"
          :key="i"
          class="elevation-1 mb-1"
        >
          <v-list-item-content>
            <v-list-item-title
              class="text-left ff--gilroy-extra-bold text-wrap fs-18"
              v-text="product.name"
            />
            <v-list-item-subtitle class="text-left black--text text-wrap my-0">
              {{ (product.price * product.quantity) | money }}
            </v-list-item-subtitle>
            <v-list-item-subtitle
              class="text-left accent--text text-wrap my-0"
              >{{ options(product) }}</v-list-item-subtitle
            >
          </v-list-item-content>

          <v-list-item-action class="ml-1">
            <v-text-field
              v-model="product.quantity"
              label
              outlined
              rounded
              readonly
              single-line
              hide-details
              color="inputColor"
              style="max-width: 150px"
            >
              <template v-slot:prepend-inner>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  color="inputColor"
                  class="mt-n1"
                  @click="changeQty(product, -1)"
                >
                  <v-icon x-small color="white">mdi-minus</v-icon>
                </v-btn>
              </template>
              <template v-slot:append>
                <v-btn
                  fab
                  x-small
                  elevation="0"
                  color="inputColor"
                  class="mt-n1 mr-n1"
                  @click="changeQty(product, 1)"
                >
                  <v-icon x-small color="white">mdi-plus</v-icon>
                </v-btn>
              </template>
            </v-text-field>
            <v-btn
              text
              block
              rounded
              small
              color="accent"
              @click="deleteProduct(product.id)"
            >
              <v-icon left>mdi-delete</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <v-divider />

        <b
          class="font-weight-bold ml-2 body-2"
          v-if="suggestedProducts.length && !emptyCart"
          >Podrías combinar tu pedido con:</b
        >

        <v-row
          dense
          align="center"
          justify="center"
          class="mx-auto"
          v-if="!emptyCart"
        >
          <v-col
            cols="3"
            v-for="suggestedProduct in suggestedProducts"
            :key="suggestedProduct.id"
            @click="addToCart(suggestedProduct)"
          >
            <div class="d-flex align-center flex-column">
              <v-avatar size="80" class="br-10">
                <v-img :src="suggestedProduct.product.images[0].path" />
              </v-avatar>
              <v-list-item-action-text
                class="mx-auto text-truncate"
                style="
                  max-width: 90px;
                  letter-spacing: 0px;
                  line-height: normal;
                "
              >
                {{ suggestedProduct.product.name }}
              </v-list-item-action-text>
              <v-list-item-action-text
                class="mx-auto text-truncate ff--gilroy-extra-bold"
                style="
                  max-width: 90px;
                  letter-spacing: 0px;
                  line-height: normal;
                "
              >
                {{ suggestedProduct.product.price | money }}
              </v-list-item-action-text>
            </div>
          </v-col>
        </v-row>
        <div class="pa-3">
          <div class="d-flex mb-2 fs-25">
            Subtotal
            <div class="ff--wicked-grit text-wrap garosa-title-text ml-auto">
              {{ subTotal | money }}
            </div>
          </div>

          <pages-btn block :to="{ name: 'Checkout' }" :disabled="emptyCart">
            Pagar
          </pages-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <base-snackbar
      v-model="notification.show"
      :color="notification.type"
      :content="notification.content"
      @close="notification.show = false"
    />
  </div>
</template>

<script>
import {
  CART_TOTAL,
  NUM_ITEMS,
  CART_ITEMS,
  DELETE_PRODUCT,
  DELIVERY_ORIGIN,
  ADD_ITEM_TO_CART,
  SUGGESTED_PRODUCTS,
  REMOVE_ITEM_FROM_CART,
} from "@/store/cart-constants";

import { differenceWith, take } from "lodash";

export default {
  name: "CartDrawer",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  data() {
    return {
      visible: false,
      notification: {
        type: "",
        show: false,
        content: "",
      },
    };
  },
  computed: {
    totalItems: {
      get() {
        return this.$store.getters[NUM_ITEMS];
      },
      set() {},
    },
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
    emptyCart() {
      return this.totalItems <= 0;
    },
    subTotal() {
      return this.$store.getters[CART_TOTAL];
    },
    salePoint() {
      return this.$store.getters[DELIVERY_ORIGIN];
    },
    suggestedProducts() {
      var base = this.$store.getters[SUGGESTED_PRODUCTS];
      var suggestion = differenceWith(base, this.cartItems, (sug, cartItem) => {
        return sug.product.id == cartItem.id;
      });

      return take(
        suggestion.sort(() => {
          0.5 - Math.random();
        }),
        4
      );
    },
  },
  methods: {
    notify(type = "info", content = "", show = true) {
      Object.assign(this.notification, { type, content, show });
    },
    options(product) {
      return product.detail
        .map((val) => `${val.name} (${val.quantity})`)
        .join(", ");
    },
    deleteProduct(productId) {
      this.$store.dispatch(DELETE_PRODUCT, productId);
    },
    changeQty(product, qty) {
      if (qty === 1) {
        this.$store.dispatch(ADD_ITEM_TO_CART, { item: { product } });
      } else this.$store.dispatch(REMOVE_ITEM_FROM_CART, product.id);
    },
    addToCart(inventory) {
      // si está el carro vacío o el producto es de la misma tienda agrega normalmente
      if (!this.salePoint || this.salePoint.id === inventory.sale_point.id) {
        this.$store.dispatch(ADD_ITEM_TO_CART, {
          item: inventory,
        });
        return this.notify("success", "Producto agregado exitosamente.");
      } else {
        return this.notify(
          "warning",
          "No puede seleccionar productos de varios puntos de venta."
        );
      }
    },
  },
};
</script>