<template>
  <v-menu
    bottom
    offset-y
    offset-x
    open-on-hover
    max-width="550"
    min-width="550"
    max-height="60vh"
    :nudge-width="200"
    origin="center center"
    transition="scale-transition"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-badge
        overlap
        transition="fab"
        color="buttonMainColor"
        v-model="totalItems"
        :content="totalItems"
        :class="{ 'ml-4': $session.exists() }"
      >
        <v-icon v-on="on" large class="v-icon--link" color="footerBgColor"
          >mdi-basket</v-icon
        >
      </v-badge>
    </template>

    <v-list v-if="emptyCart" class="pa-2">
      <v-list-item
        :to="{ name: 'HomeIndex' }"
        active-class="buttonMainColor white--text"
      >
        <v-list-item-icon>
          <v-icon left>mdi-basket-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>No hay nada en el carrito</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-card v-else flat class="my-0">
      <v-card-text>
        <v-list elevation="0" class="ma-0">
          <v-list-item three-line v-for="(product, i) in cartItems" :key="i">
            <v-list-item-avatar size="80">
              <v-img :src="product.images[0].path" :aspect-ratio="19 / 6" />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title
                class="text-left ff--gilroy-extra-bold text-wrap fs-20"
                v-text="product.name"
              />
              <v-list-item-subtitle
                class="text-left black--text text-wrap fs-18 my-0"
              >
                {{ (product.price * product.quantity) | money }}
              </v-list-item-subtitle>
              <v-list-item-subtitle
                class="text-left accent--text fs-18 text-wrap my-0"
                >{{ options(product) }}</v-list-item-subtitle
              >
            </v-list-item-content>

            <v-list-item-action>
              <v-text-field
                v-model="product.quantity"
                label
                rounded
                outlined
                readonly
                single-line
                hide-details
                color="inputColor"
                style="max-width: 160px"
              >
                <template v-slot:prepend-inner>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    color="inputColor"
                    class="mt-n1"
                    @click="changeQty(product, -1)"
                  >
                    <v-icon x-small>mdi-minus</v-icon>
                  </v-btn>
                </template>
                <template v-slot:append>
                  <v-btn
                    fab
                    x-small
                    elevation="0"
                    color="inputColor"
                    class="mt-n1 mr-n1"
                    @click="changeQty(product, 1)"
                  >
                    <v-icon x-small>mdi-plus</v-icon>
                  </v-btn>
                </template>
              </v-text-field>
              <v-btn text block rounded small color="accent">
                <v-icon left>mdi-delete</v-icon>
                <span
                  class="text-capitalize black--text"
                  @click="deleteProduct(product.id)"
                  v-text="`Eliminar`"
                />
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <div class="ml-5 fs-20">
          Subtotal<span
            class="ff--wicked-grit text-wrap ml-2 garosa-title-text"
          >
            {{ subTotal | money }}</span
          >
        </div>

        <v-spacer />

        <pages-btn small :to="{ name: 'Checkout' }"> Pagar </pages-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
import {
  CART_TOTAL,
  NUM_ITEMS,
  CART_ITEMS,
  DELETE_PRODUCT,
  ADD_ITEM_TO_CART,
  REMOVE_ITEM_FROM_CART,
} from "@/store/cart-constants";
export default {
  name: "CartMenu",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  computed: {
    totalItems: {
      get() {
        return this.$store.getters[NUM_ITEMS];
      },
      set() {},
    },
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
    emptyCart() {
      return this.totalItems <= 0;
    },
    subTotal() {
      return this.$store.getters[CART_TOTAL];
    },
  },
  methods: {
    options(product) {
      return product.detail
        .map((val) => `${val.name} (${val.quantity})`)
        .join(", ");
    },
    deleteProduct(productId) {
      this.$store.dispatch(DELETE_PRODUCT, productId);
    },
    changeQty(product, qty) {
      if (qty === 1) {
        this.$store.dispatch(ADD_ITEM_TO_CART, { item: { product } });
      } else this.$store.dispatch(REMOVE_ITEM_FROM_CART, product.id);
    },
  },
};
</script>