<template>
  <v-navigation-drawer v-model="drawer" app temporary style="z-index: 5">
    <v-list expand nav>
      <v-list-item
        v-for="(link, i) in mainMenuLinks"
        :key="i"
        :to="{ name: link.path }"
      >
        <v-list-item-icon class="mr-3">
          <v-icon size="24" v-text="link.icon" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title
            class="text-capitalize font-weight-regular fs-18"
            v-text="$t(link.text)"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "PagesCoreDrawer",
  computed: {
    ...mapGetters(["mainMenuLinks"]),
    drawer: {
      get() {
        return this.$store.state.mainDrawer;
      },
      set(val) {
        this.setDrawer(val);
      },
    },
  },
  methods: {
    ...mapMutations({
      setDrawer: "SET_MAIN_DRAWER",
    }),
  },
};
</script>
