<template>
  <v-footer id="pages-core-footer" color="footerBgColor" dark class="pa-1 ma-0">
    <v-container>
      <v-row align="center" class="flex-row justify-space-around" no-gutters>
        <v-col cols="12" sm="3" md="auto">
          <router-link :to="{ name: 'HomeIndex' }">
            <v-img
              :src="require('@/assets/footer_white_logo.png')"
              contain
              max-width="364"
              class="mx-auto"
              :height="isDesktop ? 207 : 150"
            />
          </router-link>
        </v-col>

        <v-col
          class="text-center"
          cols="12"
          sm="4"
          md="auto"
          :class="{ 'py-3': isDesktop }"
        >
          <p
            v-for="(link, i) in links"
            :key="i"
            class="ma-0 pa-0 text-wrap fs-30 text-capitalize"
          >
            <router-link
              v-if="link.path"
              :to="{ name: link.path }"
              style="font-size: 30px !important"
              v-text="$t(link.text) || link.text"
            />
            <a
              v-if="link.action == 'showTermsAndConditions'"
              v-text="$t(link.text) || link.text"
              style="font-size: 30px !important"
              @click.stop="showTermsAndConditions = !showTermsAndConditions"
            />
          </p>
        </v-col>

        <v-col
          cols="12"
          sm="4"
          md="auto"
          class="pt-6 pt-md-0 text-center fs-40"
        >
          Síguenos en
          <br />

          <a :href="instagram" target="_blank" rel="noopener noreferrer">
            <v-icon :size="isDesktop ? 84 : 54">mdi-instagram</v-icon>
          </a>

          <a :href="facebook" target="_blank" rel="noopener noreferrer">
            <v-icon :size="isDesktop ? 84 : 54">mdi-facebook</v-icon>
          </a>
          <a
            :href="`https://wa.me/${whatsappNumber}?text=${whatsappMsg}`"
            target="_blank"
            rel="noopener noreferrer"
          >
            <v-icon :size="isDesktop ? 84 : 54">mdi-whatsapp</v-icon>
          </a>
        </v-col>
      </v-row>
    </v-container>
    <dialog-terms-and-conditions
      :visible="showTermsAndConditions"
      @close="showTermsAndConditions = false"
    />
  </v-footer>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "PagesCoreFooter",
  components: {
    DialogTermsAndConditions: () =>
      import("@/views/pages/DialogTermsAndConditions.vue"),
  },
  data: () => ({
    links: [],
    facebook: "",
    instagram: "",
    whatsapp: "",
    whatsappMsg: "",
    whatsappNumber: "",
    showTermsAndConditions: false,
  }),
  computed: {
    ...mapGetters(["mainMenuLinks"]),
  },
  methods: {
    fetchContactInfo() {
      this.axios
        .get(`${this.urlConstants.GralInfoUrls.config}?key=contact_info`)
        .then((response) => {
          var data = response.data[0];
          if (data) {
            this.facebook = data.value.facebook_link;
            this.instagram = data.value.instagram_link;

            this.whatsappNumber = data.value.whatsapp_number;
            this.whatsappMsg = escape(data.value.whatsapp_msg);
          }
        })
        .catch((error) => console.error(error));
    },
  },
  mounted() {
    this.fetchContactInfo();
    this.links = this.links.concat(this.mainMenuLinks);
    this.links.push(
      {
        text: "Términos & Condiciones",
        action: "showTermsAndConditions",
      },
      {
        path: "Complaints&Claims",
        text: "Quejas & reclamos",
      }
    );
  },
};
</script>

<style lang="sass">
#pages-core-footer
  a
    color: #FFFFFF
    text-decoration: none
</style>
