<template>
  <v-main id="pages">
    <v-responsive class="d-flex align-center">
      <!-- <v-responsive min-height="90vh" class="d-flex align-center"> -->
      <router-view />
    </v-responsive>
  </v-main>
</template>

<script>
  export default {
    name: 'PagesCoreView',
  }
</script>
