<template>
  <v-card flat hover outlined min-height="180" class="pb-2">
    <v-card-title
      class="ff--gilroy-extra-bold text-wrap"
      v-text="`${user.first_name} | ${user.phone || '--'}`"
    />

    <v-card-subtitle
      class="mt-1"
      v-text="`${address.address || '--'} | ${address.description || '--'}`"
    />
    <v-card-subtitle
      class="my-n6"
      v-text="`${address.city || '--'}, ${address.state || '--'}`"
    />
  </v-card>
</template>

<script>
import { DELIVERY_ADDRESS, USER_ADDRESSES } from "@/store/cart-constants";
import { mapGetters } from "vuex";

export default {
  name: "PagesCheckoutAddressCard",
  data() {
    return {
      user: this.getSessionInfo(),
    };
  },
  computed: {
    ...mapGetters({ userAddresses: USER_ADDRESSES }),
    address: {
      get() {
        return this.$store.getters[DELIVERY_ADDRESS];
      },
      set(value) {
        this.$store.commit(DELIVERY_ADDRESS, value);
      },
    },
  },
  mounted() {
    this.fetchUserAddresses();
  },
  methods: {
    async fetchUserAddresses() {
      if (!this.userAddresses.length) {
        await this.$store.dispatch(USER_ADDRESSES);
      }

      if (this.userAddresses.length) {
        var principal = this.userAddresses.find((add) => add.is_principal);

        this.address = principal || this.userAddresses[0];
      }
    },
  },
};
</script>
