<template>
  <v-card flat :loading="loading" color="transparent" class="ma-0">
    <v-card-text>
      <v-row align="center">
        <v-col sm="6" cols="12">
          <pages-checkout-address-card
            ref="mainAddress"
            class="principal-address"
          />
        </v-col>

        <v-col cols="12" sm="6">
          <v-card
            flat
            hover
            outlined
            height="161"
            class="text-center pa-5"
            style="border: 1px dashed #f9c9a5"
          >
            <v-card-text>
              <v-btn
                fab
                small
                color="inputColor"
                elevation="0"
                @click="showDlgCreateAddress = true"
              >
                <v-icon large>mdi-plus</v-icon>
              </v-btn>
              <div class="mt-2 fs-20" v-text="`Agregar nueva dirección`" />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <v-slide-y-transition>
        <v-row v-show="displayAddAddresses" align="center">
          <v-col
            v-for="(address, index) in userAddresses"
            :key="index"
            sm="6"
            cols="12"
            class="mt-n12"
          >
            <pages-account-address-card
              :address="address"
              :display-opts="false"
              class="secondary-address"
              @click="setDeliveryAddress(address)"
            />
          </v-col>
        </v-row>
      </v-slide-y-transition>
    </v-card-text>

    <v-card-actions class="mt-n10">
      <v-spacer />
      <v-btn
        text
        rounded
        color="inputColor"
        class="text-capitalize"
        @click="displayAddAddresses = !displayAddAddresses"
      >
        <span class="black--text" v-text="`Mostrar más direcciónes`" />
        <v-fab-transition mode="out-in">
          <v-icon
            :key="`icon-${displayAddAddresses}`"
            right
            large
            color="buttonMainColor"
            v-text="displayAddAddresses ? 'mdi-chevron-up' : 'mdi-chevron-down'"
          />
        </v-fab-transition>
      </v-btn>
      <v-spacer />
    </v-card-actions>
    <pages-account-address-create-edit
      :visible="showDlgCreateAddress"
      @notify="notify"
      @refreshAddresses="fetchUserAddresses"
      @close="(showDlgCreateAddress = false), setAddress({})"
    />
  </v-card>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import {
  DELIVERY,
  CRUD_ADDRESS,
  USER_ADDRESSES,
  DELIVERY_ADDRESS,
} from "@/store/cart-constants";
import { last } from "lodash";

export default {
  name: "PagesCheckoutAddress",
  components: {
    PagesAccountAddressCard: () => import("@/views/pages/account/AddressCard"),
    PagesAccountAddressCreateEdit: () =>
      import("@/views/pages/account/DialogAddressCreateEdit"),
    PagesCheckoutAddressCard: () =>
      import("@/views/pages/checkout/components/AddressCard"),
  },
  data: () => ({
    loading: false,
    displayAddAddresses: false,
    showDlgCreateAddress: false,
  }),
  computed: {
    ...mapGetters({ userAddresses: USER_ADDRESSES }),
  },
  methods: {
    ...mapMutations({
      setAddress: CRUD_ADDRESS,
    }),
    async fetchUserAddresses(forced) {
      this.loading = true;
      if (!this.userAddresses.length || forced) {
        await this.$store.dispatch(USER_ADDRESSES);
      }

      if (this.userAddresses.length) {
        this.setDeliveryAddress(last(this.userAddresses));
      }
      this.loading = false;
    },
    setDeliveryAddress(address) {
      this.$store.commit(DELIVERY_ADDRESS, address);
      this.$store.dispatch(DELIVERY, address.address);
    },
    notify(type, content) {
      this.$emit("notify", type, content);
    },
  },
  mounted() {
    this.fetchUserAddresses();
  },
};
</script>
