<template>
  <v-card
    hover
    class="br-20"
  >
    <v-card-title class="text-center">
      <span
        class="garosa-primary-text fs-25 ff--gilroy-extra-bold"
        v-text="`¿Es un regalo?`"
      />

      <v-radio-group
        row
        class="ml-auto"
      >
        <v-radio
          color="buttonMainColor"
          label="Si"
        />
        <v-radio
          color="buttonMainColor"
          label="No"
        />
      </v-radio-group>
    </v-card-title>

    <v-card-text>
      <v-form lazy-validation>
        <v-text-field
          readonly
          v-bind="inputAttrs"
          color="inputColor"
          label="¿Quién envía?"
          :value="user.first_name"
        />
        <v-text-field
          v-bind="inputAttrs"
          color="inputColor"
          label="¿Quién recibe?"
        />
        <v-textarea
          no-resize
          :rows="3"
          :counter="255"
          v-bind="inputAttrs"
          label="Escribe tu mensaje..."
        />
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
  import { GIFT_INFORMATION } from '@/store/cart-constants'

  export default {
    name: 'PagesCheckoutGiftInfo',
    data () {
      return {
        user: this.getSessionInfo(),
        inputAttrs: {
          color: 'inputColor',
          class: 'my-0 py-0',
          rounded: true,
          outlined: true,
        },
      }
    },
    computed: {
      giftInfo: {
        get () {
          return this.$store.getters[GIFT_INFORMATION]
        },
        set (value) {},
      },
    },
    methods: {
      setGiftOrder () {},
    },
  }
</script>
