<template>
  <v-form lazy-validation ref="form">
    <div class="my-1 text-left" :class="[isDesktop ? 'fs-18' : 'body-2']">
      <p>
        {{ $t("signIn.doYouHaveAnAccount") }}
        <router-link
          :to="{ name: 'Login' }"
          class="login-signin-links black--text"
          v-text="$t('auth.loginHereMsg')"
        />
      </p>
    </div>
    <v-row dense>
      <v-col cols="12" md="6">
        <v-text-field
          v-model="firstName"
          v-bind="inputAttrs"
          label="Nombres"
          :rules="[requiredRule]"
        />
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          v-model="lastName"
          v-bind="inputAttrs"
          label="Apellidos"
        />
      </v-col>
      <v-col cols="12" md="6">
        <v-autocomplete
          v-model="state"
          v-bind="inputAttrs"
          label="Departamento"
          item-text="departamento"
          item-value="departamento"
          :items="states"
          :rules="[requiredRule]"
        >
          <template v-slot:item="{ attrs, item, on }">
            <v-list-item
              elevation="0"
              v-bind="attrs"
              class="mx-3 mb-2 v-sheet"
              active-class="buttonMainColor lighten-2 elevation-1 white--text"
              v-on="on"
            >
              <v-list-item-content>
                <v-list-item-title
                  class="fs-20"
                  :class="{ 'font-weight-bold': attrs.inputValue }"
                  v-text="item.departamento"
                />
              </v-list-item-content>

              <v-scale-transition>
                <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                  <v-icon>mdi-check</v-icon>
                </v-list-item-icon>
              </v-scale-transition>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12" md="6">
        <v-autocomplete
          v-model="city"
          v-bind="inputAttrs"
          label="Ciudad"
          :items="cities"
          :rules="[requiredRule]"
        >
          <template v-slot:item="{ attrs, item, on }">
            <v-list-item
              elevation="0"
              v-bind="attrs"
              class="mx-3 mb-2 v-sheet"
              active-class="buttonMainColor lighten-2 elevation-1 white--text"
              v-on="on"
            >
              <v-list-item-content>
                <v-list-item-title
                  class="fs-20"
                  :class="{ 'font-weight-bold': attrs.inputValue }"
                  v-text="item"
                />
              </v-list-item-content>

              <v-scale-transition>
                <v-list-item-icon v-if="attrs.inputValue" class="my-3">
                  <v-icon>mdi-check</v-icon>
                </v-list-item-icon>
              </v-scale-transition>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12">
        <v-text-field
          v-model="address"
          v-bind="inputAttrs"
          label="Dirección"
          :rules="[requiredRule]"
          @blur="setAddressAndDelivery"
        />
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          v-model="addressNotes"
          v-bind="inputAttrs"
          label="Notas"
          placeholder="Casa, Apartamento, Diagonal..."
        />
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          label="Barrio"
          v-model="neighborhood"
          v-bind="inputAttrs"
          :rules="[requiredRule]"
        />
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          v-model="email"
          v-bind="inputAttrs"
          label="Correo electrónico"
          :rules="[requiredRule, emailRule]"
        />
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          v-model.number="phone"
          label="Teléfono"
          type="number"
          v-bind="inputAttrs"
          :rules="[requiredRule, phoneRule]"
        />
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import {
  DELIVERY_ADDRESS,
  GEST_USER,
  DELIVERY,
  DELIVERY_BASE,
} from "@/store/cart-constants";
import { Store } from "vuex";

export default {
  name: "GuestForm",
  data: () => ({
    inputAttrs: {
      color: "inputColor",
      class: "my-0 py-0",
      rounded: true,
      outlined: true,
    },
    firstName: "",
    lastName: "",
    state: "",
    city: "",
    address: "",
    addressNotes: "",
    neighborhood: "",
    email: "",
    phone: "",
    latitude: 0,
    longitude: 0,
    states: require("@/data/colombia.min.json"),
    requiredRule: (v) => !!v || "Campo requerido",
    emailRule: (v) =>
      /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
      "Ingrese un correo válido",
    phoneRule: (v) =>
      /^\d{10}$/.test(v) ||
      "Ingrese los 10 digitos de su número de celular sin espacios",
  }),
  computed: {
    cities() {
      if (this.state) {
        return this.states.find((state) => state.departamento === this.state)
          .ciudades;
      } else {
        return [];
      }
    },
  },
  watch: {
    isDesktop(newValue, oldValue) {
      this.changeInputStyle(!newValue);
    },
    city(newValue, oldValue) {
      this.setAddressAndDelivery();
    },
    state(newValue, oldValue) {
      this.setAddressAndDelivery();
    },
  },
  mounted() {
    this.changeInputStyle(!this.isDesktop);
  },

  methods: {
    setAddressAndDelivery() {
      if (this.state && this.city && this.address) {
        var fullAddress = `${this.address}, ${this.city}, ${this.state}, Colombia`;
        this.$store.commit(DELIVERY_ADDRESS, {
          id: 0,
          latitude: 1,
          longitude: 1,
          description: fullAddress,
        });

        this.$store.dispatch(DELIVERY, fullAddress);
      } else {
        const base = this.$store.getters[DELIVERY_BASE];
        this.$store.commit(DELIVERY, base);
      }
    },
    // no se utiliza
    getGoogleAddress() {
      if (this.state && this.city) {
        var geocoder = new google.maps.Geocoder();

        if (geocoder) {
          var fullAddress = `${this.address}, ${this.city}, ${this.state}, Colombia`;

          geocoder.geocode({ address: fullAddress }, (results, status) => {
            if (status === "OK") {
              try {
                const googleAddress =
                  results.find(
                    (ga) => (ga.geometry.location_type = "ROOFTOP")
                  ) || results[0];

                this.latitude = googleAddress.geometry.location.lat();
                this.longitude = googleAddress.geometry.location.lng();

                this.$store.commit(DELIVERY_ADDRESS, {
                  id: 0,
                  latitude: this.latitude,
                  longitude: this.longitude,
                  description: fullAddress,
                });
              } catch (error) {
                this.$emit(
                  "notify",
                  "error",
                  "Ocurrió un problema obteniendo la dirección."
                );
              }
            } else {
              this.$emit(
                "notify",
                "warning",
                "No pudimos determinar la dirección."
              );
            }
          });
        }
      }
    },
    saveGuestInfo() {
      var notes = `${this.addressNotes} ${
        this.addressNotes ? " - " : ""
      }Barrio: ${this.neighborhood}`;

      const info = {
        guest_address: {
          notes,
          city: this.city,
          state: this.state,
          is_principal: true,
          address: this.address,
          latitude: this.latitude,
          longitude: this.longitude,
        },
        guest_name: `${this.firstName} ${this.lastName}`,
        guest_phone: this.phone,
        guest_email: this.email,
      };

      this.$store.commit(GEST_USER, info);
    },
    changeInputStyle(value) {
      this.$set(this.inputAttrs, "singleLine", value);
      this.$set(this.inputAttrs, "hideDetails", value);
    },
  },
};
</script>