<template>
  <v-card hover outlined class="br-20">
    <v-list-item three-line>
      <v-avatar size="150" class="br-20 hidden-sm-and-down my-4">
        <v-img :src="product.images[0].path" />
      </v-avatar>
      <v-list-item-content :class="{'ml-5': !$vuetify.breakpoint.xs}">
        <v-list-item-title
          class="text-left ff--gilroy-extra-bold text-wrap"
          :class="[$vuetify.breakpoint.xs ? 'fs-20' :'fs-30']"
          v-text="product.name"
        />
        <v-list-item-subtitle
          class="text-left black--text text-wrap"
          v-text="product.description"
          :class="{'fs-25': !$vuetify.breakpoint.xs}"
        />
        <v-list-item-subtitle class="text-left accent--text fs-18 text-wrap" v-text="options" />

        <div v-if="$vuetify.breakpoint.xs" class="row justify-space-around">
          <v-text-field
            v-model="product.quantity"
            label
            rounded
            outlined
            readonly
            hide-details
            color="inputColor"
            style="max-width:160px"
          >
            <template v-slot:prepend-inner>
              <v-btn
                fab
                x-small
                elevation="0"
                color="inputColor"
                class="mt-n1"
                @click="changeQty(product, -1)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
            </template>
            <template v-slot:append>
              <v-btn
                fab
                x-small
                elevation="0"
                color="inputColor"
                class="mt-n1 mr-n1"
                @click="changeQty(product, 1)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
          </v-text-field>
          <v-btn icon large color="accent" @click="deleteProduct(product.id)">
            <v-icon large>mdi-delete</v-icon>
          </v-btn>
        </div>
      </v-list-item-content>

      <v-list-item-action class="my-auto" v-if="!$vuetify.breakpoint.xs">
        <v-text-field
          v-model="product.quantity"
          label
          rounded
          outlined
          readonly
          height="50"
          color="inputColor"
          style="max-width:160px"
        >
          <template v-slot:prepend-inner>
            <v-btn
              fab
              x-small
              elevation="0"
              color="inputColor"
              class="mt-n1"
              @click="changeQty(product, -1)"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </template>
          <template v-slot:append>
            <v-btn
              fab
              x-small
              elevation="0"
              color="inputColor"
              class="mt-n1 mr-n1"
              @click="changeQty(product, 1)"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </v-text-field>
        <v-btn text block rounded color="inputColor">
          <span
            class="text-capitalize black--text"
            @click="deleteProduct(product.id)"
            v-text="`Eliminar`"
          />
        </v-btn>
      </v-list-item-action>
    </v-list-item>
  </v-card>
</template>

<script>
import {
  DELETE_PRODUCT,
  ADD_ITEM_TO_CART,
  REMOVE_ITEM_FROM_CART,
} from "@/store/cart-constants";

export default {
  name: "PagesCartProductCard",
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  computed: {
    options() {
      return this.product.detail
        .map((val) => `${val.name} (${val.quantity})`)
        .join(", ");
    },
  },
  methods: {
    deleteProduct(productId) {
      this.$store.dispatch(DELETE_PRODUCT, productId);
    },
    changeQty(product, qty) {
      if (qty === 1) {
        this.$store.dispatch(ADD_ITEM_TO_CART, { item: { product } });
      } else this.$store.dispatch(REMOVE_ITEM_FROM_CART, product.id);
    },
  },
};
</script>
