<template>
  <v-card
    hover
    outlined
    class="br-20 py-5"
    v-bind="$attrs"
    :loading="calculatingDelivery"
  >
    <v-progress-linear slot="progress" color="inputColor" indeterminate />

    <v-card-title class="fs-40 justify-center" v-text="`Checkout`" />

    <v-card-text class="mt-10">
      <v-row dense class="fs-25" justify="center" align="center">
        <v-col cols="12" class="justify-space-around d-flex">
          <span v-text="`Subtotal`" />
          <span>{{ subTotal | money }}</span>
        </v-col>

        <v-col cols="12" class="justify-space-around d-flex">
          <span class="text-left" v-text="`Domicilio`" />
          <span>{{ delivery | money }}</span>
        </v-col>

        <base-divider class="mx-5 my-2" />

        <v-col
          cols="12"
          class="justify-space-around d-flex ff--gilroy-extra-bold"
        >
          <span v-text="`Total`" />
          <span>{{ total | money }}</span>
        </v-col>
      </v-row>
    </v-card-text>

    <v-card-actions>
      <pages-btn
        class="text-capitalize mx-auto"
        :disabled="total <= 0 || cartItems.length <= 0"
        @click="$emit('next')"
        v-text="btnText"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
import {
  DELIVERY,
  CART_ITEMS,
  CART_TOTAL,
  CALCULATING_DELIVERY,
  ALLOWED_TO_BUY_BY_TIME,
} from "@/store/cart-constants";
export default {
  name: "PagesCheckoutResume",
  components: {
    PagesBtn: () => import("@/views/pages/components/Btn"),
  },
  props: {
    "btn-text": {
      type: String,
      required: true,
      default: "",
    },
  },
  computed: {
    delivery() {
      return this.$store.getters[DELIVERY];
    },
    subTotal() {
      return this.$store.getters[CART_TOTAL];
    },
    total() {
      return this.subTotal + this.delivery;
    },
    cartItems() {
      return this.$store.getters[CART_ITEMS];
    },
    calculatingDelivery() {
      return this.$store.getters[CALCULATING_DELIVERY];
    },
  },
};
</script>

<style>
</style>
